<template>

    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getNotifications"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{* item.user_id }} </v-cell>
                    <v-cell classes="text-left">{{* item.user && item.user.app_version }}</v-cell>
                    <v-cell classes="text-left">{{* item.text }}</v-cell>
                    <v-cell classes="text-left">{{* item.created_at }}</v-cell>

                    <v-cell classes="text-center">
                        <v-table-button :id="setPrefixedId('go-to-user-messages-', item.id)"
                                        label="app.see_user_messages"
                                        icon="envelope"
                                        v-if="item.feedback_messages_count && item.feedback_messages_count >= 1"
                                        @click.prevent="goWithParamsToSegments( { user_id: item.user_id }, 'feedback-messages-pro')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('open-user-', item.user_id)"
                                        label="app.customer_show"
                                        icon="search"
                                        @click.prevent="goTo('users-pro', item.user_id)"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('send-push-notification-button-', item.user_id)"
                                        label="app.do_send_push"
                                        icon="paper-plane"
                                        @click.prevent="goWithParamsToSegments( { user_id: item.user_id }, 'push-notifications', 'create' )"
                                        v-if="item.user && item.user.device && item.user.device.push_token"
                        ></v-table-button>
                    </v-cell>

                </div>

            </v-table>

        </div>


    </div>

</template>
<script type="text/babel">
    import mIndex from '../../../mixins/m-index';
    import mGlobal from '../../../mixins/m-global';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            ( this.params.user_id ) && (this.filterData.search.user_id.value = this.params.user_id);

            this.getNotifications();
        },
        methods: {

            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){

                let tableData = {
                    model: 'notifications-pro',
                    useModelInUrl: {
                        status: true,
                        alternativeUrl: ''
                    },
                    fields: [
                        {
                            name: 'customer_id',
                            isSortable: false,
                            classes: 'text-left',
                        },
                        {
                            name: 'app_version',
                            isSortable: false,
                            classes: 'text-left'
                        },
                        {
                            name: 'push_full_text',
                            isSortable: false,
                            classes: 'text-left'
                        },
                        {
                            name: 'send_at',
                            isSortable: true,
                            sortableField: 'created_at',
                            classes: 'text-left'
                        },
                        {
                            name: 'actions',
                            isSortable: false,
                            classes: ''
                        }
                    ]
                };

                if ( this.params.phone_number ) {
                    tableData[ 'info' ] = translate( 'app.search_by_phone', { phone_number: this.params.phone_number } );
                }

                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.delivered_notification_list',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: tableData,
                    filterData: {
                        use: true,
                        resetFilter: false,
                        historyEventName: 'notifications-back',
                        page: 1,
                        search: {
                            user_id: {
                                value: '',
                                label: 'search_by_user_id',
                                minSearchLength: 0,
                                helpBlock: false,
                                placeholder: 'id_placeholder'
                            },
                            text: {
                                value: '',
                                label: 'search_by_text',
                                minSearchLength: 2,
                                placeholder: 'text_placeholder'
                            }
                        },
                        sort: {
                            name: 'name',
                            direction: 'asc'
                        }
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getNotifications( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){
                let vm = this;

                return {
                    page: vm.filterData.page,
                    user_id: vm.filterData.search.user_id.value,
                    text: vm.filterData.search.text.value,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка deviceUUID в модели фидбтра
             * если deviceUUID был передан через параметр
             */
            setPhoneNumber( state ){
                if ( this.params.phone_number && this.params.phone_number != '' ) {
                    state.filterData.search.everyWhere.value = this.params.phone_number;
                }
            },

            /**
             * Сброс фильтров и поиска
             **/
            reset(){
                let vm = this;
                this.resetFilter( {
                    setParams( initialState ){
                        vm.setPhoneNumber( initialState );
                    },
                    getData(){
                        vm.getNotifications();
                    }
                } );
            },

            openUser( id ){
                this.goTo( 'customers-pro', id );
            },

            openPush(id ){
                this.goWithParamsToSegments( { user_id: id }, 'push-notifications', 'create' );
            }
        },
        events: {
            'customers-back': function() {
                this.getNotifications( { historyCall: true } );
            }
        }
    }
</script>
