<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body clearfix col-sm-6">

        <div class="form-group">
            <button id="edit-aliases-btn"
                    type="button"
                    class="btn btn-primary"
                    :disabled="! params.item.id"
                    @click.prevent="goToBlank('aliases', 'cities', params.item.id)">
                {{ $t('app.edit_aliases') }}
            </button>
        </div>

        <div class="form-group">
            <v-select :select-data.sync="selects.country"
                      :on-select="onCountrySelect"
            ></v-select>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('region_id')}">
            <v-select :select-data.sync="selects.region"
                      :on-select="onRegionSelect"
                      :appendix="includeCountry"
            ></v-select>
            <div v-if="errors.hasOwnProperty('region_id')"  class="help-block">
                <div v-for="error in errors.region_id">{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('name_ru')}">
            <label for="name_ru" class="control-label pull-left">{{{ $t('app.name_ru') }}}</label>
            <input id="name_ru" type="text" v-model="params.item.name_ru" class="form-control">
            <div v-if="errors.hasOwnProperty('name_ru')"  class="help-block">
                <div v-for="error in errors.name_ru">{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('name_en')}">
            <label for="name_en" class="control-label pull-left">{{{ $t('app.name_en') }}}</label>
            <input id="name_en" type="text" v-model="params.item.name_en" class="form-control">
            <div v-if="errors.hasOwnProperty('name_en')" class="help-block">
                <div v-for="error in errors.name_en">{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('name_kk')}">
            <label for="name_kk" class="control-label pull-left">{{{ $t('app.name_kk') }}}</label>
            <input id="name_kk" type="text" v-model="params.item.name_kk" class="form-control">
            <div v-if="errors.hasOwnProperty('name_kk')" class="help-block">
                <div v-for="error in errors.name_kk">{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('is_regional_center')}">
            <div class="checkbox">
                <input id="is_regional_center"
                       class="stiled"
                       type="checkbox"
                       v-model="params.item.is_regional_center"
                       v-on:change="checkRegionalCenter">
                <label for="is_regional_center">{{{ $t('app.regional_center') }}}</label>
            </div>
            <div v-if="errors.hasOwnProperty('is_regional_center')"  class="help-block">
                <div v-for="error in errors.is_regional_center">{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('timezone')}">
            <v-select :select-data.sync="selects.timezone"
                      :on-select="onTimezoneSelect"
            ></v-select>
            <div v-if="errors.hasOwnProperty('timezone')"  class="help-block">
                <div v-for="error in errors.timezone">{{{ error }}}</div>
            </div>
        </div>

        <div class="col-sm-12" style="padding-left: 0">
            <div class="form-group">
                <label for="latitude" class="control-label pull-left"> {{{ $t('app.coordinates') }}}</label>
            </div>
        </div>

        <div class="form-group"
             v-bind:class="{'has-error': errors.hasOwnProperty('latitude') || errors.hasOwnProperty('longitude')}">
            <div class="form-inline">
                <button id="map-show-btn"
                        class="btn btn-default"
                        data-toggle="modal"
                        data-target="#map-modal"
                        style="width: 160px; margin-right: 16px"
                        disabled>
                    <i class="fa fa-globe"></i> Указать на карте
                </button>
                <div class="form-group">
                    <input id="latitude" type="text" v-model="params.item.latitude" class="form-control">
                </div>
                <div class="form-group">
                    <input id="longitude" type="text" v-model="params.item.longitude" class="form-control">
                </div>
            </div>
            <div v-if="errors.hasOwnProperty('latitude')" class="help-block">
                <div v-for="error in errors.latitude" >{{{ error }}}</div>
            </div>
            <div v-if="errors.hasOwnProperty('longitude')" class="help-block">
                <div v-for="error in errors.longitude" >{{{ error }}}</div>
            </div>
        </div>

        <div class="form-group control-buttons">
            <hr>
            <button id="back-btn"
                    class="btn btn-default"
                    style="width: 160px; margin-right: 16px;"
                    v-on:click="goBack()">
                <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
            </button>
            <button id="save-btn"
                    class="btn btn-primary"
                    v-on:click="submitData">
                <i class="fa fa-floppy-o"></i> Сохранить изменения
            </button>
        </div>
    </div>

    <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ $t('app.select_coords') }}</h4>
                </div>
                <div class="modal-body">
                    <div id="map-canvas"></div>
                </div>
                <div class="modal-footer">
                    <button id="map-geocode-btn" type="button" class="btn btn-default pull-left" v-on:click="findCityCoords">
                        {{ $t('app.geocode') }}
                    </button>
                    <button id="map-cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">
                        {{ $t('app.cancel') }}
                    </button>
                    <button id="map-accept-btn"
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            v-on:click="acceptMapCoords">
                        {{ $t('app.accept') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reg-center-modal" tabindex="-1" role="dialog" aria-labelledby="reg-center-label">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="reg-center-label">{{ $t('app.regional_center_warning_title') }}</h4>
                </div>
                <div class="modal-body">
                    {{{ $t('app.regional_center_warning_body', { regional_center: regional_center_name }) }}}
                </div>
                <div class="modal-footer">
                    <button id="reg-center-cancel-btn"
                            type="button"
                            class="btn btn-default"
                            data-dismiss="modal"
                            v-on:click="params.item.is_regional_center = false">
                        {{ $t('app.cancel') }}
                    </button>
                    <button id="reg-center-accept-btn" type="button" class="btn btn-primary" data-dismiss="modal">
                        {{ $t('app.accept') }}
                    </button>

                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .fa {
        font-weight: normal;
    }

    #map-canvas {
        height: 600px;
    }

    .control-buttons {
        margin-top: 50px;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [mGlobal],
        data() {
            return this.initialState()
        },
        created() {
            google.maps.event.addDomListener(window, "load", this.initMap);
        },
        ready() {
            this.initCountrySelect();
            this.initTimezoneSelect();
        },
        methods: {
            includeCountry(){
                return JSON.stringify( {
                    countryId: this.selects.country.selected,
                } );
            },
            initialState() {
                return {
                    errors: {},
                    regional_center_name: null,
                    city_map: {
                        instance: null,
                        marker: null,
                        center: {
                            lat: null,
                            lng: null,
                        }
                    },
                    model: 'cities',
                    pageHeader: {
                        label: this.params.item.id ? 'app.edit_named' : 'app.create',
                        params: {
                            name: this.params.item.id ? this.params.item.name : null,
                        }
                    },
                    selects: {
                        country: {
                            id: 'country-select',
                            useAjax: false,
                            label: 'app.country',
                            item: {
                                id: null,
                                text: null,
                            },
                            items: [],
                            selected: null,
                            url: 'countries/search',
                            placeholder: 'app.select_country',
                            reset: false
                        },
                        region: {
                            id: 'region-select',
                            useAjax: true,
                            label: 'app.region',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            selected: null,
                            url: 'regions/search',
                            placeholder: 'app.select_region',
                            reset: false,
                            disabled: true,
                        },
                        timezone: {
                            id: 'timezone-select',
                            useAjax: false,
                            label: 'app.timezone',
                            item: {
                                id: null,
                                text: null
                            },
                            selected: null,
                            items: [],
                            url: 'cities/timezones',
                            placeholder: 'app.select_timezone',
                            reset: false,
                        },
                    }
                }
            },
            onCountrySelect() {
                if (! this.selects.region.disabled) {
                    this.$broadcast('select-reset', this.selects.region.id);
                    this.params.item.region_id = null;
                }
                else {
                    if (this.selects.country.selected != null) {
                        this.selects.region.disabled = false;
                    }
                }
            },
            onRegionSelect(item = null) {
                if (item.id) {
                    this.params.item.region_id = parseInt(item.id);
                } else {
                    this.params.item.region_id = null;
                }
            },
            onTimezoneSelect() {
                this.params.item.timezone = this.selects.timezone.selected;
            },
            initTimezoneSelect() {
                let vm = this;

                vm.$http.get('/' + vm.selects.timezone.url).then(
                    function(response) {
                        if (! response || ! response.data) {
                            return;
                        }

                        let data = response.data;

                        this.selects.timezone.items = [];
                        var reg = /[\/\-]/g;

                        data.forEach(function(tz) {
                            let text = translate('timezones.' + tz.replace(reg, '_'));

                            vm.selects.timezone.items.push({
                                id: tz,
                                text: text
                            });
                        });

                        if (vm.params.item && vm.params.item.timezone) {
                            vm.selects.timezone.selected = vm.params.item.timezone;
                        } else {
                            vm.selects.timezone.selected = null;
                        }
                    },
                    function(response) {
                        console.error( response );
                    }
                );
            },
            initCountrySelect() {
                let vm = this;

                vm.$http.get('/' + vm.selects.country.url).then(
                        function(response) {
                            if (! response || ! response.data) {
                                return;
                            }

                            let data = response.data;

                            this.selects.country.items = [];
                            data.forEach(function(item) {
                                vm.selects.country.items.push({
                                    id: item.id,
                                    text: item.name
                                });
                            });

                            if (vm.params.item && vm.params.item.region && vm.params.item.region.country) {
                                vm.selects.country.selected = vm.params.item.region.country.id;

                                vm.selects.region.items = [{
                                    id: vm.params.item.region.id,
                                    text: vm.params.item.region.name,
                                }];

                                vm.selects.region.selected = vm.params.item.region.id;
                                vm.selects.region.disabled = false;
                            }
                            else {
                                vm.selects.country.selected = null;
                            }
                        },
                        function(response) {
                            console.error( response );
                        }
                );
            },
            initMap() {
                // Устанавливаем координаты для центровки карты
                if (this.params.item && this.params.item.latitude && this.params.item.longitude) {
                    this.city_map.center = {
                        lat: parseFloat(this.params.item.latitude),
                        lng: parseFloat(this.params.item.longitude),
                    };
                }

                // Создаём экземпляр карты
                this.city_map.instance = new google.maps.Map(document.getElementById("map-canvas"));

                // Подписываем обработчики событий для модального окна с картой
                $("#map-modal")
                        .on("shown.bs.modal", this.updateMap)
                        .on("hidden.bs.modal", this.hideMapMarker);

                $('#map-show-btn').prop("disabled", false);
            },
            updateMap() {
                if (this.params.item) {
                    let lat = parseFloat(this.params.item.latitude);
                    let lng = parseFloat(this.params.item.longitude);

                    if (this.city_map.center.lat != lat || this.city_map.center.lng != lng) {
                        if (!lat || !lng || isNaN(lat) || isNaN(lng)) {
                            lat = 51.1667;
                            lng = 71.4333;

                            console.warn("Failed to parse city center coordinates from form");
                        }

                        this.city_map.center = {
                            lat: lat,
                            lng: lng,
                        };
                    }
                }

                google.maps.event.trigger(document.getElementById("map-canvas"), "resize");
                this.city_map.instance.setZoom(11);
                this.city_map.instance.panTo(this.city_map.center);

                if (this.city_map.marker) {
                    this.city_map.marker.setMap(null);
                }

                this.city_map.marker = new google.maps.Marker({
                    position: this.city_map.center,
                    map: this.city_map.instance,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                });
            },
            hideMapMarker() {
                // Убираем маркер с карты
                if (this.city_map.marker !== null) {
                    this.city_map.marker.setMap(null);
                    this.city_map.instance.removeOverlay(this.city_map.marker);
                    this.city_map.marker = null;
                }
            },
            acceptMapCoords() {
                // Передаём координаты маркера на карте в модель
                if (this.city_map.marker) {
                    let lat = Math.round(1000000 * this.city_map.marker.getPosition().lat()) / 1000000;
                    let lng = Math.round(1000000 * this.city_map.marker.getPosition().lng()) / 1000000;

                    this.$set("params.item.latitude", lat);
                    this.$set("params.item.longitude", lng);

                    this.city_map.center = {
                        lat: lat,
                        lng: lng,
                    };
                }
            },
            findCityCoords() {
                if (! this.params.item && this.params.item.name_ru) {
                    return;
                }

                let cityName = this.params.item.name_en || this.params.item.name_ru || this.params.item.name_kk;

                if (this.params.item.region) {
                    cityName += ', ' + this.params.item.region.name_en
                            || this.params.item.region.name_ru
                            || this.params.item.region.name_kk;

                    if (this.params.item.region.country) {
                        cityName += ', ' + this.params.item.region.country.name_en
                                || this.params.item.region.country.name_ru
                                || this.params.item.region.country.name_kk;
                    }
                }

                if (cityName) {
                    let vm = this;
                    let $btn = $("#map-geocode-btn");

                    $btn.text(translate("app.searching")).prop("disabled", true);

                    let geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ "address": cityName }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            let coords = {
                                lat: results[0].geometry.location.lat(),
                                lng: results[0].geometry.location.lng(),
                            };

                            if (vm.city_map.instance && vm.city_map.marker) {
                                vm.city_map.marker.setPosition(coords);
                                vm.city_map.instance.panTo(coords);
                            }
                        }
                    });

                    $btn.text(translate("app.geocode"))
                            .prop("disabled", false);
                }
            },
            checkRegionalCenter() {
                let vm = this;

                if (! vm.params.item.is_regional_center) {
                    return;
                }

                vm.$http.get('/regions/' + vm.params.item.region_id + '/regional-center').then(
                        function(response) {
                            if (! response || ! response.data) {
                                return;
                            }

                            if (response.data.id != null && response.data.id != vm.params.item.id) {
                                vm.regional_center_name = response.data.name;
                                $("#reg-center-modal").modal("show");
                            }
                        },
                        function(response) {
                            console.error( response );
                        }
                );

            },
            submitData() {
                let vm = this;

                let callback = function(response) {
                    if (this.$get("params.noReturn") == "1") {
                        window.close();
                    }

                    vm.goBack();
                };

                let errorCallback = function(response) {
                    if (! (response && response.data && response.status == 422)) {
                        console.log(response);
                        return;
                    }

                    vm.errors = response.data;
                };

                if (vm.params.item.id) {
                    vm.$http.put('/' + vm.model + '/' + vm.params.item.id, vm.params.item)
                            .then(callback, errorCallback);
                } else {
                    vm.$http.post('/' + vm.model, vm.params.item)
                            .then(callback, errorCallback);
                }
            }
        },
        components: {
            'v-select': require('../../components/v-select.vue'),
            'v-header' : require('../../components/v-header.vue')
        }
    }
</script>