<template>

    <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
    <help-header :title="pageHeader" :total="pagination.total"></help-header>

    <div class="main-box-body clearfix">

        <v-table :table-data="tableData"
                 :filter-data="filterData"
                 :on-change="getItems"
                 :pagination="pagination"
                 :reset-filter="resetFilter">

            <div class="row align-info-table" v-for="item in pagination.data">

                <v-cell classes="text-left"><b>{{ item.id }}</b></v-cell>
                <v-cell classes="text-left">{{ item.name || $t('app.no_info') }}</v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.region.country">
                        {{ item.region.name }} <b>(ID={{ item.region.id }})</b>
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.region.country">
                        {{ item.region.country.name }} <b>(ID={{ item.region.country.id }})</b>
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.timezone">
                        {{ this.translateTimezone(item.timezone) }}
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.latitude && item.longitude">
                        <a target="_blank"
                           rel="noopener noreferrer"
                           id="latitude-longitude-link-{{item.id}}"
                           href="https://maps.google.com/maps?ll={{item.latitude}},{{item.longitude}}&q={{item.latitude}},{{item.longitude}}">
                            {{ item.latitude }}, {{ item.longitude }}
                        </a>
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell>

                    <v-table-button
                            :id="setPrefixedId('edit-city-button-', item.id)"
                            label="app.edit"
                            icon="pencil"
                            @click.prevent="goTo(tableData.model, item.id, 'edit')"
                            color="#3498db">
                    </v-table-button>

                    <v-table-button
                            :id="setPrefixedId('edit-city-aliases-button-', item.id)"
                            label="app.edit_aliases"
                            icon="tags"
                            @click.prevent="goTo('aliases', 'cities', item.id)"
                            color="#3498db">
                    </v-table-button>

                    <v-table-button
                            :id="setPrefixedId('merge-cities-button-', item.id)"
                            label="app.merge_cities"
                            icon="code-fork fa-rotate-270"
                            @click.prevent="goTo(tableData.model, item.id, 'merge')"
                            color="#3498db">
                    </v-table-button>

                </v-cell>
            </div>
        </v-table>

    </div>

</template>

<style scoped>

    .block-button-inline {
        padding-top: 5px;
        padding-left: 5px;
        display: inline-block;
    }

    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';
    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState();
        },
        created(){
            this.getItems();
        },
        components: {
            'help-header': require( '../../views/inline-help/h-cities.vue' ),
        },
        methods: {
            translateTimezone( tz ) {
                var reg = /[\/\-]/g;
                return translate( 'timezones.' + tz.replace( reg, '_' ) );
            },
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.cities',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'cities',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'id',
                                width: 5,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'city',
                                width: 10,
                                isSortable: true,
                                sortableField: 'city',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'region',
                                width: 10,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'country',
                                width: 10,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'timezone',
                                width: 10,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'coordinates',
                                width: 10,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                width: 10,
                                isSortable: false,
                                classes: 'text-center'
                            },

                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        search: {
                            name: {
                                value: '',
                                label: 'search_name',
                                placeholder: 'search'
                            },
                            country: {
                                value: '',
                                label: 'search_name_country',
                                placeholder: 'search'
                            },
                            region: {
                                value: '',
                                label: 'search_name_region',
                                placeholder: 'search'
                            }
                        },
                        sort: {
                            name: 'id',
                            direction: 'asc'
                        },
                        checkboxes: {
                            kz_cities_only: {
                                checked: false,
                                label: 'kz_cities_only'
                            },
                            regional_centers_only: {
                                checked: false,
                                label: 'regional_centers_only'
                            },
                            without_coords_only: {
                                checked: false,
                                label: 'without_coords_only'
                            },
                            without_timezones_only: {
                                checked: false,
                                label: 'without_timezones_only'
                            },
                            without_regions_only: {
                                checked: false,
                                label: 'without_regions_only'
                            }
                        },
                        buttons: [
                            {
                                id: 'add-city-button',
                                title: 'city_create',
                                label: 'city_create',
                                icon: 'plus',
                                eventName: 'create',
                                type: 'success',
                                parentClass: 'disable-padding-inline-block',
                            }
                        ]
                    }
                }
            }
        },
        events:{
            'create':function(){
                this.goTo(this.tableData.model, 'create');
            }
        }
    }
</script>