<template>

    <help-header :title="pageHeader"></help-header>

    <div class="main-box-body clearfix col-sm-6">

        <div class="form-group">
            <p>{{{ $t('app.merge_help', { name: params.item.name }) }}}</p>
        </div>

        <div class="form-group">
            <v-select
                    :select-data.sync="selects.country"
                    :on-select="onCountrySelect"
            ></v-select>
        </div>

        <div class="form-group">
            <v-select :select-data.sync="selects.region"
                      :on-select="onRegionSelect"
                      :on-change="setRegion"
                      :appendix="includeCountry"
            ></v-select>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('city_id')}">
            <v-select :select-data.sync="selects.city"
                      :appendix="includeRegion"
                      :on-change="setCity"
            ></v-select>
            <div v-if="errors.hasOwnProperty('city_id')" v-for="error in errors.city_id" class="help-block">{{{ error
                }}}
            </div>
        </div>

        <div class="form-group control-buttons">
            <hr>
            <button id="back-btn"
                    class="btn btn-default"
                    style="width: 160px; margin-right: 16px"
                    v-on:click="goBack()">
                <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
            </button>
            <button id="save-btn"
                    class="btn btn-primary"
                    v-on:click="submitData">
                <i class="fa fa-floppy-o"></i> Сохранить изменения
            </button>
        </div>


    </div>
</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mGlobal ],
        data() {
            return this.initialState()
        },
        ready() {
            this.initCountrySelect();
        },
        methods: {
            includeCountry() {
                return JSON.stringify( {
                    countryId: this.selects.country.selected,
                } );
            },
            includeRegion() {
                return JSON.stringify( {
                    regionId: this.selects.region.selected,
                } );
            },
            setRegion( id ){
                this.selects.region.selected = id;
            },
            setCity( id ){
                this.selects.city.selected = id;
            },
            initialState() {
                return {
                    errors: {},
                    model: 'cities',
                    pageHeader: {
                        label: 'app.merge_named',
                        params: {
                            name: this.params.item.name,
                        }
                    },
                    selects: {
                        country: {
                            id: 'country-select',
                            useAjax: false,
                            label: 'app.country',
                            item: {
                                id: null,
                                text: null,
                            },
                            items: [],
                            url: 'countries/search',
                            placeholder: 'app.select_country',
                            reset: false
                        },
                        region: {
                            id: 'region-select',
                            useAjax: true,
                            label: 'app.region',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            url: 'regions/search',
                            placeholder: 'app.select_region',
                            reset: false,
                            disabled: true
                        },
                        city: {
                            id: 'city-select',
                            useAjax: true,
                            label: 'app.city',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            selected: null,
                            url: 'cities/search',
                            placeholder: 'app.select_city',
                            reset: false,
                            disabled: true
                        }
                    }
                }
            },
            goBack() {
                history.back();
            },
            onCountrySelect() {
                this.$broadcast( 'select-reset', this.selects.region.id );
                this.$broadcast( 'select-reset', this.selects.city.id );
                this.selects.region.disabled = false;
                this.selects.city.disabled   = true;
            },
            onRegionSelect() {
                this.$broadcast( 'select-reset', this.selects.city.id );
                this.selects.city.disabled = false;
            },
            initCountrySelect() {
                let vm = this;

                vm.$http.get( '/' + vm.selects.country.url ).then(
                        function( response ) {
                            if ( !response || !response.data ) {
                                return;
                            }

                            let data = response.data;

                            this.selects.country.items = [];

                            data.forEach( function( item ) {
                                vm.selects.country.items.push( {
                                    id: item.id,
                                    text: item.name
                                } );
                            } );

                            vm.selects.country.selected = null;
                        },
                        function( response ) {
                            console.error( response );
                        }
                );
            },
            submitData() {
                let vm = this;

                let callback = function() {
                    this.goBack();
                };

                let errorCallback = function( response ) {
                    if ( !(response && response.data && response.status == 422) ) {
                        console.log( response );
                        return;
                    }

                    vm.errors = response.data;
                };

                vm.$http.post(
                        '/' + vm.model + '/' + vm.params.item.id + '/merge',
                        { city_id: vm.selects.city.selected }
                ).then( callback, errorCallback );
            },
            openHelp(){
                $( '#help-modal' ).modal( 'show' );
            }
        },
        components: {
            'v-select': require( '../../components/v-select.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'help-header': require( '../../views/inline-help/h-merge-city.vue' ),
        }
    }
</script>