<template>

    <v-header :title="header"></v-header>

    <div class="main-box-body clearfix">

        <div class="row">
            <div class="col-sm-6">
                <h4>{{{ $t('app.general_info') }}}</h4>

                <v-form :form="form">

                    <div class="form-group">

                        <div class="checkbox" v-show="updating && ! change_image && params.item.image">
                            <input type="checkbox"
                                   class="styled"
                                   id="remove_image"
                                   v-model="remove_image"/>
                            <label for="remove_image">
                                {{{ $t( 'app.remove_image' ) }}}
                            </label>
                        </div>

                        <div class="checkbox" v-show="updating && ! remove_image && params.item.image">
                            <input type="checkbox"
                                   class="styled"
                                   id="update_image"
                                   v-model="change_image"/>
                            <label for="update_image">
                                {{{ $t( 'app.update_image' ) }}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group" v-show="showChangeImageButton">
                        <v-button
                                id="change-image-button"
                                :label="selectImageLabel"
                                parent-class="disable-block-button-inline margin-bottom-10"
                                :on-click="openModal"
                        ></v-button>
                    </div>

                    <div class="form-group">
                        <v-button
                                label="cancel"
                                id="cancel-editing-button"
                                :on-click="cancel"
                                parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                        <v-button
                                id="save-product-button"
                                label="save"
                                type="success"
                                :on-click="store"
                                v-if="productBothSelected"
                                parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                    </div>


                </v-form>
            </div>
            <div class="col-sm-6 relative">
                <div class="image-preview-wrapper-form">
                    <div class="background-preview preview-lg"></div>
                    <div class="main-preview preview-lg"></div>
                    <img :src="staticServer + '/components/phone.png'" alt="Image">
                </div>
            </div>
        </div>

        <v-bootstrap-modal id="bootstrap-modal" backdrop="static">
            <div slot="header"> {{{ $t('app.edit_image') }}}</div>
            <div slot="body">

                <div class="row" style="min-height: 700px;">
                    <div class="col-sm-6 relative">
                        <section>
                            <div id="imag-container" v-show="canShowMainImage" style="height: 500px;">
                                <img :src="mainImageSrc" id="main-image" alt="Product image">
                            </div>

                            <div class="btn-group" style="margin-top: 5px;"></div>
                        </section>

                        <section v-show="canShowMainImage">
                            <div id="background-imag-container" v-show="canShowBackground" style="height: 500px;">
                                <img :src="backgroundImageSrc"
                                     id="background-image"
                                     alt="Background image"
                                     style="width: 100%;">
                            </div>
                            <div class="btn-group" style="margin-top: 5px;"></div>
                        </section>
                    </div>
                    <div class="col-sm-6 relative">
                        <div class="image-preview-wrapper-modal">
                            <div class="background-preview preview-sm"></div>
                            <div class="main-preview preview-sm"></div>
                            <img :src="staticServer + '/components/phone.png'" alt="Image">
                        </div>
                    </div>
                </div>


                <div class="alert alert-info" v-if="! productBothSelected" style="margin-top: 19px;">
                    {{{ $t('app.product_background_missed') }}}
                </div>

            </div>

            <div slot="footer">

                <label class="btn btn-primary btn-upload main-image"
                       for="main-input-image"
                       id="label-for-main-image-input"
                       style="float: left;"
                       title="{{{ $t('app.select_image_button') }}}">

                    <input type="file"
                           name="image_product"
                           id="main-input-image"
                           class="sr-only"
                           v-el:main-image
                           v-model="image"
                           accept="image/*">
                                <span class="docs-tooltip" title="{{{ $t('app.product_image') }}}">
                                    <span class="fa fa-upload"></span> {{{ $t('app.product_image') }}} </span>
                </label>

                <label class="btn btn-primary btn-upload background-image"
                       for="background-input-image"
                       id="label-for-background-image-input"
                       v-show="canShowMainImage"
                       style="float: left;"
                       title="{{{ $t('app.image_background') }}}">

                    <input type="file"
                           name="image_background"
                           id="background-input-image"
                           class="sr-only"
                           v-el:background-image
                           v-model="background_image"
                           accept="image/*">
                                        <span class="docs-tooltip" title="{{{ $t('app.image_background') }}}">
                                            <span class="fa fa-upload"></span> {{{ $t('app.image_background') }}}</span>
                </label>

                <v-button
                        id="close-bootstrap-modal"
                        label="ready"
                        type="success"
                        v-if="productBothSelected"
                        event-name="closeBootstrapModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>

<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    import Cropper from  'cropperjs';

    export default{
        mixins: [ mGlobal ],
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
        },
        computed: {
            selectImageLabel(){
                if ( this.updating && this.params.item.image ) {
                    return 'edit_image';
                }

                return 'select_image_button';
            },
            mainImageSrc(){
                if ( this.updating ) {
                    return this.editMainImageUri;
                }

                return this.defaultImagePath;
            },
            backgroundImageSrc(){
                if ( this.updating ) {
                    return this.editBackgroundImageUri;
                }

                return this.defaultImagePath;
            },
            showChangeImageButton(){

                if ( !this.updating ) {
                    return true;
                }

                if ( this.updating && !this.params.item.image ) {
                    return true;
                }

                if ( this.updating && this.change_image ) {
                    return true;
                }

                return false;
            },
            updating(){
                if ( this.params.item )
                    return true;

                return false;
            },

            canShowMainImage(){

                if ( !this.image )
                    return false;

                return true;
            },
            canShowBackground(){

                if ( !this.background_image )
                    return false;

                return true;
            },
            productBothSelected(){
                if ( this.image && !this.background_image ) {
                    return false;
                }

                return true;
            }
        },
        created(){
            this.$http
                    .get( '/vue-products/types' )
                    .then( response => this.$set( 'form.product_type_id.data', this.mapTypes( response.data ) ), e => console.log( e ) )
                    .bind( this );
        },
        ready(){

            if ( this.params.item ) {
                this.initProductFormForEdit();
            } else {
                this.initCropper( 'main' );
                this.initCropper( 'background', 274, 183 );
            }
        },
        data(){
            return this.initialState();
        },
        methods: {
            initialState(){

                const isSuperAdmin = this.$root.$refs.vm.hasRole( 'super-admin' );

                return {
                    header: {
                        label: this.params.item ? 'app.product_edit' : 'app.product_add',
                        params: {}
                    },

                    // дополнительные поля устанавливаются отдельно
                    image: null,
                    background_image: null,

                    // хранит URI изображений при редактировании продукта
                    editMainImageUri: null,
                    editBackgroundImageUri: null,

                    remove_image: false,
                    change_image: false,

                    organization_id: this.params.item && this.params.item.organization && this.params.item.organization.id
                            ? this.params.item.organization.id
                            : null,

                    product_type_id: this.params.item && this.params.item.product_type_id ? this.params.item.product_type_id : null,

                    form: {
                        id: 'product-id',
                        model: 'products',
                        organization: {
                            type: 'select',
                            name: 'organization-select',
                            config: {
                                id: 'organization-select',
                                initialState: {
                                    id: this.params.item && this.params.item.organization && this.params.item.organization.id ? this.params.item.organization.id : null,
                                    text: this.params.item && this.params.item.organization && this.params.item.organization.name ? this.params.item.organization.name : null
                                },
                                useAjax: true,
                                roles: [ 'super-admin', 'product-moderator' ],
                                label: 'app.organization',
                                item: {
                                    id: null,
                                    text: null
                                },
                                onSelectEvent: 'set-organization',
                                url: 'organizations/search',
                                placeholder: 'app.select_organization'
                            }
                        },
                        product_type_id: {
                            type: 'tree',
                            initValue: this.params.item && this.params.item.product_type_id ? this.params.item.product_type_id : null,
                            data: []
                        },
                        is_moderated: {
                            value: this.initFormBoolValue( 'is_moderated' ),
                            roles: [ 'super-admin', 'product-moderator' ],
                            type: 'checkbox'
                        },
                        is_enabled: {
                            value: this.initFormBoolValue( 'is_enabled' ),
                            roles: [ 'super-admin', 'product-moderator' ],
                            type: 'checkbox'
                        },
                        name_en: {
                            value: this.params.item && this.params.item.name_en ? this.params.item.name_en : '',
                            maxlength: 100,
                            type: 'text',
                            placeholder: 'product_name_placeholder_en',
                            required: true,

                            /** Изменять название может только супер администратор,
                             * поэтому у полей: name_en, name_ru, name_kk,, legal_name установлено
                             * свойство disabled: true. Смотрите документацию
                             * @see http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=5931459 */
                            disabled: isSuperAdmin !== true
                        },
                        name_ru: {
                            value: this.params.item && this.params.item.name_ru ? this.params.item.name_ru : '',
                            maxlength: 100,
                            type: 'text',
                            placeholder: 'product_name_placeholder_kz',
                            required: true,
                            disabled: isSuperAdmin !== true
                        },
                        name_kk: {
                            value: this.params.item && this.params.item.name_ru ? this.params.item.name_ru : '',
                            maxlength: 100,
                            placeholder: 'product_name_placeholder_kz',
                            type: 'text',
                            disabled: isSuperAdmin !== true
                        },
                        legal_name: {
                            value: this.params.item && this.params.item.legal_name ? this.params.item.legal_name : '',
                            maxlength: 100,
                            type: 'text',
                            required: true,
                            disabled: isSuperAdmin !== true
                        },
                        description_en: {
                            value: this.params.item && this.params.item.common_info && this.params.item.common_info.description_en
                                    ? this.params.item.common_info.description_en : '',
                            maxlength: 100,
                            type: 'textarea'
                        },
                        description_ru: {
                            value: this.params.item && this.params.item.common_info && this.params.item.common_info.description_ru
                                    ? this.params.item.common_info.description_ru : '',
                            maxlength: 100,
                            type: 'textarea'
                        },
                        description_kk: {
                            value: this.params.item && this.params.item.common_info && this.params.item.common_info.description_kk
                                    ? this.params.item.common_info.description_kk : '',
                            maxlength: 100,
                            type: 'textarea'
                        },
                        barcode: {
                            value: this.params.item && this.params.item.barcode ? this.params.item.barcode : '',
                            maxlength: 13,
                            type: 'text'
                        },
                        main_x: { type: 'hidden', value: '' },
                        main_y: { type: 'hidden', value: '' },
                        main_width: { type: 'hidden', value: '' },
                        main_height: { type: 'hidden', value: '' },

                        background_x: { type: 'hidden', value: '' },
                        background_y: { type: 'hidden', value: '' },
                        background_width: { type: 'hidden', value: '' },
                        background_height: { type: 'hidden', value: '' },

                        errors: []
                    },
                    mainCropper: null,
                    backgroundCropper: null
                }
            },
            initProductFormForEdit(){
                let vm = this;

                if ( !vm.params.item.image || !vm.params.item.background_image ) {

                    vm.editMainImageUri       = vm.defaultImagePath;
                    vm.editBackgroundImageUri = vm.defaultImagePath;

                    $( "#main-image" ).one( "load", () => vm.initCropper( 'main' ) );
                    $( "#background-image" ).one( "load", () => vm.initCropper( 'background', 274, 183 ) );
                    return;
                }

                if ( vm.params.item.image ) {
                    vm.editMainImageUri = vm.staticServer + '/' + vm.params.item.image.original_uri;
                }

                if ( vm.params.item.background_image ) {
                    vm.editBackgroundImageUri = vm.staticServer + '/' + vm.params.item.background_image.original_uri;
                }

                $( "#main-image" ).one( "load", () => vm.initCropper( 'main' ) );
                $( "#background-image" ).one( "load", () => vm.initCropper( 'background', 274, 183 ) );
            },
            store(){

                let vm = this;

                let errorCallback = response => {
                    if ( !(response && response.data && response.status == 422) ) {
                        console.log( response );
                        return;
                    }

                    vm.form.errors = response.data;
                };

                let url = vm.params.item ? '/vue-products/update-product' : '/vue-products';

                vm.$http.post( url, vm.getFormData() )
                        .then( ( r ) => {

                            if ( r && r.data && r.data.id && !r.data.errors ) {
                                this.goTo( 'products', r.data.id );
                            }
                            else {
                                console.log( r );
                            }

                        }, errorCallback )
                        .bind( this );
            },
            getFormData(){

                var formData = new FormData();

                formData.append( 'image', this.$els.mainImage.files[ 0 ] || null );
                formData.append( 'background_image', this.$els.backgroundImage.files[ 0 ] || null );
                formData.append( 'organization_id', this.organization_id );
                formData.append( 'product_type_id', this.product_type_id );
                formData.append( 'name_ru', this.form.name_ru.value );
                formData.append( 'name_kk', this.form.name_kk.value );
                formData.append( 'name_en', this.form.name_en.value );
                formData.append( 'legal_name', this.form.legal_name.value );
                formData.append( 'barcode', this.form.barcode.value );
                formData.append( 'description_ru', this.form.description_ru.value );
                formData.append( 'description_kk', this.form.description_kk.value );
                formData.append( 'description_en', this.form.description_en.value );
                formData.append( 'is_enabled', this.form.is_enabled.value );
                formData.append( 'is_moderated', this.form.is_moderated.value );
                formData.append( 'main_x', this.form.main_x.value );
                formData.append( 'main_y', this.form.main_y.value );
                formData.append( 'main_width', this.form.main_width.value );
                formData.append( 'main_height', this.form.main_height.value );
                formData.append( 'background_x', this.form.background_x.value );
                formData.append( 'background_y', this.form.background_y.value );
                formData.append( 'background_width', this.form.background_width.value );
                formData.append( 'background_height', this.form.background_height.value );

                if ( this.updating ) {
                    formData.append( '_method', 'PATCH' );
                    formData.append( 'change_image', this.change_image );
                    formData.append( 'remove_image', this.remove_image );
                    formData.append( 'product_id', this.params.item.id );
                }

                return formData;
            },
            mapTypes( types = [] ){

                let typesMapped = types.map( function( el ) {
                    return {
                        id: el.id,
                        name: el.name,
                        parent_id: el.parent_id,
                        selected: false,
                        children: el.children.filter( child => el.id = child.parent_id )
                    }
                } );

                return typesMapped.filter( el =>!el.parent_id );
            },
            cancel(){
                this.goBack();
            },
            setOrganization( value ){
                this.organization_id = value;
            },
            initCropper( labelStart, aspectRatioStart = 3, aspectRatioEnd = 4 ) {

                let vm = this;

                // Crop image section
                let cropper = new Cropper( document.getElementById( labelStart + '-image' ), {
                    preview: '.' + labelStart + '-preview',
                    aspectRatio: aspectRatioStart / aspectRatioEnd,
                    viewMode: 2,
                    responsive: true,
                    strict: false,
                    cropBoxResizable: true,
                    crop: function( e ) {
                        const obj                               = this.cropper.getData();
                        vm.form[ `${labelStart}_x` ].value      = Math.round( obj.x );
                        vm.form[ `${labelStart}_y` ].value      = Math.round( obj.y );
                        vm.form[ `${labelStart}_width` ].value  = Math.round( obj.width );
                        vm.form[ `${labelStart}_height` ].value = Math.round( obj.height );
                    }
                } );

                vm.$set( `${labelStart}Cropper`, cropper );

                //noinspection JSUnresolvedVariable
                let URL        = window.URL || window.webkitURL;
                let blobURL;
                let inputId    = labelStart + '-input-image';
                let inputImage = document.getElementById( inputId );

                inputImage.value = null;

                if ( !URL ) {
                    inputImage.disabled = true;
                    inputImage.parentNode.className += ' disabled';
                    return;
                }

                inputImage.onchange = function() {

                    let files = this.files;
                    let file;

                    if ( !cropper || !files || !files.length ) {
                        return;
                    }

                    file = files[ 0 ];

                    //noinspection JSUnresolvedFunction
                    blobURL = URL.createObjectURL( file );
                    cropper.reset().replace( blobURL );
                };

                return cropper;
            },
            resetImages(){

                this.image            = null;
                this.background_image = null;

                this.mainCropper.destroy();
                this.backgroundCropper.destroy();
            },
            openModal(){
                if ( this.updating ) {

                    $( `#bootstrap-modal` ).modal( 'show' );

                    this.mainCropper.destroy();
                    this.backgroundCropper.destroy();

                    this.initCropper( 'main' );
                    this.initCropper( 'background', 274, 183 );
                }

                $( `#bootstrap-modal` ).modal( 'show' );
            }
        },
        events: {
            'set-organization': function( value ) {
                if ( this.organization_id === parseInt( value ) ) {
                    this.organization_id = null;
                } else {
                    this.organization_id = parseInt( value );
                }
            },
            'set-tree-value': function( value ) {

                // пользователь отключил пункт в дереве, нажав на него второй раз
                if ( this.product_type_id === value ) {
                    this.product_type_id = null;
                }
                else {
                    this.product_type_id = value;
                }
            },
            'closeBootstrapModal': function() {
                $( `#bootstrap-modal` ).modal( 'hide' );
            }
        }
    }
</script>

<style scoped>

    .background-preview.preview-lg {
        background-color: white;
        height: 234px !important;
        width: 353.8px !important;
        overflow: hidden;
        margin: 234px 0px 0px 66.8px;
        position: absolute;
        z-index: 1;
    }

    .main-preview.preview-lg {
        border: 1px solid #e7ebee;
        border-radius: 3px;
        /* background-color: #0000cc; */
        height: 94px !important;
        width: 71px !important;
        overflow: hidden;
        margin: 310px 32px 52px 86.8px;
        position: absolute;
        z-index: 3;
    }

    .main-preview.preview-lg + img {
        width: 500px;
        z-index: 2;
        position: absolute;
    }

    .background-preview.preview-sm {
        background-color: white;
        height: 188px !important;
        width: 282.8px !important;
        overflow: hidden;
        margin: 187px 0px 00px 53.8px;
        position: absolute;
        z-index: 1;
    }

    .main-preview.preview-sm {
        border: 1px solid #e7ebee;
        border-radius: 3px;
        /*background-color: #0000cc;*/
        height: 75px !important;
        width: 57px !important;
        overflow: hidden;
        margin: 248px 32px 52px 68.8px;
        position: absolute;
        z-index: 3;
    }

    .main-preview.preview-sm + img {
        width: 400px;
        z-index: 2;
        position: absolute;
    }

    .relative {
        position: relative;
    }

    .image-preview-wrapper-form {
        /*position: fixed;*/
    }
</style>
