<template>

    <div>

        <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
        <help-header :title="pageHeader"></help-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getProducts"
                     :pagination="pagination"
                     :reset-filter="resetFilter">

                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{* item.barcode || '-' }}</v-cell>

                    <v-cell classes="text-left">
                        <a href="#"
                           id="show-product-link-{{item.id}}"
                           @click.prevent="goTo( 'products', item.id)"
                        >{{* item.name }}</a>
                    </v-cell>

                    <v-cell classes="text-left">
                        {{* item.organization ? item.organization.name : '-' | str_limit 30 }}
                    </v-cell>

                    <v-cell classes="text-center">

                        <v-dropdown
                                :index="$index"
                                :item-id="item.id"
                                :type="item.is_moderated ? 'success' : 'primary'"
                                :roles="['super-admin', 'product-moderator']"
                                :title-if-deny="true"
                                :title="item.is_moderated ? 'app._is_moderated' : 'app._is_not_moderated'"
                                :buttons="getButtonsForDropdown(item)"
                        ></v-dropdown>

                    </v-cell>

                    <v-cell classes="text-center">

                        <v-table-button :id="setPrefixedId('merge-button-', item.id)"
                                        label="app.merge"
                                        v-if="$root.$refs.vm.hasRole('super-admin')"
                                        icon="code-fork fa-rotate-270"
                                        @click.prevent="goWithParamsToSegments( {id: item.id}, 'products', 'merge' )"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('show-aliases-button-', item.id)"
                                        label="app.edit_aliases"
                                        icon="tags"
                                        v-if="$root.$refs.vm.hasRole('super-admin', 'product-moderator')"
                                        @click.prevent="goToBlank( 'aliases', 'products', item.id )"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('delete-product-button-', item.id)"
                                        label="app.product_delete"
                                        v-if="$root.$refs.vm.hasRole('super-admin', 'product-moderator')"
                                        icon="trash"
                                        @click.prevent="remove(item.id)"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('edit-product-button-',item.id)"
                                        label="app.edit_general"
                                        icon="pencil"
                                        @click.prevent="goTo( 'vue-products', item.id, 'edit' )"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('show-visual-features-button-', item.id)"
                                        label="app.edit_visual_features"
                                        icon="file-image-o"
                                        @click.prevent="goWithParamsToSegmentsBlank( {visual_features: true}, 'products', item.id )"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('show-product-button-', item.id)"
                                        label="app.view"
                                        icon="search"
                                        v-if="$root.$refs.vm.hasRole('super-admin')"
                                        @click.prevent="goTo( 'products', item.id)"
                        ></v-table-button>


                        <v-bootstrap-modal :id="'modal-delete-' + item.id" size="modal-sm">

                            <div slot="header"><h2><strong>{{{ $t('app.attention') }}}</strong></h2></div>
                            <div slot="body"><h4 class="text-left">{{{ $t( 'app.product_delete' ) }}}?</h4></div>
                            <div slot="footer">
                                <v-button
                                        :id="'confirm-cancel-modal-button-' + item.id"
                                        label="continue"
                                        :callback="removeConfirm"
                                        :callback-args="item.id"
                                        type="danger"
                                ></v-button>

                                <v-button
                                        :id="'close-cancel-modal-button-' + item.id"
                                        label="cancel"
                                        type="default"
                                        :callback="removeCancel"
                                        :callback-args="item.id"
                                ></v-button>
                            </div>
                        </v-bootstrap-modal>

                    </v-cell>
                </div>
            </v-table>
        </div>
    </div>

</template>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mIndex, mGlobal ],
        components: {
            'help-header': require( "../inline-help/h-products.vue" ),
            'v-dropdown': require( "../../components/v-dropdown.vue" ),
        },
        data(){
            return this.initialState()
        },
        created(){
            this.getProducts();
        },
        methods: {
            /**
             * Первоначальное состояние
             */
            initialState (){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.product_list',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'products',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'vue-products'
                        },
                        fields: [
                            {
                                name: 'barcode',
                                isSortable: false,
                                width: 25,
                                classes: 'text-left',
                                defaultSortDirection: 'asc'
                            },
                            {
                                name: 'name',
                                isSortable: true,
                                sortableField: 'name_ru',
                                width: 35,
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'organization',
                                isSortable: false,
                                width: 35,
                                classes: 'text-left'
                            },
                            {
                                name: 'moderation',
                                isSortable: false,
                                width: 15,
                                defaultSortDirection: 'asc',
                                classes: 'text-center'
                            },
                            {
                                name: 'actions',
                                width: 10,
                                isSortable: false,
                                classes: 'text-center'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        search: {
                            everyWhere: {
                                value: '',
                                roles: [ 'super-admin', 'product-moderator', 'commercial', 'commercial-admin' ],
                                label: 'search_name',
                                placeholder: 'product_name'
                            },
                            organizationName: {
                                roles: [ 'super-admin', 'product-moderator' ],
                                value: '',
                                label: 'organization_name',
                                placeholder: 'organization_placeholder'
                            }
                        },
                        radios: [
                            {
                                label: 'moderation',
                                roles: [ 'super-admin', 'product-moderator' ],
                                name: 'is_moderated',
                                use: false,
                                selected: '',
                                positions: [
                                    'is_moderated',
                                    'is_not_moderated'
                                ]
                            }
                        ],
                        sort: {
                            name: this.getLocalisedName(),
                            direction: 'desc'
                        },
                        buttons: [
                            {
                                id: 'add-product-button',
                                title: 'product_add',
                                label: 'product_add',
                                icon: 'plus',
                                eventName: 'new',
                                roles: ['super-admin'],
                                type: 'success'
                            },
                            {
                                id: 'add-product-button-wizard',
                                title: 'product_add_wizard',
                                label: 'product_add_wizard',
                                icon: 'plus',
                                roles: ['super-admin'],
                                eventName: 'open-wizard',
                                type: 'primary'
                            }
                        ]
                    }
                }
            },

            /**
             * Инициализация кнопок для компонента dropdown
             * */
            getButtonsForDropdown( item = {} ){
                return [ {
                    action: this.moderate,
                    actionArgs: [ item.id, !item.is_moderated ],
                    title: item.is_moderated ? 'app.not_moderated' : 'app.moderated',
                    id: 'set-moderation-status-to-' + item.id
                } ];
            },

            /**
             * Запрос на выборку данных
             */
            getProducts( params = {} ){
                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){
                let vm = this;
                return {
                    page: vm.filterData.page,
                    searchByName: vm.filterData.search.everyWhere.value,
                    searchByOrganization: vm.filterData.search.organizationName.value,
                    radios: vm.transformRadioForRequest(),
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Действия над продуктом
             * @param id
             */
            remove( id = 0 ){
                $( '#modal-delete-' + id ).modal( 'show' );
            },
            moderate( id = 0, status = false ){
                this.$http
                        .get( this.tableData.model + '/set-status', {
                                    field: 'is_moderated',
                                    status: status,
                                    product_ids: JSON.stringify( [ id ] )
                                }
                        ).then(
                        r => this.getProducts(),
                        r => console.error( r )
                ).bind( this );

            },
            removeConfirm( id = 0 ){
                let vm = this;
                this.$http
                        .post( this.tableData.model + '/' + id, { products: id, _method: 'DELETE' } )
                        .then(
                                r => {
                                    $( '#modal-delete-' + id ).modal( 'hide' );

                                    setTimeout(()=> {vm.getProducts()}, 200);
                                },
                                r => console.error( r ) )
                        .bind( this );
            },
            removeCancel( id = 0 ){
                $( '#modal-delete-' + id ).modal( 'hide' );
            },
        },

        events: {
            'open-wizard': function() {this.goWithParamsToSegments( { wizard: true }, 'products', 'create' )},
            'new': function() {this.goTo( 'vue-products', 'create' )}
        }
    }
</script>