<template>
    <div>
        <v-header :title="pageHeader">
            <p v-if="params.product.legal_name">
                {{{ $t('app.confirm_merge_modal_form', { name: params.product.legal_name}) }}}
            </p>
        </v-header>

        <div class="main-box-body clearfix">

            <div class="col-sm-6" v-if="!params.product.visual_features.length">

                <div class="form-group">
                    <v-select
                        :select-data="selectMasterInput"
                        :on-select="onSlaveSelect"
                        :appendix="excludeProducts"
                        :process-results="processSelectResults"
                    ></v-select>
                </div>
                <div class="form-group">
                    <v-button v-show="selectMasterInput.selected"
                          id="merge-button"
                          label="merge"
                          parent-class="inline-block-padding-right-5"
                          :on-click="confirmMerge"
                    ></v-button>
                <v-button id="open-cancel-merge-modal-button"
                          label="cancel"
                          parent-class="disable-padding-inline-block"
                          :on-click="openCancelModal"
                    ></v-button>
                </div>
            </div>
            <div class="alert alert-danger" v-if="params.product.visual_features.length">
                <h4>{{{ $t('products.has_visual_features') }}}</h4>
                <p>
                    {{{ $t('products.see_visual_features') }}}
                    <a href="#" id="here-link" @click.prevent="goWithParamsToSegments( {visual_features: true}, 'products', params.product.id )">
                        {{{ $t('products.here') }}}</a>
                </p>
            </div>

            </div>
        </div>

        <v-bootstrap-modal id="confirm-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body">
                <p>
                    {{{ $t('app.confirm_merge_modal_form', { name: params.product.legal_name}) }}}, {{{
                    $t('app.continue') }}}?
                </p>
            </div>

            <div slot="footer">
                <v-button
                          id="confirm-modal-button"
                          label="merge"
                          :on-click="merge"
                          type="success"
                ></v-button>

                <v-button
                          id="close-confirm-modal-button"
                          label="cancel"
                          :on-click="closeConfirmModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="cancel-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t('app.cancel_merging') }}}</p></div>

            <div slot="footer">
                <v-button
                          id="continue-cancel-modal-button"
                          label="continue"
                          :on-click="goBack"
                          type="success"
                ></v-button>

                <v-button
                          id="close-cancel-modal-button"
                          label="cancel"
                          :on-click="closeCancelModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                pageHeader: {
                    label: 'app.merge_description',
                    params: { name: this.params.product.name }
                },
                model: 'products',
                selectMasterInput: {
                    id: 'master-select',
                    useAjax: true,
                    label: 'app.merge_master_product',
                    selected: null,
                    item: {
                        id: null,
                        text: null,
                        name: null,
                        legalName: null
                    },
                    url: 'products',
                    placeholder: 'app.select_product'
                }
            }
        },
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
        },
        methods: {

            /**
             * Если есть legalName - открываем всплывающее окно
             **/
            confirmMerge(){

                if ( this.params.product.legal_name != null ) {

                    $( '#confirm-modal' ).modal( 'show' );
                }
                else {
                    this.merge();
                }
            },

            /**
             * Объеденяем продукты
             **/
            merge(){

                this.$http.get( '/' + this.model + '/merge', {
                            masterId: parseInt( this.selectMasterInput.selected ),
                            slavesIds: [ this.params.product.id ]
                        } )
                        .then(
                                r=> {
                                    if ( r.data == 'successfully_merged' )
                                        this.goBack();
                                    else
                                        console.error( 'Problem while saving product' );
                                },
                                r => this.handleSessionTimeOut( r ) )
                        .bind( this );
            },

            /**
             * Добавление в запрос параметров для исключения продуктов c переданными ID
             **/
            excludeProducts(){
                return JSON.stringify( [ this.params.product.id ] );
            },

            /**
             * Рисуем строки компонента select2
             *
             * @param item
             * @returns {{id: number, text: (*|string), name: (*|string), legalName: *}}
             */
            processSelectResults( item ){

                let name = item.name || item.name_ru || item.name_en || item.name_kk || 'Без имени';
                let text = name;

                if ( item.legal_name != null )
                    text += '. Legal name: ' + item.legal_name;

                return {
                    id: item.id,
                    text: text,
                    name: name,
                    legalName: item.legal_name
                }
            },
            onSlaveSelect( item ) {
                this.selectMasterInput.selected = parseInt( item.id );
            },
            openCancelModal(){
                $( '#cancel-modal' ).modal( 'show' );
            },
            closeCancelModal(){
                $( '#cancel-modal' ).modal( 'hide' );
            },
            closeConfirmModal(){
                $( '#confirm-modal' ).modal( 'hide' );
            }
        }
    }
</script>
<style scoped>

    .reset-margin-left {
        padding-left: 0;
    }

    .main-box-body{
        padding-left: 25px;
    }

    .choose-product-block {
        margin-top: 10px;
    }

    .inline-choose-product {
        display: inline-block;
        margin-right: 10px;
    }

    /* иконки маленькие из за этого увеличиваем занимаемое ими место для удобсва клика мышкой */
    .scale-for-icon {
        padding: 5px;
        cursor: pointer;
    }

</style>

