<template>
    <div>
        <v-header :title="pageHeader"></v-header>


        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-6">

                    <v-form :form="form" v-ref:form>
                        <v-button
                                  title="skip"
                                  id="skip-button"
                                  label="cancel"
                                  type="default"
                                  :on-click="cancel"
                        ></v-button>
                        <v-button
                                title="next"
                                id="next-button"
                                label="save"
                                icon="check"
                                type="success"
                                :on-click="store"
                        ></v-button>

                    </v-form>

                </div>

            </div>
        </div>


        <v-bootstrap-modal id="cancel-modal" size="modal-sm">
            <div slot="header"> {{{ $t('app.attention') }}}</div>
            <div slot="body">
                {{{ $t('app.cancel_question') }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        id="continue-button"
                        @click="goBack()"
                >{{{ $t('app.continue') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button"
                >{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-button': require( '../../components/v-button.vue' ),
            'v-select': require( "../../components/v-select.vue" ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'v-header': require( "../../components/v-header.vue" ),
        },
        data(){
            return this.initialState()
        },
        computed: {

            changingPassword(){

                if ( this.updating && this.form.change_password.value ) {
                    return true;
                }

                if ( ! this.updating ) {
                    return true;
                }

                return false;
            },
            updating(){

                if ( this.params.item )
                    return true;

                return false;
            },
            notUpdating(){
                return ! this.updating;
            }
        },
        methods: {

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: {
                        label: this.params.item ?'app.user_edit' : 'app.user_add'
                    },
                    form: {
                        model: 'users',
                        focus: 'name',
                        id: {
                            value: this.params.item ? this.params.item.id : null,
                            name: 'id',
                            hidden: true
                        },
                        name: {
                            value: this.params.item ? this.params.item.name : null,
                            maxlength: 255,
                            label: 'app.user_name_',
                            type: 'text'
                        },
                        email: {
                            value: this.params.item ? this.params.item.email : null,
                            type: 'email'
                        },
                        organization: {
                            type: 'select',
                            sendFieldKey: 'organization',
                            name: 'organization-select',
                            roles: ['super-admin'],
                            config: {
                                id: 'organization-select',
                                initialState: {
                                    id: this.params.item && this.params.item.organization && this.params.item.organization.id ? this.params.item.organization.id : null,
                                    text: this.params.item && this.params.item.organization && this.params.item.organization.name ? this.params.item.organization.name : null
                                },
                                useAjax: true,
                                label: 'app.organization',
                                item: {
                                    id: null,
                                    text: null
                                },
                                setSelected: true,
                                selected: null,
                                onSelectEvent: 'set-organization',
                                url: 'organizations/search',
                                placeholder: 'app.select_organization'
                            }
                        },
                        roles: {
                            type: 'select',
                            sendFieldKey: 'roles',
                            name: 'role-select',
                            roles: ['super-admin'],
                            config: {
                                id: 'role-select',
                                initialState: this.getInitialRoles(),
                                useAjax: true,
                                multiple: true,
                                roles: ['super-admin'],
                                label: 'app.roles',
                                item: {
                                    id: null,
                                    text: null
                                },
                                setSelected: true,
                                selected: [], // Must be an array because it is multiple. See: resources/assets/js/vue/components/v-select.vue:186
                                onSelectEvent: 'set-role',
                                url: 'roles/search',
                                processResults: { // Setting processing fields. See: resources/assets/js/vue/components/v-select.vue:252
                                    id: 'id',
                                    text: 'display_name'
                                },
                                placeholder: 'products.select_organization'
                            }
                        },
                        password: {
                            value: null,
                            maxlength: 14,
                            roles: ['super-admin'],
                            canBeShown: 'changingPassword',
                            type: 'password'
                        },
                        change_password: {
                            value: false,
                            roles: ['super-admin'],
                            canBeShown: 'updating',
                            type: 'checkbox'
                        },
                        continue_adding: {
                            value: false,
                            roles: ['super-admin'],
                            canBeShown: 'notUpdating',
                            type: 'checkbox'
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){
                let vm   = this;
                let data = vm.$refs.form.getData();
                let url  = '/users';

                if ( this.updating ) {
                    data['_method'] = 'PUT';
                    url = url + '/' + this.params.item.id;
                }

                vm.$http
                        .post( url, data )
                        .then(
                                response => {
                                    if ( response.data !== 'stored' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    if ( vm.form.continue_adding.value ) {

                                        const continue_adding = vm.form.continue_adding.value;

                                        vm.$data = vm.initialState();

                                        vm.$broadcast( 'select-reset', vm.form.organization.config.id );
                                        vm.$broadcast( 'select-reset', vm.form.roles.config.id );
                                        vm.$set( 'form.continue_adding.value', continue_adding );

                                        return;
                                    }

                                    vm.goBack();
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    }
                                    else {
                                        console.error( response.data );
                                    }
                                } );
            },

            cancel(){
                $( '#cancel-modal' ).modal( 'show' );
            },

            /**
             * Установка текущих ролей пользователя при редактировании
             */
            getInitialRoles(){

                if ( !this.params.item ) {
                    return [];
                }

                let roles = [];
                if ( _.isArray( this.params.item.roles ) && this.params.item.roles.length ) {
                    this.params.item.roles.forEach( e=> {
                        roles.push( { id: e.id, text: e.display_name } );
                    } )
                }
                return roles;
            },


        }
    }
</script>