<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getUsers"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{ item.name }}</v-cell>
                    <v-cell classes="text-left">{{ item.email }}</v-cell>
                    <v-cell classes="text-left">{{ getItemRoles(item) }}</v-cell>
                    <v-cell classes="text-left">
                        <a href="#"
                           @click.prevent="goTo('organizations', item.organization.id ,'manage-users')"
                           v-if="item.organization"
                        >{{item.organization.name}}</a>
                    </v-cell>
                    <v-cell>
                        <v-table-button :id=""
                                        label=""
                                        icon="pencil"
                                        @click.prevent="goTo('users', item.id, 'edit' )"
                        ></v-table-button>
                        <v-table-button :id="'open-push-button-' + item.id"
                                        label="app.delete"
                                        icon="trash"
                                        @click.prevent="destroy(item.name, item.id)"
                        ></v-table-button>
                    </v-cell>
                </div>
            </v-table>
        </div>


        <v-bootstrap-modal id="delete-modal" size="modal-md">

            <div slot="header">
                {{{ $t('app.attention') }}}
            </div>

            <div slot="body">
                {{{ $t('app.delete_warn', { name: delete.name }) }}}
            </div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-danger"
                        aria-label="Confirm"
                        id="confirm-modal-button"
                        @click="confirmDestroy"
                >{{{ $t('app.continue') }}}
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>
    </div>

</template>
<style scoped>

</style>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal, mExportReport ],
        components: {
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" )
        },
        data(){
            return this.initialState()
        },
        created(){
            this.getUsers({firstCall:true});
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){

                let roles = [];

                if ( this.params.roles ) {
                    this.params.roles.forEach( el => {
                        roles.push( { id: el.id, text: el.display_name } );
                    } );
                }

                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.users'
                    },
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'users',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: null
                        },
                        fields: [
                            {
                                name: 'name',
                                isSortable: true,
                                sortableField: 'name',
                                classes: 'text-left'
                            },
                            {
                                name: 'email',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'roles',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'organizations',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'users-back',
                        search: {
                            name: {
                                // вы можете ограничить доступ к этому элементу
                                // roles: ['npp'],
                                value: '',
                                helpBlock: true,
                                // минимальная длина строки для поиска
                                minSearchLength: 2,
                                label: 'search',
                                placeholder: 'name_placeholder'
                            }
                        },
                        sort: {
                            name: 'name',
                            direction: 'asc'
                        },
                        selects: {
                            role: {
                                id: 'role-select',
                                useAjax: false,
                                label: 'app.role',
                                items: roles,
                                initialState: {
                                    id: this.params.role ? this.params.role.id : null,
                                    text: this.params.role ? this.params.role.text : null,
                                },
                                // init in created method
                                selected: null
                            },
                            organization: {
                                id: 'organization-select',
                                useAjax: true,
                                label: 'app.organization',
                                items: [],
                                // init in created method
                                selected: null,
                                initialState: {
                                    id: null,
                                    text: null
                                },
                                url: 'organizations/search',
                                onChangeEvent: 'set-organization-id'
                            }
                        },
                        buttons: [
                            {
                                id: 'add-user-button',
                                title: 'add',
                                label: 'add',
                                icon: 'plus',
                                eventName: 'add-user',
                                type: 'success'
                            }
                        ]
                    },
                    delete: {
                        name: null,
                        id: null
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getUsers( params = {} ){

               this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData(params) } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                vm.$broadcast( 'select-reset', vm.filterData.selects.organization.id );
                vm.resetFilter( {
                    getData(){
                        vm.getUsers();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимых данных
             */
            configureSendData(params={}){

                let vm = this;
                console.log( 3123 );
                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.name.value,
                    roleId: params.hasOwnProperty('firstCall') && params.firstCall===true && vm.params.role ? vm.params.role.id : vm.filterData.selects.role.selected,
                    organizationId: vm.filterData.selects.organization.selected,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Открыть модальное окно подтверждения удаления
             *
             * @param name  - User name
             * @param id    - User id
             */
            destroy( name = '', id = null ){

                if ( !id || !name ) {
                    return
                }

                this.delete.id   = id;
                this.delete.name = name;

                $( '#delete-modal' ).modal( 'show' );
            },

            /**
             * Подтверждение удаления пользователя
             */
            confirmDestroy(){

                if ( !this.delete.name || !this.delete.id ) {
                    console.error( 'Error - we can not delete item. Id and name not specified!' );
                    return
                }

                this.$http
                        .post( '/users/' + this.delete.id, { _method: 'DELETE', id: this.delete.id } )
                        .then(
                                r=> {
                                    if ( _.includes( r.data, 'success' ) ) {
                                        this.getUsers();
                                    }
                                    else {
                                        console.error( "Something went wrong!!", r.data );
                                    }

                                    $( '#delete-modal' ).modal( 'hide' );
                                },
                                r=> {
                                    console.error( r );
                                } )
                        .bind( this );
            },

            /**
             * Получение ролей пользователя
             * @param item - Role
             */
            getItemRoles( item = {} ){

                if ( !item.roles ) {
                    return '-';
                }

                let roles = [];

                item.roles.forEach( ( el )=> {
                    roles.push( el.display_name );
                } );

                return roles.join( ', ' );
            }
        },
        events: {
            'set-organization-id': function( item ) {
                this.filterData.selects.organization.selected = item.id;
                this.filterData.selects.organization.initialState.id   = item.id;
                this.filterData.selects.organization.initialState.text = _.trim( item.text );
            },
            'add-user': function() {
                this.goTo( 'users', 'create' );
            }
        }
    }
</script>
