<template>
    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-6">
                    <v-form :form="form" v-ref:form>
                        <v-button
                                  title="skip"
                                  id="skip-button"
                                  label="cancel"
                                  type="default"
                                  :on-click="goBack"
                        ></v-button>
                        <v-button
                                title="next"
                                id="next-button"
                                label="save"
                                icon="check"
                                type="success"
                                :on-click="store"
                        ></v-button>
                    </v-form>
                </div>
            </div>
        </div>
    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-header': require( "../../components/v-header.vue" ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-form': require( '../../components/v-form.vue' )
        },
        data(){
            return this.initialState()
        },
        methods: {

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: { label: 'app.change_password' },
                    form: {
                        model: 'users',
                        id: {
                            value: this.params.item.id,
                            name: 'id',
                            hidden: true
                        },
                        password_old: {
                            value: null,
                            maxlength: 16,
                            type: 'password'
                        },
                        password: {
                            value: null,
                            maxlength: 16,
                            type: 'password'
                        },
                        password_confirmation: {
                            value: null,
                            maxlength: 16,
                            type: 'password'
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){
                let vm   = this;
                let data = vm.$refs.form.getData();
                    data['_method'] = 'PATCH';

                vm.$http
                        .post( `/users/${data['id']}/set-password`, data )
                        .then(
                                response => {
                                    if ( response.data !== 'stored' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    vm.goBack();
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    }
                                    else {
                                        console.error( response.data );
                                    }
                                } );
            },
        }
    }
</script>