<template>

    <v-header :title="header"></v-header>

    <div class="main-box-body clearfix">

        <div class="row">
            <div class="col-sm-6">
                <h4>{{{ $t('app.info') }}}</h4>

                <v-form :form="form">
                    <div class="form-group">
                        <v-button
                                  id="cancel-edit-user-btn"
                                  label="cancel"
                                  :on-click="cancel"
                                  parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                        <v-button
                                  id="save-user-btn"
                                  label="save"
                                  type="success"
                                  :on-click="store"
                                  parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                    </div>
                </v-form>
            </div>
        </div>

        <v-bootstrap-modal id="confirm-modal" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">
                <div class="row">
                    <div class="col-sm-12 image-holder">
                        {{{ $t('app.are_you_sure_to_cancel') }}}
                    </div>
                </div>

            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        aria-label="Confirm"
                        @click.prevent="goBack"
                        id="modal-confirm">{{{ $t('app.confirm') }}}
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-close">{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>

<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    import Cropper from  'cropperjs';

    export default{
        mixins: [ mGlobal ],
        components: {
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'v-header': require( '../../components/v-header.vue' ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-button': require( '../../components/v-button.vue' )
        },
        data(){
            return this.initialState();
        },
        methods: {
            initialState(){

                return {
                    header: {
                        label: 'app.customer_edit',
                        params: {}
                    },
                    form: {
                        id: 'customer-form',
                        model: 'customers',
                        name: {
                            value: this.params.item && this.params.item.name ? this.params.item.name : true,
                            required: true,
                            type: 'text'
                        },
                        phone_number: {
                            value: this.params.item && this.params.item.phone_number ? this.params.item.phone_number : true,
                            required: true,
                            type: 'text'
                        },
                        email: {
                            value: this.params.item && this.params.item.email ? this.params.item.email : '',
                            required: true,
                            type: 'text'
                        },

                        errors: []
                    }
                }
            },

            store(){

                this.$http.post( '/customers/' + this.params.item.id, this.getFormData() )

                        .then(
                                // success
                                r => this.goBack(),

                                // error
                                r => {

                                    if ( !(r && r.data && r.status == 422) ) {
                                        console.log( r );
                                        return;
                                    }

                                    this.form.errors = r.data;
                                } )
                        .bind( this );
            },
            getFormData(){
                return {
                    id: this.params.item.id,
                    name: this.form.name.value,
                    phone_number: this.form.phone_number.value,
                    email: this.form.email.value,
                    _method: 'PATCH'
                }
            },
            cancel(){
                $('#confirm-modal').modal('show');
            },
        }
    }
</script>

