<template>

    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getCustomers"
                     :pagination="pagination"
                     :reset-filter="reset"
            >

                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{ item.name }}</v-cell>
                    <v-cell classes="text-left">{{ item.email }}</v-cell>
                    <v-cell classes="text-left">{{ item.phone_number }}</v-cell>
                    <v-cell classes="text-left">
                        <a href="#"
                           :id="setPrefixedId('show-customer-devices-', item.device_uuid)"
                           @click.prevent="goToBlank('devices', device.uuid,'log')"
                           v-for="(key, device) in item.devices"
                        >{{ device.uuid }}<br></a>
                    </v-cell>
                    <v-cell v-if="$root.$refs.vm.hasRole( 'super-admin')">
                        <v-table-button :id="setPrefixedId('edit-customer-', item.id)"
                                        label="app.customer_edit"
                                        icon="pencil"
                                        @click.prevent="goTo( 'customers', item.id, 'edit')"
                        ></v-table-button>
                    </v-cell>

                </div>

            </v-table>

        </div>


    </div>

</template>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            if ( this.params.phone_number ) {
                this.filterData.search.everyWhere.value     = this.params.phone_number;
                this.tableData.useModelInUrl.status         = false;
                this.tableData.useModelInUrl.alternativeUrl = '';
            }

            // НЕ ОЧЕВИДНАЯ ЛОГИКА
            // Если в параметрах передан deviceUUID, то необходимо
            // установить значение фильтра чтобы при первом запросе
            // осуществился поиск устройства deviceUUID
            // Такой переход осуществляется со страницы vm-suspicious-users line:18
            this.setPhoneNumber( this.$data );

            this.getCustomers();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){

                let tableFields = [
                    {
                        name: 'name',
                        isSortable: true,
                        sortableField: 'name',
                        classes: 'text-left',
                        defaultSortDirection: 'asc'
                    },
                    {
                        name: 'email',
                        isSortable: true,
                        sortableField: 'email',
                        ascLabel: 'activity_sort_asc',
                        descLabel: 'activity_sort_desc',
                        defaultSortDirection: 'desc',
                        classes: 'text-left'
                    },
                    {
                        name: 'phone_number',
                        isSortable: false,
                        classes: 'text-left'
                    },
                    {
                        name: 'device_uuid_list',
                        isSortable: false,
                        classes: 'text-left'
                    }
                ];

                if ( this.$root.$refs.vm.hasRole( 'super-admin' ) ) {
                    tableFields.push( {
                        name: 'actions',
                        isSortable: false
                    } );
                }

                let tableData = {
                    model: 'customers',
                    useModelInUrl: {
                        status: true,
                        alternativeUrl: ''
                    },
                    fields: tableFields
                };

                if ( this.params.phone_number ) {
                    tableData[ 'info' ] = translate( 'app.search_by_phone', { phone_number: this.params.phone_number } );
                }

                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.customer_list',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: tableData,
                    filterData: {
                        use: true,
                        resetFilter: false,
                        historyEventName: 'customers-back',
                        page: 1,
                        search: {
                            everyWhere: {
                                value: '',
                                minSearchLength: 2,
                                label: 'search_uuid_email_name',
                                placeholder: 'every_where_placeholder'
                            }
                        },
                        sort: {
                            name: 'name',
                            direction: 'asc'
                        }
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getCustomers( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){
                let vm = this;

                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.everyWhere.value,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка deviceUUID в модели фидбтра
             * если deviceUUID был передан через параметр
             */
            setPhoneNumber( state ){
                if ( this.params.phone_number && this.params.phone_number != '' ) {
                    state.filterData.search.everyWhere.value = this.params.phone_number;
                }
            },

            /**
             * Сброс фильтров и поиска
             **/
            reset(){
                let vm = this;
                this.resetFilter( {
                    setParams( initialState ){
                        vm.setPhoneNumber( initialState );
                    },
                    getData(){
                        vm.getCustomers();
                    }
                } );
            }
        },
        events: {
            'customers-back': function() {
                this.getCustomers( { historyCall: true } );
            }
        }
    }
</script>