<template>

    <div>

        <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
        <help-header :title="pageHeader"></help-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getMessages"
                     :pagination="pagination"
                     :reset-filter="reset"
            >

                <div class="row align-info-table {{ itemColorCoding(item) }}" v-for="item in pagination.data">

                    <v-cell classes="text-left">
                        <a href="#"
                           id="show-message-link-{{item.id}}"
                           @click.prevent="goTo('supports', item.id)"
                        >{{ item.name }}</a>
                    </v-cell>

                    <v-cell classes="text-left">{{ item.sent_at }}</v-cell>
                    <v-cell classes="text-left">{{ item.text | str_limit 30 }}</v-cell>
                    <v-cell classes="text-left">{{ item.email }}</v-cell>
                    <v-cell classes="text-left">{{ item.phone_number }}</v-cell>
                    <v-cell classes="text-left">{{{ deviceInfo(item) }}}</v-cell>
                    <v-cell classes="text-left">{{ item.device && item.device.uuid ? item.device.uuid : '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.device && item.device.app_version ? item.device.app_version :'-' }}
                    </v-cell>

                    <v-cell>

                        <v-table-button :id="setPrefixedId('show-message-button-',item.id)"
                                        label="app.show"
                                        icon="search"
                                        @click.prevent="goTo('supports', item.id)"></v-table-button>

                        <v-table-button :id="setPrefixedId('show-device-button-', item.id)"
                                        label="app.device"
                                        icon="info-circle"
                                        @click.prevent="goTo('devices', item.device.uuid,'log')"
                                        v-if="item.device"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-set-read-modal-button-', item.id)"
                                        label="app.set_read"
                                        icon="square-o"
                                        @click.prevent="read(item.id)"
                                        v-if="!item.read_at"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-set-un-read-modal-button-', item.id)"
                                        label="app.set_unread"
                                        icon="check-square-o"
                                        @click.prevent="read(item.id, true)"
                                        v-if="item.read_at"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-push-modal-button-', item.id)"
                                        label="app.do_send_push"
                                        icon="paper-plane"
                                        @click.prevent="goWithParamsToSegments({ uuid: item.device.uuid  }, 'push-notifications', 'create'  )"
                                        v-if="deviceHasPushToken(item)"></v-table-button>

                        <v-table-button :id="'show-customer-button-' + item.id"
                                        label="app.show_customer"
                                        icon="user"
                                        v-if="item.device && item.device.customer"
                                        @click.prevent="goWithParamsToSegments( { phone_number: item.device.customer.phone_number }, 'customers')"
                        ></v-table-button>

                    </v-cell>
                </div>
            </v-table>

        </div>


        <v-bootstrap-modal id="modal-read-message" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t(setUnread ? 'app.mark_as_unread' : 'app.mark_as_read') }}}</p></div>

            <div slot="footer">
                <v-button
                          id="continue-cancel-modal-button"
                          label="continue"
                          :on-click="confirmModal"
                          type="success"
                ></v-button>

                <v-button
                          id="close-cancel-modal-button"
                          label="cancel"
                          :on-click="closeReadModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">

    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mNavigator from '../../mixins/m-navigator';

    export default{
        mixins: [ mIndex, mGlobal, mNavigator ],
        data(){
            return this.initialState()
        },
        created(){

            if ( this.params.uuid ) {
                this.filterData.search.everyWhere.value = this.params.uuid;
                this.tableData.useModelInUrl.status = false;
                this.tableData.useModelInUrl.alternativeUrl = '';
            }

            this.getMessages();
        },
        components:{
            'help-header': require( '../../views/inline-help/h-supports.vue' )
        },
        methods: {
            initialState (){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.feedback',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'supports',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'name',
                                isSortable: true,
                                classes: 'text-left',
                                defaultSortDirection: 'asc'
                            },
                            {
                                name: 'sent_time',
                                isSortable: true,
                                sortableField: 'sent_at',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'feedback_text',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'email',
                                isSortable: true,
                                sortableField: 'email',
                                defaultSortDirection: 'asc',
                                classes: 'text-left'
                            },
                            {
                                name: 'phone_number',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'device_info',
                                isSortable: false,
                                classes: 'text-left'
                            }, {
                                name: 'uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'app_version',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                width: 20,
                                isSortable: false,
                                classes: 'wid-four-buttons'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: false,
                        page: 1,
                        historyEventName: 'support-back',
                        search: {
                            everyWhere: {
                                value: '',
                                label: 'search_uuid_email_mail',
                                placeholder: 'every_where_placeholder'
                            },
                            platform: {
                                value: '',
                                label: 'search_platform',
                                placeholder: 'platform_placeholder'
                            }
                        },
                        radios: [
                            {
                                label: 'read_unread',
                                name: 'readUnread',
                                use: false,
                                selected: '',
                                positions: [
                                    'read',
                                    'unread'
                                ]
                            },
                            {
                                label: 'mobile_web',
                                name: 'mobileWeb',
                                use: false,
                                selected: '',
                                positions: [
                                    'mobile',
                                    'web'
                                ]
                            }
                        ],
                        sort: {
                            name: 'sent_at',
                            direction: 'desc'
                        }
                    },
                    feedbackId: null,
                    setUnread: null,
                    modalPush: {
                        uuid: ''
                    }
                }
            },
            getMessages( params ={}){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getMessages();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.everyWhere.value,
                    platform:vm.filterData.search.platform.value,
                    radios: this.transformRadioForRequest(),
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },
            itemColorCoding( item ){
                return item.read_at
                        ? 'raw-read'
                        : 'raw-unread';
            },
            deviceHasPushToken( item ){
                return item.device && item.device.push_token;
            },
            read( feedbackId = null, setUnread = false ){

                this.$set( 'feedbackId', feedbackId );
                this.$set( 'setUnread', setUnread );

                $( '#modal-read-message' ).modal( 'show' );
            },
            deviceInfo( item ){
                let field = '';

                if ( item.device && item.device.model && item.device.model !== '' )
                    field += ' ' + item.device.model;

                if ( item.device && item.device.platform && item.device.platform !== '' )
                    field += ' (' + item.device.platform + ')';

                return field;
            },

            confirmModal(){

                let vm = this;

                vm.$http.get( vm.getLinkTo( vm.tableData.model, vm.feedbackId, 'read', vm.setUnread || '' ) )
                        .then(
                                response => {

                                    if ( response.data.status === 'success' ) {

                                        vm.getMessages( );
                                        $( '#modal-read-message' ).modal( 'hide' );

                                    } else if ( response.data.status === 'error' ) {
                                        console.error( response );
                                        $( '#modal-read-message' ).modal( 'hide' );
                                    }

                                },
                                response => console.error( response ) );
            },

            closeReadModal(){
                $( '#modal-read-message' ).modal( 'hide' );
            }
        },
        events: {
            'support-back': function( event ) {
                this.getMessages( event );
            },
        },
    }
</script>