<template>

    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body">

            <v-view :view-data="viewData"></v-view>

            <v-bootstrap-modal id="modal-read-message" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
                <div slot="body">
                    <p> {{{ $t(viewData.item.read_at ? 'app.mark_as_unread' : 'app.mark_as_read')}}} </p>
                </div>
                <div slot="footer">
                    <v-button id="close-read-message-modal-button"
                              label="cancel"
                              type="primary"
                              :on-click="closeReadMessageModal"
                    ></v-button>

                    <v-button id="set-message-status-modal-button"
                              label="continue"
                              :on-click="readMessage"
                              type="success"
                    ></v-button>
                </div>
            </v-bootstrap-modal>

            <v-bootstrap-modal id="read-other-messages" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.other_messages') }}}</strong></div>
                <div slot="body">
                    <ul class="list-group">
                        <li class="list-group-item text-left word-break"
                            v-for="el in viewData.other_items">
                            {{ el.text }}
                        </li>
                    </ul>
                </div>
                <div slot="footer">
                    <v-button
                            id="close-other-messages-modal-button"
                            type="success"
                            label="close"
                            :on-click="closeOtherMessagesModal"
                    ></v-button>
                </div>
            </v-bootstrap-modal>

            <div class="row" v-show="viewData.item.device_uuid && pagination.data && pagination.data.length">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination" :filter="filterData" prefix="top"
                                  :on-page-changed="getApiRequests"></v-pagination>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <v-api-requests :api-requests="pagination.data" v-if="viewData.item.device_uuid"></v-api-requests>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination" :filter="filterData" prefix="bottom"
                                  :on-page-changed="getApiRequests"></v-pagination>
                </div>
            </div>
        </div>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mNavigator from '../../mixins/m-navigator';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mNavigator ],
        data(){

            let buttons = [
                {
                    id: 'go-back-button',
                    title: 'go_back',
                    label: 'go_back',
                    icon: 'chevron-left',
                    eventName: 'go-back'
                },
                {
                    id: 'open-set-unread-modal-button',
                    computed: 'isNotRead',
                    label: 'set_read',
                    icon: 'square-o',
                    eventName: 'read-message'
                },
                {
                    id: 'open-set-read-modal-button',
                    computed: 'isRead',
                    label: 'set_unread',
                    icon: 'check-square-o',
                    type: 'warning',
                    eventName: 'read-message'
                },
                {
                    id: 'open-device-detail-button',
                    computed: 'hasDevice',
                    label: 'device_show',
                    title: 'device_description',
                    icon: 'info-circle',
                    eventName: 'show-device-log'
                },
                {
                    id: 'show-other-messages-modal-button',
                    computed: 'hasMessages',
                    label: 'other_messages',
                    title: 'other_messages_description',
                    icon: 'mail-reply-all',
                    eventName: 'show-other-messages'
                },
                {
                    id: 'open-push-modal-button',
                    computed: 'hasPushToken',
                    label: 'push',
                    title: 'push_description',
                    icon: 'paper-plane',
                    eventName: 'push-notification'
                }
            ];

            if ( this.params.item && this.params.item.device_uuid && this.params.item.device.customer_id ) {
                buttons.push( {
                    id: 'open-customer-list-button',
                    computed: 'hasCustomer',
                    title: 'customer',
                    label: 'customer',
                    icon: 'user',
                    eventName: 'to-customer-list'
                } );
            }

            return {
                pageHeader: {
                    label: 'app.show_msg',
                    params: {}
                },
                collapsed: false,
                viewData: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: {
                        read_at: null,
                        name: '',
                        created_at: '',
                        text: '',
                        email: '',
                        phone_number: 'phone_number',
                        device_label: 'device_label',
                        device_uuid: 'device_uuid',
                        push_token: ''
                    },
                    other_items: [],
                    fields: [
                        'name',
                        'sent_at',
                        'text',
                        'email',
                        'phone_number',
                        'device_label',
                        'device.app_version',
                    ],
                    buttons: buttons
                },
                modalPush: {
                    uuid: ''
                },
                pagination: {},

                // need for pagination
                filterData: {
                    page: 1,
                    device_uuid: this.params.item && this.params.item.device_uuid ? this.params.item.device.uuid : null,
                }
            }
        },
        computed: {
            isNotRead(){
                return !this.viewData.item.read_at;
            },
            isRead(){
                return this.viewData.item.read_at;
            },
            hasDevice(){
                return this.viewData.item.device_uuid;
            },
            hasMessages(){
                return this.viewData.other_items.length >= 1;
            },
            hasPushToken(){
                return this.viewData.item.device_uuid && this.viewData.item.device.push_token;
            },
            hasCustomer(){
                return this.viewData && this.viewData.item.device && this.viewData.item.device.customer_id;
            }
        },
        components: {
            'v-api-requests': require( "../../components/v-api-requests.vue" ),
            'v-header': require( '../../components/v-header.vue' ),
            'v-view': require( "../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-pagination': require( "../../components/v-pagination.vue" ),
        },
        created(){
            this.$set( 'viewData.item', this.params.item );

            if ( this.viewData.item.device_uuid ) {
                this.updateDeviceData();
                this.getApiRequests();
            }
        },
        methods: {

            /**
             * Получение ApiRequests с объектом паджинации
             */
            getApiRequests(){

                this.$http.get( '/devices/' + this.viewData.item.device.uuid + '/api-requests', {
                            device_uuid: this.viewData.item.device.uuid,
                            page: this.filterData.page
                        }
                ).then( function( response ) {

                    this.$set( 'pagination', response.data );

                }, function( response ) {

                    this.$set( 'pagination', { data: [] } );

                    this.handleSessionTimeOut( response );

                    console.error( response );
                } ).bind( this );
            },

            updateDeviceData(){

                this.$set( 'viewData.fields', JSON.parse( JSON.stringify( this.viewData.fields ) ).concat( [
                    'device.uuid',
                    'device.push_token'
                ] ) );

                this.$http.get( this.getLinkTo( 'supports', this.params.item.id, this.params.item.device.uuid ) )

                        .then(
                                response => this.$set( 'viewData.other_items', response.data ),
                                response => console.error( response ) )
                        .bind( this );
            },
            readMessage(){

                let vm        = this;
                let setUnread = this.viewData.item.read_at ? true : false;

                vm.$http.get( URI( URI().origin() )
                        .segmentCoded( [ 'supports', this.viewData.item.id, 'read', setUnread || '' ] )
                        .toString() )
                        .then(
                                response => {

                                    if ( response.data.status === 'success' ) {
                                        vm.viewData.item.read_at = setUnread ? null : new Date();
                                        vm.closeReadMessageModal();
                                    } else if ( response.data.status === 'error' ) {
                                        alert( 'Please, connect Admin.' );
                                        vm.closeReadMessageModal();
                                    }
                                },
                                response => {
                                    console.error( response );
                                    vm.closeReadMessageModal();
                                } );
            },

            openReadMessageModal(){
                $( '#modal-read-message' ).modal( 'show' );
            },
            closeReadMessageModal(){
                $( '#modal-read-message' ).modal( 'hide' );
            },
            openOtherMessagesModal(){
                $( '#read-other-messages' ).modal( 'show' );
            },
            closeOtherMessagesModal(){
                $( '#read-other-messages' ).modal( 'hide' );
            }
        },
        events: {
            'go-back': function() {
                this.goBack( 'supports' );
            },
            'show-device-log': function() {
                this.goTo( 'devices', this.viewData.item.device.uuid, 'log' );
            },
            'read-message': function() {
                this.openReadMessageModal();
            },
            'show-other-messages': function() {
                this.openOtherMessagesModal();
            },
            'push-notification': function() {
                this.goWithParamsToSegments( { uuid: this.viewData.item.device.uuid }, 'push-notifications', 'create' );
            },
            'to-customer-list': function() {
                let vm = this;
                vm.$root.$refs.vm.tryCatch(
                        ()=> {
                            if ( vm.viewData.item.device.customer.phone_number ) {
                                vm.goWithParamsToSegments( { phone_number: vm.viewData.item.device.customer.phone_number }, 'customers' )
                            }
                        }, 'Customer is not defined' );
            }
        }
    }
</script>
<style scoped>
    .word-break {
        word-break: break-all;
    }
</style>