с
<template>

    <v-header :title="pageHeader" :total="pagination.total"></v-header>

    <div class="main-box-body clearfix">

        <v-table :table-data="tableData"
                 :filter-data="filterData"
                 :on-change="getDevices"
                 :pagination="pagination"
                 :reset-filter="reset"
        >

            <div class="row align-info-table" v-for="item in pagination.data">

                <v-cell classes="text-left">
                    <a :id="setPrefixedId('open-device-log-link-', item.uuid)"
                       @click.prevent="goTo(tableData.model, item.uuid, 'log' )"
                    >{{ item.uuid }}</a>
                </v-cell>

                <v-cell classes="text-left">{{ item.model }}</v-cell>
                <v-cell classes="text-left">{{ item.app_version || '-' }}</v-cell>
                <v-cell classes="text-left">{{ item.updated_at || $t('app.no_info') }}</v-cell>

                <v-cell>

                    <v-table-button :id="setPrefixedId('show-log-button-', item.uuid)"
                                    label="app.show_log" icon="search"
                                    color="#3498db"
                                    @click.prevent="goTo(tableData.model, item.uuid, 'log' )"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('show-msg-button-', item.uuid)"
                                    label="app.show_msg"
                                    icon="wechat"
                                    color="#3498db"
                                    @click.prevent="goTo('supports', item.uuid, 'show-msg' )"
                                    v-if="item.feedback_messages_count>0"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('open-push-button-', item.uuid)"
                                    label="app.push"
                                    icon="paper-plane"
                                    color="#3498db"
                                    @click.prevent="goWithParamsToSegments({ uuid: item.uuid  }, 'push-notifications', 'create'  )"
                                    v-if="item.push_token"
                    ></v-table-button>

                    <v-table-button :id="'show-customer-button-' + item.id"
                                    label="app.show_customer"
                                    icon="user"
                                    v-if="item.phone_number"
                                    @click.prevent="goWithParamsToSegments( { phone_number: item.phone_number }, 'customers')"
                    ></v-table-button>

                </v-cell>
            </div>
        </v-table>

    </div>


</template>

<style>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getDevices();
            this.getAppVersions();
        },
        methods: {
            getDevices( params = {} ){

                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    searchByUuid: vm.filterData.search.uuid.value,
                    searchByModel: vm.filterData.search.model.value,
                    version: vm.filterData.selects.version.selected,
                    period: {
                        start: vm.filterData.period.start,
                        end: vm.filterData.period.end,
                    },
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },
            getAppVersions(){
                this.$http
                        .get( '/devices/versions' )
                        .then(
                                data => {
                                    this.filterData.selects.version.items = data.data.map( el=> {
                                        return {
                                            id: el.app_version,
                                            text: el.app_version
                                        }
                                    } );
                                    this.filterData.selects.version.items.unshift( {
                                        id: 'all',
                                        text: translate( 'app.all_versions' )
                                    } )
                                },
                                data => console.log( data ) )
                        .bind( this );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getDevices();
                        vm.getAppVersions();
                    }
                } );
            },

            initialState (){
                return {
                    pageHeader: {
                        label: 'app.devices'
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'devices',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'uuid',
                                isSortable: false,
                                classes: 'text-left wid-3'
                            },
                            {
                                name: 'model',
                                isSortable: false,
                                classes: 'text-left'
                            }, {
                                name: 'app_version',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'updated_at',
                                isSortable: true,
                                sortableField: 'updated_at',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },

                            {
                                name: 'actions',
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        search: {
                            uuid: {
                                value: '',
                                label: 'search_uuid',
                                placeholder: 'uuid_placeholder'
                            },
                            model: {
                                value: '',
                                label: 'search_model',
                                placeholder: 'model_placeholder'
                            }
                        },
                        selects: {
                            version: {
                                id: 'version-select-in-filter',
                                useAjax: false,
                                label: 'app.app_version',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.app_version',
                                reset: true
                            }
                        },
                        period: {
                            start: moment().subtract( 1, 'years' ).format( this.momentFormats.full ),
                            end: moment().format( this.momentFormats.full ),
                            help_block: translate( 'app.period_default' )
                        },
                        sort: {
                            name: 'updated_at',
                            direction: 'desc'
                        },
                        activity_sort: false,
                    },
                    modalPush: {
                        uuid: ''
                    }
                }
            },

            setPrefixedId( title, id ){
                return title + this.trunc( id, 5 );
            },
            trunc( value, n ){
                return (value.length > n) ? value.substr( 0, n - 1 ) : value;
            }
        }
    }
</script>