<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body">

        <v-view :view-data="view"></v-view>

        <div v-show="scans.length >0">
            <h2>{{{ $t('app.scan_number', { scans_length : scans.length }) }}} </h2>
            <div id="pointer-map" class="map-content margin-top-20 margin-bottom-10"></div>
        </div>

        <div class="alert alert-info" v-show="scans.length == 0">
            <h2 id="no-map">{{{ $t( 'app.no_requests')}}}</h2>
        </div>

        <div class="row" v-show="pagination.data && pagination.data.length">
            <div class="col-lg-12">
                <v-pagination :pagination="pagination"
                              :filter="filterData"
                              prefix="top"
                              :on-page-changed="getItems"
                ></v-pagination>
            </div>
        </div>

        <div class="row" v-show="pagination.data && pagination.data.length">
            <div class="col-lg-12">
                <v-api-requests :api-requests="pagination.data"></v-api-requests>
            </div>
        </div>

        <div class="row" v-show="pagination.data && pagination.data.length">
            <div class="col-lg-12">
                <v-pagination :pagination="pagination"
                              :filter="filterData"
                              prefix="bottom"
                              :on-page-changed="getItems"
                ></v-pagination>
            </div>
        </div>

    </div>

</template>
<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    import mNavigator from '../../mixins/m-navigator';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mNavigator ],
        data(){

            let buttons = [
                {
                    id: 'back-link-button',
                    title: 'go_back',
                    label: 'go_back',
                    icon: 'chevron-left',
                    eventName: 'go-back',
                    parentClass: 'padding-reset'
                },
                {
                    id: 'show-messages-button',
                    title: 'show_msg',
                    label: 'show_msg',
                    computed: 'hasMessages',
                    icon: 'wechat',
                    eventName: 'show-support-message'
                },
                {
                    id: 'open-push-modal-button',
                    computed: 'hasPushToken',
                    title: 'push_title',
                    label: 'push',
                    icon: 'paper-plane',
                    eventName: 'push-notification'
                }
            ];

            if ( this.params.item && this.params.item.customer_id ) {
                buttons.push( {
                    id: 'open-customer-list-button',
                    computed: 'hasCustomer',
                    title: 'customer_list_btn',
                    label: 'customer_list',
                    icon: 'user',
                    eventName: 'to-customer-list'
                } );
            }

            return {
                collapsed: false,
                scans: [],
                pageHeader: {
                    label: 'app.show_log'
                },
                infoWindows: [],
                pagination: {
                    current_page: 1,
                    last_page: 0,
                    data: []
                },
                filterData: {
                    device_uuid: null,
                    withoutLoader: true,
                    page: 1
                },
                view: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: {
                        uuid: '',
                        app_version: '',
                        model: '',
                        platform: '',
                        push_token: ''
                    },
                    fields: [
                        'uuid',
                        'model',
                        'platform',
                        'push_token',
                        'app_version',
                        'latest_api_request.created_at',
                        'customer.name_phone_email_region'
                    ],
                    buttons: buttons
                },
                modalPush: {
                    uuid: ''
                }
            }
        },
        components: {
            'v-api-requests': require( "../../components/v-api-requests.vue" ),
            'v-pagination': require( "../../components/v-pagination.vue" ),
            'v-header': require( '../../components/v-header.vue' ),
            'v-view': require( "../../components/v-view.vue" ),
        },
        created(){

            // переход на предыдущие страницы по нажатию на кнопку "Назад" в браузере пользователя

            let vm            = this;
            window.onpopstate = function( e ) {
                if ( e.state ) {
                    vm.filterData = e.state;
                    vm.getItems( { historyCall: true } );
                }
            };
        },
        ready(){
            this.initViewData();
            this.initCheckMap();
            this.initRequests();
        },
        methods: {

            /**
             * Инициализиция данных таблицы
             */
            initViewData(){

                this.$set( 'view.item', this.params.item );
                this.$set( 'filterData.device_uuid', this.params.item.uuid );

                if ( URI.parseQuery( URI().query() ).filter )
                    this.filterData = JSON.parse( URI.parseQuery( URI().query() ).filter );
            },

            /**
             * Получение объектов api_requests для отображения на карте
             */
            initCheckMap(){

                this.$http.get( '/devices/' + this.view.item.uuid + '/checks', this.filterData ).then( function( response ) {

                    this.loadMap( response.data );

                }, function( response ) {

                    this.handleSessionTimeOut( response );

                    console.error( response );

                } ).bind( this );
            },

            /**
             * Первоначальная загрузка запросов с API
             */
            initRequests(){
                this.getItems();
            },

            /**
             * Получение ApiRequests с объектом паджинации
             */
            getItems(){

                this.$http.get( '/devices/' + this.view.item.uuid + '/api-requests', this.filterData ).then( function( response ) {

                    this.$set( 'pagination', response.data );

                }, function( response ) {

                    this.$set( 'pagination', { data: [] } );

                    this.handleSessionTimeOut( response );

                    console.error( response );
                } ).bind( this );
            },

            /**
             * Загрузка сканировании на карту
             */
            loadMap( checks = [] ){

                let checksArray = {};
                this.scans      = [];

                checks.forEach( function( element ) {
                    checksArray[ element.id ] = element;
                } );

                for (const id  in checksArray) {
                    let scan = {
                        latitude: checksArray[ id ][ "geo_latitude" ],
                        longitude: checksArray[ id ][ "geo_longitude" ],
                        status: this.getScanStatus( checksArray[ id ] ),
                        statusTranslated: this.getScanStatus( checksArray[ id ], true),
                        check: checksArray[ id ]
                    };
                    this.scans.push( scan );
                }

                if ( this.scans === undefined || this.scans.length == 0 ) {
                    this.scans = [];
                    return;
                }

                this.initScanMarkers();
            },

            getScanStatus( check = {}, needTranslation = false ){
                if ( check.item.is_duplicated == true ) {
                    return  needTranslation  ? translate( 'app.duplicate' ) : 'duplicate';
                }

                return  needTranslation  ? translate( 'app.' + check.item.status ) : check.item.status;
            },

            /**
             * Инициализиция карты и отображения маркеров сканирований
             */
            initScanMarkers(){

                let vm = this;

                function renderMap() {

                    vm.setOverlay();

                    let map     = vm.initMap();
                    let markers = [];

                    vm.scans.forEach( function( entry ) {

                        let marker = vm.initMarker( entry );
                        vm.addMarkerEventListener( map, marker, entry );
                        markers.push( marker );
                    } );

                    for (let i = 0, marker; marker = markers[ i ]; i++) {
                        marker.setMap( map );
                    }

                    google.maps.event.addListenerOnce( map, 'tilesloaded', fixMyPageOnce );

                    function fixMyPageOnce() {
                        google.maps.event.trigger( map, 'resize' );
                        vm.unSetOverlay();
                    }
                }

                $( document ).ready( function() {
                    renderMap();
                } );
            },

            /**
             * Инициализирует объект Google Maps
             *
             * @returns {google.maps.Map}
             */
            initMap(){

                let vm = this;

                return window.map = new google.maps.Map(
                        document.getElementById( 'pointer-map' ),
                        {
                            zoom: 13,
                            scrollwheel: true,
                            center: {
                                lat: parseFloat( vm.scans[ 0 ].latitude ) || 51.128280,
                                lng: parseFloat( vm.scans[ 0 ].longitude ) || 71.430568
                            }
                        } );
            },

            /**
             * Создает объект Marker
             *
             * @param entry
             * @returns {google.maps.Marker}
             */
            initMarker( entry = { status: 'fake', latitude: 51.128280, longitude: 71.430568 } ){

                let vm = this;

                return new google.maps.Marker( {
                    icon: vm.getGoogleMarkerType( entry.status ),
                    position: new google.maps.LatLng( parseFloat( entry[ "latitude" ] ), parseFloat( entry[ "longitude" ] ) )
                } );
            },

            /**
             * Добавляет слушатель события нажатия на Marker
             *
             * @param map
             * @param marker
             * @param entry
             * @returns {google.maps.Marker}
             */
            addMarkerEventListener( map, marker = {}, entry = {
                status: 'fake',
                latitude: 51.128280,
                longitude: 71.430568,
                response: {}
            } ){
                let vm = this;

                google.maps.event.addListener( marker, 'click', (function( marker ) {

                    return function() {

                        if ( vm.infoWindows.length > 0 ) {
                            vm.infoWindows.forEach( function( entry ) {
                                window.currentOpenedMarker = undefined;
                                entry.close();
                            } );
                        }

                        vm.infoWindows.push( new google.maps.InfoWindow() );

                        let clusterCcontent = '';

                        if ( entry.check.cluster ) {
                            clusterCcontent = ` <strong>${translate( 'app.cluster_name' )}:</strong> ${entry.check.cluster_id}, ${entry.check.cluster ? entry.check.cluster.name : '-'}<br>
                         <strong>${translate( 'app.address' )}:</strong> ${vm.getClusterAddress( entry.check.cluster )}<br>
                         <strong>${translate( 'app.linked_city' )}:</strong> ${(entry.check.cluster && entry.check.cluster.city ? entry.check.cluster.city.name + ' (ID: ' + entry.check.cluster.city_id + ')' : translate( 'app.no_info' ))}<br>
                         <strong>${translate( 'app.type' )}:</strong> ${(entry.check.cluster.type ? entry.check.cluster.type : translate('app.no_info'))}<br>
                         <strong>${translate( 'app.is_moderated' )}:</strong> ${(entry.check.cluster.is_moderated ? translate('app.yes') : translate('app.no'))}<br>
                         <strong>${translate( 'app.licensed' )}:</strong> ${(entry.check.cluster.is_licensed ? translate('app.yes') : translate('app.no'))}<br>
                         <strong>${translate( 'app.fixed' )}:</strong> ${(entry.check.cluster.is_fixed ? translate('app.yes') : translate('app.no'))}<br>
                         <br>
                         <a href="/clusters/${entry.check.cluster.id}/edit"><b>${translate( 'app.info_window_edit' )}</a><br>
                         <a href="/clusters/link?clusters[]=${entry.check.cluster.id}">${translate( 'app.info_window_link' )}</a><br>`;
                        } else {
                            clusterCcontent = `<p>${translate( 'app.no_cluster_info')}</p>`;
                        }

                        vm.infoWindows[ vm.infoWindows.length - 1 ].setContent( `
                         <strong>${translate( 'app.scanned_at' )}:</strong> ${entry.check.created_at}<br>
                         <strong>${translate( 'app.ukm_status' )}:</strong> ${entry.statusTranslated}<br>
                         <strong>${translate( 'app._coords' )}:</strong> ${entry.latitude}, ${entry.longitude}<br>
                        ${clusterCcontent}` );

                        vm.infoWindows[ vm.infoWindows.length - 1 ].open( map, marker );
                    }
                })( marker, entry ) );

                map.addListener( 'click', function() {
                    if ( vm.infoWindows.length > 0 ) {
                        vm.infoWindows.forEach( function( entry ) {
                            window.currentOpenedMarker = undefined;
                            entry.close();
                        } );
                    }
                } );
            },
            getClusterAddress( cluster ) {
                let address = translate( 'app.no_address' );

                if ( cluster && cluster.street ) {
                    address = cluster.street;
                }

                if ( cluster && cluster.house ) {
                    if ( cluster.house ) {
                        address += ", "
                    }

                    address += cluster.house;
                }

                return address;
            },
            /**
             * Получение маркера заданного типа
             *
             * @param status
             */
            getGoogleMarkerType( status ){

                let pinFakeColor      = "FE7569";
                let pinValidColor     = "00CC00";
                let pinDuplicateColor = "ffff00";

                let pinValidImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinValidColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                let pinFakeImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinFakeColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                let pinDuplicateImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinDuplicateColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                switch (status) {
                    case 'valid':
                        return pinValidImage;
                        break;
                    case 'fake':
                        return pinFakeImage;
                        break;
                    case 'duplicate':
                        return pinDuplicateImage;
                        break;
                    default:
                        return pinFakeImage;
                        break;
                }
            },

            /**
             * Рисует фон страницы перед началом загрузки очередной страницв api_requests
             */
            setOverlay(){
                var overlay = $( '<div id="overlay" class="ajax_loader"></div>' );
                overlay.appendTo( document.body );
            },

            /**
             * Удаляет фон страницы после загрузки очередной страницв api_requests
             */
            unSetOverlay(){
                $( '#overlay' ).remove();
            }
        },
        computed: {
            hasPushToken(){
                return this.view && this.view.item && this.view.item.push_token;
            },
            hasCustomer(){
                return this.view && this.view.item && this.view.item.customer_id;
            },
            hasMessages(){
                return this.params.messages_count > 0;
            }
        },
        events: {
            'go-back': function() {
                this.goBack('devices');
            },
            'show-support-message': function() {
                this.goTo( 'supports', this.view.item.uuid, 'show-msg' );
            },
            'push-notification': function() {
                this.goWithParamsToSegments({ uuid: this.view.item.uuid }, 'push-notifications', 'create'  )
            },
            'to-customer-list': function() {
                this.goWithParamsToSegments( { phone_number: this.view.item.customer.phone_number }, 'customers' )
            }
        },
        watch: {
            'scans': {

                /**
                 *  При скрытии и отображении Google Map карта не отображается,
                 *  вместо контента карты появляется бежевый фон
                 *  этот вотчер воркэраунд вышеописанной проблемы
                 */
                handler(){
                    if ( window.map !== undefined )
                        google.maps.event.trigger( window.map, 'resize' );
                }
            }
        }
    }
</script>
