<template>
    <div>
        <v-header :title="pageHeader"></v-header>


        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-6">

                    <v-form :form="form" v-ref:form>
                        <v-button

                            title="save"
                            id="next-button"
                            label="save"
                            icon="check"
                            type="success"
                            :on-click="store"
                    ></v-button>
                        <v-button
                                  title="cancel"
                                  id="skip-button"
                                  label="cancel"
                                  type="default"
                                  parent-class="disable-padding-inline-block"
                                  :on-click="cancel"
                        ></v-button>


                    </v-form>

                </div>

            </div>
        </div>


        <v-bootstrap-modal id="cancel-modal" size="modal-sm">
            <div slot="header"> {{{ $t('app.attention') }}}</div>
            <div slot="body">
                {{{ $t('app.cancel_question') }}}
            </div>
            <div slot="footer">
                <button type="button"
                        title="{{{ $t('app.continue') }}}"
                        class="btn btn-success"
                        id="continue-button"
                        @click="goBackNotPull()"
                >{{{ $t('app.continue') }}}
                </button>
                <button type="button"
                        title="{{{ $t('app.close') }}}"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button"
                >{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-header': require( "../../components/v-header.vue" ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'v-button': require( '../../components/v-button.vue' ),
        },
        data(){
            return this.initialState()
        },
        computed:{
            updating(){
                if (this.params.item)
                    return true;

                return false;
            }
        },
        methods: {

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: {
                        label: this.params.item ?'app.update_role' : 'app.create_role'
                    },
                    form: {
                        model: 'roles',
                        focus: 'name',
                        id: {
                            value: this.params.item ? this.params.item.id : null,
                            name: 'id',
                            hidden: true
                        },
                        name: {
                            value: this.params.item ? this.params.item.name : null,
                            maxlength: 255,
                            type: 'text'
                        },
                        display_name: {
                            value: this.params.item ? this.params.item.display_name : null,
                            maxlength: 255,
                            type: 'text'
                        },
                        description: {
                            value: this.params.item ? this.params.item.description : null,
                            maxlength: 3000,
                            type: 'text'
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){
                let vm   = this;
                let data = vm.$refs.form.getData();
                let url  = '/roles';

                if ( this.updating ) {
                    data['_method'] = 'PUT';
                    url = url + '/' + this.params.item.id;
                }

                vm.$http
                        .post( url, data )
                        .then(
                                response => {
                                    if ( response.data !== 'stored' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    vm.goBackNotPull(  );
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    }
                                    else {
                                        console.error( response.data );
                                    }
                                } );
            },

            cancel(){
                $( '#cancel-modal' ).modal( 'show' );
            }
        }
    }
</script>