<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getRoles"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">
                        <a href="#"
                           id="go-ro-roles-{{ item.id }}"
                           @click.prevent="goTo('roles', item.id )"
                           title="{{{ $t('app.users_with_role') }}}"
                        >{{ item.display_name }}</a>
                    </v-cell>
                    <v-cell classes="text-left">{{ item.description }}</v-cell>
                    <v-cell classes="text-left">{{ getRoleUsers(item) }}</v-cell>

                    <v-cell>
                        <v-table-button :id="'users-with-roles-button-' + item.id"
                                        label="app.users_with_role"
                                        icon="users"
                                        @click.prevent="users( item.id )"
                        ></v-table-button>
                        <v-table-button :id="'edit-role-button-' + item.id"
                                        label="app.users_with_role"
                                        icon="search"
                                        @click.prevent="goTo('roles', item.id)"
                        ></v-table-button>
                        <v-table-button :id="'edit-role-button-' + item.id"
                                        label="app.update_role"
                                        icon="pencil"
                                        @click.prevent="goTo('roles', item.id, 'edit' )"
                        ></v-table-button>
                        <v-table-button :id="'delete-button-' + item.id"
                                        label="app.Delete"
                                        icon="trash"
                                        @click.prevent="destroy(item.display_name, item.id)"
                        ></v-table-button>
                    </v-cell>
                </div>
            </v-table>
        </div>


        <v-bootstrap-modal id="delete-modal" size="modal-md">

            <div slot="header">{{{ $t('app.attention') }}}</div>

            <div slot="body">{{{ $t('app.delete_warn', { name: delete.name }) }}}</div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-danger"
                        aria-label="Confirm"
                        id="confirm-modal-button"
                        @click="confirmDestroy"
                >{{{ $t('app.continue') }}}
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>

        <v-bootstrap-modal id="info-modal" size="modal-md">

            <div slot="header">{{{ $t('app.attention') }}}</div>

            <div slot="body">{{{ $t('app.role_cant_be_deleted') }}}</div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        @click="goTo( 'roles', this.delete.id )"
                        id="go-to-users-button">{{{ $t('app.go_to_role_users') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-info-button">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>


    </div>

</template>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal, mExportReport ],
        components: {
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" )
        },
        data(){
            return this.initialState()
        },
        created(){
            this.getRoles();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.roles'
                    },
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'roles',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: null
                        },
                        fields: [
                            {
                                name: 'role_to_display',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'description',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'roles_users',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'roles-back',
                        search: {
                            name: {
                                value: '',
                                helpBlock: true,
                                minSearchLength: 2,
                                label: 'search',
                                placeholder: 'name_placeholder'
                            }
                        },
                        sort: {
                            name: 'name',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'add-role-button',
                                title: 'create_role',
                                label: 'create_role',
                                icon: 'plus',
                                eventName: 'add-role',
                                type: 'success'
                            }
                        ]
                    },
                    delete: {
                        name: null,
                        id: null
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getRoles( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){
                let vm = this;
                vm.resetFilter( {
                    getData(){
                        vm.getRoles();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимых данных
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.name.value
                }
            },

            /**
             * Список пользователей с данной ролью
             *
             * @param item
             * @returns {*}
             */
            getRoleUsers( item = {} ){
                if ( !item.users ) {
                    return '-';
                }

                let users = [];

                item.users.forEach( ( el )=> {
                    users.push( el.name );
                } );

                return users.join( ', ' );
            },

            /**
             * Открыть модальное окно подтверждения удаления
             *
             * @param name  - User name
             * @param id    - User id
             */
            destroy( name = '', id = null ){

                if ( !id || !name ) {
                    return
                }

                this.delete.id   = id;
                this.delete.name = name;

                $( '#delete-modal' ).modal( 'show' );
            },

            /**
             * Открыть модальное окно подтверждения удаления
             *
             * @param id    - User id
             */
            users( id = null ){
                this.goWithParamsToSegments( { roleId: id }, 'users' );
            },

            /**
             * Подтверждение удаления пользователя
             */
            confirmDestroy(){

                if ( !this.delete.name || !this.delete.id ) {
                    console.error( 'Error - we can not delete item. Id and name not specified!' );
                    return
                }

                this.$http.post( '/roles/' + this.delete.id, { _method: 'DELETE', id: this.delete.id } )
                        .then( r=> {

                            if ( _.includes( r.data, 'hasUsers' ) ) {
                                $( '#delete-modal' ).modal( 'hide' );
                                $( '#info-modal' ).modal( 'show' );

                                return;
                            }

                            if ( _.includes( r.data, 'success' ) ) {
                                this.getRoles();
                            }
                            else {
                                console.error( "Something went wrong!!", r.data );
                            }

                            this.delete.id   = null;
                            this.delete.name = null;

                            $( '#delete-modal' ).modal( 'hide' );
                        }, r=> {
                            console.error( r );
                        } ).bind( this );
            }
        },
        events: {
            'add-role': function() {
                this.goTo( 'roles', 'create' );
            },
            'app-back': function() {
                this.goBack();
            }
        }
    }
</script>
