<template>
    <div class="main-box-body">

        <h1 style="margin-top: 30px; ">{{{ $t('app.role_with_users', { name: params.item.display_name } ) }}}</h1>

        <v-view :view-data="view" :use-back-link="false"></v-view>

        <h1 v-show="view.item.users.length">{{{ $t('app.attached_users') }}}</h1>

        <h1 v-show="! view.item.users.length">{{{ $t('app.no_user') }}}</h1>

        <div class="list-container" v-show="view.item.users.length">
            <div v-for="user in view.item.users" style="display: flex;">
                <div class="col-sm-10 list-column-name" id="user-name-{{ user.id }}">
                    <p>{{ user.name }}</p>
                </div>
                <div class="col-sm-2 text-left list-column-button"
                     title="{{{ $t( 'app.detach_user' ) }}}"
                     id="detach-user-{{ user.id }}"
                     @click="showDetachModal( user.id, user.name )">
                    <p><i class="fa fa-trash"></i></p>
                </div>
            </div>
        </div>

        <v-bootstrap-modal id="select-user-modal" size="modal-md" backdrop="static">
            <div slot="header">
                {{{ $t('roles.select_user') }}}
            </div>
            <div slot="body">
                <v-select :select-data.sync="select.user"
                          :on-change="selectUser"
                ></v-select>
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        aria-label="Confirm"
                        @click.prevent="attachUser"
                        id="modal-confirm">{{{ $t('app.select') }}}
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        @click.prevent="cancelSelectingUser"
                        id="modal-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-info" size="modal-md" backdrop="static">
            <div slot="header">
                {{{ $t('app.attention' ) }}}
            </div>
            <div slot="body">
                {{{ modalContent }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-info-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-delete" size="modal-md" backdrop="static">
            <div slot="header">
                {{{ $t( 'app.attention' ) }}}
            </div>
            <div slot="body">
                {{{ $t( 'app.user_will_be_detached', {user_name: detachUserName, role_name: view.item.display_name}) }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-danger"
                        @click="detachUser"
                        id="modal-confirm-detach-close">{{{ $t('app.confirm') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-delete-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                view: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: this.params.item,
                    fields: [
                        'name',
                        'display_name',
                        'description'
                    ],
                    buttons: [
                        {
                            id: 'go_back',
                            title: 'to_list',
                            label: 'to_list',
                            icon: 'chevron-left',
                            parentClass: 'disable-padding-inline-block',
                            eventName: 'go-to-list',
                        },
                        {
                            id: 'edit',
                            title: 'update_role',
                            label: 'update_role',
                            icon: 'pencil',
                            eventName: 'edit',
                        },
                        {
                            id: 'user-attach',
                            title: 'attach_user',
                            label: 'attach_user',
                            icon: 'user-plus',
                            eventName: 'attach-user',
                        }
                    ],
                },
                select: {
                    user: {
                        id: 'user-select',
                        useAjax: false,
                        label: 'app.select_user',
                        items: [],
                        selected: '',
                        placeholder: 'app.select_user'
                    }
                },
                modalContent: '',
                detachUserId: null,
                detachUserName: null
            }
        },
        created(){
            this.view.item = this.params.item;
            this.$set( 'select.user.items', this.unAttachedUsers );
        },
        computed: {

            /**
             * Список пользователей, отображаемый в выпадающем списке
             **/
            unAttachedUsers(){
                return (_.differenceBy( this.params.users, this.params.item.users, 'id' ))
                        .map( user => {return { id: user.id, text: user.name }} );
            },
        },
        components: {
            'vm-organization-edit': require( './vm-form.vue' ),
            'v-view': require( "../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'v-select': require( '../../components/v-select.vue' )
        },
        methods: {

            /**
             * Прикрепить пользователя от организации
             *
             * @returns {*}
             **/
            attachUser(){

                if ( !this.select.user.selected ) {
                    console.error( 'User id not selected ' );
                    return;
                }

                this.$http.get( '/roles/' + this.view.item.id + '/attach-user', {
                            id: this.view.item.id,
                            user_id: this.select.user.selected
                        } )
                        .then(
                                r => {
                                    if ( r.data == 'user_already_has_role' ) {
                                        this.select.user.selected = '';
                                        $( '#select-user-modal' ).modal( 'hide' );
                                        return;
                                    }

                                    this.select.user.selected = '';
                                    $( '#select-user-modal' ).modal( 'hide' );
                                    this.params.item.users.push( r.data );
                                    this.$set( 'select.user.items', this.unAttachedUsers );
                                },
                                r => {
                                    console.error( r.data );
                                } ).bind( this );
            },

            /**
             * Открыть модальное окно подтверждения открепления
             *
             * @param user_id     - Идентификатор пользователя
             * @param user_name   - Имя пользователя
             **/
            showDetachModal( user_id = null, user_name = null ){

                this.detachUserId   = user_id;
                this.detachUserName = user_name;

                $( '#modal-delete' ).modal( 'show' );
            },

            /**
             * Открепить пользователя от организации
             *
             * @returns {*}
             **/
            detachUser(){

                if ( !this.detachUserId ) {
                    console.error( 'User id not specified' );
                    return;
                }

                this.$http.get( '/roles/' + this.view.item.id + '/detach-user', {
                            id: this.view.item.id,
                            user_id: this.detachUserId
                        } )
                        .then(
                                r => {
                                    $( '#modal-delete' ).modal( 'hide' );

                                    if ( r.data == 'user_cant_be_detached' ) {

                                        this.modalContent = this.$root.translate( 'roles.user_cant_be_detached', {
                                            user_name: this.detachUserName,
                                            role_name: this.view.item.display_name
                                        } );

                                        $( '#modal-info' ).modal( 'show' );
                                        this.detachUserId   = null;
                                        this.detachUserName = null;
                                        return;
                                    }

                                    if ( r.data == 'user_already_detached' ) {
                                        this.modalContent = translate( 'app.already_detached' );
                                        $( '#modal-info' ).modal( 'show' );
                                        this.detachUserId   = null;
                                        this.detachUserName = null;
                                        return;
                                    }

                                    this.params.item.users = this.params.item.users.filter( user => user.id != r.data.id );
                                    this.$set( 'select.user.items', this.unAttachedUsers );
                                    this.detachUserId   = null;
                                    this.detachUserName = null;
                                },
                                r => {
                                    console.error( r.data );
                                }
                        )
                        .bind( this );
            },

            /**
             * Установить выбранного пользователя
             *
             * @params selected - User id
             **/
            selectUser( selected ){
                try {
                    this.select.user.selected = parseInt( selected );
                } catch (e) {
                    throw new Error( 'Error when parsing' );
                }
            },

            /**
             * Закрыть модалку
             */
            cancelSelectingUser(){
                this.select.user.selected = '';
                $( '#select-user-modal' ).modal( 'hide' );
            }
        },
        events: {
            'edit': function() {
                // см resources/assets/js/vue/mixins/m-navigator.js:8
                this.needHistoryPushing = false;
                this.goTo( 'roles', this.view.item.id, 'edit' );
            },
            'attach-user': function() {
                $( '#select-user-modal' ).modal( 'show' );
            },
            'go-to-list': function() {
                this.goBack();
            }
        }
    }
</script>
<style scoped>
    @media (max-width: 520px) {
        .list-container {
            width: 100% !important;
        }
    }

    .list-container {
        width: 450px;
        margin: 0;
        border-bottom: 1px solid #dddddd;
    }

    .list-column-button:hover {
        background-color: #f1f1f1;
    }

    .list-column-name {
        border: 1px solid #dddddd;
        width: 85%;
        display: inline-block;
    }

    .list-column-name, .list-column-button {
        border-bottom: none !important;
    }

    .list-column-name:last-child {
        border-bottom: 1px solid #dddddd;
    }

    .list-column-name > p {
        margin: 10px !important;
    }

    .list-column-button {
        border: 1px solid #dddddd;
        border-left: none;
        padding: 0;
        margin: 0;
        width: 15%;
        display: inline-block;
    }

    .list-column-button > p {
        text-align: center;
        margin: 10px !important;

    }

    .list-column-button > p > i {
        margin-right: 0px !important;
    }


</style>

