<template>

    <v-header :title="header"></v-header>

    <div class="main-box-body clearfix">

        <div class="row">
            <div class="col-sm-6">
                <v-form :form="form">

                    <div class="form-group" v-if="params.item && params.item.logo">
                        <div class="image-preview-wrapper-form">

                            <h4>{{{ $t('app.logo') }}}</h4>

                            <img :src="staticServer + '/' + params.item.logo.original_uri"
                                 onerror="this.src='{{defaultImagePath}}'"
                                 alt="logo">

                            <div class="alert alert-info">{{{ $t('app.logo_warning') }}}</div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="checkbox" v-show="updating && ! change_logo && params.item && params.item.logo">
                            <input type="checkbox"
                                   class="styled"
                                   id="remove_logo"
                                   v-model="remove_logo"/>
                            <label for="remove_logo">
                                {{{ $t( 'app.remove_logo' ) }}}
                            </label>
                        </div>

                        <div class="checkbox" v-show="updating && ! remove_logo && params.item && params.item.logo">
                            <input type="checkbox"
                                   class="styled"
                                   id="update_logo"
                                   v-model="change_logo"/>
                            <label for="update_logo">
                                {{{ $t( 'app.update_image' ) }}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group" v-show="showChangeLogoButton">
                        <label class="btn btn-primary btn-upload"
                               for="input-logo"
                               id="label-for-logo-selection"
                               title="{{{ $t('app.select_logo_button') }}}">

                            <input type="file"
                                   name="logo"
                                   id="input-logo"
                                   class="sr-only"
                                   v-el:logo
                                   v-model="logo"
                                   accept="logo/*">
                                <span class="docs-tooltip"
                                      title="{{{ $t('app.select_logo_button') }}}"
                                ><span class="fa fa-upload"></span> {{{ $t( 'app.select_image_button' ) }}}
                                </span>
                        </label>

                        <p style="margin: 10px 0;"> {{ logo }}</p>
                    </div>

                    <div class="form-group" v-show="updating &&  params.item && params.item.id">
                        <v-button
                                id="edit-organization-alias-button"
                                label="edit_organization_aliases"
                                event-name="edit-aliases"
                                parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                    </div>

                    <div class="form-group">
                        <v-button
                                id="cancel-edit-button"
                                label="cancel"
                                :on-click="cancel"
                                parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                        <v-button
                                id="save-organization-button"
                                label="save"
                                type="success"
                                :on-click="store"
                                parent-class="disable-padding-inline-block margin-bottom-10"
                        ></v-button>
                    </div>
                </v-form>
            </div>
        </div>


        <v-bootstrap-modal id="confirm-modal" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">
                <div class="row">
                    <div class="col-sm-12 image-holder">
                        {{{ $t('app.are_you_sure_to_cancel') }}}
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        aria-label="Confirm"
                        @click.prevent="cancelConfirm"
                        id="modal-confirm">{{{ $t('app.confirm') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-close">{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>

<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    import Cropper from  'cropperjs';

    export default{
        mixins: [ mGlobal ],
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
        },
        computed: {
            updating(){
                if ( this.params.item )
                    return true;

                return false;
            },
            showChangeLogoButton(){

                if ( !this.updating ) {
                    return true;
                }

                if ( this.updating && !this.params.item.logo ) {
                    return true;
                }

                if ( this.updating && this.change_logo ) {
                    return true;
                }

                return false;
            }
        },
        data(){
            return this.initialState();
        },
        methods: {

            /**
             * Первоначальное состояние страницы
             */
            initialState(){

                const isSuperAdmin = this.$root.$refs.vm.hasRole( 'super-admin' );

                return {
                    header: {
                        label: this.params.item ? 'app.organization_edit' : 'app.organization_add',
                        params: {}
                    },

                    // дополнительные поля устанавливаются отдельно
                    logo: null,

                    remove_logo: false,
                    change_logo: false,

                    form: {
                        id: 'organization-id',
                        model: 'organizations',
                        focus: 'name_en',
                        name_en: {
                            value: this.params.item && this.params.item.name_en ? this.params.item.name_en : '',
                            maxlength: 100,
                            type: 'text',
                            required: false,

                            /** Изменять название может только супер администратор,
                             * поэтому у полей: name_en, name_ru, name_kk,, legal_name установлено
                             * свойство disabled: true. Смотрите документацию
                             * @see http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=5931283 */
                            disabled: isSuperAdmin !== true
                        },
                        name_ru: {
                            value: this.params.item && this.params.item.name_ru ? this.params.item.name_ru : '',
                            maxlength: 100,
                            type: 'text',
                            required: false,
                            disabled: isSuperAdmin !== true
                        },
                        name_kk: {
                            value: this.params.item && this.params.item.name_ru ? this.params.item.name_ru : '',
                            maxlength: 100,
                            disabled: isSuperAdmin !== true,
                            type: 'text'
                        },
                        legal_name: {
                            value: this.params.item && this.params.item.legal_name ? this.params.item.legal_name : '',
                            maxlength: 100,
                            type: 'text',
                            required: true,
                            disabled: isSuperAdmin !== true
                        },
                        contract_number: {
                            type: 'text',
                            value: this.params.item && this.params.item.contract_number ? this.params.item.contract_number : '',
                        },
                        email: {
                            type: 'email',
                            maxlength: 100,
                            value: this.params.item && this.params.item.email ? this.params.item.email : '',
                        },
                        contact_person: {
                            type: 'text-html',
                            label: 'app.contacts',
                            value: this.params.item && this.params.item.contact_person ? this.params.item.contact_person : '',
                        },
                        is_moderated: {
                            type: 'checkbox',
                            value: this.initFormBoolValue('is_moderated'),
                        },
                        is_supplier: {
                            type: 'checkbox',
                            value: this.initFormBoolValue('is_supplier') ,
                        },
                        city_id: {
                            type: 'select',
                            name: 'city-select',
                            config: {
                                id: 'city-select',
                                selected: this.params.item && this.params.item.city_id
                                        ? this.params.item.city_id
                                        : null,
                                initialState: {
                                    id: this.params.item && this.params.item.city && this.params.item.city.id ? this.params.item.city.id : null,
                                    text: this.params.item && this.params.item.city && this.params.item.city.name ? this.params.item.city.name : null
                                },
                                useAjax: true,
                                roles: [ 'super-admin', 'product-moderator' ],
                                label: 'app.home_city',
                                item: {
                                    id: null,
                                    text: null
                                },
                                onSelectEvent: 'set-organization',
                                url: 'cities/search',
                                placeholder: 'app.select_organization'
                            }
                        },

                        errors: []
                    },
                    mainCropper: null,
                    backgroundCropper: null
                }
            },

            /**
             * Сохранение изменений
             */
            store(){

                let url = this.params.item ? '/organizations/' + this.params.item.id : '/organizations';

                this.$http.post( url, this.getFormData() )
                        .then(
                                // success
                                response => {

                                    if ( response && response.data === 'stored' ) {
                                        this.goBack();
                                    } else {
                                        console.log( response );
                                    }

                                },

                                // error
                                response => {

                                    if ( !(response && response.data && response.status == 422) ) {
                                        console.log( response );
                                        return;
                                    }

                                    this.form.errors = response.data;
                                } )
                        .bind( this );
            },

            /**
             *  Настройка объекта FormData для отправки
             **/
            getFormData(){

                var formData = new FormData();

                if ( this.$els.logo.files[ 0 ] ) {
                    formData.append( 'logo', this.$els.logo.files[ 0 ] );
                }

                formData.append( 'city_id', this.form.city_id.config.selected );
                formData.append( 'name_ru', this.form.name_ru.value );
                formData.append( 'name_kk', this.form.name_kk.value );
                formData.append( 'name_en', this.form.name_en.value );
                formData.append( 'legal_name', this.form.legal_name.value );
                formData.append( 'is_moderated', this.form.is_moderated.value );
                formData.append( 'is_supplier', this.form.is_supplier.value );
                formData.append( 'email', this.form.email.value );
                formData.append( 'contract_number', this.form.contract_number.value );
                formData.append( 'contact_person', this.form.contact_person.value );

                if ( this.updating ) {
                    formData.append( '_method', 'PATCH' );
                    formData.append( 'remove_logo', this.remove_logo );
                    formData.append( 'id', this.params.item.id );
                }

                return formData;
            },
            cancel(){
                $( '#confirm-modal' ).modal( 'show' );
            },
            cancelConfirm(){
                this.goBack();
            }
        },
        events: {
            'edit-aliases': function() {
                this.goToBlank( 'aliases', 'organizations', this.params.item.id );
            },
            'set-organization': function( value ) {
                try {
                    this.form.city_id.config.selected = parseInt( value );
                } catch (e) {
                    console.error( e );
                }
            }
        }
    }
</script>
<style scoped>
    .image-preview-wrapper-form > img {
        margin-bottom: 10px;
    }
</style>