<template>

    <v-header :title="pageHeader" :total="pagination.total"></v-header>

    <div class="main-box-body clearfix">

        <v-table :table-data="tableData"
                 :filter-data="filterData"
                 :on-change="getOrganizations"
                 :pagination="pagination"
                 :reset-filter="reset"
        >

            <div class="row align-info-table" v-for="item in pagination.data">

                <v-cell classes="text-left">
                    <a :id="setPrefixedId('open-device-log-link-', item.id)"
                       :href="getLinkTo(tableData.model, item.id, 'manage-users' )"
                    >{{ item.name | str_limit 30 }}</a>
                </v-cell>

                <v-cell classes="text-left">{{ item.legal_name || '-' }}</v-cell>
                <v-cell>{{ item.contract_number || '-' }}</v-cell>
                <v-cell>{{ item.email || '-' }}</v-cell>
                <v-cell>
                    <v-dropdown
                            :index="$index"
                            :item-id="item.id"
                            :type="item.is_moderated ? 'success' : 'primary'"
                            :roles="['super-admin', 'organization-moderator']"
                            :title-if-deny="true"
                            :title="item.is_moderated ? 'app.moderated' : 'app.not_moderated'"
                            :buttons="getButtonsForDropdown(item)"
                    ></v-dropdown>
                </v-cell>

                <v-cell>

                    <v-table-button :id="setPrefixedId('attached-cities-', item.id)"
                                    label="app.organization_cities"
                                    icon="globe"
                                    color="#3498db"
                                    @click.prevent="goTo(tableData.model, item.id, 'cities' )"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('users-', item.id)"
                                    label="app.organization_users"
                                    icon="users"
                                    color="#3498db"
                                    @click.prevent="goTo(tableData.model, item.id, 'manage-users' )"
                    ></v-table-button>

                    <v-table-button :id="'show-contact-'+item.id+'-link'"
                                    label="app.contact_view"
                                    icon="user"
                                    color="#3498db"
                                    v-if="item.contact_person"
                                    @click.prevent="openContactUser('modal-contact-person-' + item.id )"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('merge-button-', item.id)"
                                    label="app.merge_organizations_get_main"
                                    v-if="$root.$refs.vm.hasRole('super-admin'
                                    )"
                                    icon="code-fork fa-rotate-270"
                                    @click.prevent="goTo( tableData.model, item.id, 'merge' )"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('aliases-button-', item.id)"
                                    label="app.edit_organization_aliases"
                                    icon="tags"
                                    v-if="$root.$refs.vm.hasRole('super-admin', 'organization-moderator')"
                                    @click.prevent="goToBlank( 'aliases', 'organizations', item.id )"
                    ></v-table-button>


                    <v-table-button :id="setPrefixedId('edit-button-', item.id)"
                                    label="app.organization_edit"
                                    icon="pencil"
                                    @click.prevent="goTo( tableData.model, item.id, 'edit' )"
                    ></v-table-button>

                    <v-bootstrap-modal :id="'modal-contact-person-' +item.id" size="modal-md">

                        <div slot="header">
                            <strong>{{{ $t('app.contact_view')}}}</strong>
                        </div>

                        <div slot="body">
                            <p class="text-left">{{{item.contact_person}}}</p>
                        </div>

                        <div slot="footer">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="close-modal-button">{{{ $t('app.close') }}}
                            </button>
                        </div>

                    </v-bootstrap-modal>

                </v-cell>
            </div>
        </v-table>

    </div>

</template>

<style scoped>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';

    export default{
        mixins: [ mIndex, mGlobal ],
        components: {
            'v-dropdown': require( "../../components/v-dropdown.vue" ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" )
        },
        data(){
            return this.initialState()
        },
        created(){
            this.getOrganizations();
        },
        methods: {

            /**
             * Первоначальное состояние страницы
             */
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.organizations'
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'organizations',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'name',
                                isSortable: true,
                                sortableField: 'name_ru',
                                classes: 'text-left'
                            },
                            {
                                name: 'legal_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'contract_number',
                                isSortable: false
                            },
                            {
                                name: 'email_en',
                                isSortable: false
                            },
                            {
                                name: 'moderation_status',
                                isSortable: false
                            },
                            {
                                name: 'actions',
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        historyEventName: 'history-back-event',
                        search: {
                            name: {
                                value: '',
                                label: 'name',
                                minSearchLength: 2,
                                placeholder: 'name_placeholder'
                            }
                        },
                        radios: [
                            {
                                label: 'moderation',
                                name: 'moderation',
                                use: false,
                                selected: '',
                                positions: [
                                    'is_moderated',
                                    'is_not_moderated'
                                ]
                            }
                        ],
                        sort: {
                            name: 'name_ru',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'add-organization-button',
                                title: 'add',
                                label: 'add',
                                icon: 'plus',
                                eventName: 'new',
                                roles: [ 'super-admin' ],
                                type: 'success'
                            }

                        ]
                    }
                }
            },

            /**
             * Запрос на выборку данных
             * @params {}
             */
            getOrganizations( params = {} ){

                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.name.value,
                    // resources/assets/js/vue/mixins/m-index.js:45
                    radios: vm.transformRadioForRequest(),
                    sort: {
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Инициализация кнопок для компонента dropdown
             */
            getButtonsForDropdown( item = {} ){
                return [ {
                    action: this.moderateOne,
                    actionArgs: [ item.id, !item.is_moderated ],
                    title: item.is_moderated ? 'app.not_moderated' : 'app.moderated',
                    id: 'set-moderation-status-to-' + item.id
                } ];
            },

            /**
             * Модерировать компанию
             */
            moderateOne( id = 0, status = false ){
                this.$http.get( 'organizations/moderate', { ids: [ id ], status: status } )
                        .then( ( r )=> this.getOrganizations(), ( r )=> console.log( r ) ).bind( this );
            },

            /**
             * Сброс фильтров
             */
            reset(){

                let vm = this;
                this.resetFilter( {
                    getData(){
                        vm.getOrganizations();
                    }
                } );
            },
            openContactUser(id){
                $(`#${id}`).modal('show');
            }
        },
        events:{
            'new':function(){
                this.goTo( 'organizations', 'create' );
            },
            'history-back-event':function(event={}){
                this.getOrganizations(event);
            }
        }
    }
</script>