<template>
    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body clearfix">
            <div class="col-sm-12" v-if="!params.has_users">
                <div class="form-group">
                    <p>{{{ $t('app.merge_with', {name: params.item.name}) }}}</p>
                </div>
            </div>
            <div class="col-sm-6" v-if="!params.has_users">

                <div class="form-group">
                    <v-select :select-data.sync="select"
                              :appendix="excludeProducts"
                              :on-change="select.onSelectEvent"
                    ></v-select>
                </div>

                <div class="form-group">

                    <v-button v-show="select.selected!=null"
                              id="merge-button"
                              label="merge"
                              parent-class="inline-block-padding-right-5"
                              :on-click="merge"
                    ></v-button>

                    <v-button id="open-cancel-merge-modal-button"
                              label="cancel"
                              parent-class="disable-padding-inline-block"
                              :on-click="openCancelModal"
                    ></v-button>
                </div>
            </div>

            <div class="alert alert-danger" v-if="params.has_users">
                <h4>{{{ $t('app.has_user') }}}</h4>
                <p>{{{ $t('app.link_to_users') }}}
                    <a href="#"
                       id="link-to-users"
                       @click.prevent="goTo('organizations', params.item.id, 'manage-users' )">
                        Здесь
                    </a>
                </p></div>
        </div>


        <v-bootstrap-modal id="cancel-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t('app.cancel_merging') }}}</p></div>

            <div slot="footer">
                <v-button
                          id="continue-cancel-modal-button"
                          label="continue"
                          :on-click="goBack"
                          type="success"
                ></v-button>

                <v-button
                          id="close-cancel-modal-button"
                          label="cancel"
                          :on-click="closeCancelModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>
<style scoped>

    .inline-choose-product {
        display: inline-block;
        margin-right: 10px;
    }

    /* иконки маленькие из за этого увеличиваем занимаемое ими место для удобсва клика мышкой */
    .scale-for-icon {
        padding: 5px;
        cursor: pointer;
    }

</style>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                pageHeader: {
                    label: 'app.merge_organizations'
                },
                model: 'organizations',
                select: {

                    id: 'organization-select',
                    selected: null,
                    initialState: {
                        id: null,
                        text: null
                    },
                    useAjax: true,
                    label: 'app.organization',
                    item: {
                        id: null,
                        text: null
                    },
                    onSelectEvent: 'set-organization',
                    url: 'organizations/merging-filter',
                    placeholder: 'app.select_organization'
                }
            }
        },
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' )
        },
        methods: {

            /**
             * Объединяем организации
             **/
            merge(){

                this.$http.patch( '/organizations/' + this.params.item.id + '/merge', {
                            master_id: this.select.selected,
                            slave_ids: this.params.item.id,
                            _method: 'PATCH'
                        } )
                        .then( response => {

                                    if ( response.data == 'success' ) {
                                        this.goBack();
                                    } else {
                                        console.error( 'Problem while saving product' );
                                    }

                                },
                                response => this.handleSessionTimeOut( response ) )
                        .bind( this );
            },

            /**
             * Рисуем строки компонента select2
             *
             * @param item
             * @returns {{id: number, text: (*|string), name: (*|string), legalName: *}}
             */
            processSelectResults( item ){
                return {
                    id: item.id,
                    text: item.name
                }
            },
            excludeProducts(){
                return { id: this.params.item.id };
            },
            openCancelModal(){
                $( '#cancel-modal' ).modal( 'show' );
            },
            closeCancelModal(){
                $( '#cancel-modal' ).modal( 'hide' );
            },
            closeConfirmModal(){
                $( '#confirm-modal' ).modal( 'hide' );
            }
        },
        events: {

            'edit-aliases': function() {
                this.goToBlank( 'aliases', 'organizations', this.params.item.id );
            },
            'set-organization': function( value ) {
                try {
                    this.select.selected = parseInt( value );
                } catch (e) {
                    console.error( e );
                    throw new Error( 'Wrong id is selected' );
                }
            }
        },
    }
</script>
