<template>
    <div>
        <v-header :title="pageHeader"></v-header>


        <div class="main-box-body clearfix">
            <div class="row">
                <div class="col-sm-12">
                    <v-button
                            id="add-alias-button"
                            label="add_organization_city_presents"
                            title="add_organization_city_presents"
                            :on-click="add"
                            type="success"
                            icon="plus"
                            parent-class="disable-padding-inline-block"
                    ></v-button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="list-container" v-if="params.item.city_presents.length">
                        <div v-for="city in params.item.city_presents" style="display: flex;">
                            <div class="col-sm-10 list-column-name">
                                <p>{{ city.name }}</p>
                            </div>
                            <div class="col-sm-2 text-left list-column-button"
                                 title="{{{ $t('app.detach') }}}"
                                 id="destroy-alias-{{city.id}}-button"
                                 @click="destroy( city.id, city.name )">
                                <p><i class="fa fa-trash"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <v-bootstrap-modal id="form-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.add_organization_city_presents') }}}</strong></div>
            <div slot="body">
                <div class="form-group">
                    <v-select
                            :select-data.sync="selects.country"
                            :on-select="onCountrySelect"
                    ></v-select>
                </div>

                <div class="form-group">
                    <v-select :select-data.sync="selects.region"
                              :on-select="onRegionSelect"
                              :on-change="setRegion"
                              :appendix="includeCountry"
                    ></v-select>
                </div>

                <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('city_id')}">
                    <v-select :select-data.sync="selects.city"
                              :appendix="includeRegion"
                              :on-change="setCity"
                    ></v-select>
                    <div v-for="error in getCityErrors()" class="help-block">
                        {{{ error }}}
                    </div>
                </div>
            </div>

            <div slot="footer">
                <v-button
                        id="store-alias-button"
                        :on-click="store"
                        title="attach"
                        label="attach"
                        type="success"
                        icon="check"
                        v-show="changing.status && selects.city.selected"
                        parent-class="disable-padding-inline-block"
                ></v-button>

                <v-button
                        id="cancel-button"
                        :on-click="cancel"
                        type="warning"
                        title="cancel"
                        label="cancel"
                        icon="ban"
                        v-show="changing.status"
                        parent-class="disable-padding-inline-block"
                ></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="warning-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body">
                <p>{{{ $t('app.city_will_be_removed', { name: changing.name, organization_name:params.item.name }) }}}</p>
            </div>

            <div slot="footer">
                <v-button
                        id="continue-modal-button"
                        label="continue"
                        :on-click="destroyConfirm"
                        type="success"
                ></v-button>

                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                >{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mGlobal ],
        ready() {
            this.initCountrySelect();
        },
        data(){
            return {
                pageHeader: {
                    label: 'app.attached_cities',
                    params: {
                        name: this.params.item.name
                    }
                },
                errors: {},
                selects: {
                    country: {
                        id: 'country-select',
                        useAjax: false,
                        label: 'app.country',
                        item: {
                            id: null,
                            text: null,
                        },
                        items: [],
                        url: 'countries/search',
                        placeholder: 'app.select_country',
                        reset: false
                    },
                    region: {
                        id: 'region-select',
                        useAjax: true,
                        label: 'app.region',
                        item: {
                            id: null,
                            text: null
                        },
                        items: [],
                        url: 'regions/search',
                        placeholder: 'app.select_region',
                        reset: false,
                        disabled: true
                    },
                    city: {
                        id: 'city-select',
                        useAjax: true,
                        label: 'app.city',
                        item: {
                            id: null,
                            text: null
                        },
                        items: [],
                        selected: null,
                        url: 'cities/search',
                        placeholder: 'app.select_city',
                        reset: false,
                        disabled: true
                    }
                },
                changing: {
                    status: false,
                    name: '',
                    item_id: null
                },
            }
        },
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' )
        },
        methods: {

            /**
             * Добавить новый псевдоним
             */
            add(){
                this.changing.status = true;

                $( '#form-modal' ).modal( 'show' );
            },

            /**
             * Сохранение изменений
             */
            store(){

                if ( this.selects.city.selected === null ) {
                    alert( 'You didnt select the city!' );
                    return
                }

                // store in DB
                this.sendRequest( this.getUrl( this.selects.city.selected, 'attach' ), responce => {

                    if ( typeof responce === 'string' && responce === 'alreadyAttached' ) {

                        let name = this.changing.name;

                        alert( translate( 'app.city_attached', {
                            city_name: name,
                            organization_name: this.params.item.name
                        } ) );

                        this.cancel();
                        return;
                    }

                    // store on current view
                    this.params.item.city_presents.push( responce );
                    this.cancel();
                } );
            },

            /**
             * Открыть модальное окно подтверждения удаления псевдонима
             */
            destroy( id = undefined, name = 'Deleted item' ){

                this.changing.name = name;
                this.changing.item_id = id;

                $( '#warning-modal' ).modal( 'show' );
            },

            /**
             * Удаление псевдонима
             */
            destroyConfirm(){
                let vm = this;

                if ( vm.changing.item_id == null ) {
                    console.error( 'You can not delete item. Id not specified!' );
                    return;
                }

                // destroy in DB
                vm.sendRequest( vm.getUrl( this.changing.item_id, 'detach' ), status => {

                    if ( status !== 'success' ) {
                        console.error( 'Cant detach city from organization' );
                        return
                    }

                    // destroy on current view
                    vm.params.item.city_presents = vm.params.item.city_presents.filter(
                            value => value.id !== vm.changing.item_id );

                    vm.cancel();
                } );

                $( '#warning-modal' ).modal( 'hide' );
            },

            /**
             * Отмена изменений
             */
            cancel(){
                this.$broadcast( 'select-reset', this.selects.region.id );
                this.$broadcast( 'select-reset', this.selects.city.id );
                this.selects.region.disabled = false;
                this.selects.city.disabled   = true;

                this.changing.status  = false;
                this.changing.item_id = null;
                this.changing.name    = null;

                $( '#form-modal' ).modal( 'hide' );
            },

            /**
             * Отправка запроса на сервер
             *
             * @param url
             * @param callback
             */
            sendRequest( url, callback = ()=> {} ){

                this.$http.post( url ).then(
                        r=> typeof callback === 'function' && callback( r.data ),
                        r=> console.error( r.data )
                );
            },

            /**
             * Получить URL для запроса
             *
             * @param city_id
             * @param action
             * @returns {string}
             */
            getUrl( city_id, action = 'attach' ){

                return '/' + [ 'organizations', this.params.item.id, 'cities', city_id, action ].join( '/' );
            },

            /* Работа с компонентами vSelect */

            getCityErrors(){
                if (this.errors.hasOwnProperty('city_id')){
                    return this.errors;
                }

                return [];
            },
            includeCountry() {
                return JSON.stringify( {
                    countryId: this.selects.country.selected,
                } );
            },
            includeRegion() {
                return JSON.stringify( {
                    regionId: this.selects.region.selected,
                } );
            },
            setRegion( id ){
                this.selects.region.selected = id;
            },
            setCity( id ){
                this.selects.city.selected = id;
            },
            onCountrySelect() {
                this.$broadcast( 'select-reset', this.selects.region.id );
                this.$broadcast( 'select-reset', this.selects.city.id );
                this.selects.region.disabled = false;
                this.selects.city.disabled   = true;
            },
            onRegionSelect() {
                this.$broadcast( 'select-reset', this.selects.city.id );
                this.selects.city.disabled = false;
            },
            initCountrySelect() {
                let vm = this;

                vm.$http.get( '/' + vm.selects.country.url ).then(
                        function( response ) {
                            if ( !response || !response.data ) {
                                return;
                            }

                            let data = response.data;

                            this.selects.country.items = [];

                            data.forEach( function( item ) {
                                vm.selects.country.items.push( {
                                    id: item.id,
                                    text: item.name
                                } );
                            } );

                            vm.selects.country.selected = null;
                        },
                        function( response ) {
                            console.error( response );
                        }
                );
            },

            /* Работа с компонентами vSelect - Конец */
        }
    }
</script>
<style scoped>

    @media (max-width: 520px) {
        .list-container {
            margin-top: 10px;
            width: 100% !important;
        }

        /*.form, .form-buttons {*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin: 10px 0;*/
        /*}*/
        .alias-input {
            width: 100%;
        }

        .main-box-body {
            min-width: 240px;
        }
    }

    /*.form, .form-buttons {*/
    /*display: inline-block;*/
    /*}*/

    .list-container {
        width: 450px;
        margin: 10px 0 0 0;
        border-bottom: 1px solid #dddddd;
    }

    .list-column-button:hover {
        background-color: #f1f1f1;
    }

    .list-column-name {
        border: 1px solid #dddddd;
        width: 85%;
        display: inline-block;
    }

    .list-column-name, .list-column-button {
        border-bottom: none !important;
    }

    .list-column-name:last-child {
        border-bottom: 1px solid #dddddd;
    }

    .list-column-name > p {
        margin: 10px !important;
    }

    .list-column-button {
        border: 1px solid #dddddd;
        border-left: none;
        padding: 0;
        margin: 0;
        width: 15%;
        display: inline-block;
    }

    .list-column-button > p {
        text-align: center;
        margin: 10px !important;

    }

    .list-column-button > p > i {
        margin-right: 0px !important;
    }

    .main-box-body {
        min-height: 300px;
    }

</style>