<template>
    <div class="main-box-body">

        <h1 style="margin-top: 30px; ">{{{ $t('app.users') }}}</h1>

        <v-view :view-data="view" :use-back-link="false"></v-view>

        <h1 v-show="view.item.users.length">{{{ $t('app.attached_users') }}}</h1>

        <h1 v-show="! view.item.users.length">{{{ $t('app.no_user', {name: view.item.name}) }}}</h1>


        <div class="list-container" v-show="view.item.users.length">
            <div v-for="user in view.item.users" style="display: flex;">
                <div class="col-sm-10 list-column-name">
                    <p>{{ user.name }}</p>
                </div>
                <div class="col-sm-2 text-left list-column-button" id="detach-user-from-organization-{{user.id}}"
                     @click="showDetachModal(user.id, user.name )">
                    <p><i class="fa fa-trash"></i></p>
                </div>
            </div>
        </div>

        <v-bootstrap-modal id="select-user-modal" size="modal-md" backdrop="static">
            <div slot="body">
                <div class="row">
                    <div class="col-sm-12 image-holder">
                        <v-select :select-data.sync="select.user" :on-change="selectUser"></v-select>
                    </div>
                </div>

            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        aria-label="Confirm"
                        @click.prevent="attachUser"
                        id="modal-confirm">{{{ $t('app.select') }}}
                </button>

                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-info" size="modal-md" backdrop="static">
            <div slot="header">
                {{{ $t('app.attention' ) }}}
            </div>
            <div slot="body">
                {{{ modalContent }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-info-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-delete" size="modal-md" backdrop="static">
            <div slot="header">
                {{{ $t('app.attention' ) }}}
            </div>
            <div slot="body">
                {{{ $t('app.user_will_be_detached', {user: detachUserName, organization:this.view.item.name}) }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-danger"
                        @click="detachUser"
                        id="modal-confirm-detach-close">{{{ $t('app.confirm') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-delete-close">{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                view: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: this.params.item,
                    fields: [
                        {
                            name: 'name',
                            link: false,
                            computed: 'getOrganizationName'
                        },
                        'legal_name',
                        'contract_number',
                        'email',
                        {
                            name: 'contact_person',
                            link: false,
                            computed: 'getContactPerson'
                        },
                        {
                            name: 'home_city',
                            link: false,
                            computed: 'getHomeCityName'
                        },
                        {
                            name: 'is_moderated',
                            link: false,
                            computed: 'getModerationStatus'
                        }
                    ],
                    buttons: [
                        {
                            id: 'set-status-moderated',
                            title: 'do_moderate',
                            label: 'do_moderate',
                            computed: 'notModerated',
                            eventName: 'moderate',
                            type: 'success',
                            parentClass: 'padding-reset'
                        },
                        {
                            id: 'set-status-not-moderated',
                            title: 'do_not_moderate',
                            label: 'do_not_moderate',
                            computed: 'moderated',
                            eventName: 'moderate',
                            type: 'danger',
                            parentClass: 'padding-reset'

                        }, {
                            id: 'edit',
                            title: 'edit',
                            icon: 'pencil',
                            eventName: 'edit',
                        },

                        {
                            id: 'organization-cities-button',
                            title: 'organization_cities',
                            icon: 'globe',
                            eventName: 'edit-organization-cities',
                        },
                        {
                            id: 'merge',
                            title: 'merge_to',
                            icon: 'code-fork fa-rotate-270',
                            eventName: 'merge',
                        },
                        {
                            id: 'aliases',
                            title: 'edit_organization_aliases',
                            icon: 'tags',
                            eventName: 'edit_aliases',
                        },
                        {
                            id: 'user-attach',
                            title: 'attach_user',
                            icon: 'user-plus',
                            eventName: 'attach-user',
                        }
                    ],
                },
                select: {
                    user: {
                        id: 'user-select',
                        useAjax: false,
                        label: 'app.select_user',
                        items: [],
                        selected: '',
                        placeholder: 'app.select_user'
                    }
                },
                modalContent: '',
                detachUserId: null,
                detachUserName: null
            }
        },
        created(){
            this.view.item = this.params.item;
            this.$set( 'select.user.items', this.unAttachedUsers );
        },
        computed: {
            /**
             * Список пользователей, отображаемый в выпадающем списке
             **/
            unAttachedUsers(){
                return (_.differenceBy( this.params.users, this.params.item.users, 'id' ))
                        .map( user => {return { id: user.id, text: user.name }} );
            },

            /**
             * Организация отмодерирована
             **/
            moderated(){
                return this.view.item.is_moderated
            },

            /**
             * Организация не отмодерирована
             **/
            notModerated(){
                return !this.view.item.is_moderated
            },

            /**
             * Коллбек функция возвращает имя города организации
             * Используется во v-view
             * @returns {*}
             */
            getHomeCityName(){
                return this.view.item.city ? this.view.item.city.name : translate( 'app.no_main_city_in_organization' );
            },

            /**
             * Коллбек функция возвращает статус модерации
             * Используется во v-view
             * @returns {*}
             */
            getModerationStatus(){
                return this.view.item.is_moderated
                        ? `<div class="label label-success">${translate( 'app.moderated' )}</div>`
                        : `<div class="label label-danger">${translate( 'app.not_moderated' )}</div>`
            },

            /**
             * Коллбек функция возвращает представителя организации
             * Используется во v-view
             * @returns {*}
             */
            getContactPerson(){
                return this.view.item.contact_person || translate( 'app.not_defined' );
            },

            /**
             * Коллбек функция возвращает представителя организации
             * Используется во v-view
             * @returns {*}
             */
            getOrganizationName(){
                return this.view.item.legal_name || this.view.item.name || this.view.item.name_ru;
            }
        },
        components: {
            'vm-organization-edit': require( './vm-form.vue' ),
            'v-view': require( "../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'v-select': require( '../../components/v-select.vue' )
        },
        methods: {

            /**
             * Прикрепить пользователя от организации
             *
             * @returns {*}
             **/
            attachUser(){

                if ( !this.select.user.selected ) {
                    console.error( 'User id not selected ' );
                    return;
                }

                this.$http.get( '/organizations/' + this.view.item.id + '/attach-user', {
                            id: this.view.item.id,
                            user_id: this.select.user.selected
                        } )
                        .then(
                                r => {
                                    this.select.user.selected = '';
                                    $( '#select-user-modal' ).modal( 'hide' );
                                    this.params.item.users.push( r.data );
                                    this.$set( 'select.user.items', this.unAttachedUsers );

                                },
                                r => {
                                    console.error( r.data );
                                } ).bind( this );
            },

            /**
             * Открыть модальное окно подтверждения открепления
             *
             * @param user_id     - Идентификатор пользователя
             * @param user_name   - Имя пользователя
             **/
            showDetachModal( user_id = null, user_name = null ){

                this.detachUserId = user_id;
                this.detachUserName = user_name;

                $( '#modal-delete' ).modal( 'show' );
            },

            /**
             * Открепить пользователя от организации
             *
             * @returns {*}
             **/
            detachUser(){

                if ( !this.detachUserId ) {
                    console.error( 'User id not specified' );
                    return;
                }

                this.$http.get( '/organizations/' + this.view.item.id + '/detach-user', {
                            id: this.view.item.id,
                            user_id: this.detachUserId
                        } )
                        .then(
                                r => {
                                    $( '#modal-delete' ).modal( 'hide' );

                                    if ( r.data == 'current_user_attached_to_this_organization' ) {
                                        this.modalContent = translate( 'app.user_current_detach_error', { name: this.view.item.name } );
                                        $( '#modal-info' ).modal( 'show' );
                                        return;
                                    }

                                    if ( r.data == 'user_already_detached' ) {
                                        this.modalContent = translate( 'app.already_detached' );
                                        $( '#modal-info' ).modal( 'show' );
                                        return;
                                    }

                                    this.params.item.users = this.params.item.users.filter( user=> user.id != r.data.id );
                                    this.$set( 'select.user.items', this.unAttachedUsers );
                                },
                                r => {
                                    console.error( r.data );
                                } ).bind( this );
            },

            /**
             * Установить выбранного пользователя
             *
             * @params selected - User id
             **/
            selectUser( selected ){
                try {
                    this.select.user.selected = parseInt( selected );
                } catch (e) {
                    throw new Error( 'Error when parsing' );
                }
            },
        },
        events: {
            'moderate': function() {
                this.$http
                        .get( '/organizations/moderate', {
                            ids: [ this.view.item.id ],
                            status: !this.view.item.is_moderated
                        } )
                        .then( ( r )=> { this.view.item.is_moderated = !this.view.item.is_moderated; }, ( r ) => console.log( r ) )
                        .bind( this );
            },
            'edit': function() {
                this.goTo( 'organizations', this.view.item.id, 'edit' );
            },
            'merge': function() {
                this.goToBlank( 'organizations', this.view.item.id, 'merge' );
            },
            'edit_aliases': function() {
                this.goToBlank( 'aliases', 'organizations', this.view.item.id );
            },
            'attach-user': function() {
                $( '#select-user-modal' ).modal( 'show' );
            },
            'edit-organization-cities': function() {
                this.goTo( 'organizations', this.view.item.id, 'cities' );
            }
        }
    }
</script>
<style scoped>
    @media (max-width: 520px) {
        .list-container {
            width: 100% !important;
        }
    }

    .list-container {
        width: 450px;
        margin: 0;
        border-bottom: 1px solid #dddddd;
    }

    .list-column-button:hover {
        background-color: #f1f1f1;
    }

    .list-column-name {
        border: 1px solid #dddddd;
        width: 85%;
        display: inline-block;
    }

    .list-column-name, .list-column-button {
        border-bottom: none !important;
    }

    .list-column-name:last-child {
        border-bottom: 1px solid #dddddd;
    }

    .list-column-name > p {
        margin: 10px !important;
    }

    .list-column-button {
        border: 1px solid #dddddd;
        border-left: none;
        padding: 0;
        margin: 0;
        width: 15%;
        display: inline-block;
    }

    .list-column-button > p {
        text-align: center;
        margin: 10px !important;

    }

    .list-column-button > p > i {
        margin-right: 0px !important;
    }


</style>

