<template>

    <header class="main-box-header clearfix">
        <div class="filter-block">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="main-box small-graph-box red-bg">
                        <span class="value">{{ params.deviceStat.total }}</span>
                        <span class="headline"> {{{ $t('app.device_total') }}}</span>

                            <span class="subinfo"><i class="fa fa-tablet"></i>
                                {{{ $t('app.device_unknown', {item : params.deviceStat.unknownPercentage}) }}}</span>
                            <span class="subinfo"><i class="fa fa-android"></i>
                                {{{ $t('app.device_android', {item : params.deviceStat.androidPercentage}) }}}</span>
                            <span class="subinfo"><i class="fa fa-apple"></i>
                                {{{ $t('app.device_ios', {item : params.deviceStat.iosPercentage}) }}}</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="main-box small-graph-box emerald-bg">
                        <span class="value">{{ params.clusterStat.total}}<span>
                        <span class="headline">{{{ $t('app.cluster_total') }}}</span>
                        <span class="subinfo">
                            <i class="fa fa-arrow-circle-o-down"></i>
                            {{{ $t('app.clusters_fixed', {percentage: params.clusterStat.fixedPercentage }) }}}
                        </span>
                        <span class="subinfo">
                            <i class="fa fa-arrow-circle-o-down"></i>
                            {{{ $t('app.clusters_moderated', { percentage: params.clusterStat.moderatedPercentage }) }}}
                        </span>
                        <span class="subinfo">
                            <i class="fa fa-arrow-circle-o-down"></i>
                            {{{ $t('app.clusters_licensed', { percentage: params.clusterStat.licensedPercentage }) }}}
                        </span>
                        <span class="subinfo">
                            <i class="fa fa-globe"></i>
                            {{{ $t('app.cluster_used', { clusterInChecks: params.clusterStat.clusterInChecks, percentage: params.clusterStat.clusterInChecksPercentage }) }}}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="main-box small-graph-box purple-bg">
                        <span class="value">{{ params.productStat.scansTotal}}<span>
                        <span class="headline">{{{ $t('app.checks_total') }}}</span>
                        <span class="subinfo">
                            <i class="fa fa-check"></i>
                            {{{ $t('app.checks_with_geo', {item: params.productStat.scansWithGeo }) }}}
                        </span>
                        <span class="subinfo">
                            <i class="fa fa-ban"></i>
                            {{{ $t('app.checks_without_geo', { item: params.productStat.scansWithoutGeo }) }}}
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="main-box small-graph-box green-bg">
                        <span class="value">{{ params.productStat.total }}</span>
                        <span class="headline">{{{ $t('app.product_total') }}}</span>
                        <span class="subinfo">{{{ $t('app.item_valid', {item:params.productStat.valid } ) }}} </span>
                        <span class="subinfo">{{{ $t('app.item_fake', {item:params.productStat.fake +params.productStat.atlas }) }}} </span>
                        <span class="subinfo">{{{ $t('app.item_duplicate', {item:params.productStat.duplicate }) }}} </span>
                        <span class="subinfo">{{{ $t('app.item_hand', {item:params.productStat.handSum }) }}} </span>
                        <span class="subinfo">{{{ $t('app.item_scan', {item:params.productStat.scanSum }) }}} </span>
                        <span class="subinfo">{{{ $t('app.check_without_geo', {item:params.productStat.checksWithoutGeolocation }) }}} </span>
                    </div>
                </div>


            </div>

        </div>

    </header>

    <div id="devices-block" class="relative">

        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getDevices"
                     :pagination="pagination"
                     :reset-filter="reset"
            >

                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">
                        <a :id="setPrefixedId('open-device-log-link-', item.uuid)"
                           :href="getLinkTo(tableData.model, item.uuid, 'log' )"
                        >{{* item.uuid }}</a>
                    </v-cell>

                    <v-cell classes="text-left">
                        {{* (item.model || '-') + ', ' + (item.platform || '-') }}
                    </v-cell>

                    <v-cell classes="text-left">{{* item.updated_at || $t('app.no_info') }}</v-cell>

                    <v-cell>

                        <v-table-button :id="setPrefixedId('show-log-button-', item.uuid)"
                                        label="app.show_log" icon="search"
                                        color="#3498db"
                                        @click.prevent="goTo(tableData.model, item.uuid, 'log' )"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('show-msg-button-', item.uuid)"
                                        label="app.show_msg"
                                        icon="forward"
                                        color="#3498db"
                                        @click.prevent="goTo('supports', item.uuid, 'show-msg' )"
                                        v-if="item.feedback_messages_count>0"
                        ></v-table-button>

                        <v-table-button :id="setPrefixedId('open-push-button-', item.uuid)"
                                        label="app.push"
                                        icon="paper-plane"
                                        color="#3498db"
                                        @click.prevent="goWithParamsToSegments({ uuid: item.uuid  }, 'push-notifications', 'create'  )"
                                        v-if="item.push_token"
                        ></v-table-button>

                    </v-cell>
                </div>

            </v-table>

        </div>
    </div>

</template>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getDevices();
        },
        methods: {
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.devices'
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'devices',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'uuid',
                                width: 20,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'model_platform',
                                width: 20,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'updated_at',
                                width: 20,
                                isSortable: true,
                                sortableField: 'updated_at',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                width: 20,
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        search: {
                            uuid: {
                                value: '',
                                label: 'search_uuid',
                                placeholder: 'uuid_placeholder'
                            }
                        },
                        sort: {
                            name: 'updated_at',
                            direction: 'desc'
                        },
                        activity_sort: false
                    },
                    modalPush: {
                        uuid: ''
                    }
                }
            },
            getDevices( params = {} ){

                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    searchByUuid: vm.filterData.search.uuid.value,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getDevices();
                    }
                } );
            },
        }
    }
</script>