<template>
    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-6">

                    <v-form :form="form" v-ref:form>
                        <v-button
                                title="save"
                                id="next-button"
                                label="save"
                                icon="check"
                                type="success"
                                :on-click="store"
                        ></v-button>
                        <v-button
                                title="cancel"
                                id="skip-button"
                                label="cancel"
                                type="default"
                                parent-class="disable-padding-inline-block"
                                :on-click="cancel"
                        ></v-button>
                    </v-form>

                </div>

            </div>
        </div>


        <v-bootstrap-modal id="cancel-modal" size="modal-sm">
            <div slot="header"> {{{ $t('app.attention') }}}</div>
            <div slot="body">
                {{{ $t('app.cancel_question') }}}
            </div>
            <div slot="footer">
                <button type="button"
                        title="{{{ $t('app.continue') }}}"
                        class="btn btn-success"
                        id="continue-button"
                        @click="goToPreviousPage"
                >{{{ $t('app.continue') }}}
                </button>
                <button type="button"
                        title="{{{ $t('app.close') }}}"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button"
                >{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-header': require( "../../components/v-header.vue" ),
            'v-form': require( '../../components/v-form.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'v-button': require( '../../components/v-button.vue' ),
        },
        data(){
            return this.initialState()
        },
        computed: {
            updating(){

                if ( this.params.item ) {
                    return true;
                }

                return false;
            }
        },
        methods: {

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: {
                        label: this.params.item ? 'app.product_type_edit' : 'app.product_type_add'
                    },
                    form: {
                        model: 'product-types',
                        focus: 'name_ru',
                        id: {
                            value: this.params.item ? this.params.item.id : null,
                            name: 'id',
                            hidden: true
                        },
                        name_ru: {
                            value: this.params.item ? this.params.item.name_ru : null,
                            maxlength: 255,
                            type: 'text'
                        },
                        name_kk: {
                            value: this.params.item ? this.params.item.name_kk : null,
                            maxlength: 255,
                            type: 'text'
                        },
                        name_en: {
                            value: this.params.item ? this.params.item.name_en : null,
                            maxlength: 255,
                            required: true,
                            type: 'text'
                        },
                        parent_type: {
                            type: 'select',
                            name: 'parent-type-select',
                            sendFieldKey: 'parent_id',
                            config: {
                                id: 'parent-type-select',
                                initialState: {
                                    id: this.params.item && this.params.item.parent && this.params.item.parent.id ? this.params.item.parent.id : null,
                                    text: this.params.item && this.params.item.parent && this.params.item.parent.name ? this.params.item.parent.name : null
                                },
                                useAjax: true,
                                roles: [ 'super-admin', 'product-moderator' ],
                                label: 'app.parent_type',
                                item: {
                                    id: null,
                                    text: null
                                },
                                selected: null,
                                onSelectEvent: 'set-parent-type',
                                url: 'product-types/search',
                                placeholder: 'app.select_product_type'
                            }
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){
                let vm   = this;
                let data = vm.$refs.form.getData();
                let url  = '/' + this.form.model;

                if ( this.updating ) {
                    data[ '_method' ] = 'PUT';
                    url               = url + '/' + this.params.item.id;
                }

                vm.$http
                        .post( url, data )
                        .then(
                                response => {

                                    if ( response.data.status !== 'success' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    if ( response.data.status === 'success' && response.data.item ) {
                                        vm.goToPreviousPage();
                                    }

                                    console.error( 'Product type was\'t created or updated! Error' );
                                },

                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    }
                                    else {
                                        console.error( response.data );
                                    }
                                } );
            },

            cancel(){
                $( '#cancel-modal' ).modal( 'show' );
            },
            goToPreviousPage(){

                // см resources/assets/js/vue/mixins/m-navigator.js:8
                this.needHistoryPulling = false;

                // см resources/assets/js/vue/mixins/m-navigator.js:41
                this.goBack( 'product-types');
            }
        },
        events: {
            'set-parent-type': function( data ) {
                this.form.parent_type.config.selected = parseInt( data );
            }
        }
    }
</script>