с
<template>

    <v-header :title="pageHeader" :total="pagination.total"></v-header>

    <div class="main-box-body clearfix">

        <v-table :table-data="tableData"
                 :filter-data="filterData"
                 :on-change="getProductTypes"
                 :pagination="pagination"
                 :reset-filter="reset"
        >

            <div class="row align-info-table" v-for="item in pagination.data">

                <v-cell classes="text-left">
                    <a :id="setPrefixedId('open-product-type-link-', item.id)"
                       @click.prevent="goTo(tableData.model, item.id)"
                    >{{ item.name }} (id = {{ item.id }})</a>
                </v-cell>

                <v-cell classes="text-left">
                    <a :id="setPrefixedId('filter-by-parent-type-', item.id)"
                       @click.prevent="filterByParentTypeName(item.parent.name)"
                       v-if="item.parent"
                    >{{ item.parent.name }}</a>
                    <div v-else>
                        {{ '-' }}
                    </div>

                </v-cell>
                <v-cell classes="text-right">

                    <v-table-button :id="setPrefixedId('edit-product-type-button-',item.id)"
                                    label="app.product_type_edit"
                                    icon="pencil"
                                    @click.prevent="edit(item.id)"
                    ></v-table-button>

                    <v-table-button :id="setPrefixedId('show-product-type-button-',item.id)"
                                    label="app.product_type_show"
                                    icon="search"
                                    @click.prevent="goTo( 'product-types', item.id )"
                    ></v-table-button>

                    <!--<v-table-button :id="setPrefixedId('delete-type-button-', item.id)"-->
                    <!--label="app.product_delete"-->
                    <!--v-if="$root.$refs.vm.hasRole('super-admin')"-->
                    <!--icon="trash"-->
                    <!--@click.prevent="remove(item.id)"-->
                    <!--&gt;</v-table-button>-->

                    <!--<v-bootstrap-modal :id="'modal-delete-' + item.id" size="modal-sm">-->

                    <!--<div slot="header"><h2><strong>{{{ $t('app.attention') }}}</strong></h2></div>-->
                    <!--<div slot="body"><h4 class="text-left">{{{ $t( 'app.product_delete' ) }}}?</h4></div>-->
                    <!--<div slot="footer">-->
                    <!--<v-button-->
                    <!--:id="'confirm-cancel-modal-button-' + item.id"-->
                    <!--label="continue"-->
                    <!--:callback="removeConfirm"-->
                    <!--:callback-args="item.id"-->
                    <!--type="danger"-->
                    <!--&gt;</v-button>-->

                    <!--<v-button-->
                    <!--:id="'close-cancel-modal-button-' + item.id"-->
                    <!--label="cancel"-->
                    <!--type="default"-->
                    <!--:callback="removeCancel"-->
                    <!--:callback-args="item.id"-->
                    <!--&gt;</v-button>-->
                    <!--</div>-->
                    <!--</v-bootstrap-modal>-->

                </v-cell>
            </div>
        </v-table>


        <v-bootstrap-modal id="warning-modal" size="modal-sm">

            <div slot="header"><h2><strong>{{{ $t('app.attention') }}}</strong></h2></div>
            <div slot="body"><h4 class="text-left">{{{ $t( 'app.type_has_children' ) }}}</h4></div>
            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                >{{{ $t('app.ok') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>

<style>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }

    .div-table a {
        cursor: pointer;
    }

</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getProductTypes()
        },
        methods: {
            edit(id){
                // см resources/assets/js/vue/mixins/m-navigator.js:8
                this.needHistoryPushing = false;

                // см resources/assets/js/vue/mixins/m-navigator.js:18
                this.goTo( 'product-types', id, 'edit' );
            },
//            remove( id ){
//                $( '#modal-delete-' + id ).modal( 'show' );
//            },
//            removeConfirm( id ){
//                let vm = this;
//                this.$http
//                        .post( this.tableData.model + '/' + id, { product_types: id, _method: 'DELETE' } )
//                        .then(
//                                r => {
//
//                                    if ( r.data === 'hasChildren' ) {
//                                        $( '#modal-delete-' + id ).modal( 'hide' );
//                                        $( '#warning-modal' ).modal( 'show' );
//                                    }
//
//                                    if ( r.data === 'remover' ) {
//                                        $( '#modal-delete-' + id ).modal( 'hide' );
//                                        setTimeout( ()=> {vm.getProductTypes()}, 200 );
//                                    }
//
//                                },
//                                r => console.error( r ) )
//                        .bind( this );
//            },
            getProductTypes( params = {} ){

                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    searchByName: vm.filterData.search.name.value,
                    searchByParentName: vm.filterData.search.parent_type_name.value,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getProductTypes();
                    }
                } );
            },

            initialState (){
                return {
                    pageHeader: {
                        label: 'app.product_types'
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'product-types',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: this.getLocalisedName(),
                                isSortable: true,
                                classes: 'text-left wid-4'
                            },
                            {
                                name: 'type_parent',
                                isSortable: false,
                                classes: 'text-left wid-4'
                            },
                            {
                                name: 'actions',
                                isSortable: false,
                                classes: 'text-right wid-95-per'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        search: {
                            name: {
                                value: '',
                                label: 'search_name',
                                minSearchLength: 2,
                                placeholder: 'name_placeholder'
                            },
                            parent_type_name: {
                                value: '',
                                label: 'search_parent_type',
                                minSearchLength: 2,
                                placeholder: 'parent_type_placeholder'
                            }
                        },
                        sort: {
                            name: this.getLocalisedName(),
                            direction: 'desc'
                        },
                        buttons: [
                            {
                                id: 'add-type-button',
                                title: 'product_type_add',
                                label: 'product_type_add',
                                icon: 'plus',
                                eventName: 'new',
                                type: 'success'
                            },
                        ]
                    },

                }
            },
            filterByParentTypeName( parentTypeName ){

                if (!parentTypeName){
                    alert('Имя родительского типа не указано!! ');
                }

                this.filterData.search.parent_type_name.value = parentTypeName;
                this.getProductTypes();
            }
        },
        events: {
            'new': function() {
                this.goTo( 'product-types', 'create' )
            }
        }
    }
</script>