<template>

    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body">

            <v-view :view-data="viewData"></v-view>

        </div>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mNavigator from '../../mixins/m-navigator';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mNavigator ],
        data(){

            return {
                pageHeader: {
                    label: 'app.product_type_show',
                    params: {}
                },
                viewData: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: {
                        name_ru: null,
                        name_kk: null,
                        name_en: null,
                        parent: null
                    },
                    other_items: [],
                    fields: [
                        'name_ru',
                        'name_kk',
                        'name_en',
                        {
                            name: 'type_parent',
                            link: false,
                            compound: 'parent.name',
                        },
                    ],
                    buttons: [
                        {
                            id: 'go-back-button',
                            title: 'to_list',
                            label: 'to_list',
                            icon: 'chevron-left',
                            parentClass: 'disable-padding-inline-block',
                            eventName: 'go-back'
                        },
                        {
                            id: 'edit-type',
                            title: 'edit',
                            label: 'edit',
                            icon: 'pencil',
                            eventName: 'edit'
                        }
                    ]
                }
            }
        },
        created(){
            this.viewData.item = this.params.item;
        },
        components: {
            'v-api-requests': require( "../../components/v-api-requests.vue" ),
            'v-header': require( '../../components/v-header.vue' ),
            'v-view': require( "../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-pagination': require( "../../components/v-pagination.vue" ),
        },
        events: {
            'go-back': function() {
                this.goBack( 'product-types' );
            },
            'edit': function() {
                this.needHistoryPushing = false;
                this.goTo( 'product-types', this.viewData.item.id, 'edit' );
            },
        }
    }
</script>
<style scoped>
    .word-break {
        word-break: break-all;
    }
</style>