<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body clearfix col-sm-6">

        <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('regional_center_city_id')}">
            <v-select
                    :select-data.sync="selects.regional_center"
                    :on-select="setRegionalCenter"
            ></v-select>
            <div
                 v-for="error in hasErrorByName('regional_center_city_id')"
                 class="help-block">
                {{{ error }}}
            </div>
        </div>

        <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('name_ru')}">
            <label for="name_ru" class="control-label pull-left">{{{ $t('app.name_ru') }}}</label>
            <input id="name_ru" type="text" v-model="params.item.name_ru" class="form-control">
            <div v-for="error in hasErrorByName('name_ru')" class="help-block">{{{ error }}}</div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('name_en')}">
            <label for="name_en" class="control-label pull-left">{{{ $t('app.name_en') }}}</label>
            <input id="name_en" type="text" v-model="params.item.name_en" class="form-control">
            <div v-for="error in hasErrorByName('name_en')" class="help-block">{{{ error }}}</div>
        </div>

        <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('name_kk')}">
            <label for="name_kk" class="control-label pull-left">{{{ $t('app.name_kk') }}}</label>
            <input id="name_kk" type="text" v-model="params.item.name_kk" class="form-control">
            <div v-for="error in hasErrorByName('name_kk')" class="help-block">{{{ error }}}</div>
        </div>

        <div class="form-group control-buttons">
            <hr>
            <button id="back-btn"
                    class="btn btn-default"
                    style="width: 160px; margin-right: 16px"
                    v-on:click="goBack()">
                <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
            </button>
            <button id="save-btn"
                    class="btn btn-primary"
                    v-on:click="submitData">
                <i class="fa fa-floppy-o"></i> Сохранить изменения
            </button>
        </div>
    </div>

</template>

<style>
    .fa {
        font-weight: normal;
    }

    .control-buttons {
        margin-top: 50px;
    }
</style>

<script>
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [mGlobal],
        data() {
            return this.initialState()
        },
        ready() {
            this.initRegionalCenterSelect();
        },
        methods: {
            initialState() {
                return {
                    errors: {},
                    model: 'regions',
                    pageHeader: {
                        label: this.params.item ? 'app.region_edit':'app.region_create',
                        params: {
                            name: this.params.item.name,
                        }
                    },
                    selects: {
                        regional_center: {
                            id: 'regional-center-select',
                            useAjax: false,
                            label: 'app.regional_center',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            url: '',
                            placeholder: 'app.select_regional_center',
                            reset: false,
                        },
                    }
                }
            },
            goBack() {
                history.back();
            },
            initRegionalCenterSelect() {
                let vm = this;

                vm.$http.get('/' + vm.model + '/' + vm.params.item.id + '/cities').then(
                        function(response) {
                            if (! response || ! response.data) {
                                return;
                            }

                            let data = response.data;

                            this.selects.regional_center.items = [];

                            data.forEach(function(item) {

                                vm.selects.regional_center.items.push({
                                    id: item.id,
                                    text: item.name + ' (ID=' + item.id + ')',
                                });

                            });

                            if (vm.params.item && vm.params.item.regional_center_city_id) {
                                vm.selects.regional_center.selected = vm.params.item.regional_center_city_id;
                            }
                            else {
                                vm.selects.regional_center.selected = null;
                            }
                        },
                        function(response) {
                            console.error( response );
                        }
                );
            },
            setRegionalCenter(bool, id) {
                this.params.item.regional_center_city_id = parseInt(id);
            },
            submitData() {
                let vm = this;

                let callback = function(response) {
                    this.goBack();
                };

                let errorCallback = function(response) {
                    if (! (response && response.data && response.status == 422)) {
                        console.log(response);
                        return;
                    }

                    vm.errors = response.data;
                };

                vm.$http.put('/' + vm.model + '/' + vm.params.item.id, vm.params.item)
                        .then(callback, errorCallback);
            },
            hasErrorByName(name){
                return this.errors.hasOwnProperty(name)
                        ? this.errors[name]
                        : [];
            }
        },
        components: {
            'v-select': require('../../components/v-select.vue'),
            'v-header' : require('../../components/v-header.vue')
        }
    }
</script>