<template>

    <help-header :title="pageHeader" :total="pagination.total"></help-header>

    <div class="main-box-body clearfix">

        <v-table :table-data="tableData"
                 :filter-data="filterData"
                 :on-change="getItems"
                 :pagination="pagination"
                 :reset-filter="resetFilter">

            <div class="row align-info-table" v-for="item in pagination.data">
                <v-cell classes="text-left">
                    <b>{{ item.id }}</b>
                </v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.country">
                        {{ item.country.name }} <b>(ID={{ item.country.id }})</b>
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell classes="text-left">
                    {{ item.name || $t('app.no_info') }}
                </v-cell>

                <v-cell classes="text-left">
                    <p v-if="item.regional_center">
                        {{ item.regional_center.name }} <b>(ID={{ item.regional_center.id }})</b>
                    </p>
                    <p v-else>
                        {{ $t('app.no_info') }}
                    </p>
                </v-cell>

                <v-cell>

                    <v-table-button label="app.edit"
                                    :id="setPrefixedId('edit-region-button-', item.id)"
                                    icon="pencil"
                                    @click.prevent="goTo(tableData.model, item.id, 'edit')"
                                    color="#3498db">
                    </v-table-button>

                    <v-table-button label="app.cities_list"
                                    :id="setPrefixedId('search-city-button-', item.id)"
                                    icon="search"
                                    @click.prevent="goToCitiesList(item.name)"
                                    color="#3498db">
                    </v-table-button>

                </v-cell>
            </div>
        </v-table>

    </div>

</template>

<style>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mIndex from '../../mixins/m-index';
    import Vue from 'vue';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getItems();
        },
        components: {
            'help-header': require( '../inline-help/h-regions.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
        },
        methods: {
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.regions',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'regions',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'id',
                                width: 5,
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'country',
                                width: 10,
                                isSortable: false,
                                defaultSortDirection: 'asc',
                                classes: 'text-left'
                            },
                            {
                                name: 'region',
                                width: 10,
                                isSortable: true,
                                sortableField: 'region',
                                defaultSortDirection: 'asc',
                                classes: 'text-left'
                            },
                            {
                                name: 'regional_center',
                                width: 10,
                                sortableField: 'regional_center',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                width: 10,
                                isSortable: false,
                                classes: 'text-center'
                            },
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        search: {
                            name: {
                                value: '',
                                label: 'search_name',
                                placeholder: 'search'
                            },
                            country: {
                                value: '',
                                label: 'search_name_country',
                                placeholder: 'search'
                            }
                        },
                        sort: {
                            name: 'id',
                            direction: 'asc'
                        },
                        radios: [
                            {
                                label: 'reg_center_toggle',
                                name: 'regional_center',
                                use: false,
                                selected: '',
                                positions: [
                                    'with_reg_center',
                                    'without_reg_center'
                                ]
                            }
                        ],
                        checkboxes: {
                            kz_regions_only: {
                                checked: false,
                                label: 'kz_regions_only'
                            }
                        }
                    }
                }
            },
            goToCitiesList( item = null ) {

                this.goWithParamsToSegments( {
                    search: {
                        region: {
                            value: item
                        }
                    }
                }, 'cities' );
            }
        },
        events: {
            'open-help': function() {
                $( '#help-modal' ).modal( 'show' );
            }
        }
    }
</script>