<template>
    <div>
        <v-header :title="pageHeader"></v-header>


        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-6">

                    <v-form :form="form" v-ref:form>
                        <v-button
                                title="next"
                                id="next-button"
                                label="save"
                                icon="check"
                                type="success"
                                :on-click="store"
                        ></v-button>
                        <v-button
                                title="skip"
                                id="skip-button"
                                label="cancel"
                                type="default"
                                :on-click="cancel"
                        ></v-button>


                    </v-form>

                </div>

            </div>
        </div>


        <v-bootstrap-modal id="cancel-modal" size="modal-sm">
            <div slot="header"> {{{ $t('app.attention') }}}</div>
            <div slot="body">
                {{{ $t('app.cancel_question') }}}
            </div>
            <div slot="footer">
                <button type="button"
                        class="btn btn-success"
                        id="continue-button"
                        @click="goBackNotPull()"
                >{{{ $t('app.continue') }}}
                </button>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="close-modal-button"
                >{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-button': require( '../../../components/v-button.vue' ),
            'v-select': require( "../../../components/v-select.vue" ),
            'v-form': require( '../../../components/v-form.vue' ),
            'v-bootstrap-modal': require( "../../../components/v-bootstrap-modal.vue" ),
            'v-header': require( "../../../components/v-header.vue" ),
        },
        data(){
            return this.initialState()
        },
        computed: {

            changingPassword(){

                if ( this.updating && this.form.change_password.value ) {
                    return true;
                }

                if ( !this.updating ) {
                    return true;
                }

                return false;
            },
            updating(){

                if ( this.params.item ) {
                    return true;
                }

                return false;
            },
            notUpdating(){
                return !this.updating;
            }
        },
        methods: {

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: {
                        label: this.params.item ? 'app.user_edit' : 'app.user_add'
                    },
                    form: {
                        model: 'users',
                        focus: 'name',

                        // Пользователь
                        id: {
                            value: this.params.item ? this.params.item.id : null,
                            name: 'id',
                            hidden: true
                        },
                        name: {
                            value: this.params.item ? this.params.item.name : null,
                            maxlength: 255,
                            label: 'app.user_name_',
                            type: 'text'
                        },
                        phone_number: {
                            value: this.params.item ? this.params.item.phone_number : null,
                            maxlength: 255,
                            label: 'app.phone_number',
                            type: 'text'
                        },
                        work_phone_number: {
                            value: this.params.item ? this.params.item.work_phone_number : null,
                            maxlength: 255,
                            label: 'app.work_phone_number',
                            type: 'text'
                        },
                        email: {
                            value: this.params.item ? this.params.item.email : null,
                            type: 'email'
                        },
                        platform: {
                            value: this.params.item && this.params.item.device && this.params.item.device.platform ? this.params.item.device.platform : null,
                            maxlength: 255,
                            label: 'app.platform',
                            type: 'text'
                        },
                        device_model: {
                            value: this.params.item && this.params.item.device && this.params.item.device.model ? this.params.item.device.model : null,
                            maxlength: 255,
                            label: 'app.model',
                            type: 'text'
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){
                let vm   = this;
                let data = vm.$refs.form.getData();
                let url  = '/users-pro';

                if ( this.updating ) {
                    data[ '_method' ] = 'PUT';
                    url               = url + '/' + this.params.item.id;
                }

                vm.$http
                        .post( url, data )
                        .then(
                                response => {
                                    if ( response.data !== 'saved' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    vm.goBackNotPull( );
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    } else {
                                        console.error( response.data );
                                    }
                                } );
            },

            cancel(){
                $( '#cancel-modal' ).modal( 'show' );
            },
        }
    }
</script>