<template>

    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getCustomers"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{ item.id }}</v-cell>
                    <v-cell classes="text-left">
                        <a @click="goTo( 'users-pro', item.id)">
                            {{ item.name }}
                        </a>
                    </v-cell>
                    <v-cell classes="text-left">{{ item.email }}</v-cell>
                    <v-cell classes="text-left">{{ item.phone_number }}</v-cell>
                    <v-cell classes="text-center">
                        <v-table-button :id="'add-subscription-button-'+ item.id"
                                        label="app.add_subscription"
                                        icon="plus"
                                        v-if="$root.$refs.vm.hasRole( 'super-admin' )"
                                        @click.prevent="addSubscription( item.id,  item.name)"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('edit-user-store-', item.id)"
                                        label="app.edit_store_info"
                                        icon="shopping-cart"
                                        @click.prevent="goTo( 'stores-pro', item.id, 'edit')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('open-user-messages-', item.id)"
                                        label="app.user_messages"
                                        icon="envelope"
                                        v-if="item.feedback_messages_count && item.feedback_messages_count >=1"
                                        @click.prevent="goWithParamsToSegments( { user_id: item.id }, 'feedback-messages-pro')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('open-user-', item.id)"
                                        label="app.view"
                                        icon="search"
                                        @click.prevent="goTo('users-pro', item.id)"
                        ></v-table-button>
                        <v-table-button v-if="$root.$refs.vm.hasRole( 'super-admin')"
                                        :id="setPrefixedId('edit-user-', item.id)"
                                        label="app.customer_edit"
                                        icon="pencil"
                                        @click.prevent="goTo('users-pro', item.id, 'edit')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('open-push-modal-button-', item.id)"
                                        label="app.do_send_push"
                                        icon="paper-plane"
                                        @click.prevent="goWithParamsToSegments({ user_id: item.id}, 'push-notifications', 'create'  )"
                                        v-if="item.device && item.device.push_token"
                        ></v-table-button>
                    </v-cell>

                </div>

            </v-table>

        </div>

        <v-bootstrap-modal id="new-subscription" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t( 'app.subscription_create_for_user', {user_name: user_name}) }}} </strong>
            </div>
            <div slot="body">
                <div class="form-group">
                    <h4>Выберите тип подписки</h4>
                </div>
                <div class="form-group">
                    <div class="radio" v-for="position in subscription_types.positions">
                        <input type="radio"
                               id="radio-{{position}}"
                               v-model="subscription_types.selected"
                               value="{{position}}">
                        <label for="radio-{{position}}">
                            {{{ $t('app.'+position)}}}
                        </label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <v-button
                        id="save-new-subscription-button"
                        label="save"
                        :on-click="storeSubscription"
                        type="success"
                ></v-button>
                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeAddModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>
<script type="text/babel">
    import mIndex from '../../../mixins/m-index';
    import mGlobal from '../../../mixins/m-global';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            ( this.params.phone_number ) && (this.filterData.search.everyWhere.value = this.params.phone_number);
            ( this.params.user_id ) && (this.filterData.search.id.value = this.params.user_id);

            // НЕ ОЧЕВИДНАЯ ЛОГИКА
            // Если в параметрах передан deviceUUID, то необходимо
            // установить значение фильтра чтобы при первом запросе
            // осуществился поиск устройства deviceUUID
            // Такой переход осуществляется со страницы vm-suspicious-users line:18
            this.setPhoneNumber( this.$data );

            this.getCustomers();
        },
        methods: {


            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){

                let tableData = {
                    model: 'users-pro',
                    useModelInUrl: {
                        status: true,
                        alternativeUrl: ''
                    },
                    fields: [
                        {
                            name: 'customer_id',
                            isSortable: false,
                            classes: 'text-left',
                        },
                        {
                            name: 'customer_name',
                            isSortable: true,
                            sortableField: 'name',
                            classes: 'text-left',
                            defaultSortDirection: 'asc'
                        },
                        {
                            name: 'email',
                            isSortable: true,
                            sortableField: 'email',
                            ascLabel: 'activity_sort_asc',
                            descLabel: 'activity_sort_desc',
                            defaultSortDirection: 'desc',
                            classes: 'text-left'
                        },
                        {
                            name: 'phone_number',
                            isSortable: false,
                            classes: 'text-left'
                        },
                        {
                            name: 'actions',
                            isSortable: false
                        }
                    ],

                     };

                if ( this.params.phone_number ) {
                    tableData[ 'info' ] = translate( 'app.search_by_phone', { phone_number: this.params.phone_number } );
                }

                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.customer_list',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: tableData,
                    filterData: {
                        use: true,
                        resetFilter: false,
                        historyEventName: 'customers-back',
                        page: 1,
                        search: {
                            everyWhere: {
                                value: '',
                                label: 'search_user_email_name_phone_number',
                                minSearchLength: 2,
                                placeholder: 'name_phone_number_email_placeholder'
                            },
                            id: {
                                value: '',
                                label: 'search_by_user_id',
                                minSearchLength: 0,
                                helpBlock: false,
                                placeholder: 'id_placeholder'
                            }
                        },
                        sort: {
                            name: 'name',
                            direction: 'asc'
                        }
                    },

                    // Для добавления подписки
                    user_id: null,
                    user_name: null,
                    subscription_types: {
                        label: 'subscription_types',
                        name: 'subscription_types',
                        selected: 'subscribe_per_year',
                        positions: [
                            'subscribe_per_month',
                            'subscribe_per_year'
                        ]
                    },
                }
            },

            /**
             * Запрос на выборку данных
             */
            getCustomers( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){
                let vm = this;

                return {
                    page: vm.filterData.page,
                    id: vm.filterData.search.id.value,
                    search: vm.filterData.search.everyWhere.value,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка deviceUUID в модели фидбтра
             * если deviceUUID был передан через параметр
             */
            setPhoneNumber( state ){
                if ( this.params.phone_number && this.params.phone_number != '' ) {
                    state.filterData.search.everyWhere.value = this.params.phone_number;
                }
            },

            /**
             * Сброс фильтров и поиска
             **/
            reset(){
                let vm = this;
                this.resetFilter( {
                    setParams( initialState ){
                        vm.setPhoneNumber( initialState );
                    },
                    getData(){
                        vm.getCustomers();
                    }
                } );
            },

            openUser( id ){
                this.goTo( 'customers-pro', id );
            },

            openPush(id ){
                this.goWithParamsToSegments( { user_id: id }, 'push-notifications', 'create' );
            },

            /**
             * Открыть форму добавления подписки
             *
             * @param user_id - ID пользователя
             * @param user_name - имя пользователя
             */
            addSubscription( user_id = null, user_name = null ){

                this.$set( 'user_id', user_id );
                this.$set( 'user_name', user_name );

                $( '#new-subscription' ).modal( 'show' );
            },

            /**
             * Отмена добавления новой подписки
             */
            closeAddModal(){

                this.$set( 'user_id', null );
                this.$set( 'user_name', null );

                $( '#new-subscription' ).modal( 'hide' );
            },

            /**
             * Сохранение новой подписки
             */
            storeSubscription(){
                let vm = this;

                if ( vm.user_id === null ) {
                    console.error( 'User not specified!' );
                    return;
                }

                vm.$http.post( '/subscriptions-pro', { type: vm.subscription_types.selected, user_id: vm.user_id } )
                        .then(
                                response => {

                                    if ( response.data !== 'saved' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    $( '#new-subscription' ).modal( 'hide' );

                                    alert(translate('app.subscription_added'));
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    } else {
                                        console.error( response.data );
                                    }
                                } );
            },
        },
        events: {
            'customers-back': function() {
                this.getCustomers( { historyCall: true } );
            }
        }
    }
</script>
