<template>

    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body">

            <v-view :view-data="view"></v-view>

            <div class="row" v-show="view.item.id && pagination.data && pagination.data.length">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination"
                                  :filter="filterData"
                                  prefix="top"
                                  :on-page-changed="getApiRequests"
                    ></v-pagination>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <v-api-requests
                            :api-requests="pagination.data"
                            v-if="hasRequests"
                    ></v-api-requests>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination"
                                  :filter="filterData"
                                  prefix="bottom"
                                  :on-page-changed="getApiRequests"
                    ></v-pagination>
                </div>
            </div>

            <v-bootstrap-modal id="push-sent" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.push_notifications') }}}</strong></div>
                <div slot="body">
                    <ul class="list-group">
                        <li class="list-group-item text-left word-break"
                            :class="{ 'is-read' : el.is_unread , 'is-unread' : ! el.is_unread }"
                            v-for="el in getNotifications()"
                        > {{ el.text }}
                            <p style="margin: 0;">
                                <small>Статус: {{ el.is_unread ? 'Прочитано' : 'Не прочитано' }}</small>
                                <br>
                                <small><strong>{{ el.sent_at }}</strong></small>
                            </p>
                        </li>
                    </ul>

                    <p v-if="params.item.notifications.length >=5">
                        <a @click.prevent="goWithParamsToSegments({ user_id: view.item.id}, 'notifications-pro')">
                            {{{ $t('app.go_to_user_notifications') }}}
                        </a>
                    </p>
                </div>
                <div slot="footer">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            aria-label="Close"
                            id="close-push-notifications-modal-button"
                    >{{{ $t('app.close') }}}
                    </button>
                </div>
            </v-bootstrap-modal>
        </div>

    </div>

</template>
<script type="text/babel">

    import mGlobal from '../../../mixins/m-global';
    import mNavigator from '../../../mixins/m-navigator';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mNavigator ],
        data(){
            return {
                pageHeader: {
                    label: 'app.user_log_show',
                    params: {}
                },
                collapsed: false,
                view: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: {},
                    fields: [
                        {
                            name: 'customer_id',
                            link: false,
                            compound: 'id'
                        },
                        {
                            name: 'customer_name',
                            link: false,
                            compound: 'name'
                        },
                        {
                            name: 'user_last_activity',
                            link: false,
                            compound: 'updated_at'
                        },
                        'app_version',
                        'email',
                        'phone_number',
                        'work_phone_number',
                        'device_info',
                    ],
                    buttons: [
                        {
                            id: 'go-back-button',
                            title: 'go_back',
                            label: 'go_back',
                            icon: 'chevron-left',
                            eventName: 'go-back'
                        },
                        {
                            id: 'open-messages-modal-button',
                            computed: 'hasMessages',
                            label: 'user_messages',
                            title: 'user_messages',
                            icon: 'envelope',
                            eventName: 'open-user-feedback-messages'
                        },
                        {
                            id: 'show-push-sent-modal-button',
                            computed: 'hasPushSent',
                            label: 'push_sent',
                            title: 'push_sent',
                            icon: 'envelope-o',
                            eventName: 'show-push-sent'
                        },
                        {
                            id: 'open-push-modal-button',
                            computed: 'hasPushToken',
                            label: 'push',
                            title: 'push_description',
                            icon: 'paper-plane',
                            eventName: 'push-notification'
                        },
                        {
                            id: 'edit-user-modal-button',
                            label: 'info_window_edit',
                            title: 'info_window_edit',
                            icon: 'pencil',
                            eventName: 'edit-user'
                        },
                        {
                            id: 'edit-user-store-modal-button',
                            label: 'edit_store_info',
                            title: 'edit_store_info',
                            icon: 'shopping-cart',
                            eventName: 'edit-user-store'
                        }
                    ]
                },
                pagination: {
                    data: []
                },

                // need for pagination
                filterData: {
                    page: 1,
                    user_id: (this.params.item && this.params.item.id) ? this.params.item.id : null,
                },

                pushNotificationsListLimit: 4,
            }
        },
        computed: {
            isNotRead(){
                return this.view.item.is_unread;
            },
            isRead(){
                return !this.view.item.is_unread;
            },
            hasDevice(){
                return this.params.item.device;
            },
            hasPushToken(){
                return this.params.item && this.params.item.device && this.params.item.device.push_token;
            },
            hasRequests(){
                return this.pagination.data.length >= 1;
            },
            hasMessages(){
                return this.params.item.feedback_messages.length >= 1;
            },
            hasPushSent(){
                return this.params.item
                        && this.params.item.notifications
                        && this.params.item.notifications.length >= 1;
            },
        },
        components: {
            'v-api-requests': require( "../../../components/v-api-requests.vue" ),
            'v-header': require( '../../../components/v-header.vue' ),
            'v-view': require( "../../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../../components/v-bootstrap-modal.vue' ),
            'v-button': require( '../../../components/v-button.vue' ),
            'v-pagination': require( "../../../components/v-pagination.vue" )
        },
        created(){

            this.$set( 'view.item', this.params.item );

            this.getApiRequests();
        },
        methods: {

            /**
             * Отображаем только первые 5 уведомлений
             **/
            getNotifications(){
                let vm = this;
                return vm.params.item.notifications.filter( ( el, index ) =>(index <= vm.pushNotificationsListLimit ) && (el) );
            },
            /**
             * Получение ApiRequests с объектом паджинации
             */
            getApiRequests(){

                this.$http
                        .get( '/users-pro/' + this.view.item.id + '/api-requests',
                                { user_id: this.view.item.id, page: this.filterData.page } )
                        .then(
                                response => this.$set( 'pagination', response.data ),
                                response => {
                                    this.$set( 'pagination', { data: [] } );
                                    this.handleSessionTimeOut( response );
                                    console.error( response );
                                }
                        )
                        .bind( this )
            }
        },
        events: {
            'go-back': function() {
                this.goBack( 'users-pro' )
            },
            'push-notification': function() {
                this.goWithParamsToSegments( { user_id: this.view.item.id }, 'push-notifications', 'create' )
            },
            'open-user-feedback-messages': function() {
                this.goWithParamsToSegments( { user_id: this.view.item.id }, 'feedback-messages-pro' )
            },
            'edit-user': function() {
                this.needHistoryPushing = false;
                this.goTo( 'users-pro', this.view.item.id, 'edit' )
            },
            'edit-user-store': function() {
                this.needHistoryPushing = false;
                this.goTo( 'stores-pro', this.view.item.id, 'edit' )
            },
            'show-push-sent': function() {
                $( '#push-sent' ).modal( 'show' );
            }
        }
    }
</script>
<style scoped>
    .word-break {
        word-break: break-all;
    }
</style>