<template>
    <div>
        <header class="main-box-header clearfix">
            <div class="filter-block">
                <h1> {{{ $t('app.education_title') }}}</h1>
                <p>{{{ $t('app.education_number', {number: inQueue}) }}}</p>
            </div>
        </header>


        <div class="main-box-body clearfix col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>{{{ $t('app.receipt_with_id', {id: item.id}) }}} </h4>

                            <v-form :form="form" v-ref:form>
                                <div class="alert alert-info" v-show="receiptWasSkipped">
                                    {{{ $t('app.receipt_was_skipped') }}}
                                </div>
                                <v-button
                                        title="next"
                                        id="next-button"
                                        label="next_receipt"
                                        title="next_receipt"
                                        icon="check"
                                        type="success"
                                        :on-click="saveNext"
                                ></v-button>
                                <v-button
                                          v-if="item.id"
                                          title="skip"
                                          id="skip-button"
                                          label="skip"
                                          title="skip"
                                          type="default"
                                          :on-click="skip"
                                ></v-button>
                            </v-form>
                        </div>

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>{{{ $t('app.receipt_photo')}}}</h4>
                                    <button
                                            id="turn-left-button"
                                            class="btn btn-default"
                                            @click="turn(-90)"
                                            title="{{{ $t('app.turn_left') }}}">
                                        <i class="fa fa-undo"></i></button>
                                    <button
                                            id="turn-right-button"
                                            class="btn btn-default"
                                            @click="turn(90)"
                                            title="{{{ $t('app.turn_right') }}}">
                                        <i class="fa fa-repeat"></i></button>

                                    <div id="image-wrapper">
                                        <img :src="$root.getFullImagePath(item.photo)"
                                             alt="Чек"
                                             v-bind:style="{ transform: rotation }"
                                             class="img-thumbnail"
                                             onerror="this.src='{{defaultImagePath}}'">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

</template>
<style scoped>

    #image-wrapper {
        margin-top: 10px;
    }

    .nothing-to-process-block > .row, .nothing-to-process-block > .row > .col-lg-12 {
        height: 100%;
        width: 100%;
    }

    h1 {
        margin-left: 0;
    }

</style>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [mGlobal],
        components: {
            'v-view': require( "../../components/v-view.vue" ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-select': require( "../../components/v-select.vue" ),
            'v-form': require( '../../components/v-form.vue' )
        },
        computed: {
            rotation(){
                return 'rotate(' + this.imageRotation + 'deg)';
            },
            receiptWasSkipped(){
                return this.item.sum == 0 && this.item.given_datetime === '2016-09-30 00:00:00' && this.item.bin === '000000000001';
            }
        },
        data(){
            return {
                pageHeader: {
                    label: 'app.title'
                },
                item: {
                    id: 0,
                    photo: null
                },
                inQueue: 0,
                form: {
                    model: 'receipts',
                    id: {
                        value: '',
                        name: 'id',
                        hidden: true
                    },
                    bin: {
                        value: '',
                        name: 'bin',
                        maxlength: 12,
                        enterType: 'number',
                        label: 'app.bin_rnn',
                        type: 'text'
                    },
                    sum: {
                        value: '',
                        name: 'sum',
                        enterType: 'number',
                        maxlength: 10,
                        label: 'app.sum',
                        type: 'text'
                    },
                    given_datetime: {
                        value: moment().format(  'Y-M-D HH:mm:ss' ),
                        name: 'given_datetime',
                        format: 'Y-M-D HH:mm:ss',
                        label: 'app.date_time_education',
                        type: 'datetime',
                        placeholder: 'app.given_datetime'
                    },
                    errors: []
                },
                imageRotation: 0,
            }
        },
        created(){
            this.getItem();
        },
        methods: {
            getItem(skip = false){

                let vm = this;

             let data = skip === true  && this.item.id  ? {skip: true, id: this.item.id } : {}

                this.$http.get( 'educate-receipt', data)
                        .then( response => vm.handleSuccessResponse( response ),
                                responseErr =>vm.handleSessionTimeOut( responseErr ) );
            },
            handleSuccessResponse(response){

                this.inQueue                   = response.data.inQueue;

                this.item                      = response.data.receipt;
                this.form.id.value             = this.item.id;
                this.form.bin.value            = '';
                this.form.sum.value            = '';
                this.form.given_datetime.value = moment().format(  'Y-M-D HH:mm:ss' );

                this.form.errors               = [];
            },
            saveNext(){

                let vm = this;

                vm.$http
                        .get( 'educate-receipt', vm.$refs.form.getData() )
                        .then( response => vm.handleSuccessResponse( response ),
                                response => {
                                    vm.form.errors = response.data;
                                    vm.handleSessionTimeOut( response )
                                } );
            },
            skip(){
                this.getItem( true )
            },
            turn(degree = '0'){
                this.imageRotation = this.imageRotation + degree;
            }
        }
    }
</script>