<template>
    <div>
        <header class="main-box-header clearfix">
            <div class="filter-block">

                <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
                <help-header :in-queue="inQueue"></help-header>

                <div class="select-block">
                    <v-select v-if="params.regions != null"
                              :select-data.sync="selectRegion"
                              :on-select="getItem"
                              label-class="filter-block-label select-filter-style"
                    ></v-select>

                </div>
                <div class="nothing-to-process-block" v-if="inQueue == 0">
                    <div class="row">
                        <div class="col-lg-12 flex">
                            {{{ $t('app.nothing_to_process') }}}
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </header>

        <div class="main-box-body clearfix col-sm-12" v-if="inQueue != 0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>{{{ $t('app.invoice_form') }}}</h4>

                            <v-view :view-data="view" :use-back-link="false" :first-column-width="200"></v-view>

                            <div class="col-sm-12 button-left">

                                <div class="col-sm-12 control">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button
                                                id="turn-left-button"
                                                type="button"
                                                class="btn btn-default"
                                                title="{{{ $t('app.turn_left') }}}"
                                                @click="turn(-90)"><i
                                                class="fa fa-undo"></i></button>

                                        <button type="button"
                                                id="turn-right-button"
                                                class="btn btn-default"
                                                title="{{{ $t('app.turn_right') }}}"
                                                @click="turn(90)"><i
                                                class="fa fa-repeat"></i></button>
                                    </div>
                                    <input type="range" min="500" max="1500" step="10" v-model="rangeWidth"
                                           title="{{{ $t('app.scale') }}}"/>
                                </div>

                                <div class="col-sm-12" style="padding:0">
                                    <div class="btn-group btn-group-justified" role="group"
                                         aria-label="Justified button group with nested dropdown">

                                        <div class="btn-group" role="group">
                                            <button
                                                    id="receipt-accept-button"
                                                    type="button"
                                                    class="btn btn-success"
                                                    @click="setReceiptStatus('member')"
                                            >{{{ $t('app.receipt_accept') }}}
                                            </button>
                                        </div>

                                        <div class="btn-group" role="group">
                                            <a href="#"
                                               id="accept-link"
                                               class="btn btn-default dropdown-toggle"
                                               data-toggle="dropdown" role="button"
                                               aria-haspopup="true"
                                               aria-expanded="false"
                                            > {{{ $t('app.another_status') }}}
                                                <span class="caret"></span> </a>

                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" id="empty-bin-button"
                                                       @click="setReceiptStatus('empty-bin')"
                                                    >{{{ $t('app.receipt_empty_bin') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="empty-date-time-button"
                                                       @click="setReceiptStatus('empty-date-time')"
                                                    >{{{ $t('app.receipt_empty_date_time') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="empty-sum-button"
                                                       @click="setReceiptStatus('empty-sum')"
                                                    >{{{ $t('app.receipt_empty_sum') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="invalid-date-button"
                                                       @click="setReceiptStatus('invalid-date')"
                                                    >{{{ $t('app.receipt_invalid_date') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="blurred-button" @click="setReceiptStatus('blurred')"
                                                    >{{{ $t('app.receipt_blurred') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="not-fiscal-button"
                                                       @click="setReceiptStatus('not-fiscal')"
                                                    >{{{ $t('app.receipt_not_fiscal') }}}</a>
                                                </li>
                                                <li>
                                                    <a href="#" id="doesnt-match-terms-button"
                                                       @click="setReceiptStatus('doesnt-match-terms')"
                                                    >{{{ $t('app.receipt_doesnt_match_terms') }}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 history" v-show="moderatedItems.length">
                                <h4>{{{ $t('app.moderated_list')}}}</h4>

                                <div class="list-group">
                                    <a href="#"
                                       id="show-receipts-{{item.id}}"
                                       class="list-group-item {{getItemStatusColor(item.status)}}"
                                       v-for="item in lastModerated">{{{* item.message }}}</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12 product-image">
                                    <h4>{{{ $t('app.receipt_photo') }}}</h4>
                                    <div class="scroll-container flipped">
                                        <div class="flipped-content"
                                             v-bind:style="{ 'padding-top': flippedContentWidth }">
                                            <img :src="$root.getFullImagePath(view.item.photo)"
                                                 alt="{{{ $t('app.check') }}}"
                                                 id="image"
                                                 :class="transformClass"
                                                 data-magnify-src="{{ defaultImagePath }}"
                                                 v-bind:style="{ width: imageWidth }"
                                                 onerror="this.src='{{defaultImagePath}}'">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <v-bootstrap-modal id="confirm-modal" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">
                <div class="row">
                    <div class="col-sm-12 image-holder">
                        {{{ modalContent }}}
                    </div>
                </div>
            </div>
            <div slot="footer">
                <button
                        type="button"
                        class="btn btn-success"
                        aria-label="Confirm"
                        @click.prevent="modalConfirm"
                        id="modal-confirm">{{{ $t('app.confirm') }}}
                </button>

                <button
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                        id="modal-close">{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>
<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal ],
        components: {
            'v-view': require( "../../components/v-view.vue" ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-select': require( "../../components/v-select.vue" ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
            'help-header': require( '../inline-help/h-moderation.vue' ),

        },
        data(){
            return {
                pageHeader: {
                    label: 'app.title'
                },
                inQueue: 0,
                view: {
                    tableClass: 'text-13',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-170',
                    contentClass: 'text-13 text-strong',
                    model: 'receipts',
                    item: {
                        id: '',
                        region: '',
                        device_uuid: '',
                        created_at: '',
                        username: '',
                        phone_number: ''
                    },
                    fields: [
                        {
                            name: 'receipt_id',
                            link: false,
                            compound: 'id',
                        },
                        {
                            name: 'device_uuid',
                            link: false,
                            compound: 'device_uuid',
                        },
                        {
                            name: 'receipt_created_at',
                            link: false,
                            compound: 'created_at',
                        },
                    ]
                },
                moderatedItems: [],
                selectRegion: {
                    id: 'region-select',
                    roles: [ 'inspector-admin', 'npp', 'super-admin' ],
                    useAjax: false,
                    label: 'app.region',
                    items: [],
                    // init in created method
                    selected: '',
                    placeholder: 'app.select_region',
                    reset: true
                },
                imageRotation: 0,
                rangeWidth: 600,
                intervalId: 0,

                // used in modal work see set-receipt-status event resources/assets/js/vue/views/receipts/vm-moderation.vue:702
                modalContent: null,
                modalStatus: null,
            }
        },
        created(){
            this.initRegionInSelectInputs();
            this.getItem();
        },
        computed: {

            /** Список только что промодерированных чеков */
            lastModerated(){
                let items = JSON.parse( JSON.stringify( this.moderatedItems ) );

                return items.reverse();
            },

            /** Установка класса с поворотом картинки */
            transformClass(){
                return "rotate" + this.imageRotation;
            },

            /** Увеличение ширины картинки для увеличения изображения */
            imageWidth(){
                return `${this.rangeWidth}px`;
            },

            /**
             * Добавление падинга к скролу
             **/
            flippedContentWidth(){

                if ( this.rangeWidth && (this.imageRotation == 90 || this.imageRotation == 270)
                        && ( parseInt( $( '#image' ).css( 'height' ).split( 'px' )[ 0 ] ) >= parseInt( $( '.product-image' ).css( 'width' ).split( 'px' )[ 0 ] )) ) {
                    return '5px';
                }

                return '0';
            }
        },
        methods: {
            getItem( params = { withoutLoader: false, status: null } ){
                this.$http
                        .get( 'moderate', {
                            withoutLoader: params.withoutLoader,
                            status: params.status,
                            region_id: this.selectRegion.selected,
                            receipt_id: this.view.item.id
                        } )
                        .then( response => this.handleSuccessResponse( response, params.status ),
                                response => this.handleSessionTimeOut( response ) )
                        .bind( this );
            },

            /** Обработка успешного запроса **/
            handleSuccessResponse( response, status ){

                const item       = this.view.item;
                const receipt_id = this.view.item.id;

                this.inQueue   = response.data.inQueue;
                //noinspection JSUnresolvedVariable
                this.view.item = response.data.receipt != null ? response.data.receipt : this.view.item;

                // Установка денежного формата
                //noinspection JSUnresolvedVariable
                this.view.item.sum = this.$root.roundCurrency( response.data.receipt.sum );

                if ( this.inQueue == 0 && this.intervalId == 0 ) this.startPinging();
                if ( this.inQueue > 0 && this.intervalId != 0 ) this.stopPinging();

                if ( status && receipt_id ) {
                    this.moderatedItems.push( {
                        item: item,
                        message: translate( 'app.receipt_status_set', {
                            status: translate( `app.receipt_${status.split( '-' ).join( '_' )}` ),
                            id: receipt_id
                        } ),
                        id: receipt_id,
                        status: status
                    } );
                } else {
                    console.log( 'Status or receipt_id are wrong!', status, receipt_id );
                }
            },

            /** Постоянные запросы на сервер за новыми чеками */
            startPinging(){
                let vm        = this;
                vm.intervalId = setInterval( ()=>vm.getItem( { withoutLoader: true } ), 10000 );
            },

            /** Остановка запросов на сервер за новыми чеками */
            stopPinging(){
                clearInterval( this.intervalId );
                this.intervalId = 0;
            },

            /** Инициализация списка регионов */
            initRegionInSelectInputs(){

                if ( !this.params.regions ) {
                    return;
                }

                let selectItems = [ { id: 'all', text: translate( 'app.all_regions' ) } ];

                this.params.regions.forEach( function( el ) {
                    selectItems.push( { id: el.id, text: el.name } )
                } );

                this.$set( 'selectRegion.items', selectItems );
                this.$set( 'selectRegion.selected', 'all' );
            },

            /**
             * Поворот картинки на переданное количество градусов
             * @param degree int
             **/
            turn( degree = 90 ){
                let vm            = this;
                let imageRotation = vm.imageRotation + degree;

                if ( Math.sign( imageRotation ) < 0 ) {
                    vm.$set( 'imageRotation', 360 + imageRotation );
                }
                else {
                    vm.$set( 'imageRotation', ( imageRotation) % 360 );
                }

                vm.triggerChanging();
            },

            /**  Так решаем проблему появления ненужного скрола - нужно осуществить перерисовку объектов DOM**/
            triggerChanging(){
                let vm = this;

                setTimeout( ()=> {
                    vm.rangeWidth = vm.rangeWidth + 1;
                    setTimeout( ()=> {
                        vm.rangeWidth = vm.rangeWidth - 1;
                    }, 300 );
                }, 200 );
            },

            /**
             * Возвращает имя класса, которое нужно присвоить элементу list-group-item
             * @param status
             * @returns {*}
             */
            getItemStatusColor( status = '' ){

                if ( status === 'member' )
                    return 'list-group-item-success';

                if ( $.inArray( status, [ "empty-bin", 'invalid-date', 'empty-date-time', 'empty-sum', 'blurred', 'not-fiscal', 'duplicate', 'doesnt-match-terms' ] ) >= 0 )
                    return 'list-group-item-danger';

                return '';
            },

            /** Перенаправление на реестр чеков при нажатии на сообщение о модерации **/
            openReceipt( obj = {}, ...arg ){
                window.open( URI( URI().origin() ).segmentCoded( arg ).search( jQuery.param( obj ) ).toString(), "_blank" );
            },

            /**
             * Подтверждение установки статуса для чека не участвующего в акции
             */
            modalConfirm(){
                $( '#confirm-modal' ).modal( 'hide' );
                this.getItem( { status: this.modalStatus } );
            },

            /*
             * Установить статус для чека
             * */
            setReceiptStatus( status = 'processing' ){

                if ( status != 'member' ) {

                    this.modalContent = translate( 'app.set_status_confirmation', {
                        status: translate( `app.receipt_${status.split( '-' ).join( '_' )}` ),
                        id: this.view.item.id
                    } );

                    this.modalStatus = status;

                    $( '#confirm-modal' ).modal( 'show' );
                    return;
                }

                this.getItem( { status: status } );
            }
        },
        watch: {
            /**
             * Список сообщений о модерации
             * Если более >= 9  - удаляем самый ранний
             * @param newValue
             */
            moderatedItems: function( newValue ) {
                if ( newValue.length >= 9 ) {
                    this.moderatedItems.shift();
                }
            }
        }
    }
</script>
<style scoped>

    button:focus {
        outline: 0 !important;
        outline-style: none !important;
    }

    .control {
        padding: 0;
        margin-bottom: 3px;
    }

    .list-group > a {
        color: #555;
    }

    .history {
        padding: 10px 0 0 0;
    }

    /* Устанавливаем scroll над картинкой */
    .scroll-container {
        width: 100%;
        overflow-y: auto;
    }

    .flipped-content {
        width: 100%;
        overflow-y: auto;
    }

    .flipped, .flipped .flipped-content {
        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg); /* IE 9 */
        -webkit-transform: rotateX(180deg); /* Safari and Chrome */
    }

    /* Устанавливаем scroll над картинкой END */

    /* Классы, определяющие повернутую картинку  */
    #image {
        z-index: 2;
        transform-origin: top left; /* IE 10+, Firefox, etc. */
        -webkit-transform-origin: top left; /* Chrome */
        -ms-transform-origin: top left; /* IE 9 */

        -webkit-transition: transform 0.3s linear;
        -moz-transition: transform 0.3s linear;
        -o-transition: transform 0.3s linear;
        transition: transform 0.3s linear;
    }

    #image.rotate90 {
        transform: rotate(90deg) translateY(-100%);
        -webkit-transform: rotate(90deg) translateY(-100%);
        -ms-transform: rotate(90deg) translateY(-100%);
    }

    #image.rotate180 {
        transform: rotate(180deg) translate(-100%, -100%);
        -webkit-transform: rotate(180deg) translate(-100%, -100%);
        -ms-transform: rotate(180deg) translateX(-100%, -100%);
    }

    #image.rotate270 {
        transform: rotate(270deg) translateX(-100%);
        -webkit-transform: rotate(270deg) translateX(-100%);
        -ms-transform: rotate(270deg) translateX(-100%);
    }

    /* Классы, определяющие повернутую картинку  END*/

    /* Изменение внешнего вида элемента   input[type=range] */
    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #DBDEE5, 0px 0px 1px #E8EBF2;
        background: #DBDEE5;
        border-radius: 1.3px;
        border: 0.2px solid #95A5A6;
    }

    input[type=range]::-webkit-slider-thumb {
        height: 36px;
        width: 50px;
        border-radius: 3px;
        background: #95A5A6;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -14px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #DBDEE5;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #DBDEE5, 0px 0px 1px #E8EBF2;
        background: #2980b9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 8.4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        border-width: 16px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }

    input[type=range]::-ms-fill-upper {
        background: #2980b9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
        box-shadow: 1px 1px 1px #DBDEE5, 0px 0px 1px #E8EBF2;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 1px 1px 1px #DBDEE5, 0px 0px 1px #E8EBF2;
        border: 1px solid #000000;
        height: 36px;
        width: 16px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: #2980b9;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #367ebd;
    }

    /* Изменение внешнего вида элемента   input[type=range]  END*/

    /* Контейнер в случае отсутствия чеков для обработки */
    .nothing-to-process-block {
        height: 600px;
    }

    .nothing-to-process-block > .row, .nothing-to-process-block > .row > .col-lg-12 {
        height: 100%;
        width: 100%;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }

    /* Контейнер в случае отсутствия чеков для обработки  END*/

    /*@media (min-width: 411px) and (max-width: 767px) {*/
    /*.button-left {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*margin-top: 10px;*/
    /*}*/

    /*.button-right {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*margin-top: 10px;*/
    /*}*/
    /*}*/

    @media (min-width: 200px) and  (max-width: 1572px) {
        .button-left {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }

        .button-right {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }

    .button-full-width {
        padding: 0;
        margin-top: 10px;
    }

    .button-left {
        padding-left: 0;
        margin-top: 10px;
    }

    .button-right {
        padding-right: 0;
        margin-top: 10px;
    }

    .btn-width {
        min-width: 205px;
    }

    .select-block {
        margin-left: 0;
        width: 20%;
    }

    h1 {
        margin-left: 0;
    }

    .col-sm-3 > button.btn {
        margin-top: 5px;
        height: 36px;
    }

    .col-sm-12.button-left{
        margin-top: 0;
        padding: 0;
    }
</style>

