<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getMessages"
                     :pagination="pagination"
                     :reset-filter="resetFilter"
            >
                <div class="align-info-table" v-for="item in pagination.data">
                    <v-cell classes="text-left">
                        <a href="#{{setPrefixedId('bootstrap-message-', item.id)}}"
                           :id="setPrefixedId('bootstrap-message-show-', item.id)"
                           data-toggle="modal"
                        >{{{ item.id }}}</a>
                    </v-cell>
                    <v-cell classes="text-left">{{ item.region.name}}</v-cell>
                    <v-cell classes="text-left">{{ item.organization_address}}</v-cell>
                    <v-cell classes="text-left">{{ item.organization_name }}</v-cell>
                    <v-cell classes="text-left">{{ item.device.customer ? item.device.customer.name : '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.device.customer ? item.device.customer.phone_number : '-' }}
                    </v-cell>
                    <v-cell classes="text-left">{{ item.device_uuid }}</v-cell>
                    <v-cell classes="text-left">{{ item.type.name }}</v-cell>
                    <v-cell classes="text-left">
                        <a href="#{{setPrefixedId('bootstrap-modal-', item.id)}}"
                           :id="setPrefixedId('bootstrap-message-show-link-', item.id)"
                           data-toggle="modal"
                        >{{{ $t('app.report_photo')}}}</a>
                    </v-cell>
                    <v-cell classes="text-left">{{ item.created_at }}</v-cell>

                    <v-bootstrap-modal
                            :id="setPrefixedId('bootstrap-modal-', item.id)"
                            size="modal-md">

                        <div slot="header">
                            <strong style="font-size: 18px;"> {{{ $t('app.report_photo_id', { id: item.id } )}}}</strong>
                        </div>
                        <div slot="body">
                            <div class="row">
                                <div class="col-sm-12 image-holder">
                                    <img :src="$root.getFullImagePath(item.photo)"
                                         style="max-height: 500px;"
                                         alt="{{{ $t('app.receipt') }}}"
                                         title="{{{ $t('app.receipt') }}}"
                                         class="img-thumbnail"
                                         onerror="this.onerror = ''; this.src = '{{defaultImagePath}}';"
                                    >
                                </div>
                            </div>
                        </div>
                        <div slot="footer">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="close-modal-button-report-photo">{{{
                                $t('app.close') }}}
                            </button>
                        </div>
                    </v-bootstrap-modal>

                    <v-bootstrap-modal :id="setPrefixedId('bootstrap-message-', item.id)"  size="modal-md">
                        <div slot="header">
                            <strong style="font-size: 18px;"> {{{ $t('app.report_photo_id', { id: item.id }
                                )}}}</strong>
                        </div>
                        <div slot="body">
                            <div class="row">
                                <div class="col-sm-12 image-holder">
                                    <p>
                                        <strong>Текст сообщения:</strong>
                                    </p>
                                    <p>
                                        {{ item.message }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div slot="footer">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="close-modal-message-button"
                            >{{{ $t('app.close') }}}
                            </button>
                        </div>
                    </v-bootstrap-modal>
                </div>


            </v-table>
        </div>

        <v-bootstrap-modal id="modal-export-prevent" size="modal-md" backdrop="static">

            <div slot="header">
                <strong style="font-size: 18px;">
                    {{{ $t('app.attention') }}}
                </strong>
            </div>

            <div slot="body">
                <p>{{{ $t('app.prevent', { limit: exportLimit } ) }}}</p>
            </div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal" aria-label="Close"
                        id="close-modal-export-prevent">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>
    </div>

</template>
<style>
    .modal-lg {
        /* new custom width */
        width: 960px !important;
        /* must be half of the width, minus scrollbar on the left (30px) */
        margin: 0 auto;
    }
</style>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal, mExportReport ],
        components: {
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
        },
        data(){
            return this.initialState()
        },
        created(){
            let vm = this;
            vm.initRegionSelectInputs( { setRegionId: true } );
            vm.initTypeSelectInputs();

            vm.getMessages();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.messages',
                        params: {}
                    },
                    exportLimit: 50000,
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: [],

                    },
                    tableData: {
                        model: 'receipts',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'messages'
                        },
                        fields: [
                            {
                                name: 'message_id',
                                isSortable: false,
                                classes: 'text-left',
                            },
                            {
                                name: 'region',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'organization_address',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'manufacturer_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'member_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'member_phone',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'device_uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'report_type',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'report_photo',
                                isSortable: false,
                                classes: 'text-left'
                            }, {
                                name: 'message_sent_at',
                                isSortable: true,
                                sortableField: 'created_at',
                                classes: 'text-left',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'asc',
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'registry-back',
                        selects: {
                            selectType: {
                                id: 'type-select',
                                roles: [ 'inspector-admin', 'inspector', 'npp', 'super-admin', 'receipt-moderator' ],
                                useAjax: false,
                                label: 'app.receipt_report_type',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_receipt_report_type',
                                reset: true
                            },
                            selectRegion: {
                                id: 'region-select',
                                roles: [ 'inspector-admin', 'npp', 'super-admin', 'receipt-moderator' ],
                                useAjax: false,
                                label: 'app.region',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_region',
                                reset: true
                            }
                        },
                        period: {
                            start: moment().subtract( 1, 'month' ).format( this.momentFormats.full ),
                            end: moment().add( 1, 'hours' ).format( this.momentFormats.full ),
                            help_block: translate( 'app.search_by_last_month' )
                        },
                        sort: {
                            name: 'created_at',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'excel-export-button',
                                title: 'excel_export',
                                icon: 'file-excel-o',
                                eventName: 'excel-export',
                                type: 'primary',
                            }
                        ]
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getMessages( params = {} ){
                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },

            /**
             * Инициализация списка регоинов
             */
            initRegionSelectInputs( params = {} ){

                let selectItems = [
                    { id: 'all', text: translate( 'app.all_regions' ) }
                ];

                this.params.regions.forEach( function( el ) { selectItems.push( { id: el.id, text: el.name } )} );

                this.$set( 'filterData.selects.selectRegion.items', selectItems );

                if ( this.$root.$refs.vm.hasRole( 'super-admin', 'inspector-admin', 'npp', 'receipt-moderator' ) ) {
                    this.$set( 'filterData.selects.selectRegion.selected', 'all' );
                    return;
                }

                // method hasGetParamsInUrl defined in  m-filter-logic
                if ( !this.hasGetParamsInUrl() || params.setRegionId ) {
                    this.$set( 'filterData.selects.selectRegion.selected', this.params.currentRegionId );
                }
            },

            /**
             * Инициализация списка типа
             */
            initTypeSelectInputs(){

                let selectItems = [
                    { id: 'all', text: translate( 'app.all_receipt_report_types' ) }
                ];

                this.params.types.forEach( function( el ) { selectItems.push( { id: el.id, text: el.name } )} );

                this.$set( 'filterData.selects.selectType.items', selectItems );

                this.filterData.selects.selectType.selected = 'all';
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            resetFilter(){

                this.$data = this.initialState();

                this.initRegionSelectInputs( { setRegionId: true } );
                this.initTypeSelectInputs();

                /**
                 * Выставление фильтра - за период, если есть
                 */
                if ( this.$data.filterData.period ) {
                    this.$broadcast( 'set-filter-data-period', this.$data.filterData.period );
                }

                let vm = this;
                vm.getItems( {
                    filter: vm.configureSendData()
                } );
            },

            /**
             * Отправка на бекенд только необходимимые данные
             */
            configureSendData(params = { withReport: false }){
                let vm = this;
                return {
                    withoutLoader: params.withReport,
                    page: vm.filterData.page,
                    typeId: vm.filterData.selects.selectType.selected,
                    regionId: vm.filterData.selects.selectRegion.selected,
                    period: {
                        start: vm.filterData.period.start,
                        end: vm.filterData.period.end
                    },
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка статуса для чека
             */
            setReceiptStatus( status = 'processing', receipt_id = null ){

                this.$http
                        .get( this.tableData.useModelInUrl.alternativeUrl, {
                            status: status,
                            receipt_id: receipt_id
                        } )
                        .then(
                                r => {
                                    swal( translate( 'app.attention' ), translate( 'app.receipt_status_set', {
                                        status: translate( `app.receipt_${status.split( '-' ).join( '_' )}` ),
                                        id: receipt_id
                                    } ), 'success' );

                                    this.getMessages( { historyCall: true } );

                                },
                                r => {
                                    console.error( r );
                                    this.handleSessionTimeOut( r );
                                } )
                        .bind( this );
            },

            /**
             * Проверяет является ли элемент одним из трех последних(если элементов в списке более 5)
             *
             * Используется для определения направления открытия Button dropdowns (либо вверх, либо вниз)
             * Это необходимо из-за-того, что родительскому блоку - контейнеру таблицы - задано
             * свойство overflow-y: hidden(чтобы длинный строки не выхолили за границы таблицы)
             * и Button dropdowns последних строк скрываются
             *
             * @param $index
             * @returns {boolean}
             */
            oneOfLastThree( $index ){
                return (($index + 1) > (this.pagination.data.length - 5) && this.pagination.data.length > 5);
            },

            /**
             * Формирование данных для компонента v-data используемый в
             * модальном окне для отображения информации о чеке
             *
             */
            getViewForModal( item ){
                return {
                    titleColumnClass: 'title-column-thin',
                    contentClass: 'text-big text-strong',
                    model: 'receipts',
                    item: item,
                    fields: [
                        'bin',
                        'date',
                        'time',
                        'sum'
                    ]
                }
            },
        },
        events: {
            'registry-back': function( event ) {
                this.getMessages( event );
            },
            'excel-export': function() {

                // mixin
                // getReport   => resources/assets/js/vue/mixins/m-export-report.js:53
                if (this.pagination.total < this.exportLimit) {
                    this.getReport('export-messages');
                } else {
                    $('#modal-export-prevent').modal('show');
                }
            }
        }
    }
</script>
