<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">
            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getDevices"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="align-info-table" v-for="item in pagination.data">
                    <v-cell classes="text-left">
                        <a href="#"
                           id="show-message-link-{{item.uuid}}"
                           @click.prevent="goWithParamsToSegments( { deviceUUID: item.uuid }, 'receipts', 'registry')"
                        >{{ item.uuid || '-' }}</a>
                    </v-cell>
                    <v-cell classes="text-left">{{ item.member_name || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.member_phone_number || '-' }}</v-cell>
                    <v-cell>{{ item.receipts_count || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.region_name || '-' }}</v-cell>
                </div>
            </v-table>
        </div></div>

</template>
<style scoped>

    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }

</style>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState();
        },
        created(){
            this.initRegionInSelectInputs({setRegionId:true});
            this.getDevices()
        },
        methods: {
            /** Возвращает первоначальное состояние объекта */
            initialState(){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.participant_list',
                        params: {}
                    },
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'receipts',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'participants'
                        },
                        fields: [
                            {
                                name: 'device_uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'member_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'user_phone',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'receipts_count',
                                isSortable: false,
                                classes: 'text-center'
                            },
                            {
                                name: 'region_name',
                                isSortable: false,
                                classes: 'text-left'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        page: 1,
                        unsetLabelBlock: true,
                        selects: {
                            selectRegion: {
                                id: 'region-select',
                                useAjax: false,
                                label: 'app.region',
                                items: [],
                                column: 'col-sm-4 padding-left-right-0',
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_region',
                                reset: true
                            }
                        }
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getDevices( params = {} ){

                let vm = this;
                let resetPage = params.resetPage || false;

                this.tryCatch(()=>{
                    vm.getItems( {
                        historyCall: params.historyCall || false,
                        filter: vm.configureSendData( resetPage )
                    } );
                }, 'Can\'t load data from server');
            },

            /**
             * Отправка в запросе только необходимые данные
             */
            configureSendData(resetPage = false){
                return {
                    region_id: this.filterData.selects.selectRegion.selected,
                    page: resetPage ? 1 : this.filterData.page
                }
            },
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.initRegionInSelectInputs( {setRegionId: true} );
                        vm.getDevices(  {resetPage: true } )
                    }
                } );
            },
            /**
             * Инициализация списка регионов
             */
            initRegionInSelectInputs(  ){

                if ( !this.params.regions ) {
                    return;
                }

                let selectItems = [ { id: 'all', text: translate( 'app.all_regions' ) } ];

                this.tryCatch(()=> {

                    this.params.regions.forEach( function( el ) { selectItems.push( { id: el.id, text: el.name } )} );
                    this.filterData.selects.selectRegion.items = selectItems;

                    if ( this.filterData.selects.selectRegion.selected == '' )
                        this.filterData.selects.selectRegion.selected = 'all';

                }, 'Regions can not be loaded or set');
            }
        }
    }
</script>
