<template>
    <div>
        <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
        <help-header :title="pageHeader" :total="pagination.total"></help-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getRegistry"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">
                        <a href="#"
                           data-toggle="modal" data-target="#{{setPrefixedId('bootstrap-modal-', item.id)}}"
                           id="show-message-link-{{item.id}}"
                        >{{* item.id }}</a>
                    </v-cell>

                    <v-cell classes="text-left">{{* item.region_name || '-' }}</v-cell>
                    <v-cell classes="text-left">{{* item.member_name || '-' }}</v-cell>
                    <v-cell classes="text-left">{{* item.member_phone_number || '-' }}</v-cell>
                    <v-cell classes="text-left">{{* item.device_uuid }}</v-cell>

                    <v-cell classes="text-left">
                        <v-dropdown
                                :index="$index"
                                :item-id="item.id"
                                :roles="['inspector-admin', 'npp', 'super-admin', 'receipt-moderator-admin']"
                                :title-if-deny="true"
                                :title="'app.receipt_'+ item.status.split('-').join('_')"
                                :buttons="getButtonsForDropdown(item)"
                        ></v-dropdown>
                    </v-cell>

                    <v-cell classes="text-left">{{* item.created_at }}</v-cell>

                    <v-bootstrap-modal :id="setPrefixedId('bootstrap-modal-', item.id)" size="modal-md">

                        <div slot="header">
                            <strong style="font-size: 18px;">
                                {{{ $t('app.receipt_number', { id: item.id }) }}}
                            </strong>
                        </div>

                        <div slot="body">
                            <div class="row">
                                <div class="col-sm-12 image-holder">
                                    <h4>{{{ $t('app.receipt_photo')}}}</h4>
                                    <img :src="$root.getFullImagePath(item.photo)"
                                         style="max-height: 500px;"
                                         alt="{{{ $t('app.receipt') }}}"
                                         title="{{{ $t('app.receipt') }}}"
                                         class="img-thumbnail"
                                         onerror="this.onerror = ''; this.src = '{{defaultImagePath}}';">
                                </div>
                            </div>
                        </div>

                        <div slot="footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                                    id="close-modal-button">{{{ $t('app.close') }}}
                            </button>
                        </div>

                    </v-bootstrap-modal>
                </div>
            </v-table>
        </div>

        <v-bootstrap-modal id="modal-export-prevent" size="modal-md" backdrop="static">

            <div slot="header">
                <strong style="font-size: 18px;"> {{{ $t('app.attention') }}} </strong>
            </div>

            <div slot="body">
                <p>{{{ $t('app.prevent', { limit: exportLimit } ) }}}</p>
            </div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal" aria-label="Close"
                        id="close-modal-prevent">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>
    </div>

</template>
<style scoped>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
    
    a.btn, a.btn:active, a.btn:hover{
        outline: none;
        color: white!important;
    }

</style>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    import Vue from 'vue';

    export default{
        mixins: [ mIndex, mGlobal, mExportReport ],
        components: {
            'help-header': require( "../inline-help/h-receipts-registry.vue" ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'v-dropdown': require( "../../components/v-dropdown.vue" )
        },
        data(){
            return this.initialState()
        },
        created(){

            let vm = this;

            vm.initRegionInSelectInputs( { setRegionId: true } );

            // НЕ ОЧЕВИДНАЯ ЛОГИКА
            // Если в параметрах передан deviceUUID, то необходимо
            // установить значение фильтра чтобы при первом запросе
            // осуществился поиск устройства deviceUUID
            // Такой переход осуществляется со страницы vm-suspicious-users line:18
            vm.setDeviceUUID( vm.$data );
            vm.setReceiptId( vm.$data );

            vm.getRegistry();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.registry',
                        params: {}
                    },
                    exportLimit: 50000,
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: [],
                    },
                    tableData: {
                        model: 'receipts',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'registry'
                        },
                        fields: [
                            {
                                name: 'receipt_id',
                                isSortable: false,
                                classes: 'text-left',
                            },
                            {
                                name: 'region',
                                isSortable: false,
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'member_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'member_phone',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'device_uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'status',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'receipt_created_at',
                                isSortable: true,
                                sortableField: 'created_at',
                                classes: 'text-left',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'asc',
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'registry-back',
                        search: {
                            id: {
                                // вы можете ограничить доступ к этому элементу
                                // roles: ['npp'],
                                value: '',
                                helpBlock: false,
                                // минимальная длина строки для поиска
                                minSearchLength: 0,
                                label: 'search_by_id',
                                placeholder: 'id_placeholder'
                            },
                            deviceUUID: {
                                // вы можете ограничить доступ к этому элементу
                                // roles: ['npp'],
                                value: '',
                                helpBlock: true,
                                // минимальная длина строки для поиска
                                minSearchLength: 2,
                                label: 'search_by_uuid',
                                placeholder: 'uuid_placeholder'
                            }
                        },
                        checkboxes: {
                            all: {
                                // вы можете ограничить доступ к этому элементу
                                // roles: ['npp'],
                                checked: true,
                                label: 'all',
                                eventName: 'trigger-all-statuses'
                            },
                            empty_bin: {
                                checked: true,
                                label: 'receipt_empty_bin'
                            },
                            processing: {
                                checked: true,
                                label: 'receipt_processing'
                            },
                            blurred: {
                                checked: true,
                                label: 'receipt_blurred'
                            },
                            member: {
                                checked: true,
                                label: 'receipt_member'
                            },
                            empty_date_time: {
                                checked: true,
                                label: 'receipt_empty_date_time'
                            },
                            winner: {
                                checked: true,
                                label: 'receipt_winner'
                            },
                            empty_sum: {
                                checked: true,
                                label: 'receipt_empty_sum'
                            },
                            not_fiscal: {
                                checked: true,
                                label: 'receipt_not_fiscal'
                            },
                            invalid_date: {
                                checked: true,
                                label: 'receipt_invalid_date'
                            },
                            duplicate: {
                                checked: true,
                                label: 'receipt_duplicate'
                            },
                            doesnt_match_terms: {
                                checked: true,
                                label: 'receipt_doesnt_match_terms'
                            }
                        },
                        selects: {
                            selectRegion: {
                                id: 'region-select',
                                roles: [ 'inspector-admin', 'npp', 'super-admin', 'receipt-moderator-admin' ],
                                useAjax: false,
                                label: 'app.region',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_region',
                                reset: true
                            }
                        },
                        period: {
                            // вы можете ограничить доступ к этому элементу по роли пользователя
                            // roles: [ 'npp','super-admin',],
                            start: this.getMomentMonthAgo(),
                            end: this.getMomentNow(),
                            help_block: translate( 'app.search_by_last_month' )
                        },
                        sort: {
                            name: 'created_at',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'excel-export-button',
                                title: 'excel_export',
                                icon: 'file-excel-o',
                                roles: ['super-admin'],
                                eventName: 'excel-export',
                                type: 'primary'
                            }
                        ]
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getRegistry( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;
                this.resetFilter( {
                    setParams( initialState ){
                        vm.setDeviceUUID( initialState );
                        vm.setReceiptId( initialState );
                    },
                    getData(){
                        vm.initRegionInSelectInputs( { setRegionId: vm.params.deviceUUID ? false : true } );
                        vm.getRegistry();
                    }
                } );
            },

            /**
             * Установка deviceUUID в модели филбтра
             * если deviceUUID был передан через параметр
             */
            setDeviceUUID( state ){
                if ( this.params.deviceUUID && this.params.deviceUUID != '' ) {
                    state.filterData.search.deviceUUID.value       = this.params.deviceUUID;
                    state.filterData.selects.selectRegion.selected = 'all';
                    state.filterData.period.start                  = this.getMomentMonthAgo();
                    state.filterData.period.end                    = this.getMomentNow();
                }
            },

            /**
             * Установка receipt_id в модели фильтра
             * если receipt_id был передан через параметр
             */
            setReceiptId( state ){
                if ( this.params.receipt_id && this.params.receipt_id != '' ) {
                    state.filterData.search.id.value = this.params.receipt_id;
                    state.filterData.period.start    = this.getMomentYearAgo();
                }
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData( params = { withReport: false } ){

                let vm = this;

                return {
                    withoutLoader: params.withReport,
                    page: vm.filterData.page,
                    search: vm.filterData.search.id.value,
                    regionId: vm.filterData.selects.selectRegion.selected,
                    deviceUUID: vm.filterData.search.deviceUUID.value,
                    period: {
                        start: vm.filterData.period.start,
                        end: vm.filterData.period.end
                    },
                    statuses: {
                        processing: vm.filterData.checkboxes.processing.checked,
                        member: vm.filterData.checkboxes.member.checked,
                        blurred: vm.filterData.checkboxes.blurred.checked,
                        winner: vm.filterData.checkboxes.winner.checked,
                        invalid_date: vm.filterData.checkboxes.invalid_date.checked,
                        empty_bin: vm.filterData.checkboxes.empty_bin.checked,
                        not_fiscal: vm.filterData.checkboxes.not_fiscal.checked,
                        empty_date_time: vm.filterData.checkboxes.empty_date_time.checked,
                        empty_sum: vm.filterData.checkboxes.empty_sum.checked,
                        duplicate: vm.filterData.checkboxes.duplicate.checked,
                        doesnt_match_terms: vm.filterData.checkboxes.doesnt_match_terms.checked
                    },
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка статуса для чека
             */
            setReceiptStatus( status = 'processing', receipt_id = null ){

                this.$http.get( this.tableData.useModelInUrl.alternativeUrl, {
                            status: status,
                            receipt_id: receipt_id
                        } )
                        .then(
                                ()=> {
                                    // перевод от вида: empty-sum(используется при хранении в БД)
                                    //          к виду: empty_sum(формат используется в локализации, и при передаче параметров)
                                    status = status.split( '-' ).join( '_' );
                                    swal( {
                                        title: translate( 'app.attention' ),
                                        text: translate( 'app.receipt_status_set', {
                                            status: translate( `app.receipt_${status}` ),
                                            id: receipt_id
                                        } ),
                                        html: true
                                    } );
                                    this.getRegistry( { historyCall: true } );
                                },
                                r => {
                                    console.error( r );
                                    this.handleSessionTimeOut( r );
                                } )
                        .bind( this );
            },

            /**
             * @see .../../components/v-dropdown.vue
             * */
            getButtonsForDropdown( item ){
                return [
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'member', item.id ],
                        title: 'app.receipt_member',
                        id: 'link-set-member-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'processing', item.id ],
                        title: 'app.receipt_processing',
                        id: 'link-set-processing-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'empty-bin', item.id ],
                        title: 'app.receipt_empty_bin',
                        id: 'link-set-empty-bin-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'invalid-date', item.id ],
                        title: 'app.receipt_invalid_date',
                        id: 'link-set-invalid-date-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'empty-date-time', item.id ],
                        title: 'app.receipt_empty_date_time',
                        id: 'link-set-empty-date-time-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'empty-sum', item.id ],
                        title: 'app.receipt_empty_sum',
                        id: 'link-set-empty-empty-sum-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'blurred', item.id ],
                        title: 'app.receipt_blurred',
                        id: 'link-set-blurred-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'not-fiscal', item.id ],
                        title: 'app.receipt_not_fiscal',
                        id: 'link-set-not-fiscal-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'duplicate', item.id ],
                        title: 'app.receipt_duplicate',
                        id: 'link-set-duplicate-' + item.id
                    },
                    {
                        action: this.setReceiptStatus,
                        actionArgs: [ 'doesnt-match-terms', item.id ],
                        title: 'app.receipt_doesnt_match_terms',
                        id: 'link-set-doesnt-match-terms-' + item.id
                    }

                ];
            },

            /**
             * Инициализация списка регоинов
             */
            initRegionInSelectInputs( params = {} ){

                if ( !this.params.regions ) {

                    if ( this.params.currentRegionId ) {
                        this.$set( 'filterData.selects.selectRegion.selected', this.params.currentRegionId );
                    }
                    else {
                        this.$set( 'filterData.selects.selectRegion.selected', 459 ); // 459 - Astana id
                        console.error( 'Current Region id must be specified!' );
                    }

                    return;
                }

                let selectItems = [ { id: 'all', text: translate( 'app.all_regions' ) } ];

                this.params.regions.forEach( function( el ) { selectItems.push( { id: el.id, text: el.name } )} );

                this.$set( 'filterData.selects.selectRegion.items', selectItems );

                if ( this.hasRole( 'super-admin', 'inspector-admin', 'npp', 'receipt-moderator-admin' )
                        && (this.filterData.selects.selectRegion.selected === 'all' || this.filterData.selects.selectRegion.selected === '' )) {
                    // если страница грузится первый раз (filterData не был установлен с помощью v-filter-logic)
                    this.$set( 'filterData.selects.selectRegion.selected', 'all' );
                    return;
                }

                // method hasGetParamsInUrl defined in  m-filter-logic
                if ( !this.hasGetParamsInUrl() || params.setRegionId ) {
                    this.$set( 'filterData.selects.selectRegion.selected', this.params.currentRegionId );
                }
            },

            ifOneIsCheckedExcept( fieldName = 'processing' ){
                let status = true;
                let vm     = this;

                Object.keys( vm.filterData.checkboxes ).forEach( function( elementName ) {
                    if ( elementName != fieldName && !vm.filterData.checkboxes[ elementName ].checked )
                        status = false;
                } );

                return status;
            },

            setCheckboxAll( value, checkboxName = 'processing' ){
                this.filterData.checkboxes.all.checked = (value == true && this.ifOneIsCheckedExcept( checkboxName ));
            }
        },
        watch: {
            'filterData.checkboxes.all.checked': function( value ) {

                let vm = this;

                function setValues( value ) {
                    vm.filterData.checkboxes.processing.checked         = value;
                    vm.filterData.checkboxes.member.checked             = value;
                    vm.filterData.checkboxes.empty_sum.checked          = value;
                    vm.filterData.checkboxes.blurred.checked            = value;
                    vm.filterData.checkboxes.invalid_date.checked       = value;
                    vm.filterData.checkboxes.empty_date_time.checked    = value;
                    vm.filterData.checkboxes.not_fiscal.checked         = value;
                    vm.filterData.checkboxes.duplicate.checked          = value;
                    vm.filterData.checkboxes.empty_bin.checked          = value;
                    vm.filterData.checkboxes.winner.checked             = value;
                    vm.filterData.checkboxes.doesnt_match_terms.checked = value;
                }

                if ( value )
                    setValues( value );

                if ( !value && (
                        this.filterData.checkboxes.processing.checked
                        && this.filterData.checkboxes.member.checked
                        && this.filterData.checkboxes.empty_sum.checked
                        && this.filterData.checkboxes.blurred.checked
                        && this.filterData.checkboxes.invalid_date.checked
                        && this.filterData.checkboxes.winner.checked
                        && this.filterData.checkboxes.doesnt_match_terms.checked
                        && this.filterData.checkboxes.not_fiscal.checked
                        && this.filterData.checkboxes.duplicate.checked
                        && this.filterData.checkboxes.empty_bin.checked
                        && this.filterData.checkboxes.empty_date_time.checked ) )
                    setValues( value );

            },
            'filterData.checkboxes.processing.checked': function( value ) {
                this.setCheckboxAll( value, 'processing' );
            },
            'filterData.checkboxes.empty_sum.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_sum' );
            },
            'filterData.checkboxes.blurred.checked': function( value ) {
                this.setCheckboxAll( value, 'blurred' );
            },
            'filterData.checkboxes.invalid_date.checked': function( value ) {
                this.setCheckboxAll( value, 'invalid_date' );
            },
            'filterData.checkboxes.empty_date_time.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_date_time' );
            },
            'filterData.checkboxes.empty_bin.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_bin' );
            },
            'filterData.checkboxes.member.checked': function( value ) {
                this.setCheckboxAll( value, 'member' );
            },
            'filterData.checkboxes.winner.checked': function( value ) {
                this.setCheckboxAll( value, 'winner' );
            },
            'filterData.checkboxes.not_fiscal.checked': function( value ) {
                this.setCheckboxAll( value, 'not_fiscal' );
            },
            'filterData.checkboxes.duplicate.checked': function( value ) {
                this.setCheckboxAll( value, 'duplicate' );
            },
            'filterData.checkboxes.doesnt_match_terms.checked': function( value ) {
                this.setCheckboxAll( value, 'doesnt_match_terms' );
            }
        },
        events: {
            'registry-back': function( event ) {
                this.getRegistry( event );
            },
            'excel-export': function() {

                // mixin
                // getReport   => resources/assets/js/vue/mixins/m-export-report.js:53
                if (this.pagination.total < this.exportLimit) {
                    this.getReport('export-receipts');
                } else {
                    $('#modal-export-prevent').modal('show');
                }
            },
            'open-help-for-admin': function() {
               $('#help-modal-for-admin').modal('show');
            },

        }
    }
</script>
