<template>
    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getStat"
                     :pagination="pagination"
                     :reset-filter="resetFilter"
            >
                <div class="row align-info-table" v-for="item in pagination.data">
                    <v-cell>{{ $index + 1 }}</v-cell>
                    <v-cell classes="text-left">
                        <strong v-if="$index + 1==pagination.data.length">
                            {{ item.region_name }}
                        </strong>
                        <span v-else>{{ item.region_name }}</span>
                    </v-cell>
                    <v-cell classes="text-right">{{{ item.january || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.february || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.march || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.april || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.may || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.june || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.july || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.august || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.september || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.october || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.november || 0 }}}</v-cell>
                    <v-cell classes="text-right">{{{ item.december || 0 }}}</v-cell>
                    <v-cell classes="text-right"><strong>{{ item.total || 0 }}</strong></v-cell>
                </div>
            </v-table>
        </div>
    </div>
</template>
<style>
    .filter-block-label {
        color: #3498DB;
        font-weight: bold;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    .select-label-check {
        margin-bottom: 15px;
    }

    .filter-region-width {
        width: 170px !important;
    }
</style>
<script type="text/babel">

    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mIndex, mGlobal, mExportReport ],
        data(){
            return this.initialState()
        },
        created(){
            this.getStat();
        },
        components: {
            'v-select': require( '../../components/v-select.vue' ),
            'v-checkbox': require( '../../components/v-checkbox.vue' ),
            'v-button': require( '../../components/v-button.vue' )
        },
        methods: {
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.statistics',
                        params: {}
                    },
                    pagination: {
                        data: [],
                        use: false
                    },
                    tableData: {
                        items: [],
                        model: 'receipts',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'statistics'
                        },
                        fields: [
                            {
                                name: 'row_number',
                                isSortable: false
                            },
                            {
                                name: 'region_name',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                classes: 'text-left',
                            },
                            {
                                name: 'january',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'february',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'march',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'april',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'may',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'june',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'july',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'august',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'september',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'october',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'november',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'december',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'total',
                                isSortable: true,
                                defaultSortDirection: 'desc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            }
                        ]
                    },
                    filterData: {
                        page: 1,
                        historyEventName: 'vm-statistics-history-back',
                        checkboxes: {
                            all: {
                                // вы можете ограничить доступ к этому элементу
                                // roles: ['npp'],
                                checked: true,
                                label: 'all',
                                eventName: 'trigger-all-statuses'
                            },
                            empty_bin: {
                                checked: true,
                                label: 'receipt_empty_bin'
                            },
                            processing: {
                                checked: true,
                                label: 'receipt_processing'
                            },
                            blurred: {
                                checked: true,
                                label: 'receipt_blurred'
                            },
                            member: {
                                checked: true,
                                label: 'receipt_member'
                            },
                            empty_date_time: {
                                checked: true,
                                label: 'receipt_empty_date_time'
                            },
                            winner: {
                                checked: true,
                                label: 'receipt_winner'
                            },
                            empty_sum: {
                                checked: true,
                                label: 'receipt_empty_sum'
                            },
                            not_fiscal: {
                                checked: true,
                                label: 'receipt_not_fiscal'
                            },
                            invalid_date: {
                                checked: true,
                                label: 'receipt_invalid_date'
                            },
                            duplicate: {
                                checked: true,
                                label: 'receipt_duplicate'
                            },
                            doesnt_match_terms: {
                                checked: true,
                                label: 'receipt_doesnt_match_terms'
                            }
                        },
//                        switches: {
//                            dataTypeSwitch: {
//                                selected: 'switch_quantity',
//                                positions: [
//                                    'switch_quantity',
//                                    'switch_sum'
//                                ]
//                            }
//                        },
                        selects: {
                            selectYear: {
                                id: 'year-select',
                                useAjax: false,
                                column: 'col-sm-2',
                                label: 'app.year',
                                items: this.getYearsForSelectInput(),
                                roles: [ 'super-admin', 'npp', 'inspector-admin' ],
                                selected: moment().get( 'year' ),
                                placeholder: 'app.select_year',
                                reset: true
                            }
                        },
                        sort: {
                            name: 'region_name',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'excel-export-button',
                                title: 'excel_export',
                                icon: 'file-excel-o',
                                eventName: 'excel-export',
                                type: 'primary'
                            }
                        ]
                    }
                }
            },
            getStat( params = {} ){

                let vm = this;

                setTimeout( () =>
                        vm.getItems( {
                            historyCall: params.historyCall || false,
                            filter: vm.configureSendData(),
                            success( response ){ vm.pagination.data = response.data; }
                        } ), 100 );
            },
            configureSendData( params = { withReport: false } ){
                let vm = this;

                return {
                    withoutLoader: params.withReport,
                    year: vm.filterData.selects.selectYear.selected,
                    statuses: {
                        processing: vm.filterData.checkboxes.processing.checked,
                        member: vm.filterData.checkboxes.member.checked,
                        blurred: vm.filterData.checkboxes.blurred.checked,
                        winner: vm.filterData.checkboxes.winner.checked,
                        invalid_date: vm.filterData.checkboxes.invalid_date.checked,
                        not_fiscal: vm.filterData.checkboxes.not_fiscal.checked,
                        empty_bin: vm.filterData.checkboxes.empty_bin.checked,
                        empty_date_time: vm.filterData.checkboxes.empty_date_time.checked,
                        doesnt_match_terms: vm.filterData.checkboxes.doesnt_match_terms.checked,
                        empty_sum: vm.filterData.checkboxes.empty_sum.checked,
                        duplicate: vm.filterData.checkboxes.duplicate.checked
                    },
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                };
            },
            resetFilter(){
                this.$data = this.initialState();

                this.getStat();
            },
            setCheckboxAll( value, checkboxName = 'member' ){
                this.filterData.checkboxes.all.checked = (value == true && this.ifOneIsCheckedExcept( checkboxName ));
            },
            ifOneIsCheckedExcept( fieldName = 'member' ){
                let status = true;
                let vm     = this;

                Object.keys( vm.filterData.checkboxes ).forEach( function( elementName ) {
                    if ( elementName != fieldName && !vm.filterData.checkboxes[ elementName ].checked )
                        status = false;
                } );

                return status;
            }
        },
        watch: {
            'filterData.checkboxes.all.checked': function( value ) {

                let vm = this;

                function setValues( value ) {
                    vm.filterData.checkboxes.processing.checked         = value;
                    vm.filterData.checkboxes.member.checked             = value;
                    vm.filterData.checkboxes.empty_sum.checked          = value;
                    vm.filterData.checkboxes.blurred.checked            = value;
                    vm.filterData.checkboxes.invalid_date.checked       = value;
                    vm.filterData.checkboxes.empty_date_time.checked    = value;
                    vm.filterData.checkboxes.not_fiscal.checked         = value;
                    vm.filterData.checkboxes.duplicate.checked          = value;
                    vm.filterData.checkboxes.empty_bin.checked          = value;
                    vm.filterData.checkboxes.doesnt_match_terms.checked = value;
                    vm.filterData.checkboxes.winner.checked             = value;
                }

                if ( value )
                    setValues( value );

                if ( !value && (
                        vm.filterData.checkboxes.processing.checked
                        && vm.filterData.checkboxes.member.checked
                        && vm.filterData.checkboxes.empty_sum.checked
                        && vm.filterData.checkboxes.blurred.checked
                        && vm.filterData.checkboxes.invalid_date.checked
                        && vm.filterData.checkboxes.winner.checked
                        && vm.filterData.checkboxes.not_fiscal.checked
                        && vm.filterData.checkboxes.duplicate.checked
                        && vm.filterData.checkboxes.doesnt_match_terms.checked
                        && vm.filterData.checkboxes.empty_bin.checked
                        && vm.filterData.checkboxes.empty_date_time.checked ) )
                    setValues( value );

            },
            'filterData.checkboxes.processing.checked': function( value ) {
                this.setCheckboxAll( value, 'processing' );
            },
            'filterData.checkboxes.empty_sum.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_sum' );
            },
            'filterData.checkboxes.blurred.checked': function( value ) {
                this.setCheckboxAll( value, 'blurred' );
            },
            'filterData.checkboxes.invalid_date.checked': function( value ) {
                this.setCheckboxAll( value, 'invalid_date' );
            },
            'filterData.checkboxes.empty_date_time.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_date_time' );
            },
            'filterData.checkboxes.empty_bin.checked': function( value ) {
                this.setCheckboxAll( value, 'empty_bin' );
            },
            'filterData.checkboxes.member.checked': function( value ) {
                this.setCheckboxAll( value, 'member' );
            },
            'filterData.checkboxes.winner.checked': function( value ) {
                this.setCheckboxAll( value, 'winner' );
            },
            'filterData.checkboxes.not_fiscal.checked': function( value ) {
                this.setCheckboxAll( value, 'not_fiscal' );
            },
            'filterData.checkboxes.duplicate.checked': function( value ) {
                this.setCheckboxAll( value, 'duplicate' );
            },
            'filterData.checkboxes.doesnt_match_terms.checked': function( value ) {
                this.setCheckboxAll( value, 'doesnt_match_terms' );
            }
        },
        events: {
            'vm-statistics-history-back': function( event = {} ) {
                this.getStat( event );
            },
            'excel-export': function() {

                // mixin
                // getReport   => resources/assets/js/vue/mixins/m-export-report.js:53
                this.getReport('export-statistics');
            }
        }
    }
</script>