<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getRegistry"
                     :pagination="pagination"
                     :reset-filter="resetFilter"
            >
                <div class="align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">
                        <a href="#"
                           data-toggle="modal" data-target="#{{setPrefixedId('bootstrap-modal-', item.id)}}"
                           id="show-message-link-{{item.id}}"
                        >{{ item.id }}</a>
                    </v-cell>

                    <v-cell classes="text-left">{{ item.region_name }}</v-cell>
                    <v-cell classes="text-left">{{ item.member_name || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.member_phone_number || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.device_uuid }}</v-cell>
                    <v-cell classes="text-left">{{{ $t('app.receipt_'+item.status.split('-').join('_')) }}}</v-cell>

                    <v-cell classes="text-left">{{ item.created_at }}</v-cell>

                    <v-bootstrap-modal :id="setPrefixedId('bootstrap-modal-', item.id)">
                        <div slot="header">
                            <strong style="font-size: 18px;">{{{ $t('app.receipt_number', { id:
                                item.id})}}}</strong>
                        </div>
                        <div slot="body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>{{{ $t('app.invoice_form')}}}</h4>
                                    <table class="table table-striped table-bordered ">
                                        <tr v-for="fieldName in view.fields">
                                            <td width="200" align="right"> {{{ $t( 'app.' + fieldName ) }}}</td>
                                            <td id="view-field-{{ item.id }}"> {{ fieldName =='sum' ?
                                                $root.roundCurrency(item.sum) : item[fieldName] }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-sm-6 image-holder">
                                    <h4>{{{ $t('app.photo')}}}</h4>
                                    <img :src="$root.getFullImagePath(item.photo)"
                                         style="max-height: 500px;"
                                         alt="{{{ $t('app.receipt') }}}"
                                         title="{{{ $t('app.receipt') }}}"
                                         class="img-thumbnail"
                                         onerror="this.onerror = ''; this.src = '{{defaultImagePath}}';"
                                    >
                                </div>
                            </div>

                        </div>
                        <div slot="footer">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal" aria-label="Close"
                                    id="close-modal-button"
                            >{{{ $t('app.close') }}}</button>
                        </div>
                    </v-bootstrap-modal>
                </div>
            </v-table>
        </div>

        <v-bootstrap-modal id="modal-export-prevent" size="modal-md" backdrop="static">

            <div slot="header">
                <strong style="font-size: 18px;"> {{{ $t('app.attention') }}}</strong>
            </div>

            <div slot="body"> <p>{{{ $t('app.prevent', { limit: exportLimit } ) }}}</p> </div>

            <div slot="footer">
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal" aria-label="Close"
                        id="close-modal-prevent">{{{ $t('app.close') }}}
                </button>
            </div>

        </v-bootstrap-modal>
    </div>

</template>
<style scoped>
    .align-info-table {
        display: table-row;
    }

    .align-info-table:before {
        content: none;
    }
</style>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';
    import mExportReport from '../../mixins/m-export-report';

    import Vue from 'vue';

    export default{
        mixins: [mIndex, mGlobal, mExportReport],
        components: {
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
        },
        data(){
            return this.initialState()
        },
        created(){
            let vm = this;
            vm.initRegionInSelectInputs({ setRegionId:true });
            vm.getRegistry();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){
                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.winners',
                        params: {}
                    },
                    exportLimit: 50000,
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'receipts',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'registry'
                        },
                        fields: [
                            {
                                name: 'receipt_id',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'region',
                                isSortable: false,
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'member_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'member_phone',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'device_uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'status',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'receipt_created_at',
                                isSortable: true,
                                sortableField: 'created_at',
                                classes: 'text-left',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'asc'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'registry-back',
                        search: {
                            id: {
                                value: '',
                                helpBlock: false,
                                // минимальная длина строки для поиска
                                minSearchLength: 0,
                                label: 'search_by_id',
                                placeholder: 'id_placeholder'
                            }
                        },
                        selects: {
                            selectRegion: {
                                id: 'region-select',
                                roles: ['inspector-admin', 'npp', 'super-admin'],
                                useAjax: false,
                                label: 'app.region',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_year',
                                reset: true
                            }
                        },
                        period: {
                            start: this.getMomentMonthAgo(),
                            end: this.getMomentNow(),
                            help_block: translate( 'app.search_by_last_month' )
                        },
                        sort: {
                            name: 'created_at',
                            direction: 'asc'
                        },
                        buttons: [
                            {
                                id: 'excel-export-button',
                                title: 'excel_export',
                                icon: 'file-excel-o',
                                eventName: 'excel-export',
                                type: 'primary'
                            }
                        ]
                    },
                    view: {
                        fields: [
                            'bin',
                            'date',
                            'time',
                            'sum'
                        ]
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getRegistry(params = {}){
                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData()
                } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            resetFilter(){

                this.$data = this.initialState();

                this.initRegionInSelectInputs( {setRegionId: true} );

                /**
                 * Выставление фильтра - за период, если есть
                 */
                if (this.$data.filterData.period) {
                    this.$broadcast( 'set-filter-data-period', this.$data.filterData.period );
                }

                let vm = this;
                vm.getItems( {filter: vm.configureSendData()} );
            },

            /**
             * Отправка на бекенд только необходимых данные
             */
            configureSendData(params = { withReport: false }){
                let vm = this;
                return {
                    withoutLoader: params.withReport,
                    page: vm.filterData.page,
                    search: vm.filterData.search.id.value,
                    regionId: vm.filterData.selects.selectRegion.selected,
                    period: {
                        start: vm.filterData.period.start,
                        end: vm.filterData.period.end
                    },
                    statuses: {
                        processing: false,
                        member: false,
                        blurred: false,
                        invalid_date: false,
                        empty_bin: false,
                        not_fiscal: false,
                        empty_date_time: false,
                        doesnt_match_terms: false,
                        empty_sum: false,
                        duplicate:false,

                        // only on this page
                        winner: true
                    },
                    onlyWinners: true,
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Установка статуса для чека
             */
            setReceiptStatus(status = 'processing', receipt_id = null){

                this.$http.get( this.tableData.useModelInUrl.alternativeUrl, {status: status, receipt_id: receipt_id} )
                        .then(
                                () => {
                                    {
                                        // перевод от вида: empty-sum(используется при хранении в БД)
                                        //          к виду: empty_sum(формат используется в локализации, и при передаче параметров)
                                        status = status.split( '-' ).join( '_' );
                                        swal(
                                                translate( 'app.attention' ),
                                                translate( 'app.receipt_status_set', {
                                                            status: translate( `app.receipt_${status}` ),
                                                            id: receipt_id
                                                        } ),
                                                'success'
                                        );
                                    }
                                    this.getRegistry( {historyCall: true} );
                                },
                                r => {
                                    console.error( r );
                                    this.handleSessionTimeOut( r );
                                } )
                        .bind( this );
            },

            /**
             * Инициализация списка регоинов
             */
            initRegionInSelectInputs(params = {}){

                let selectItems = [
                    {id: 'all', text: translate( 'app.all_regions' )}
                ];

                this.params.regions.forEach( el => selectItems.push( {id: el.id, text: el.name} ) );

                this.$set( 'filterData.selects.selectRegion.items', selectItems );

                if (this.$root.$refs.vm.hasRole( 'super-admin', 'inspector-admin', 'npp', 'receipt-moderator' )) {
                    this.$set( 'filterData.selects.selectRegion.selected', 'all' );
                    return;
                }
                // method hasGetParamsInUrl defined in  m-filter-logic
                if (!this.hasGetParamsInUrl() || params.setRegionId) {
                    this.$set( 'filterData.selects.selectRegion.selected', this.params.currentRegionId );
                }
            },

            /**
             * Проверяет является ли элемент одним из трех последних(если элементов в списке более 5)
             *
             * Используется для определения направления открытия Button dropdowns (либо вверх, либо вниз)
             * Это необходимо из-за-того, что родительскому блоку - контейнеру таблицы - задано
             * свойство overflow-y: hidden(чтобы длинный строки не выхолили за границы таблицы)
             * и Button dropdowns последних строк скрываются
             *
             * @param $index
             * @returns {boolean}
             */
            oneOfLastThree($index){
                return (($index + 1) > (this.pagination.data.length - 5) && this.pagination.data.length > 5);
            },
        },
        events: {
            'registry-back': function(event) {
                this.getRegistry( event );
            },
            'excel-export': function() {

                // mixin
                // getReport   => resources/assets/js/vue/mixins/m-export-report.js:53
                if (this.pagination.total < this.exportLimit) {
                    this.getReport('export-receipts');
                } else {
                    $('#modal-export-prevent').modal('show');
                }
            }
        }
    }
</script>
