<template>
    <div>
        <v-header :title="pageHeader"></v-header>



        <div class="main-box-body clearfix">

            <v-button
                    id="add-alias-button"
                    label="alias_create"
                    :on-click="add"
                    type="success"
                    icon="plus"
                    parent-class="disable-padding-inline-block"
            ></v-button>

            <div class="form">
                <input type="text"
                       id="alias-input"
                       class="alias-input"
                       placeholder="{{{ $t('app.alias_example') }}}"
                       v-show="changing.status"
                       v-model="input"
                       max="100"
                       @keyup.enter="store">

                <div class="form-buttons">
                    <v-button
                            id="store-alias-button"
                            :on-click="store"
                            title="save"
                            type="success"
                            icon="check"
                            v-show="changing.status && input!=''"
                            parent-class="disable-padding-inline-block"
                    ></v-button>

                    <v-button
                            id="cancel-button"
                            :on-click="cancel"
                            type="warning"
                            title="cancel"
                            icon="ban"
                            v-show="changing.status"
                            parent-class="disable-padding-inline-block"
                    ></v-button>
                </div>
            </div>

            <div class="list-container" v-if="aliases.length">
                <div v-for="alias in aliases" style="display: flex;">
                    <div class="col-sm-10 list-column-name">
                        <p>{{ alias.name }}</p>
                    </div>
                    <div class="col-sm-2 text-left list-column-button"
                         title="{{{ $t('app.alias_edit') }}}"
                         id="edit-alias-{{alias.id}}-button"
                         @click="edit(alias.id, alias.name )">
                        <p><i class="fa fa-pencil"></i></p>
                    </div>
                    <div class="col-sm-2 text-left list-column-button"
                         title="{{{ $t('app.delete') }}}"
                         id="destroy-alias-{{alias.id}}-button"
                         @click="destroy(alias )">
                        <p><i class="fa fa-trash"></i></p>
                    </div>
                </div>
            </div>

        </div>


        <v-bootstrap-modal id="warning-modal" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t('app.alias_will_be_removed', { name: changing.name }) }}}</p></div>

            <div slot="footer">
                <v-button
                          id="continue-modal-button"
                          label="continue"
                          :on-click="destroyConfirm"
                          type="success"
                ></v-button>

                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                >{{{ $t('app.cancel') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                pageHeader: {
                    label: 'app.aliases_for',
                    params: {
                        name: ''
                    }
                },
                input: '',
                changing: {
                    status: false,
                    type: 'add',
                    item_id: null,
                    name: '' // используется только при удалении
                },
                aliases: [],
            }
        },
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' )
        },
        computed: {
            aliasableType(){
                switch (this.params.aliasable_type) {
                    case 'cities' :
                        return translate( 'app.alias_type_cities' );
                        break;
                    case 'organizations' :
                        return translate( 'app.alias_type_organization' );
                        break;
                    case 'products' :
                        return translate( 'app.alias_type_product' );
                        break;
                    default:
                        return translate( 'app.alias_type_not_set' );
                        break;
                }
            }
        },
        created(){
            if ( this.paramsAreValid() ) {

                this.getAliases();

                this.pageHeader.params.type = this.aliasableType;
                this.pageHeader.params.name = this.params.item.name;
            }
        },
        methods: {

            /**
             * Получить псевдонимы при первоначальной загрузке
             */
            getAliases(){
                this.sendRequest(
                        'get',
                        '/aliases/' + this.params.aliasable_type + '/' + this.params.item.id,
                        { aliasable_type: this.params.aliasable_type, aliasable_id: this.params.item.id } );
            },

            /**
             * Добавить новый псевдоним
             */
            add(){
                this.input           = '';
                this.changing.status = true;
                this.changing.type   = 'add';
            },

            /**
             * Редактировать псевдоним
             */
            edit( item_id = null, text = 'Not specified' ){

                if ( item_id == null && text == 'Not specified' ) {
                    alert( 'Имя псевдонима не указано!' );
                    return
                }

                this.input            = text;
                this.changing.status  = true;
                this.changing.type    = 'edit';
                this.changing.item_id = item_id;
            },

            /**
             * Сохранение изменений
             */
            store(){

                if ( ! this.input ) {
                    $( '#alias-input' ).addClass( 'error' );
                    $( '#alias-input' ).attr( 'placeholder', 'Введите псевдоним' );
                    return
                }

                let url    = '/aliases';
                let params = {
                    aliasable_type: this.params.aliasable_type,
                    aliasable_id: this.params.item.id,
                    name: this.input
                };
                let type   = 'post';

                switch (this.changing.type) {
                    case  'add':
                        break;
                    case  'edit':
                        url                 = '/aliases/' + this.changing.item_id;
                        params[ 'id' ]      = this.changing.item_id;
                        params[ '_method' ] = 'PATCH';
                        type                = 'patch';
                        break;
                    default:
                        throw new Error( `Edit type is wrong. Must be edit or add, but ${this.changing.type} given` );
                        break;
                }

                this.sendRequest( type, url, params );
            },

            /**
             * Открыть модальное окно подтверждения удаления псевдонима
             */
            destroy( item = {} ){
                this.changing.type    = 'delete';
                this.changing.item_id = item.id;
                this.changing.name    = item.name;

                $( '#warning-modal' ).modal( 'show' );
            },

            /**
             * Удаление псевдонима
             */
            destroyConfirm(){

                if ( this.changing.type !== 'delete' || this.changing.item_id == null ) {
                    console.error( 'You can not delete item. Id not specified!' );
                    return;
                }

                this.sendRequest( 'post', '/aliases/' + this.changing.item_id, {
                    id: this.changing.item_id,
                    _method: 'DELETE',
                    aliasable_type: this.params.aliasable_type,
                    aliasable_id: this.params.item.id
                } );

                $( '#warning-modal' ).modal( 'hide' );

                this.changing.name = '';
            },

            /**
             * Валидация параметров
             *
             * @returns {boolean}
             */
            paramsAreValid()
            {
                if ( this.params.aliasable_type && this.params.item ) {
                    return true
                }

                return false;
            },

            /**
             * Отмена изменений
             */
            cancel(){
                this.input            = '';
                this.changing.status  = false;
                this.changing.type    = 'add';
                this.changing.item_id = null;
                $( '#alias-input' ).removeClass( 'error' );
                $( '#alias-input' ).attr( 'placeholder', 'Псевдоним' );
            },

            /**
             * Отправка запроса на сервер
             *
             * @param type
             * @param url
             * @param data
             */
            sendRequest( type = 'post', url = '/aliases', data = {} ){

                this.$http[ type ]( url, data ).then(
                        r=> {
                            this.aliases = r.data;
                            this.cancel();
                        },
                        r=> {
                            console.error( r.data );
                        } )
                        .bind( this );
            }

        }
    }
</script>
<style scoped>

    @media (max-width: 520px) {
        .list-container {
            margin-top: 10px;
            width: 100% !important;
        }

        .form, .form-buttons {
            display: block;
            width: 100%;
            margin: 10px 0;
        }

        .alias-input {
            width: 100%;
        }

        .main-box-body {
            min-width: 240px;
        }
    }

    .form, .form-buttons {
        display: inline-block;
    }

    .list-container {
        width: 450px;
        margin: 10px 0 0 0;
        border-bottom: 1px solid #dddddd;
    }

    .list-column-button:hover {
        background-color: #f1f1f1;
    }

    .list-column-name {
        border: 1px solid #dddddd;
        width: 85%;
        display: inline-block;
    }

    .list-column-name, .list-column-button {
        border-bottom: none !important;
    }

    .list-column-name:last-child {
        border-bottom: 1px solid #dddddd;
    }

    .list-column-name > p {
        margin: 10px !important;
    }

    .list-column-button {
        border: 1px solid #dddddd;
        border-left: none;
        padding: 0;
        margin: 0;
        width: 15%;
        display: inline-block;
    }

    .list-column-button > p {
        text-align: center;
        margin: 10px !important;

    }

    .list-column-button > p > i {
        margin-right: 0px !important;
    }

    .alias-input {
        display: inline-block;
        height: 31.6px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .alias-input.error {
        border-color: #e74c3c;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .alias-input.error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #e74c3c;
    }

    .alias-input.error::-moz-placeholder { /* Firefox 19+ */
        color: #e74c3c;
    }

    .alias-input.error:-ms-input-placeholder { /* IE 10+ */
        color: #e74c3c;
    }

    .alias-input.error:-moz-placeholder { /* Firefox 18- */
        color: #e74c3c;
    }

    .alias-input.error:after {
        content: 'Введите псевдоним';
        color: red;
    }

</style>