<template>
    <div>
        <v-header :title="pageHeader">
            <small slot="small">
                {{{ $t('app.push_header_info_block', { device_number:deviceNumber, estimated_time: estimatedTime } ) }}}
            </small>
            <div class="panel panel-default">

                <div class="panel-body" v-show="! $root.$refs.vm.hasRole( 'support-pro' )">
                    <h2> {{{ $t('app.which_project_to_use')}}}</h2>

                    <div class="radio" v-for="position in projects.positions">
                        <input type="radio"
                               id="radio-{{position}}"
                               v-model="projects.selected"
                               value="{{position}}"
                               @change.prevent="changeProjectType()">
                        <label for="radio-{{position}}" style="font-size: 18px;">
                            {{{ $t('app.'+position)}}}
                        </label>
                    </div>
                </div>
            </div>


        </v-header>

        <div class="main-box-body clearfix">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#single" @click="openSinglePage()">
                    {{{ $t('app.push_single') }}}</a></li>
                <li><a data-toggle="tab" href="#mass" @click="openMassPage()">{{{ $t('app.push_mass') }}}</a></li>
            </ul>

            <div class="tab-content">

                <div id="single" class="tab-pane fade in active">

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <div :class="['form-group', 'required', { 'has-error' : hasUUIDErrors } ]"
                             v-show="projects.selected==='wipon'"
                        >

                            <label for="uuid" class="control-label"> {{{ $t('app.uuid') }}}</label>
                            <input id="uuid" type="text" v-model="uuid" class="form-control">

                            <div v-show="errors.uuid" class="help-block">
                                <div v-for="e in errors.uuid">{{{ e }}}</div>
                            </div>
                        </div>

                        <div :class="['form-group', 'required', { 'has-error': hasUserIdErrors } ]"
                             v-show="showUserIdInput"
                        >

                            <label id="user-id-label" for="user-id" class="control-label">
                                {{{ $t('app.user_id') }}}
                            </label>
                            <input id="user-id" type="text" v-model="user_id" class="form-control">

                            <div v-show="hasUserIdErrors" class="help-block">
                                <div v-for="e in errors.user_id">{{{ e }}}</div>
                            </div>
                        </div>

                        <div :class="['form-group', 'required', { 'has-error': hasPhoneNumberErrors } ]"
                             v-show="showPhoneNumberInput"
                        >
                            <label id="phone-number-label" for="phone-number" class="control-label">
                                {{{ $t('app.wipon_pro_phone_number') }}}
                            </label>
                            <input id="phone-number" type="text" v-model="phone_number" class="form-control">

                            <div v-show="hasPhoneNumberErrors" class="help-block">
                                <div v-for="e in errors.phone_number">{{{ e }}}</div>
                            </div>
                        </div>

                        <div :class="['form-group', 'required', { 'has-error': hasSingleTimeError } ]">
                            <v-checkbox :model.sync="delayedSinglePush"></v-checkbox>
                            <vue-datetime-picker name="date-single"
                                                 :model.sync="startDateTimeSingle"
                                                 type="date"
                                                 language="ru"
                                                 :side-by-side="true"
                                                 :ignore-readonly="true"
                                                 :time-zone="getCurrentTimeZone()"
                                                 :date-format="momentFormats.full"
                                                 v-ref:start-picker-mass
                                                 v-show="delayedSinglePush.checked"
                            ></vue-datetime-picker>
                            <div v-show="errors.execute_at" class="help-block">
                                <div v-for="e in errors.execute_at">{{{ e }}}</div>
                            </div>
                        </div>

                        <div :class="['form-group', 'required', { 'has-error': hasMsgErrors } ]">
                            <label for="push-msg-single" class="control-label pull-left">{{{
                                $t('app.message')}}}</label>
                            <textarea id="push-msg-single" v-model="message" maxlength="{{ maxLength }}"
                                      class="form-control"></textarea>
                            <span v-if="errors.message" class="help-block">{{{ errors.message }}}</span>
                            <small class="pull-right" v-if="message">{{{ $t('app.remains', { count:remains }) }}}
                            </small>
                        </div>

                        <div class="form-group">

                            <a id="open-modal-btn"
                               class="btn btn-primary"
                               data-target="#confirm-modal-single"
                               data-toggle="modal"
                               v-if="inputIsValid"
                            >{{{ $t('app.send_push') }}}</a>

                        </div>

                    </div>

                    <v-bootstrap-modal id="confirm-modal-single" size="modal-md">
                        <div slot="header"> {{{ $t('app.attention') }}}</div>
                        <div slot="body">
                            {{{ $t('app.push_single_confirmation', {message:message}) }}}
                        </div>
                        <div slot="footer">
                            <button type="button"
                                    class="btn btn-success"
                                    id="continue-button"
                                    @click="sendSingle"
                            >{{{ $t('app.continue') }}}
                            </button>
                            <button type="button"
                                    class="btn btn-primary"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                    id="close-confirm-modal"
                            >{{{ $t('app.close') }}}
                            </button>
                        </div>
                    </v-bootstrap-modal>
                </div>

                <div id="mass" class="tab-pane fade">

                    <div class="col-lg-6 col-md-6 col-sm-12">

                        <!-- to_platform -->
                        <div class="form-group">
                            <v-checkbox :model.sync="allPlatforms" :on-change="getDeviceNumber"></v-checkbox>
                            <v-select :select-data.sync="platforms" v-show=" ! allPlatforms.checked"
                                      :on-select="getDeviceNumber"></v-select>
                        </div>

                        <!-- to_receipt_require -->
                        <div class="form-group" v-show="projects.selected==='wipon'">
                            <v-checkbox :model.sync="receiptsRequire" :on-change="getDeviceNumber"></v-checkbox>
                        </div>

                        <!-- to_versions -->
                        <div class="form-group">
                            <v-checkbox :model.sync="allVersions" :on-change="getDeviceNumber"></v-checkbox>
                            <v-select :select-data.sync="versions" v-show=" ! allVersions.checked"
                                      :on-select="getDeviceNumber"></v-select>
                        </div>

                        <!-- to_regions -->
                        <div class="form-group">
                            <v-checkbox :model.sync="allRegions" :on-change="getDeviceNumber"></v-checkbox>
                            <v-select :select-data.sync="regions" v-show=" ! allRegions.checked"
                                      :on-select="getDeviceNumber"
                            ></v-select>
                        </div>

                        <!-- delayed -->
                        <div :class="['form-group', 'required', { 'has-error': hasMassTimeError } ]">
                            <v-checkbox :model.sync="delayedMassPush" :on-change="getDeviceNumber"></v-checkbox>
                            <vue-datetime-picker name="date-mass"
                                                 :model.sync="startDateTimeMass"
                                                 type="date"
                                                 language="ru"
                                                 :side-by-side="true"
                                                 :ignore-readonly="true"
                                                 :time-zone="getCurrentTimeZone()"
                                                 :date-format="momentFormats.full"
                                                 v-ref:start-picker
                                                 :on-hide="getDeviceNumber"
                                                 v-show="delayedMassPush.checked"
                            ></vue-datetime-picker>
                            <div v-show="errors.execute_at" class="help-block">
                                <div v-for="e in errors.execute_at">{{{ e }}}</div>
                            </div>
                        </div>

                        <!-- message -->
                        <div :class="['form-group', 'required', { 'has-error': hasMsgErrors } ]">
                            <label for="push-msg" class="control-label pull-left">{{{ $t('app.message') }}}</label>
                            <textarea id="push-msg" v-model="message" maxlength="{{ maxLength }}"
                                      class="form-control"></textarea>
                            <span v-if="errors.message" class="help-block">{{{ errors.message }}}</span>
                            <small class="pull-right" v-if="message">{{{ $t('app.remains', { count:remains }) }}}
                            </small>
                        </div>

                        <div class="form-group">
                            <a id="open-confirm-modal-btn"
                               class="btn btn-primary"
                               data-target="#confirm-modal-mass"
                               data-toggle="modal"
                               v-if="message"
                            >{{{ $t('app.send_push') }}}</a>
                        </div>

                        <v-bootstrap-modal id="confirm-modal-mass" size="modal-md">
                            <div slot="header"> {{{ $t('app.attention') }}}</div>
                            <div slot="body">
                                <p>{{{ $t('app.push_mass_confirmation', {message: message}) }}} </p>
                                <p>{{{ $t('app.push_mass_estimation_time_info', {device_number:deviceNumber,
                                    estimated_time: estimatedTime}) }}} </p>
                                <p v-show="delayedMassPush.checked">{{{ $t('app.push_mass_time_to_send', { time:
                                    getTime('mass') } ) }}}</p>
                            </div>
                            <div slot="footer">
                                <button type="button"
                                        class="btn btn-success"
                                        id="continue-button-mass"
                                        @click="sendMass"
                                >{{{ $t('app.continue') }}}
                                </button>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                        id="close-confirm-modal-mass"
                                >{{{ $t('app.close') }}}
                                </button>
                            </div>
                        </v-bootstrap-modal>
                    </div>

                </div>
            </div>

        </div>

        <v-bootstrap-modal id="success-modal" size="modal-sm">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">

                <p v-show="activePage==='single' && delayedSinglePush.checked===true">
                    {{{ $t('app.push_scheduled') }}}
                </p>

                <p v-show="activePage==='single' && delayedSinglePush.checked===false"> {{{ $t('app.push_send') }}} </p>
                <p v-show="activePage==='mass' && delayedMassPush.checked===true"> {{{ $t('app.push_scheduled') }}} </p>
                <p v-show="activePage==='mass' && delayedMassPush.checked===false"> {{{ $t('app.push_send') }}} </p>
            </div>

            <div slot="footer">
                <button
                        id="close-success-modal-btn"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                >{{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal ],
        data(){
            return {
                pageHeader: { label: 'app.do_send_push' },
                message: null,

                // Используется в Wipon
                uuid: null,

                // Используется в WiponPro
                user_id: null,
                phone_number: null,

                projects: {
                    label: 'project_name',
                    name: 'project_name',
                    use: false,
                    selected: 'wipon',
                    positions: [
                        'wipon',
                        'wipon_pro'
                    ]
                },

                // MASS
                allPlatforms: {
                    id: 'all-platforms',
                    label: 'app.all_platforms',
                    checked: true
                },
                allRegions: {
                    id: 'all-regions',
                    label: 'app.all_regions',
                    checked: true
                },
                allVersions: {
                    id: 'all-versions',
                    label: 'app.all_versions',
                    checked: true
                },

                receiptsRequire: {
                    id: 'all-receipts-require',
                    label: 'app.to_receipt_require',
                    checked: false,
                },
                delayedSinglePush: {
                    id: 'all-delayed-push-single',
                    label: 'app.delayed_push',
                    checked: false,
                },
                delayedMassPush: {
                    id: 'all-delayed-push-mass',
                    label: 'app.delayed_push',
                    checked: false,
                },

                platforms: {
                    id: 'platform-select',
                    useAjax: false,
                    label: 'app.platform',
                    items: [
                        {
                            id: 'android',
                            text: 'Android'
                        }, {
                            id: 'ios',
                            text: 'iOS'
                        }
                    ],
                    selected: null,
                    placeholder: 'app.platform',
                    reset: true,
                },
                versions: {
                    id: 'version-select',
                    useAjax: false,
                    label: 'app.version',
                    items: [],
                    selected: null,
                    multiple: true,
                    placeholder: 'app.platform',
                    reset: true,
                },
                regions: {
                    id: 'region-select',
                    useAjax: false,
                    label: 'app.regions',
                    items: this.params.regions.map( el => {
                        return {
                            id: el.id,
                            text: el.name_ru
                        }
                    } ),
                    selected: null,
                    multiple: true,
                    placeholder: 'app.regions',
                },

                maxLength: 3500,

                startDateTimeMass: moment().format( this.momentFormats.full ),
                startDateTimeSingle: moment().format( this.momentFormats.full ),

                deviceNumber: 1,
                activePage: 'single',
                errors: {},
            }
        },
        created(){
            this.getAppVersions();

            // установка параметров
            if ( this.params.show_pro ) {
                this.initWiponProParams();
            } else {
                (this.params.uuid) && (this.uuid = this.params.uuid);
            }
        },
        computed: {

            /**
             * */
            inputIsValid(){

                if ( this.projects.selected === 'wipon_pro' ) {

                    return (this.message && this.user_id) || (this.message && this.phone_number);
                }

                return this.message && this.uuid;
            },

            /**
             * Может ли отображаться поле ввода для
             * отправки уведомления по user id
             * @return {boolean}
             **/
            showUserIdInput(){
                return this.projects.selected === 'wipon_pro'
                        && (this.phone_number == null || this.phone_number == '');
            },

            /**
             * Может ли отображаться поле ввода для
             * отправки уведомления по номеру телефона
             * @return {boolean}
             **/
            showPhoneNumberInput(){
                return this.projects.selected === 'wipon_pro'
                        && (this.user_id == null || this.user_id == '');
            },

            /**
             * Количество символов, которое пользователь в праве ещё написать в уведомлении
             * @returns {Number}
             **/
            remains(){
                if (this.message)
                {
                    return this.maxLength - this.message.length;
                }

                return 3000;
            },

            /**
             * Отображает наличие ошибки в поле message
             * @returns {boolean}
             **/
            hasMsgErrors(){
                return this.errors.message && this.errors.message.length;
            },

            /**
             * Отображает наличие ошибки в поле uuid
             * @returns {boolean}
             **/
            hasUUIDErrors(){
                return this.errors.uuid && this.errors.uuid.length;
            },

            /**
             * Отображает наличие ошибки в поле user_id
             * @returns {boolean}
             **/
            hasUserIdErrors (){
                return this.errors.user_id && this.errors.user_id.length;
            },

            /**
             * Отображает наличие ошибки в поле phone number
             * @returns {boolean}
             **/
            hasPhoneNumberErrors(){
                return this.errors.phone_number && this.errors.phone_number.length;
            },

            /**
             * Отображает количество времени, необходимое на отправку
             * @returns {String|Number}
             **/
            estimatedTime(){

                if ( this.deviceNumber ) {
                    return moment( "2015-01-01" ).startOf( 'day' )
                            .seconds( this.deviceNumber ).format( 'HH:mm:ss' );
                }

                return 0;
            },

            /**
             * Отвечает на вопрос: корректная ли дата отправки уведомления для массового уведомления
             * @returns {boolean}
             **/
            hasMassTimeError(){

                if ( this.delayedMassPush.checked === false ) {
                    return false;
                }

                if ( this.errors.execute_at ) {
                    return true;
                }

                return false;
            },

            /**
             * Отвечает на вопрос: корректная ли дата отправки уведомления для одиночного уведомления
             * @returns {boolean}
             **/
            hasSingleTimeError(){

                if ( this.delayedSinglePush.checked === false ) {
                    return false;
                }

                if ( this.errors.execute_at ) {
                    return true;
                }

                return false;
            },

        },
        components: {
            'v-header': require( '../../components/v-header.vue' ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'vue-datetime-picker': require( '../../../../../../node_modules/vue-datetime-picker/src/vue-datetime-picker' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-checkbox': require( '../../components/v-checkbox.vue' ),
        },
        methods: {

            phoneNumberIsValid( phone_number ){

                try {

                    (leodido.i18n.PhoneNumbers.formatNumber( phone_number, 'KZ', leodido.i18n.PhoneNumbers.FORMAT.E164 )) &&
                    (leodido.i18n.PhoneNumbers.isValidNumber( phone_number, 'KZ' ));
                    this.errors = {}
                } catch (e) {
                    console.error( e );

                    this.errors = { phone_number: [ 'Номер телефона не соответствует формату' ] };

                    return false;
                }

                return true;

            },
            /**
             * Инициализация Wipon Pro параметров
             * Если переданы два параметра по умолчания устанавливается user id
             *
             **/
            initWiponProParams(){

                this.projects.selected = 'wipon_pro';

                if ( this.params.user_id !== null && this.params.phone_number !== null ) {
                    console.warn( 'You must specify either user id or phone number. Not the both a the same time.' );

                    // set default - user id
                    ( this.params.user_id !== null ) && (this.user_id = this.params.user_id);
                    return;
                }

                ( this.params.user_id !== null ) && (this.user_id = this.params.user_id);

                if (! this.params.phone_number){
                    return;
                }

                this.phoneNumberIsValid( this.params.phone_number );

                (this.phone_number) && ( this.phone_number = this.params.phone_number.replace( / /g, '+' ));
            },

            /**
             * Отправить одиночное пуш уведомление
             **/
            sendSingle(){

                let objToSend = {
                    message: this.message.trim(),
                };

                if ( this.projects.selected === 'wipon_pro' ) {
                    (this.user_id) && (objToSend[ 'user_id' ] = this.user_id.trim());

                    if ( this.phone_number && !this.phoneNumberIsValid( this.phone_number ) ) {
                        return;
                    } else {
                        (this.phone_number ) && (objToSend[ 'phone_number' ] = this.phone_number.trim());
                    }

                } else {
                    (this.uuid) && (objToSend[ 'uuid' ] = this.uuid.trim());
                }

                (this.delayedSinglePush.checked === true) && (objToSend[ 'execute_at' ] = this.getTime( 'single' ));

                this.$http.get( '/push-notifications/send-single', objToSend )
                        .then(
                                response => this.handleSuccessResponce( response ),
                                response => this.handleErrorResponce( response ) )
                        .bind( this );
            },

            /**
             * Отправить массовое пуш уведомление
             **/
            sendMass(){
                this.$http
                        .get( 'send-mass', this.getParamsForMassPush() )
                        .then(
                                response => this.handleSuccessResponce( response ),
                                response => this.handleErrorResponce( response ) )
                        .bind( this );
            },

            /**
             * Обработка успешного выполнения запроса
             **/
            handleSuccessResponce( response ){

                $( '#confirm-modal-single' ).modal( 'hide' );
                $( '#confirm-modal-mass' ).modal( 'hide' );

                if ( response.data === 'success' ) {
                    this.errors = {};
                    this.uuid   = null;
                    $( '#success-modal' ).modal( 'show' );

                    return;
                }

                console.error( 'Error while sending single push notification!!!' );
            },

            /**
             * Обработка запроса, завершившегося неудачей
             **/
            handleErrorResponce( response ){

                $( '#confirm-modal-single' ).modal( 'hide' );
                $( '#confirm-modal-mass' ).modal( 'hide' );

                let errors = response.data.errors || {};

                this.errors = errors;

                console.error( errors );
            },

            /**
             * Получить количество устройств, на которое будет отправлено уведомление
             **/
            getDeviceNumber(){

                // на одно устройство - 1 секунда
                // запрос на количество устройств на которое будет отправлено уведомление
                this.$http.get( 'device-number', this.getParamsForMassPush() )
                        .then(
                                response => {
                                    this.deviceNumber = response.data.deviceNumber;
                                    this.errors       = {};
                                },

                                response => {
                                    let errors = response.data.errors;

                                    if ( errors && errors.execute_at ) {
                                        this.errors = errors;
                                    }
                                } )
                        .bind( this );
            },

            /**
             * Получить параметры для массовых пуш уведомлений
             **/
            getParamsForMassPush(){

                let objToSend = { message: this.message ? this.message.trim() : '' };

                ( this.projects.selected === 'wipon_pro' ) && (objToSend[ 'is_pro' ] = true);

                let vm = this;

                ( this.delayedMassPush.checked === true ) && ( objToSend[ 'execute_at' ] = vm.getTime( 'mass' ) );

                ( this.allPlatforms.checked === false && this.platforms.selected && this.platforms.selected.length ) && ( objToSend[ 'platform' ] = this.platforms.selected );
                ( this.allVersions.checked === false && this.versions.selected && this.versions.selected.length) && (objToSend[ 'versions' ] = this.versions.selected);
                ( this.allRegions.checked === false && this.regions.selected && this.regions.selected.length ) && ( objToSend[ 'regions' ] = this.regions.selected );

                ( this.receiptsRequire.checked === true ) && (objToSend[ 'receipts_require' ] = true);

                return objToSend;
            },

            /**
             * Загрузить версии приложения
             */
            getAppVersions(){
                this.$http.get( '/devices/versions', { withoutLoader: true } )
                        .then(
                                response => {
                                    let versions = [];

                                    let versionsGiven = response.data.map( el => {
                                        return {
                                            id: el.app_version,
                                            text: el.app_version
                                        }
                                    } );

                                    versionsGiven.forEach( version => versions.push( version ) );

                                    this.versions.items    = versions;
                                    this.versions.selected = (versions.pop()).id;
                                },
                                response => console.log( response ) )

                        .bind( this );
            },

            /**
             * Получить время в формате DD.MM.YYYY HH:mm
             * @returns {string} date
             */
            getTime( notificationType = 'single' ) {

                let date;

                switch (notificationType) {
                    case 'single':
                        date = moment.isMoment( this.startDateTimeSingle )
                                ? this.startDateTimeSingle.format( this.momentFormats.full )
                                : this.startDateTimeSingle;
                        break;
                    case 'mass':
                        date = moment.isMoment( this.startDateTimeMass )
                                ? this.startDateTimeMass.format( this.momentFormats.full )
                                : this.startDateTimeMass;
                        break;
                    default:
                        date = moment().format( this.momentFormats.full );
                        break;
                }

                return date;
            },

            /**
             * Перейти на страницу одиночных Push уведомлений
             */
            openSinglePage(){
                this.deviceNumber = 1;
                this.activePage   = 'single';
            },

            /**
             * Перейти на страницу массовых Push уведомлений
             */
            openMassPage(){
                this.getDeviceNumber();
                this.activePage = 'mass';
            },

            /**
             * переключение между проектами(Wipon/ WiponPro)
             */
            changeProjectType(){
                if ( this.activePage !== 'mass' ) {
                    return;
                }

                this.getDeviceNumber();
            }
        },
    }
</script>

<style scoped>
    .nav-tabs {
        background: #fff;
    }

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background: #fff;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none;
        border-bottom: 2px solid #3498db;
    }

    .col-lg-6.col-md-6.col-sm-12 {
        margin-top: 10px;
    }

    input, textarea {
        outline-color: #3498db;
    }

    .checkbox label::before {
        border-color: #a94442 !important;
    }
</style>