<template>
    <h3 id="expland-collapse-all" @click="collapseAll" style="cursor: pointer; color: #2323a8;" >
        <i class="fa fa-plus-square"></i> {{{ $t('app.requests') }}}
    </h3>

    <div class="panel-group">
        <div class="panel">

            <div v-for="api_request in apiRequests">

                <div class="panel-heading" style="cursor: pointer;" @click.prevent="collapseOne( api_request.id )">
                    <h4 class="panel-title">
                        <a id="expand-api-request-{{ api_request.id }}">
                            <i class="fa fa-plus-square"></i>
                            {{ api_request.created_at }} - {{ api_request.method }} {{ api_request.path }}
                            <br>
                        </a>
                    </h4>
                </div>

                <div id="api-request-panel-{{api_request.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <pre>{{{ syntaxHighlight(api_request) }}}</pre>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>

    export default{
        props: [ 'apiRequests' ],
        data(){
            return {
                isCollapsed: true
            }
        },
        methods: {
            collapseAll(){

                if ( this.isCollapsed ) {
                    this.isCollapsed = false;
                    $( '.panel-collapse' ).collapse( 'show' );
                    $( '.panel-title' ).attr( 'data-toggle', '' );
                    $( "#expland-collapse-all > .fa" ).removeClass( "fa-plus-square" ).addClass( "fa-minus-square" );
                    $( "#expland-collapse-all" ).next().find( '.fa' ).removeClass( "fa-plus-square" ).addClass( "fa-minus-square" );
                } else {
                    this.isCollapsed = true;
                    $( '.panel-collapse' ).collapse( 'hide' );
                    $( '.panel-title' ).attr( 'data-toggle', 'collapse' );
                    $( "#expland-collapse-all > .fa" ).removeClass( "fa-minus-square" ).addClass( "fa-plus-square" );
                    $( "#expland-collapse-all" ).next().find( '.fa' ).removeClass( "fa-minus-square" ).addClass( "fa-plus-square" );
                }
            },
            collapseOne( id ){

                var isExpanded = $( `#api-request-panel-${id}` ).hasClass( "in" );

                if (  ! isExpanded ) {
                    $( `#api-request-panel-${id}` ).collapse( 'show' );
                    $( `#expand-api-request-${id} > .fa` ).removeClass( "fa-plus-square" ).addClass( "fa-minus-square" );
                    $( `#expand-api-request-${id}` ).parent().attr( 'data-toggle', '' );

                } else {
                    $( `#expand-api-request-${id}` ).parent().attr( 'data-toggle', 'collapse' );
                    $( `#api-request-panel-${id}` ).collapse( 'hide' );
                    $( `#expand-api-request-${id} > .fa` ).removeClass( "fa-minus-square" ).addClass( "fa-plus-square" );
                }
            },
            syntaxHighlight( api_request ) {

                let json = JSON.stringify( api_request, undefined, 4 );

                json = json.replace( /&/g, '&amp;' ).replace( /</g, '&lt;' ).replace( />/g, '&gt;' );
                return json.replace( /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function( match ) {
                    var cls = 'number';
                    if ( /^"/.test( match ) ) {
                        if ( /:$/.test( match ) ) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if ( /true|false/.test( match ) ) {
                        cls = 'boolean';
                    } else if ( /null/.test( match ) ) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                } );
            }
        }
    }
</script>