<template>

    <div>
        <div class="modal fade" :id="id" role="dialog" aria-labelledby="myModalLabel" data-backdrop="{{backdrop}}"
             style="z-index: 10004;">
            <div class="modal-dialog {{size}}" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                    <div class="modal-footer">
                        <slot name="footer"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

    export default{
        /**
         *  id       - Id модального окна
         *  size     - Размер окна ['lg', 'sm']
         *  backdrop - Окно может закрыться при нажатии вне области окна, и не закрываться.
         *             Данное свойство определяет это поведение.
         *             Может быть:
         *                 - static - не закрывать при клике вне области модального окна
         *                 - non-static - закрывать при клике вне области модального окна
         */
        props: {
            id: { type: String },
            size: { type: String, default: 'modal-lg' },
            backdrop: { type: String, default: 'not-static' },
        },
        components: {
            'v-button ': require( "../components/v-button.vue" ),
        },
        ready(){
            $( '#' + this.id ).on( 'hidden.bs.modal', function( e ) {
                $( 'body' ).removeClass( 'modal-open' );
            } )
        },
    }
</script>