<template>
    <div class="block-button-inline {{ parentClass || '' }}">

        <button v-if="! backLink && ! isDropDown"
                :id="id"
                title="{{{  $t('app.'+ getTitle() ) }}}"
                class="btn btn-{{type || 'primary'}} {{class || ''}}"
                @click.prevent="callAction()"
        ><i class="fa fa-{{icon}}"></i> {{{ label ? $t( 'app.' + label ) : '' }}}
        </button>
    </div>

</template>

<script type="text/babel">
    export default{
        props: [
            'onClick',
            'eventName',
            'eventArguments',
            'icon',
            'title',
            'label',
            'type',
            'backLink',
            'class',
            'modal',
            'id',
            'parentClass',
            'callback',
            'callbackArgs',
        ],
        methods: {
            goBack(){
                go_back();
            },
            getTitle(){
                return this.title !== undefined
                        ? this.title
                        : this.label;
            },
            callAction( item = null ){

                let button = this;

                if ( item ) {
                    button = item;
                }

                if ( this.callback ) {
                    this.callback( this.callbackArgs );
                    return;
                }

                if ( this.onClick ) {
                    this.onClick();
                    return;
                }

                if ( this.eventName ) {
                    this.$dispatch( this.$get( 'eventName' ), this.$get( 'eventArguments', null ) );
                    return;
                }

                console.warn( `No action specified in button wid id: ${this.id}` );
            },
        }
    }
</script>

<style scoped>

    .block-button-inline {
        padding-top: 5px;
        padding-left: 5px;
        display: inline-block;
    }

    .disable-block-button-inline {
        padding-top: 0 !important;
        padding-left: 0 !important;;
        display: block;
    }

    .disable-padding-inline-block {
        padding-top: 0 !important;
        padding-left: 0 !important;
        display: inline-block;
    }

    .inline-block-padding-right-5 {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: 5px !important;
        display: inline-block;
    }

    .margin-reset {
        margin: 0 !important;
    }

    .padding-reset {
        padding: 0 !important;
    }

    .width-full {
        width: 100%;
    }

    .width-50 {
        width: 50%;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    .align-items-left {
        right: 0;
        left: initial;
    }

    .align-items-right {
        right: initial;
        left: 0;
    }


</style>
