<template>

    <div class="div-table-col {{classes}}" :id="id">
        <slot></slot>
    </div>
</template>

<style>

    .div-table-col {
        font-size: 0.875em;
        border-top: 1px solid #e7ebee;
        padding: 5px 8px;
        display: table-cell;
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
    }

    .text-right{
        text-align: right;
    }

    .text-left{
        text-align: left !important;
    }


</style>
<script>
    export default{

        // classes - Классы, которые будут добавлены к ячейке таблицы
        // id      - Id ячейки
        props: [ 'classes', 'id']
    }

</script>