<template>
    <div class="checkbox">
        <input type="checkbox" class="styled" :id="model.id" v-model="model.checked" @change="click"/>
        <label :for="model.id" id="label-for-cb-with-id-{{model.id}}"> {{{ $t(model.label)}}} </label>
    </div>

</template>
<style>
    .checkbox-label {
        width: 100%;
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<script>

    export default{

        /* model       - model вида:
         *							checkTypeHand: {
         *   						    id: 'checkbox-require-hand',
         *							    label: 'app.require_hand_input',
         *							    checked: true
         *							},
         *  onChange   - callback
         */
        props: ['model', 'onChange'],
        methods:{
            click(){
                (typeof this.onChange ==='function') && (this.onChange());
            }
        }
    }
</script>