<template>

        <div v-if="hasRole()" :class="[componentBlockClass]">
            <!-- Single button -->
            <div class="btn-group" :class="[ index && oneOfLastThree(index) ? 'dropup' : '' ]">
                <button type="button"
                        class="btn btn-{{type}} btn-xs dropdown-toggle"
                        id="dropdown-toggle-{{itemId}}"
                        data-toggle="dropdown"
                        title="{{ $t(title) }}} "
                        aria-haspopup="true" aria-expanded="false">
                    {{{ $t(title) }}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" v-if="buttons.length">
                    <li v-for="button in buttons">
                        <a href="#"
                           @click.prevent="performAction(button.action, button.actionArgs)"
                           id="{{ button.id }}"
                        >{{{ $t(button.title) }}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div v-if="!hasRole() && titleIfDeny">
            {{{ $t(title) }}}
        </div>



</template>

<script type="text/babel">

    /**
     * Компонент dropdown - кнопка с всплывающим списком действий
     * Список действий должен быть сформирован в том компоненте
     * куда вставляется v-dropdown.
     *
     * Примеры использования компонента: views/receipts/vm-registry.vue:29, views/products/vm-index.vue:31
     * Примеры формирования списка действий(метод getButtonsForDropdown): views/receipts/vm-registry.vue:360, views/products/vm-index.vue:209:
     *
     * */
    export default{
//        created(){
//
//            $( "<p>SDDD</p>" ).append( $( ".aaaaaaaaa" ) );
//            console.log( 1231 );
//        },
        props: {

            // Тип кнопки (определяет цвет) : primary, success, default, warning
            type: { type: String, default: 'primary' },

            // Используется в таблицах для отображения списка см. метод oneOfLastThree
            index: { type: Number, required: false },

            // Префикс для id кнопки oneOfLastThree dropdown-toggle
            itemId: { type: Number, default: 0 },

            // Роли которым доступен список действий
            roles: { type: Array, default: [] },

            // Заголовок кнопки
            title: { type: String, required: true },

            // Отображать Заголовок кнопки, в случае отсутствия доступа к компоненту
            titleIfDeny: { type: Boolean, default: false },

            // Список кнопок(действий) - возвращается из метода компонента -родителя
            // см. метод getButtonsForDropdown:
            //  - views/receipts/vm-registry.vue:377,
            //  - views/products/vm-index.vue:209:
            buttons: {
                type: Array,
                default: function() {
                    return [];
                }
            },

            // класс, который будет установлен для компонента
            componentBlockClass: { type: String, default: '' }
        },
        methods: {
            /**
             * Проверяет является ли элемент одним из трех последних(если элементов в списке более 7)
             *
             * Используется для определения направления открытия Button dropdown (либо вверх, либо вниз)
             * Это необходимо из-за-того, что родительскому блоку - контейнеру таблицы - задано
             * свойство overflow-y: hidden(чтобы длинный строки не выхолили за границы таблицы)
             * и Button dropdown последних строк скрываются
             *
             * @param $index
             * @returns {boolean}
             */
            oneOfLastThree( $index ){
                if ( this.$root.$refs.vm.pagination )
                    return (($index + 1) > (this.$root.$refs.vm.pagination.data.length - 6) && this.$root.$refs.vm.pagination.data.length > 7);
                else
                    return false;
            },

            /**
             * Вызывает callback функцию и передает в неё массив с аргументами
             *
             * @param { Function } callback - функция, которую необходимо выполнить (callback)
             * @param { array } arg[] - массив аргументов
             */
            performAction( callback = function() {}, arg = []){

                try {

                    callback.apply( this, arg );

                } catch (e) {

                    console.log( 'Arg must be an array ' + (typeof arg) + ' was given.' );
                    console.error( e );

                    try {
                        callback( arg );
                    } catch (e) {
                        console.error( 'Cant perform  action' );
                        console.error( e );
                    }
                }
            },
            hasRole(){
                return this.$root.$refs.vm.hasRole.apply( this, this.roles );
            }
        }
    }
</script>
<style scoped>
    .inline {
        display: inline-block;
    }
</style>