<template>
    <div>
        <form action="" :id="formId">

            <div v-for="(fieldName, obj) in form">
                <v-input :model="form.model" :name="fieldName" :field="obj" :error="form.errors[fieldName]"></v-input>
            </div>

            <slot></slot>

        </form>

    </div>
</template>

<script type="text/babel">
    export default{
        name:'form',
        props: [ 'form' ],
        components: {
            'v-input': require( "../components/v-input.vue" )
        },
        computed: {
            formId(){
                return this.form.id ? this.form.id : 'vue-js-form';
            }
        },
        ready(){
            if (this.form.focus){
                setTimeout(()=>{
                    $('#' + this.form.focus).focus();
                }, 400);
            }
        },
        methods: {
            getData(){

                let obj = {};
                let vm  = this;

                $.each( Object.keys( vm.form ), function( index, key ) {

                    let input = vm.form[ key ];
                    try {

                        if ( $.inArray( key, [ 'model', 'errors' ] ) >= 0 ) {
                            return true;
                        }

                        if ( input.type == 'select' ) {
                            obj[ input.sendFieldKey ] = vm.getSelectValue(input);
                            return true;
                        }

                        if ( moment.isMoment( input.value ) && input.value != '' ) {
                            obj[ key ] = input.format ? input.value.format( input.format ) : input.value.format( this.$root.$refs.vm.momentFormats.timestamp );
                            return true;

                        } else {
                            obj[ key ] = input.value;
                            return true;
                        }

                    } catch (e) {
                        console.error( e );
                    }
                } );

                return obj;
            },
            getSelectValue(input={}){

                if (input.config.multiple === true ){

                    if (! input.config.selected.length) {
                        return null;
                    }

                    return input.config.selected;
                }

                if (input.config.selected) {
                    return input.config.selected;
                }

                if (input.config.item.id) {
                    return input.config.selected;
                }

                console.error('Cant get select value from v-select component!!!');
            }
        }
    }
</script>