<template>

    <header class="main-box-header clearfix">

        <div class="filter-block">

            <h1> {{  getPageTitle() }} <slot name="small"></slot></h1>

            <slot></slot>

        </div>

    </header>


</template>
<script>
    import Vue from 'vue';
    export default{
        /**
         | Отображает заголовок страницы
         |
         | title - Объект содержащий информацию о заголовке
         |         Пример объявления:
         |          pageHeader: {
         |             label: 'app.aliases_for',
         |               params: {
         |                       name: ''
         |               }
         |         },
         | total - Общее число записей (обычно берется из объекта pagination)
         */
        props: ['title', 'total'],
        methods: {
            goBack(){
                go_back();
            },
            getPageTitle(){
                try {

                    return this.total
                            ? translate(this.title.label, this.title.params) + ' (' + this.total + ')'
                            : translate(this.title.label, this.title.params);

                }catch(e){
                    console.error(e);
                    return translate('app.header_not_set') ;
                }
            }
        }
    }
</script>