<template>
    <div>

        <input :id="name" v-model="field.value" type="hidden" v-if="field.type=='hidden'">

        <div :class="['form-group',field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='text-html' && hasRole(field.roles) && canBeShown">

            <label :for="name" class="control-label">
                {{{ $t( field.label ? field.label : 'app.'+ name ) }}}
            </label>

            <textarea
                    class="form-control"
                    id="html-editor"
                    rows="10"
                    placeholder="Content"
                    v-wysihtml5-editor="field.value"
            ></textarea>

            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

        <div :class="['form-group',field.required ? 'required' : '', { 'has-error': error }]"
             v-if="hasInputType(field.type) && hasRole(field.roles) && canBeShown">

            <label :for="name" class="control-label">
                {{{ $t( field.label ? field.label : 'app.'+ name  ) }}}
            </label>

            <input :id="name"
                   :maxlength="maxlength"
                   v-model="field.value"
                   :disabled="field.disabled"
                   :type="field.type"
                   placeholder="{{ getPlaceholder() }}"
                   class="form-control"
                   :class="[ field.valueStrong  ? 'font-strong' : '']">

            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

        <div :class="['form-group', field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='textarea'  && hasRole(field.roles) && canBeShown">
            <label :for="name" class="control-label">
                {{{ $t( field.label ? field.label : 'app.'+ name  ) }}}
            </label>
            <textarea :id="name"
                      v-model="field.value"
                      :disabled="field.disabled"
                      maxlength="{{field.maxLength}}"
                      placeholder="{{{field.placeholder ? $t(field.placeholder) : '' }}}"
                      class="form-control"></textarea>
            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

        <div :class="['form-group', field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='datetime' && hasRole(field.roles) && canBeShown">
            <label :for="name"> {{{ $t( field.label ? field.label : 'app.'+ name  ) }}}</label>
            <vue-datetime-picker :name="name"
                                 :model.sync="field.value"
                                 type="datetime"
                                 language="ru"
                                 :ignore-readonly="true"
                                 :time-zone="getCurrentTimeZone()"
                                 :side-by-side="true"
                                 :datetime-format="$root.$refs.vm.momentFormats.full"
                                 v-ref:end-picker
            ></vue-datetime-picker>
            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

        <div :class="['form-group', field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='select' && hasRole(field.roles) && canBeShown">

            <v-select :select-data.sync="field.config" :on-change="field.config.onSelectEvent" :appendix="field.config.appendix"></v-select>

            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

        <div :class="['form-group', field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='tree' && hasRole(field.roles) && canBeShown">

            <label :for="name" class="control-label">{{{ $t( field.label ? field.label : 'app.'+ name  ) }}}</label>
            <div :id="name" class="tree-block">
                <v-tree :is-root="true"
                        class="item"
                        :init-value="field.initValue"
                        :list="field.data"
                ></v-tree>
            </div>

            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>


        <div :class="['form-group', field.required ? 'required' : '', { 'has-error': error }]"
             v-if="field.type=='checkbox' && hasRole(field.roles) && canBeShown">

            <div class="checkbox">
                <input type="checkbox" class="styled" :id="name" v-model="field.value"/>
                <label :for="name">{{{ $t( field.label ? field.label : 'app.'+ name  ) }}}</label>
            </div>

            <div v-show="error" class="help-block">
                <div v-for="e in error">{{{ e }}}</div>
            </div>
        </div>

    </div>
</template>
<style scoped>
    .font-strong {
        font-weight: 800;
    }

    .tree-block {
        border: 1px solid #999999;
        border-radius: 4px 4px 4px 4px;
        padding: 10px 15px 0 15px;
    }

    .form-group.has-error > .tree-block {
        border-color: #e74c3c;
    }

</style>

<script type="text/babel">


    export default {
        props: [ 'field', 'error', 'name', 'model' ],
        data(){
            return {
                counter: 1
            }
        },
        computed: {
            maxlength(){
                return this.field.maxlength || 1000;
            },
            canBeShown(){
       
                if ( ! this.field.hasOwnProperty( 'canBeShown' )  && this.counter>0)
                    return true;

                if ( _.isString(this.field.canBeShown) && this.class_name( this.$parent ) === 'Form' ) {

                    // call computed method
                    return this.$parent.$parent[ this.field.canBeShown ];
                }

                return false;
            }
        },
        components: {
            "vue-datetime-picker": require( "../../../../../node_modules/vue-datetime-picker/src/vue-datetime-picker" ),
            'v-select': require( './v-select.vue' ),
            'v-tree': require( './v-tree.vue' ),
        },
        ready(){
            switch (this.field.enterType) {
                case 'number':
                    document.getElementById( this.field.name ).addEventListener( "keypress", function( evt ) {
                        if ( evt.which != 46 && evt.which < 48 || evt.which > 57 ) {
                            evt.preventDefault();
                        }
                    } );
                    break;
                default:
                    break;
            }

        },
        methods: {
            fieldErrors( errors ){
                if ( typeof errors === 'array' ) {
                    return errors;
                }

                return [ errors ];
            },
            hasInputType( el ){
                return $.inArray( el, [ 'text', 'email', 'number', 'date', 'time', 'password' ] ) >= 0;
            },
            getCurrentTimeZone(){
                if ( this.$root.$refs.vm.userTimeZone === '' ) {
                    console.warn( 'UserTimeZone is not specified' );
                    return 'Asia/Almaty';
                } else
                    return this.$root.$refs.vm.userTimeZone;
            },
            hasRole( roles ){

                if ( ! roles ) {
                    return true;
                }

                if ( ! roles instanceof Array )

                    return false;

                return this.$root.$refs.vm.hasRole.apply( this, roles );
            },
            getPlaceholder(){
                if ( this.placeholder && typeof this.placeholder === 'string' )
                    return translate( this.model + '.' + this.placeholder );

                return '';

            },


            /**
             * Gets the classname of an object or function if it can.  Otherwise returns the provided default.
             *
             * Getting the name of a function is not a standard feature, so while this will work in many
             * cases, it should not be relied upon except for informational messages (e.g. logging and Error
             * messages).
             */
            class_name( object, defaultName = 'objectName' ) {

                var nameFromToStringRegex = /^function\s?([^\s(]*)/;
                var result                = "";

                if ( typeof object === 'function' ) {
                    result = object.name || object.toString().match( nameFromToStringRegex )[ 1 ];
                } else if ( typeof object.constructor === 'function' ) {
                    result = this.class_name( object.constructor, defaultName );
                }
                return result || defaultName;
            }
        }
    }
</script>