<template>
    <div>
        <div id="pointer-map" class="map-content"></div>
    </div>
</template>

<script>
    /**
     * Компонент для инициализации карты Google Maps
     *
     * @param { object } position     - первоначальная позиция центра карты
     * @param { Array } points        - точки (Markers) на карте points
     * @param { Function } putContent - функция, возвращающая строку HTML, которая будет вставлена в infoWindow
     */
    export default{
        props: [{
            name: 'position',
            type: Object,
            required: true
        }, {
            name: 'points',
            type: Array
        }, {
            name: 'putContent',
            type: Function,
            required: true
        }],
        data(){
          return {
              infoWindows:[]
          }
        },
        methods: {
            getMap(){

                let vm = this;

                return new google.maps.Map( document.getElementById( 'pointer-map' ), {
                    zoom: 13,
                    scrollwheel: true,
                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                    center: new google.maps.LatLng( vm.position.latitude || 51.128422, vm.position.longitude || 71.430564 )
                } );
            },
            initMap(){
                google.maps.event.addDomListener( window, 'load', this.loadMap );
            },
            loadMap(){

                let vm      = this;
                let map     = vm.getMap();
                let markers = [];

                if (! vm.points){
                    console.log('No points ro render!!!');
                    return;
                }

                vm.points.forEach( function(entry) {
                    markers.push( vm.initMarker( map, entry ) );
                } );

                for (var i = 0, marker; marker = markers[i]; i++) {
                    marker.setMap( map );
                }
            },
            initMarker(map, entry){

                let vm = this;

                let marker = new google.maps.Marker( {
                    icon: vm.getGoogleMarkerType( entry.status ),
                    position: new google.maps.LatLng( entry["latitude"], entry["longitude"] )
                } );

                vm.setPointEventListener( map, marker, entry );

                return marker;
            },
            setPointEventListener(map, marker, entry){

                let vm         = this;
                vm.infoWindows = [];

                google.maps.event.addListener( marker, 'click', (function(marker) {

                    return function() {

                        if (vm.infoWindows.length > 0) {
                            vm.infoWindows.forEach( function(entry) {
                                window.currentOpenedMarker= undefined;
                                entry.close();
                            } );
                        }

                        vm.infoWindows.push( new google.maps.InfoWindow() );

                        vm.infoWindows[vm.infoWindows.length - 1].setContent( vm.putContent( entry ) );
                        vm.infoWindows[vm.infoWindows.length - 1].open( map, marker );

                    }
                })( marker, entry ) );

                map.addListener('click', function() {
                    if (vm.infoWindows.length > 0) {
                        vm.infoWindows.forEach(function (entry) {
                            window.currentOpenedMarker= undefined;
                            entry.close();
                        });
                    }
                });

            },
            getGoogleMarkerType(status){

                var pinFakeColor      = "FE7569";
                var pinValidColor     = "00CC00";
                var pinDuplicateColor = "0066ff";

                var pinValidImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinValidColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                var pinFakeImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinFakeColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                var pinDuplicateImage = new google.maps.MarkerImage( "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinDuplicateColor,
                        new google.maps.Size( 21, 34 ),
                        new google.maps.Point( 0, 0 ),
                        new google.maps.Point( 10, 34 ) );

                switch (status) {
                    case 'valid':
                        return pinValidImage;
                        break;
                    case 'fake':
                        return pinFakeImage;
                        break;
                    case 'duplicate':
                        return pinDuplicateImage;
                        break;
                    default:
                        return pinFakeImage;
                        break;
                }
            }
        },
        watch: {
            points () {
                this.loadMap();
            }
        }
    }
</script>