<template>

    <div class="pull-right" v-if="pagination.last_page>1">
        <ul class="pagination pull-right">

            <li v-if="pagination.current_page != 1" title="{{{ $t('app.first_page') }}}">
                <a href="#" id="{{ prefix }}-pagination-first-page-link" @click.prevent="changePage(1)"><<</a>
            </li>
            <li v-if="pagination.current_page > 10" title="{{{ $t('app.previous_ten') }}}">
                <a href="#" aria-label="Previous"
                   id="{{ prefix }}-pagination-previous-ten-page-link"
                   @click.prevent="changePage(backToPage)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li v-for="page in pagesNumber"
                :class="[ page == isActive ? 'active' : '']">
                <a href="#"
                   id="{{ prefix }}-pagination-page-{{page}}-link"
                   @click.prevent="changePage(page)">{{ page }}</a>
            </li>
            <li v-if="pagination.current_page < pagination.last_page - 10" title="{{{ $t('app.next_ten') }}}">
                <a href="#"
                   id="{{ prefix }}-pagination-next-ten-page-link"
                   aria-label="Next"
                   @click.prevent="changePage(forwardToPage)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li v-if="pagination.current_page != pagination.last_page"  title="{{{ $t('app.last_page') }}}">
                <a href="#" id="{{ prefix }}-pagination-last-page-link"
                   @click.prevent="changePage(pagination.last_page)">>></a>
            </li>

        </ul>
    </div>

</template>

<script>
    /**
     * Рисует ссылки pagination
     * Содержит ссылки на страницы, крайние (первая, последняя страницы),
     * ссылки для перехода на определенное число страниц вперед и
     * назад(число, на которое совершается прыжок jump_length)
     *
     *
     * @param { Object } pagination - Объект отдаваемый Laravel см. https://laravel.com/docs/5.3/pagination#converting-results-to-json
     * @param { Function } onPageChanged - Функция, вызываемая при переходе между страницами
     * @param { Object } filter - Объект, который должен содержать атрибут page - номер текущей страницы
     * @param { string } [prefix=prefix] - Строка которая будет добавлена к id элементов навигации
     */
    export default{
        props: {
            pagination: Object,
            onPageChanged: Function,
            filter: Object,
            prefix: { type: String, default: 'prefix' }
        },
        data(){
            return {
                offset: 5, // количество ссылок отображаемых дои после текущей страницы (в случае если вы находитесь в середине списка)
                jump_length: 10 // Количество страниц, через которое прыгает
            }
        },
        computed: {
            isActive() {
                return this.pagination.current_page;
            },
            pagesNumber() {
                var from = this.pagination.current_page - this.offset;
                if ( from < 1 ) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if ( to >= this.pagination.last_page ) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push( from );
                    from++;
                }
                return pagesArray;
            },
            backToPage() {
                var prevPages = this.pagination.current_page - this.jump_length;
                return prevPages > 0 ? prevPages : 1;
            },
            forwardToPage(){
                return this.pagination.last_page - this.pagination.current_page > this.jump_length
                        ? this.pagination.current_page + this.jump_length
                        : this.pagination.last_page;
            }
        },
        methods: {

            /**
             * Переход на заданную страницу
             *
             * @param {number} page - Страница, на которую осуществляется переход
             */
            changePage ( page ) {

                this.pagination.current_page = page;

                (this.filter) && (this.filter.page = page);

                this.onPageChanged();
            }
        }
    }
</script>