<template>
    <div class="{{ parentClass || ''  }}">
        <label for="{{selectData.id}}" class="control-label" :class="labelClass" v-if="selectData.label">{{ $t(selectData.label) }}</label>

        <select id="{{selectData.id}}" :disabled="selectData.disabled" v-if="selectData.useAjax" :multiple="multiple">
            <option v-for="item in selectData.items" v-bind:value="item.id">{{ item.text }}</option>
        </select>

        <select id="{{selectData.id}}"
                v-if="!selectData.useAjax"
                :multiple="multiple"
                :disabled="selectData.disabled"
                v-model="selectData.selected"
        >
            <option v-for="item in selectData.items" v-bind:value="item.id">{{ item.text }}</option>
        </select>
    </div>

</template>
<style>

    /*.select2-container--default .select2-selection--single .select2-selection__arrow {*/
    /*height: 26px;*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*right: 8px;*/
    /*width: 20px;*/
    /*}*/

    /*.select2-container--default .select2-selection--single{*/
    /*padding: 4px;*/
    /*height: 36px;*/
    /*width: 100%;*/
    /*font-size: 1.2em;*/
    /*position: relative;*/
    /*}*/
    
    .select-inline-block{
        display: inline-block;
    }

    /* selects */
    .select2-container {
        width: 100% !important;
    }

    .select-filter-style {
        font-weight: 400 !important;
        font-size: 0.75em;;
        color: black !important;
    }

    .max-width-350 {
        max-width: 350px;
    }

    .width-350{
        width: 350px !important;
    }

    .color-white {
        color: white;
    }

</style>
<script type="text/babel">
    import Vue from 'vue';

    export default{
        /**
         * @desc Входные параметры
         *
         * @param {Object} selectData               - объект с настройками
         * @param {function | string} onSelect      - если строка - вызывается событие по этой строке и событию передаются параметры выбранного элемента,
         *                                          - если callback - вызывается callback и ему передаются значение выбранного элемента
         * @param {Object} onOpen                   - событие срабатываемое при открытии списка
         * @param {function | string} appendix      - строка или функция, возвращающая строку, которая будет добавлена к р
         *
         **/
        props: [ 'selectData', 'onSelect', 'onOpen', 'appendix', 'processResults', 'labelClass', 'onChange', 'onResetSelect', 'parentClass' ],
        ready(){

            if ( this.selectData.useAjax ) {
                this.initSelect2WithAjax( true );

                // onResetSelect используется родительским компонентом для перезагрузки select2
                if ( typeof this.onResetSelect === 'function' ) {
                    this.onResetSelect = this.initSelect2WithAjax;
                }
            }
            else
                this.initSelect2WithOptions();
        },
        computed: {
            el(){
                return '#' + this.selectData.id;
            },
            multiple(){
                return _.isBoolean( this.selectData.multiple ) && this.selectData.multiple === true;
            }
        },
        methods: {

            /**
             * Инициализация select2 с Ajax
             */
            initSelect2WithOptions(){

                let vm = this;

                let $select = $( vm.el );

                $select.select2( { placeholder: Vue.t( vm.selectData.label ) } );

                if ( _.isObject(vm.selectData.initialState) ) {
                    $select.val(vm.selectData.initialState.id).trigger('change');
                }

                $select.on( 'change', function() {

                    vm.selectData.selected = $( this ).val();

                    if ( typeof vm.onSelect === 'function' )
                        vm.onSelect( false, $( this ).val() );
                } );

                if ( vm.selectData.customStyles ) {

                    vm.selectData.customStyles.forEach( styles => {
                        if ( styles.selector && styles.styles )
                            $( styles.selector ).css( styles.styles );
                    } )
                }
            },

            /**
             * Инициализация select2 c заранее заданными options
             */
            initSelect2WithAjax( firstInit = false ){

                if ( !firstInit )
                    $( this.el ).off().select2( 'destroy' );

                let vm = this;

                let $select = $( this.el );

                let options = {
                    locale: 'ru',
                    placeholder: translate( vm.selectData.label ),
                    ajax: {
                        url: '/' + vm.selectData.url,
                        dataType: 'json',
                        type: "GET",
                        quietMillis: 50,
                        data: function( data ) {
                            return {
                                withoutLoader:false,
                                search: data.term,
                                params: typeof  vm.appendix == 'function' ? vm.appendix() : vm.appendix
                            };
                        },
                        beforeSend: function( xhr, settings ) {
                            let search = settings.url.split( 'search=' )[ 1 ];

                            if ( search === undefined )
                                xhr.abort();

                            if ( search !== undefined && search.length == 0 )
                                xhr.abort();
                        },
                        processResults: function( response ) {
                            return {
                                results: vm.processAjaxResults( response )
                            }
                        }
                    }
                };

                if ( vm.hasInitialStateArray() ) {
                    options[ 'data' ] = JSON.parse( JSON.stringify( vm.selectData.initialState ) );
                }

                if ( vm.hasInitialStateObject() ) {
                    options[ 'data' ] = [ {
                        id: vm.selectData.initialState.id,
                        text: vm.selectData.initialState.text
                    } ];
                }

                $select
                        .select2( options )
                        .on( 'change', function() {
                            let _self = $( this );
                            vm.setSelectedValue( _self );
                        } )
                        .on( "select2:open", function() {
                            if ( typeof vm.onOpen === 'function' ) {
                                vm.onOpen();
                            }
                        } )
                        .on( "select2:unselect", function( e ) {
                            let _self = $( this );
                            vm.setSelectedValue( _self );
                        } );

                if ( vm.hasInitialStateArray() ) {
                    $select.val( vm.selectData.initialState.map( el=>el.id ) ).trigger( "change" );
                }

                if ( vm.hasInitialStateObject() ) {
                    $select.val( vm.selectData.initialState.id ).trigger( "change" );
                }
            },

            hasInitialStateArray(){
                return _.isArray( this.selectData.initialState ) && this.selectData.multiple && this.selectData.multiple === true;
            },

            hasInitialStateObject(){
                return _.isObject( this.selectData.initialState ) && this.selectData.initialState.id && this.selectData.initialState.text;
            },

            setSelectedValue( _self ){

                let vm = this;

                // если есть свойство selected и оно является массивом - multiple select
                if ( _.isArray( vm.selectData.selected ) && vm.selectData.setSelected === true ) {
                    vm.$set( 'selectData.selected', vm.getSelectValues( document.getElementById( _self.attr( 'id' ) ) ) );
                    return;
                }

                // если есть свойство selected и оно не является массивом - не multiple select
                if ( ! _.isArray( vm.selectData.selected ) && vm.selectData.setSelected === true ) {
                    vm.$set( 'selectData.selected', parseInt( _self.val() ) );
                    return;
                }

                // event in selectData
                if ( typeof vm.selectData.onChangeEvent === 'string' ) {
                    try {
                        vm.$dispatch( 'trigger-component-event', vm.selectData.onChangeEvent, {
                            id: _self.val(),
                            text: _self.text().trim()
                        } );
                    } catch (err) {
                        console.error( err );
                    }
                }

                // event
                if ( typeof vm.onChange === 'string' ) {
                    try {
                        vm.$dispatch( 'trigger-component-event', vm.onChange, _self.val(), _self.text().trim() );
                    } catch (err) {
                        console.error( err );
                    }
                }

                // callback
                if ( typeof vm.onChange === 'function' ) {
                    vm.onChange( _self.val(), _self.text().trim() );
                }

                vm.updateItem();
            },

            getSelectValues( select ) {
                var result  = [];
                var options = select && select.options;
                var opt;

                for (var i = 0, iLen = options.length; i < iLen; i++) {
                    opt = options[ i ];

                    if ( opt.selected ) {
                        result.push( parseInt( opt.value ) || opt.text );
                    }
                }
                return result;
            },

            /**
             * Отрисовка результат запроса построчно
             *
             * @param response
             * @returns {*}
             */
            processAjaxResults( response ){

                // response.data -  Expect pagination object from backend

                let vm = this;

                return $.map( response.data ? response.data : response, function( item ) {

                    if ( vm.processResults && typeof vm.processResults === 'function' ) {
                        return vm.processResults( item );
                    }

                    if ( vm.selectData.processResults
                            && typeof vm.selectData.processResults === 'object'
                            && vm.selectData.processResults.id
                            && vm.selectData.processResults.text ) {
                        return {
                            id: item[ vm.selectData.processResults.id ],
                            text: item[ vm.selectData.processResults.text ]
                        };
                    }

                    return {
                        id: item.id,
                        text: item.name_ru || item.name_en || item.name_kk || item.name || '-'
                    }
                } )
            },
            updateItem(){

                let $el  = $( this.el );
                let id   = $el.val();
                let text = $el.text();

                this.$set( 'selectData.item.id', id );
                this.$set( 'selectData.item.text', text.trim() );

                if ( typeof this.onSelect === 'function' ) {
                    this.onSelect( $el.select2( 'data' )[ '0' ] );
                }

                if ( this.selectData.reset ) {
                    // Перенёс очистку инпута сюда, так как в моём случае значение чистить не надо
                    $el.val( '' );
                    $el.text( '' );

                    this.initSelect2WithAjax();
                }
            }
        },
        beforeDestroy(){
            $( this.el ).off().select2( 'destroy' )
        },
        events: {
            /**
             * Сброс значений селекта
             *
             * @param id Идентификатор селекта. Если не указан, чистятся все селекты
             */
            'select-reset': function( id = null ) {
                let vm = this;

                if ( vm.selectData.id !== id ) {
                    return;
                }

                let $el = $( vm.el );

                $el.val( '' );
                $el.text( '' );

                if ( vm.selectData.useAjax ) {
                    vm.selectData.selected = null;

                    if ( vm.selectData.initialState ) {
                        vm.selectData.initialState.id   = null;
                        vm.selectData.initialState.text = null;
                    }
                    vm.initSelect2WithAjax();
                }
            }
        }
    }
</script>