<template>

    <!-- Search inputs -->
    <div class="control-label col-sm-1 no-left" v-if="blockCanBeShown('search')">
        <label class="label-align text-description-search">{{{ $t('app.search') }}}</label>
    </div>
    <div class="col-sm-11" v-if="blockCanBeShown('search')">
        <div class="col-sm-12">
            <div class="col-sm-6" v-for="(key, searchObj) in filterData.search">
                <div class="form-group input-group" v-if="hasRole(searchObj.roles)">
                    <label for="search-by-{{key}}-input">
                        {{{ $t('app.' + searchObj.label) }}}
                    </label>
                    <input type="email"
                           class="form-control"
                           id="search-by-{{key}}-input"
                           placeholder="{{{ $t( 'app.' + searchObj.placeholder ) }}}"
                           v-model="searchObj.value"
                           debounce="300"
                           @keyup.enter="doFilter(searchObj.value, searchObj.minSearchLength )"
                           @change.prevent="doFilter(searchObj.value, searchObj.minSearchLength )"
                    >

                    <span class="input-group-btn">
                      <button class="btn btn-default"
                              title="{{{ $t('app.search') }}}"
                              id="search-by-{{ key }}-button"
                              type="button"
                              @click="doFilter( searchObj.value, searchObj.minSearchLength )"><i class="fa fa-search"></i>
                      </button>
                    </span>

                </div>
                <p class="help-block filter-search-help-block"
                   v-show="searchNeedHelpBlock(searchObj)">
                    {{{$t('app.start_searching' ) }}}</p>
            </div>
        </div>
    </div>

    <!-- Select elements -->
    <div class="control-label col-sm-1 no-left {{ disableLabelBlock() }}" v-if="blockCanBeShown('selects') "></div>
    <div class="col-sm-11" v-if="blockCanBeShown('selects')">
        <div class="col-sm-12">
            <div class="{{ select.column || 'col-sm-6'}}" v-for="select in filterData.selects ">
                <div class="form-group" v-if="hasRole( select.roles )">
                    <v-select :select-data.sync="select"
                              :on-select="doFilter"
                              label-class="filter-block-label select-filter-style"
                    ></v-select>
                </div>
            </div>
        </div>
    </div>

    <!-- Switches -->
    <div class="control-label col-sm-1 switch-flex" v-if="blockCanBeShown('switches')">
        <label class="label-align">{{{ $t('app.switches') }}}</label></div>
    <div class="col-sm-11" v-if="blockCanBeShown('switches')">
        <div class="col-sm-12 switch-content">
            <div class="col-sm-6" v-for="(index, switch) in filterData.switches">
                <div class="btn-group" data-toggle="buttons" v-radio="switch.selected" v-if="hasRole(switch.roles)">
                    <template v-for="position in switch.positions">
                        <label :for="'sw-'+position" class="btn btn-primary" @click="doFilter">
                            <input type="radio" :id="'sw-'+position" :value="position" v-model="switch.selected"
                                   :name="index">
                            {{$t('app.'+ position)}}
                        </label>
                    </template>
                </div>
            </div>
        </div>
    </div>

    <!-- Radio with disable opportunity -->
    <div class="control-label col-sm-1" v-if="hasCheckboxFilters() || blockCanBeShown('radios')">
        <label class="label-align">{{{ $t('app.filters') }}}</label>
    </div>
    <div class="col-sm-11" v-if="blockCanBeShown('radios')">
        <div class="col-sm-6 form-group  even-block" v-for="(index, filter) in filterData.radios">
            <div class="col-sm-12" v-if="hasRole(filter.roles)">

                <div class="no-left" id="enabled-block">
                    <div class="checkbox checkbox-success style-checkbox-filter">
                        <input type="checkbox"
                               class="stiled"
                               :name="filter.name"
                               value="false"
                               id="use-{{filter.name}}"
                               v-model="filter.use"
                               @change.prevent="doFilter({eventType:'radio'})"
                        >
                        <label class="self-written-style" for="use-{{filter.name}}">
                            {{{ $t('app.'+ filter.label) }}}</label>
                    </div>
                </div>

                <div class="col-md-8" v-if="filter.use">
                    <fieldset>
                        <div class="radio radio-info radio-inline ">
                            <div class="display-radio" v-for="position in filter.positions">
                                <input type="radio"
                                       id="radio-{{position}}"
                                       v-model="filter.selected"
                                       value="{{position}}"
                                       @change.prevent="doFilter('')">
                                <label class="self-written-style" for="radio-{{position}}">
                                    {{{ $t('app.'+position)}}}</label>
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
        </div>
    </div>

    <!-- Checkboxes -->
    <div class="control-label col-sm-1" v-if="blockCanBeShown('checkboxes')"></div>
    <div class="col-sm-11 checkboxes" v-if="blockCanBeShown('checkboxes') || hasCheckboxFilters('radios')">
        <div class="col-sm-6 form-group even-block" v-for="(index, filter) in filterData.checkboxes">
            <div class="col-sm-12" v-if="hasRole(filter.roles)">
                <div class="no-left" id="enabled-cb-block">
                    <div class="checkbox checkbox-success style-checkbox-filter-no-margin">
                        <input type="checkbox"
                               class="stiled"
                               value="{{index}}"
                               id="cb-{{index}}"
                               v-model="filter.checked"
                               :checked="filter.checked"
                               @change.prevent="doFilter">
                        <label class="self-written-style" for="cb-{{index}}">
                            {{{ $t('app.' + filter.label) }}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Period filter -->
    <div class="control-label col-sm-1 no-left" v-if="blockCanBeShown( 'period' )">
        <label class="label-align text-description-period">{{{ $t('app.period') }}}</label>
    </div>
    <div class="col-sm-11" v-if="blockCanBeShown( 'period' )">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <label for="period-start-date-time">{{{ $t('app.start_date') }}}</label>
                <vue-datetime-picker name="period-start-date-time"
                                     :model.sync="periodStart"
                                     type="datetime"
                                     language="ru"
                                     :ignore-readonly="true"
                                     :time-zone="getCurrentTimeZone()"
                                     :side-by-side="true"
                                     :datetime-format="$parent.momentFormats.full"
                                     v-ref:start-picker
                                     :on-hide="onStartDatetimeChanged"
                ></vue-datetime-picker>
            </div>
            <div class="col-sm-6">
                <label for="period-end-date-time">{{{ $t('app.end_date') }}}</label>
                <vue-datetime-picker name="period-end-date-time"
                                     :model.sync="periodEnd"
                                     type="datetime"
                                     language="ru"
                                     :ignore-readonly="true"
                                     :time-zone="getCurrentTimeZone()"
                                     :side-by-side="true"
                                     :datetime-format="$parent.momentFormats.full"
                                     v-ref:end-picker
                                     :on-hide="onEndDatetimeChanged"
                ></vue-datetime-picker>
            </div>
            <div class="col-sm-12">
                <span class="filter-description">{{{ filterData.period.help_block ? filterData.period.help_block : $t('app.search_by_last_month') }}}</span>
            </div>
        </div>
    </div>

    <div class="row col-sm-12" style="margin-top: 10px;"
         v-if="!filterData.hasOwnProperty('withoutResetButton') || filterData.hasOwnProperty('createItemButton') ||  filterData.hasOwnProperty('buttons')">

        <div class="form-group">
            <button id="reset-filter-button"
                    v-if="!filterData.hasOwnProperty('withoutResetButton')"
                    class="btn btn-default btn-sm btn-filter-click"
                    title="{{{ $t('app.reset_filter_and_search') }}}"
                    @click.prevent="resetFilter"
            >{{{ $t('app.reset_filter_and_search') }}}
            </button>
            <div v-if="filterData.hasOwnProperty('buttons')" style=" display: inline-block;">
                <div v-for="button in filterData.buttons" style=" display: inline-block;">
                    <v-button
                            :model="tableData.model"
                            :on-clicl="button.onClick"
                            :icon="button.icon"
                            :title="button.title"
                            :label="button.label"
                            :type="button.type"
                            :id="button.id"
                            :dropdown="button.dropdown"
                            :dropdown-items="button.dropdownItems"
                            :event-name="button.eventName"
                            :callback="button.callback"
                            :callback-args="button.callbackArgs"
                            class="margin-reset"
                            v-if="hasRole(button.roles)"
                    ></v-button>
                </div>
            </div>

            <!-- The additional buttons will be passed here -->
            <slot name="buttons"></slot>
        </div>

        <div v-if="tableData.hasOwnProperty('info')">
            <div class="alert alert-info ">
                {{{ $t( tableData.info ) }}}
            </div>
        </div>
    </div>

    <v-pagination :pagination="pagination"
                  :filter="filterData"
                  :on-page-changed="onChange"
                  prefix="top"
                  v-if="pagination.data.length || pagination.use"></v-pagination>

    <div class="container-for-table">
        <div class="div-table" v-if="pagination.data.length>0">

            <div class="description-table-block-style">
                <div v-for="field in tableData.fields" class="style-table-cell">

                    <div class="style-description-table"
                         v-if="field.isSortable"
                         @click.prevent="sortBy(field)"
                         title="{{{ getSortTitle( field) }}}">
                            <p class="align-description {{ field.classes }}">
                                <a href="#"
                                   title="{{{ getSortTitle( field ) }}}"
                                   id="sort-by-{{ field.name }}-direction-{{ filterData.sort.direction }}"
                                   class="table-header-link"
                                >{{ $t('app.' + field.name ) }}

                                    <p class="arrow-for-filter">

                                        <i class="fa fa-sort-asc"
                                           v-bind:class="{
                                            'sort-icon-active': isActive( field, 'asc' ),
                                            'sort-icon-not-active': ! isActive( field, 'asc' ),
                                            'sort-icon-both': isBoth( field ),
                                           }" style="float: right;"></i>

                                        <i class="fa fa-sort-desc"
                                           v-bind:class="{
                                            'sort-icon-active': isActive( field, 'desc' ),
                                            'sort-icon-not-active': ! isActive( field, 'desc' ),
                                            'sort-icon-both': isBoth( field ),
                                           }" style="padding-bottom: 11px; float: right; margin-right: -7px;"></i>

                                    </p>
                                </a>
                            </p>
                    </div>

                    <div class="style-description-table {{field.classes}}" v-else>
                        <p class="align-description {{field.classes}}">
                            {{{ $t('app.'+field.name) }}}
                        </p>
                    </div>

                </div>
            </div>

            <!-- The content of the table will be passed here-->
            <slot></slot>
        </div>
        <div v-else>
            <div class="alert alert-info info ">
                {{{ $t('app.no_record')}}}
            </div>
        </div>
    </div>

    <v-pagination :pagination="pagination" :filter="filterData" :on-page-changed="onChange" prefix="bottom"
                  v-if="pagination.data.length"></v-pagination>
</template>
<script type="text/babel">
    import Vue from 'vue';

    export default{
        props: ['tableData', 'filterData', 'onChange', 'pagination', 'resetFilter'],
        components: {
            "vue-datetime-picker": require( "../../../../../node_modules/vue-datetime-picker/src/vue-datetime-picker" ),
            'v-pagination': require( '../components/v-pagination.vue' ),
            'v-select': require( '../components/v-select.vue' ),
            'v-button': require( '../components/v-button.vue' )
        },
        data(){

            if (this.filterData.hasOwnProperty('use') && this.filterData.use === false){
                return {};
            }

            if (this.filterData.period && this.filterData.period.start && this.filterData.period.end) {
                return {
                    periodStart: this.filterData.period.start,
                    periodEnd: this.filterData.period.end,

                    /**
                     * Используется при сбросе фильтров "За период"
                     * m-filter содержит логику сброса фильтра
                     * В events есть событие, которое устанавливает фильтр
                     */
                    needFiltering: false
                }
            }
            else return {}
        },
        created(){
            if (this.filterData.hasOwnProperty('use') && this.filterData.use ===false){
                return;
            }

            if (this.filterData.period) {
                this.initPeriod();
            }

            this.initFilterAccessCache();
        },
        ready(){
            if (this.filterData.hasOwnProperty('use') && this.filterData.use ===false){
                return;
            }

            this.setHeaderHoverClass();
        },
        methods: {

            /**
             * Отфильтровать данные в таблице
             **/
            doFilter(value, minSearchLength = 2){

                if ( ! this.filterData)
                    return;

                if ( this.needRadioHandling(value)){
                    return;
                }

                this.filterData.page = 1;


                if (typeof value === 'boolean' && value === true) {
                    this.onChange();
                    this.setHeaderHoverClass();
                    return;
                }

                /**
                 * Обрабатываем поиск по строке отдельно, т.к. в требованиях есть пункт
                 *  минимальное количество символов при вводе. Иногда значение минимального
                 *  количества символов при вводе может варироватся (напримаер поиск по ID может
                 *  начинаться от 1 символа и более, а для строковых значений минимальное количество символов составляет - 3)
                 *
                 * @see http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=5407078
                 */
                if (value && typeof value === 'string' && typeof minSearchLength !== 'undefined') {
                    if (value.length > minSearchLength) {
                        this.onChange();
                        this.setHeaderHoverClass();
                    }
                    return;
                }
                this.onChange();
                this.setHeaderHoverClass();
            },

            /**
             * Отсортировать по заданному столбцу
             **/
            sortBy(field){

                if (! this.filterData) {
                    return;
                }

                if (! this.filterData.sort) {
                    return;
                }

                // сортировка текущего отсортированного столбца
                if (this.filterData.sort.name === field.name || this.filterData.sort.name === field.sortableField) {

                    if (this.filterData.sort.direction == 'asc') {
                        this.filterData.sort.direction = 'desc';
                    } else if (this.filterData.sort.direction == 'desc') {
                        this.filterData.sort.direction = 'asc';
                    }

                } else {  // сортировка НЕ текущего столбца


                    this.filterData.sort.name = field.sortableField ? field.sortableField : field.name;

                    /*
                     | При конфигурации столбцов таблицы стоит указывать defaultSortDirection
                     | для того чтобы при переходе к сортировки к другому столбцу было
                     | понятно как сортировать столбец
                     */
                    if (field.defaultSortDirection){
                        this.filterData.sort.direction = field.defaultSortDirection;
                    } else if (this.filterData.sort.direction === 'asc') {
                        this.filterData.sort.direction = 'desc';
                    } else if (this.filterData.sort.direction === 'desc') {
                        this.filterData.sort.direction = 'asc';
                    }
                }

                this.$set( 'tableData', this.tableData );

                this.filterData.page = 1;
                this.onChange();
            },


            initFilterAccessCache(){

                let vm = this;

                vm.filterAccessCache = {};

                Object.keys( vm.filterData ).forEach( function(el) {

                    vm.initPeriodAccessCache(el);
                    vm.initObjectAccessCache(el);
                    vm.initArrayAccessCache(el);
                } );
            },
            initPeriodAccessCache(el){

                let vm = this;
                let status = false;

                if (el == 'period' && ! vm.filterData[el].hasOwnProperty( 'roles' )) {
                    // по умолчанию
                    vm.filterAccessCache['period'] = true;

                } else if (el == 'period' && vm.filterData[el].hasOwnProperty( 'roles' ) && vm.filterData[el].roles instanceof Array) {

                    status = vm.userHasRole( vm.filterData[el].roles );

                    if (status) {
                        vm.filterAccessCache['period'] = status;
                    }
                }
            },
            initObjectAccessCache(el){
                let vm = this;
                let status = false;
                // Для полей search, checkboxes, switches
                if (vm.filterData[el] instanceof Object) {

                    Object.keys( vm.filterData[el] ).forEach( function(key) {

                        if (vm.filterAccessCache[el] && vm.filterAccessCache[el] == true) {
                            return;
                        }

                        if (vm.filterData[el][key].roles) {

                            status = vm.userHasRole( vm.filterData[el][key].roles );

                            // Если есть хотя бы один дочерний блок с нужной ролью - показываем блок
                            if (status) {
                                vm.filterAccessCache[el] = status;
                            }

                        } else {
                            // по умолчанию
                            vm.filterAccessCache[el] = true;
                        }
                    } );
                }
            },
            initArrayAccessCache(el){

                let vm = this;
                let status = false;

                // Для полей radios
                if (vm.filterData[el] instanceof Array) {

                    vm.filterData[el].forEach( function(key) {

                        if (key.roles) {
                            status = vm.userHasRole( key.roles );
                        }

                        // Если есть хотя бы один дочерний блок с нужной ролью - показываем блов
                        if (status)  {
                            vm.filterAccessCache[el] = status;
                        }
                    } );
                }
            },

            /**
             * Инициализация дат периодов
             */
            initPeriod(){

                let vm = this;

                setTimeout( function() {

                    vm.setEndMinDate( vm.periodStart );
                    vm.setStartMaxDate( vm.periodEnd );

                    $( 'input[name="period-start-date-time"]' ).focusout( function() {
                        if ($( this ).val() == '') {
                            $( this ).val( vm.filterData.period.start );
                            vm.$refs.startPicker.control.date( vm.filterData.period.start );
                        }
                    } );

                    $( 'input[name="period-end-date-time"]' ).focusout( function() {
                        if ($( this ).val() == '') {
                            $( this ).val( vm.filterData.period.end );
                            vm.$refs.endPicker.control.date( vm.filterData.period.end );
                        }
                    } );

                    /**
                     * WorkAround.
                     * When Bootstrap DateTimePicker opens first time - it show currant date
                     * But second time - it shows the date which was set by Vuejs Component model
                     *
                     * This method opens and close datetimepicker once on first load
                     * @returns {Promise}
                     */
                    function triggerDateTimePicker() {
                        return new Promise( function(resolve) {
                            vm.$refs.startPicker.control.show();
                            vm.$refs.startPicker.control.hide();
                            vm.$refs.endPicker.control.show();
                            vm.$refs.endPicker.control.hide();
                            setTimeout( ()=>resolve(), 1000 );
                        } )
                    }

                    triggerDateTimePicker().then( ()=> vm.needFiltering = true );

                }, 1000 );
            },

            /**
             * Чисто в целях визуализации при наведении на те заголовки,
             * в которых внутри есть ссылки добавляем класс
             *
             * */
            setHeaderHoverClass(){
                setTimeout( function() {
                    $( '.style-description-table > p:has(a)' ).each( (index, el) => $( el ).parent().addClass( 'table-header-hovered' ) )
                }, 500 );
            },

            /**
             * Установка максимального значения, которое может выбрать пользователь в фильтре "От"
             * @param newEnd
             */
            setStartMaxDate(newEnd){
                var startPicker = this.$refs.startPicker.control;
                startPicker.maxDate( moment( newEnd, this.$parent.momentFormats.full ) );
            },

            /**
             * Установка минимального значения, которое может выбрать пользователь в фильтре "До"
             * @param newStart
             */
            setEndMinDate(newStart){
                var endPicker = this.$refs.endPicker.control;
                endPicker.minDate( moment( newStart, this.$parent.momentFormats.full ) );
            },

            /**
             * Событие onChange DateTimePiker-a
             *
             * @param newStart - Объект типа moment
             */
            onStartDatetimeChanged(newStart = {}) {
                if (newStart === null)
                    return;

                this.filterData.period.start = newStart.format( this.$parent.momentFormats.full ).toString();
                this.filterData.period.end   = this.$refs.endPicker.control.date().format( this.$parent.momentFormats.full ).toString();

                this.setEndMinDate( newStart );

                if (this.needFiltering)
                    this.doFilter();

                this.$refs.startPicker.control.hide();
            },

            /**
             * Событие onChange DateTimePiker-a
             *
             * @param newEnd - Объект типа moment
             */
            onEndDatetimeChanged(newEnd = {}) {
                if (newEnd === null)
                    return;

                this.filterData.period.start = this.$refs.startPicker.control.date().format( this.$parent.momentFormats.full ).toString();
                this.filterData.period.end   = newEnd.format( this.$parent.momentFormats.full ).toString();

                this.setStartMaxDate( newEnd );

                if (this.needFiltering)
                    this.doFilter();

                this.$refs.endPicker.control.hide();
            },



            /**
             * Проверяет нужно ли делать запрос на бекенд
             * Если вернет true - запрос не будет произведен
             *
             * Метод участвует в случае наличия элемента Radio в фильтре.
             * Должна быть реализована следующая логика:
             *
             * 1. Если человек нажимает на checkbox - 'Использовать фильтр' в первый
             *    раз после загрузки станицы - никакого запросы не происходит (см.
             *    "прочитано/ не прочитано", "С сайта/ с мобильного приложения" на страницу обратной связи).
             *
             * 2. После того, как пользователь нажал на один из подпунктов ("только прочитанные",
             *    "только не прочитанные" на странице обратной связи), происходит запрос
             *    на бекенд за новыми данными
             *
             * 3. После того как пользователь нажал ещё раз на 'Использовать фильтр' ("прочитано/ не прочитано",
             *    "С сайта/ с мобильного приложения"), делается выборка за новыми данными
             *
             * 4. Цикл повторяется вновь с пункта 1
             *
             **/
            needRadioHandling(value){

                if (typeof value !== 'object' ){
                    return false;
                }

                if (! value.hasOwnProperty('eventType') ){
                    return false;
                }

                if ( value.eventType !== 'radio'){
                    return false;
                }

                let vm = this;

                if ( ! vm.filterData.radios){
                    console.error('Your forgot to declare radio s elements on filterData object');
                    return ;
                }

                vm.ifRadioSelected().then(selected=>{
                    if ( selected ){
                        // unselect
                        vm.onChange();
                    }
                });

                return true;
            },

            /**
             * Проверяет выбран ли сейчас элемент списка radio
             */
            ifRadioSelected(){
                let vm = this;
                return new Promise( function( resolve ) {
                    let status = false;
                    vm.filterData.radios.forEach((element)=>{
                        if (element.selected !=='' ){
                            // unselect if selected
                            element.selected='';
                            status = true;
                            resolve(status)
                        }
                    });
                } )
            },

            /**
             * Определяет отсортирована ли сейчас таблица по столбцу,
             * переданной в параметре метода
             **/
            isActive(field = {}, direction = 'desc'){

                if ( ! this.filterData.sort ) {
                    return false;
                }

                if ( ! field.isSortable ){
                    return false;
                }

                if ( field.sortableField && field.sortableField !== this.filterData.sort.name){
                    return false;
                }

                if ( ! field.sortableField && field.name !== this.filterData.sort.name){
                    return false;
                }

                return this.filterData.sort.direction === direction;
            },

            /**
             * Определяет, нужно ли показать что текущий столбец сортируемый,
             * но в текущий момент не активен, т. е. в данный момент таблица отсортирована по другому столбцу
             **/
            isBoth(field = {}){

                if ( ! this.filterData.sort ) {
                    return false;
                }

                if ( field.isSortable && field.isSortable === false ) {
                    return false;
                }

                if ( field.sortableField && field.sortableField === this.filterData.sort.name){
                    return false;
                }

                if ( field.name && field.name === this.filterData.sort.name){
                    return false;
                }

                if ( field.name !== this.filterData.sort.name){
                    return true;
                }

                return false;
            },

            /**
             * Получить имя столбца
             **/
            getSortTitle(field = {}){

                if ( ! this.filterData.sort )
                    return;

                let model = 'filter';
                let label;

                if (field.ascLabel && field.descLabel) {
                    model = this.tableData.model;
                    label = this.filterData.sort.direction == 'desc' ? field.ascLabel : field.descLabel;

                } else {

                    if (this.filterData.sort.name == field.name) {
                        label = this.filterData.sort.direction == 'desc' ? 'desc' : 'asc';
                    } else {
                        label = field.defaultSortDirection == 'decs' ? 'asc' : 'desc';
                    }
                }

                return translate( 'app.' + label );
            },

            /**
             * Если ли компонент checkbox в фильтре
             **/
            hasCheckboxFilters(){
                return (this.filterData.hasOwnProperty( 'checkboxes' ) && this.filterData.checkboxes.hasOwnProperty( 'use' ) && this.filterData.checkboxes.use)
                        || (this.filterData.hasOwnProperty( 'checkboxes' ) && !this.filterData.checkboxes.hasOwnProperty( 'use' ));
            },

            /**
             * Определить, принадлежит ли пользователь к роли
             **/
            hasRole(arg){

                if (! arg) {
                    return true;
                }

                if (! arg instanceof Array)
                    return false;

                return this.userHasRole(arg);
            },
            userHasRole(haystack) {

                // see resources/views/vue.blade.php:19
                return window.Laravel.roles.some( function(v) {
                    return haystack.indexOf( v ) >= 0;
                } );
            },
            getCurrentTimeZone(){

                if (this.$root.$refs.vm.userTimeZone === '') {

                    console.warn( 'UserTimeZone is not specified' );

                    return 'Asia/Almaty';

                } else {
                    return this.$root.$refs.vm.userTimeZone;
                }
            },

            /**
             * У поля поиска может существовать вспомогательный блок (пример: Для поиска введите три символа)
             *
             * Данный метод определяет, нужно ли отображать вспомогательный блок
             **/
            searchNeedHelpBlock(searchBlock){
                if (!searchBlock) {
                    return false;
                }

                return (!searchBlock.hasOwnProperty( 'helpBlock' ) || (searchBlock.hasOwnProperty( 'helpBlock' ) && searchBlock.helpBlock == true))
                        && (typeof searchBlock.minSearchLength !== 'undefined' && searchBlock.value.length <= searchBlock.minSearchLength);
            },

            /**
             * Проверяет, можно ли отображать блок фильтра по передданному в качестве параметра имени фильтра
             *
             * 1. Проверка на существование свойства фильтра
             * 2. Проверка прав доступа к блоку фильтра (массив с перечислением полей должен быть определён в блоке фильтра-
             *
             * Пример (Определить в vm-index):
             *
             * filterData:{
             *      search:{
             *          searchField:{
             *              roles:  ['super-admin', 'support'],
             *              ...
             *          }
             *      },
             *      checkboxes: {
             *         all: {
             *             roles: ['npp'],
             *             ...
             *         },
             *      },
             *      selects: {
             *          selectRegion:{
             *              roles: ['npp'],
             *              ...
             *          }
             *      },
             *      period:{
             *         roles: ['npp'],
             *      },
             *      radios:[
             *          {
             *               roles: ['npp'],
             *          }
             *      ]
             * }
             *
             * Если список ролей не предоставлен - будет доступен всем пользователям
             *
             * @param filterName
             * @returns {boolean}
             */
            blockCanBeShown(filterName = 'search'){

                let vm = this;
                
                if ( vm.filterData.hasOwnProperty( 'use' ) && vm.filterData.use === false )
                    return false;

                if ( vm.filterAccessCache.hasOwnProperty(filterName) )
                    return vm.filterAccessCache[filterName];

                return false;
            },

            disableLabelBlock(){

                let vm = this;

                if (vm.filterData.hasOwnProperty( 'unsetLabelBlock' ) && vm.filterData.unsetLabelBlock === true){
                    return 'unset-label-block';
                }

                return '';
            }
        },
        events: {
            'init-header-hover-styles': function() {
                this.setHeaderHoverClass();
            },
            'set-filter-data-period': function(period = {}) {
                let vm = this;

                // only for reset purposes
                vm.needFiltering = false;

                vm.periodStart = moment( period.start, vm.$parent.momentFormats.full );
                vm.periodEnd   = moment( period.end, vm.$parent.momentFormats.full );

                // only for reset purposes
                setTimeout( ()=> vm.needFiltering = true, 2000 )
            }
        },
        watch: {
            
            // deep watcher
            'pagination': {
                handler: function (val, oldVal) {

                    const $downloadLink= $('#download-link');

                    if ($downloadLink.length ===0){
                        return;
                    }

                    /*
                     *
                     *
                     **/
                    ( val.data && val.data.length === 0 ) &&
                    console.log( );
                },
                deep: true
            }
        }
    }
</script>

<style>

    button{
        outline: none;
    }

    .padding-left-right-0{
        padding-left: 0;
        padding-right: 0;
    }

    .unset-label-block{
        display: none;
    }

    .info {
        height: 42px;
        padding: 10px;
    }

    .switch-flex {
        height: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .switch-content {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    /* selects */
    .select2-container {
        width: 100% !important
    }

    .table-header-link {
        text-decoration: none !important;
    }

    .table-header-hovered:hover {
        background-color: rgba(232, 235, 242, 0.61);
        cursor: pointer;
    }

    .sort-icon-both {
        height: 2px;
        display: block!important;
    }

    .sort-icon-active {
        height: 2px;
        display: block;
        padding-bottom: 10px;
    }

    .sort-icon-not-active {
        height: 2px;
        display: none;
    }

    .description-table-block-style {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }

    .container-for-table {
        width: 100%;
        overflow-y: hidden;
        min-height: 630px;
    }

    .div-table {
        width: 100%;
        margin-bottom: 20px;
        display: table;
        background-color: transparent;
        border-spacing: 0;
        border-collapse: collapse;
    }

    .div-table > tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .style-table-cell {
        display: table-cell;
        border-top: 1px solid #e7ebee;
        vertical-align: middle;
    }

    .style-description-table {
        font-size: 0.875em;
        padding: 12px 0px;
        display: table;
        width: 100%;
        background-color: transparent;
        height: 59px;
        min-width: 95px;
    }

    .align-description {
        padding: 5px 8px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .arrow-for-filter {
        padding-right: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .wid-1 {
        width: 10%;
    }

    .wid-2 {
        width: 20%;
    }

    .wid-four-buttons {
        width: 135px;
    }

    .wid-3 {
        width: 30%;
    }

    .wid-4 {
        width: 40%;
    }

    .wid-5 {
        width: 50%;
    }

    .wid-6 {
        width: 60%;
    }

    .wid-7 {
        width: 70%;
    }

    .wid-8 {
        width: 80%;
    }

    .wid-9 {
        width: 90%;
    }

    .wid-95-per {
        width: 95%;
    }

    .wid-10 {
        width: 100%;
    }

    .raw-read {
        background-color: white;
    }

    .raw-unread {
        background-color: rgba(238, 238, 238, 0.69);
        font-weight: bold;
    }

    /* START Стили фильтра **/
    .filter-search-help-block {
        margin-top: -15px;
        padding-bottom: 10px;
    }

    .even-block:nth-child(even) {
        padding-left: 0 !important;
    }

    .form-group.input-group > .input-group-btn {
        padding-top: 25px;
    }

    .text-description-search {
        margin-top: 30px;
    }

    .text-description-period {
        margin-top: 35px;
    }

    .label-align {
        float: right;
        width: 100%;
        text-align: right;
    }

    .display-radio {
        display: inline-block;
        margin-left: 9px;
        margin-bottom: 15px;
    }

    .style-checkbox-filter-no-margin {
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
    }

    .style-checkbox-filter {
        margin-top: 0px;
        margin-bottom: 10px;
        position: relative;
    }

    .no-left {
        left: 0;
        margin-left: 0;
        padding-left: 0;
    }

    .btn-filter-click:active {
        margin-top: 4px;
        border-bottom: none;
    }

    @media only screen and (max-width: 766px) {
        .label-align {
            text-align: center;
            margin-bottom: 10px;
        }

        .text-description-search {
            margin-top: 0;
        }
    }

    .filter-description {
        font-size: 0.875em;
        color: #737373;
    }

    /* END Стили фильтра **/
</style>
