<template>

        <button :id="id"
                class="button-table-cell"
                title="{{ $t(label) }}" >
            <i class="fa fa-{{icon}} fa-inverse"></i>
        </button>

</template>
<style>
    .button-table-cell {
        background-color: #3498db;
        outline: none;
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        margin-top: 5px;
    }

    .fa {
        font-weight: bold;
    }

    .fa.fa-mobile {
        font-size: 13px;
    }

    .danger {
        background-color: #ff3e33;
    }

</style>
<script>
    export default{
        props: ['label', 'icon', 'color', 'id']
    }
</script>