<template>
    <div class="tree">
        <li v-for="item in list">
            <div :class="{ bold: hasChildren(item), selected: is('selected', item.id)}">

                <span v-if="hasChildren(item)" @click="toggle(item)" id="{{'toggle-node-'+ item.id }}">
                    <i class="glyphicon glyphicon-chevron-down" v-show="is('open', item.id)"></i>
                    <i class="glyphicon glyphicon-chevron-right" v-show="! is('open', item.id)"></i>
                </span>
                <span @click="select(item.id)" id="{{'select-node-'+ item.id }}">{{item.name}}</span>

            </div>
            <ul v-if="hasChildren(item)" v-show="is('open', item.id)">
                <v-tree
                        class="item"
                        :list="item.children">
                </v-tree>
            </ul>
        </li>
    </div>
</template>
<script type="text/babel">
    /*
     | Компоненту передается параметр list массивом
     | Важно для корневого элемента задать параметр isRoot=true
     |
     | Пример массива:
     | [
     |   {
     |      id: 1,
     |      name: 'My Tree',
     |      children: [
     |            {same},
     |            {same}
     |      ]
     |   }
     | ]
     */
    import Vue from 'vue';

    export default {
        name: 'v-tree',
        props: {
            initValue: { type: Number, default: null },
            list: {
                type: Array, default: function() {
                    return [ {
                        id: 1,
                        name: 'My Tree 1 ',
                        children: [ {
                            id: 3,
                            name: 'My Tree 2 ',
                            children: [ {
                                id: 4,
                                name: 'My Tree  3 '
                            } ]
                        } ]
                    }, {
                        id: 2,
                        name: 'My Tree 4'
                    } ]
                }
            },
            isRoot: { type: Boolean, default: false }
        },
        components: {
            'v-tree': require( './v-tree.vue' )
        },
        data(){
            return {
                nodeStates: {}
            }
        },
        created(){
            this.initComponent();
        },
        methods: {

            initComponent(){

                let vm = this;

                vm.initState().then( ( nodeStates ) => {

                    vm.$set( 'nodeStates', nodeStates )
                } );
            },

            initState() {

                let vm = this;

                return new Promise( function( resolve ) {

                    let nodeStates = {};

                    vm.list.forEach( ( el, index ) => {

                        nodeStates[ el.id ]               = {};
                        nodeStates[ el.id ][ 'open' ]     = false;
                        nodeStates[ el.id ][ 'selected' ] = (vm.initValue && vm.initValue == el.id ) ? true : false;

                        if ( index == (vm.list.length - 1) )
                            resolve( nodeStates );
                    } );
                } )
            },

            /**
             * Проверяет, установлено ли переданное состояние nodeState у ветви дерева с переданным ID
             *
             * @param nodeState string - Состояние ветви дерева, которое необходимо проверить ['open', 'selected']
             * @param id int  - Идентифмкатор ветви дерева
             **/
            is( nodeState = 'open', id = 1 ){
                return this.nodeStates[ id ] ? this.nodeStates[ id ][ nodeState ] : false;
            },

            /**
             * Открыть / закрыть ветвь дерева
             * @param item
             **/
            toggle( item = {} ) {
                if ( this.hasChildren( item ) ) {
                    this.nodeStates[ item.id ].open = !this.nodeStates[ item.id ].open;
                }
            },

            /**
             * Выделить элемент
             * @param id
             **/
            select( id = 1){
                try {

                    let vm      = this;
                    let initial = vm.nodeStates[ id ].selected;

                    let treeRoot = vm.getTreeRoot( vm );
                    treeRoot.unSelectAll();

                    vm.nodeStates[ id ].selected = !initial;

                    vm.$dispatch( 'set-tree-value', id );

                } catch (e) {
                    console.error( e );
                }
            },

            /**
             * Определить, есть ли у элемента дочерние элементы
             * @param item
             */
            hasChildren( item = {} ) {
                return item.children &&
                        item.children.length
            },

            /**
             * Получить самый верхний элемент дерева
             **/
            getTreeRoot( component = {} ){
                return !component.isRoot
                        ? this.getTreeRoot( component.$parent )
                        : component;
            },

            /**
             * Снять выделение со всех элементов дерева
             */
            unSelectAll(){

                let vm = this;

                Object.keys( vm.nodeStates ).forEach( itemId => {
                    vm.nodeStates[ itemId ].selected = false;
                    vm.$broadcast( 'tree-unselect-all' );
                } );
            }
        },
        events: {
            'tree-unselect-all': function() {
                this.unSelectAll();
            },
            'reinit': function() {
                this.initComponent();
            }
        },
        watch: {
            'list': {
                handler: function( val ) {

                    let vm = this;
                    this.initComponent();

                    val.forEach( el => {
                        if ( el.children && el.children.length > 0 ) {
                            vm.$broadcast( 'reinit' );
                        }
                    } );

                }
            }
        }
    }
</script>
<style scoped>
    ul {
        padding-left: 1em;
        line-height: 1.5em;
        list-style-type: dot;
        margin-bottom: 0px;
    }

    li > div {
        height: 30px;
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: top;
    }

    .item {
        margin: 5px;
        cursor: pointer;
        list-style-type: none;
    }

    .selected {
        color: #2980b9;
        font-weight: bold;
        font-size: 18px;
    }

    li > div > span:first-child {
        padding-right: 5px;
    }

    .selected > span > i.glyphicon {
        color: #2980b9;
    }

</style>