<template>

    <div v-if="viewData.buttons && viewData.buttons.length">

        <button v-if="useBackLink"
                id="back-link"
                title="{{{ $t('app.go_back') }}}"
                @click="goBack()"
                class="btn btn-primary"
        ><i class="fa fa-chevron-left fa-lg"></i>&nbsp;{{{ $t('app.to_list') }}}
        </button>

        <v-button v-for="button in buttons"
                  :title="button.title"
                  :id="button.id"
                  :parent-class="button.parentClass"
                  :label="button.label"
                  :icon="button.icon"
                  :type="button.type"
                  :class="button.classes"
                  :event-name="button.eventName"
        ></v-button>
    </div>

    <table class="table table-striped table-bordered {{ viewData.tableClass || '' }}">
        <tr v-for="(key,field) in fields">

            <td :width="firstColumnWidth()"
                align="right"
                :class="[ viewData.titleColumnClass || 'title-column' ]"
                v-if="isObject(field)">
                {{{ $t( 'app.' + field.name ) }}}
            </td>

            <td :width="firstColumnWidth()"
                align="right"
                :class="[ viewData.titleColumnClass || 'title-column' ]"
                v-if="!isObject(field)">
                {{{ getLabel(field) }}}
            </td>



            <td class="word-break"
                id="view-field-{{ field.name }}"
                :class="[viewData.contentClass || '' ]"
                v-if="isObject(field)">

                <a href="{{ getLinkByParentMethodName(field.getLinkMethodName, viewData.item[field.name] ) }}"
                   id="link-to-{{field.name}}"
                   target="_blank"
                   v-if="field.link"
                >{{ viewData.item[field.name] || '-' }}</a>
                <div  v-else>
                    {{{ getValue(field) }}}
                </div>
            </td>

            <td class="word-break" id="view-field-{{ field }}" :class="[viewData.contentClass || '' ]"
                v-if="!isObject(field)">
                {{ getContent(field) }}
            </td>
        </tr>
    </table>

</template>


<script type="text/babel">
    import Vue from 'vue';

    export default{

        props: [ 'viewData', 'useBackLink', 'firstColumnWidth' ],
        components: {
            'v-button': require( '../components/v-button.vue' )
        },
        computed: {
            fields(){
                let vm = this;
                return vm.viewData.fields.filter( item => vm.hasContent( item ) )
            },
            buttons(){
                let vm = this;
                return vm.viewData.buttons.filter( item => vm.getButtonComputed( item.computed ) )
            }
        },
        methods: {
            goBack(){
              go_back();
            },
            getLinkByParentMethodName( methodName = null, fieldAsArgument = {} ){
                if ( !methodName ) {
                    console.warn( 'method for generating methods was not specified. But component expected it to generate lick on view' );
                }

                return this.$parent[ methodName ]( fieldAsArgument );
            },
            isObject( item ){
                return typeof item === 'object';
            },
            firstColumnWidth(){
                return this.firstColumnWidth ? this.firstColumnWidth : 300;
            },
            getButtonComputed( name ){
                if ( name )
                    return this.$parent[ name ];

                return true;
            },
            /**
             * Получение computed свойства
             *
             * @param computedName
             * @returns {*}
             */
            getComputedContent( computedName = 'none' ){
                return this.$parent[ computedName ];
            },
            hasContent( field ){

                if ( this.isObject( field ) )
                    return true;

                let content = this.getContent( field );

                return content != null
                        && content != ''
                        && content != undefined;
            },
            isCompound( field ){

                //console.log( field , field.split( '.' ).length > 1);
                return field.split( '.' ).length > 1;
            },
            getLabel( field ){

                // если поле viewData.fields является объектом - ожидается что поле content является ссылкой
                if ( this.isObject( field ) ) {
                    return this.$t( 'app.' + field.name );
                }

                return this.isCompound( field ) ? this.getCompoundLabel( field ) : this.$t( 'app.' + field );
            },
            getContent( field ){

                // если поле viewData.fields является объектом - ожидается что поле content является ссылкой
                if ( this.isObject( field ) )
                    return this.viewData.item[ field.name ];

                return this.isCompound( field ) ? this.getCompoundField( field ) : this.viewData.item[ field ]
            },
            getCompoundField( field ){

                let obj    = this.viewData.item;
                let nested = null;

                let fields = field.split( '.' );

                // если составной объект есть но он пуст
                if ( obj.hasOwnProperty(fields[0]) && obj[fields[0]] === null){
                    return translate( 'app.no_info' );
                }

                fields .forEach( function( el ) {

                    if ( nested === null && obj.hasOwnProperty( el ) ) {
                        nested = obj[ el ];
                        return;
                    }

                    if ( nested !== null && nested.hasOwnProperty( el ) ) {
                        nested = nested[ el ];
                    }
                } );
                // console.log( field, nested );
                return nested;
            },
            getCompoundLabel( field ){
                return translate( 'app.' + field.split( '.' ).pop() );
            },
            getValue(field){

                if (field.computed) {
                    return this.getComputedContent(field.computed);
                }

                if (field.compound){
                    return this.getCompoundField(field.compound);
                }

                return 'Callback not specified! Error!';
            }

        }
    }
</script>
<style scoped>

    .word-break {
        word-break: break-all;
    }

    .margin-tor-10 {
        margin-top: 10px;
    }

    .title-column {
        font-weight: 800;
    }

    .title-column-thin {
        font-weight: 500;
    }

    .table-tr-first-rd-width-170 {
        width: 170px;
    }

    .table-tr-first-rd-width-250 {
        width: 250px;
    }

    .text-big {
        font-size: 16px;
    }

    .text-13 {
        font-size: 13px;
    }

    .text-strong {
        font-weight: 800;
    }
</style>
