<template>

    <div>

        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getMessages"
                     :pagination="pagination"
                     :reset-filter="reset"
            >

                <div class="row align-info-table {{ itemColorCoding(item) }}" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{{ item.id }}}</v-cell>

                    <v-cell classes="text-left">
                        <a href="#"
                           id="show-message-link-{{item.id}}"
                           @click.prevent="goTo( 'feedback-messages-pro', item.id, 'show',   item.user_id )"
                        >{{ item.name }}</a>
                    </v-cell>

                    <v-cell classes="text-left">{{ item.sent_at }}</v-cell>
                    <v-cell classes="text-left">{{ item.text | str_limit 30 }}</v-cell>
                    <v-cell classes="text-left">{{ item.user.email || item.email || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.user.phone_number || item.phone_number || '-' }}</v-cell>
                    <v-cell classes="text-left">{{ item.user.device_info }}</v-cell>
                    <v-cell classes="text-left">{{ item.user.app_version || '-' }}</v-cell>

                    <v-cell>

                        <v-table-button :id="setPrefixedId('show-message-button-',item.id)"
                                        label="app.detail"
                                        icon="search"
                                        @click.prevent="goTo( 'feedback-messages-pro', item.id, 'show', item.user_id)"></v-table-button>

                        <v-table-button :id="setPrefixedId('show-device-button-', item.id)"
                                        label="app.device"
                                        icon="info-circle"
                                        @click.prevent="goTo('users-pro', item.user.id)"
                                        v-if="hasDevice(item.user)"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-set-read-modal-button-', item.id)"
                                        label="app.set_read"
                                        icon="square-o"
                                        @click.prevent="read(item.id, false)"
                                        v-if="item.is_unread"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-set-un-read-modal-button-', item.id)"
                                        label="app.set_unread"
                                        icon="check-square-o"
                                        @click.prevent="read(item.id, true)"
                                        v-if="!item.is_unread"></v-table-button>

                        <v-table-button :id="setPrefixedId('open-push-modal-button-', item.id)"
                                        label="app.do_send_push"
                                        icon="paper-plane"
                                        @click.prevent="goWithParamsToSegments({ user_id: item.user_id}, 'push-notifications', 'create'  )"
                                        v-if="userHasPushToken(item.user)"></v-table-button>
                    </v-cell>
                </div>
            </v-table>

        </div>


        <v-bootstrap-modal id="modal-read-message" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t(setUnread ? 'app.mark_as_unread' : 'app.mark_as_read') }}}</p></div>

            <div slot="footer">
                <v-button
                        id="continue-cancel-modal-button"
                        label="continue"
                        :on-click="confirmRead"
                        type="success"
                ></v-button>

                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeReadModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mIndex from '../../../mixins/m-index';
    import mGlobal from '../../../mixins/m-global';
    import mNavigator from '../../../mixins/m-navigator';

    export default{
        mixins: [ mIndex, mGlobal, mNavigator ],
        data(){
            return this.initialState()
        },
        created(){

            // установка переданных из параметров значений фильтров
            ( this.params.id ) && (this.filterData.search.id.value = this.params.id);
            ( this.params.user_id ) && (this.filterData.search.user_id.value = this.params.user_id);

            // загрузка сообщений
            this.getMessages();
        },
        methods: {
            initialState (){

                return {
                    filterByUuid: null,
                    pageHeader: {
                        label: 'app.feedback',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'feedback-messages-pro',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'id',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'customer_name',
                                isSortable: true,
                                classes: 'text-left',
                                defaultSortDirection: 'asc'
                            },
                            {
                                name: 'sent_time',
                                isSortable: true,
                                sortableField: 'created_at',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc',
                                defaultSortDirection: 'desc',
                                classes: 'text-left'
                            },
                            {
                                name: 'feedback_text',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'email',
                                isSortable: true,
                                sortableField: 'email',
                                defaultSortDirection: 'asc',
                                classes: 'text-left'
                            },
                            {
                                name: 'phone_number',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'device_info',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'app_version',
                                isSortable: false,
                                classes: 'text-left'
                            },

                            {
                                name: 'actions',
                                width: 20,
                                isSortable: false,
                                classes: 'wid-four-buttons'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: false,
                        page: 1,
                        historyEventName: 'support-back',
                        search: {
                            id: {
                                value: '',
                                label: 'search_by_feedback_id',
                                minSearchLength: 0,
                                helpBlock: false,
                                placeholder: 'id_placeholder'
                            },
                            user_id: {
                                value: '',
                                label: 'search_by_user_id',
                                minSearchLength: 0,
                                helpBlock: false,
                                placeholder: 'id_placeholder'
                            },
                            everyWhere: {
                                value: '',
                                label: 'search_user_email_name_phone_number',
                                placeholder: 'search_user_email_placeholder'
                            },
                            platform: {
                                value: '',
                                label: 'search_platform',
                                placeholder: 'search_platform_placeholder'
                            },
                        },
                        radios: [
                            {
                                label: 'read_unread',
                                name: 'readUnread',
                                use: false,
                                selected: '',
                                positions: [
                                    'read',
                                    'unread'
                                ]
                            }
                        ],
                        sort: {
                            name: 'created_at',
                            direction: 'desc'
                        }
                    },
                    feedbackId: null,
                    setUnread: null,
                }
            },
            getMessages( params = {} ){

                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getMessages();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    id: vm.filterData.search.id.value,
                    user_id: vm.filterData.search.user_id.value,
                    search: vm.filterData.search.everyWhere.value,
                    platform: vm.filterData.search.platform.value,
                    radios: this.transformRadioForRequest(),
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },
            itemColorCoding( item ){

                return !item.is_unread
                        ? 'raw-read'
                        : 'raw-unread';
            },
            userHasPushToken( user ){

                return user.device && user.device.push_token;
            },

            hasDevice( user ){

                return user.device && user.device.push_token;
            },
            read( feedbackId = null, setUnread = false ){

                this.$set( 'feedbackId', feedbackId );

                this.$set( 'setUnread', setUnread );

                $( '#modal-read-message' ).modal( 'show' );
            },
            confirmRead(){

                let vm = this;

                vm.$http.get( vm.getLinkTo( vm.tableData.model, vm.feedbackId, 'read', vm.setUnread ) )
                        .then(
                                response => {

                                    if ( response.data.status === 'success' ) {

                                        vm.getMessages();

                                        $( '#modal-read-message' ).modal( 'hide' );

                                    } else if ( response.data.status === 'error' ) {

                                        console.error( response );

                                        $( '#modal-read-message' ).modal( 'hide' );

                                    }

                                },
                                response => console.error( response ) );
            },

            getDeviceInfo( user ){

                let field = '-';

                if ( user && user[ 'device' ] && user[ 'device' ][ 'model' ] ) {
                    field = user[ 'device' ][ 'model' ];
                }

                if ( user && user[ 'device' ] && user[ 'device' ][ 'platform' ] ) {
                    field += ' (' + user[ 'device' ][ 'platform' ] + ')';
                }

                return field;
            },

            closeReadModal(){
                $( '#modal-read-message' ).modal( 'hide' );
            },
        },
        events: {
            'support-back': function( event ) {

                this.getMessages( event );
            },
        },
    }
</script>