<template>
    <div>
        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getNotifications"
                     :pagination="pagination"
                     :reset-filter="reset"
            >
                <div class="row align-info-table {{itemColorCoding(item.is_unread)}}" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{* item.device_uuid }} </v-cell>
                    <v-cell classes="text-left">{{* item.app_version || '-' }}</v-cell>
                    <v-cell classes="text-left">{{* item.text }}</v-cell>
                    <v-cell classes="text-left">{{* item.created_at }}</v-cell>

                    <v-cell>
                        <v-table-button :id="'show-customer-button-' + item.device_uuid"
                                        label="app.show_customer"
                                        icon="user"
                                        v-if="item.phone_number"
                                        @click.prevent="goWithParamsToSegments( { phone_number: item.phone_number }, 'customers')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('show-device-button-', item.id)"
                                        label="app.show_device"
                                        icon="info-circle"
                                        @click.prevent="goTo('devices', item.device_uuid,'log')"
                        ></v-table-button>
                        <v-table-button :id="setPrefixedId('open-push-modal-button-', item.id)"
                                        label="app.do_send_push"
                                        icon="paper-plane"
                                        @click.prevent="goWithParamsToSegments({ uuid: item.device_uuid }, 'push-notifications', 'create'  )"
                                        v-if="item.push_token"
                        ></v-table-button>
                    </v-cell>
                </div>
            </v-table>
        </div>

    </div>

</template>
<script type="text/babel">
    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getNotifications();
        },
        methods: {
            /**
             * Возвращает первоначальное состояние объекта
             */
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.delivered_notification_list'
                    },
                    pagination: {
                        use: false,
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'push-notifications',
                        useModelInUrl: { status: true },
                        fields: [
                            {
                                name: 'uuid',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'app_version',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'push_full_text',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'send_at',
                                isSortable: true,
                                sortableField: 'name',
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                isSortable: false,
                                classes: ''
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: true,
                        page: 1,
                        historyEventName: 'notification-back',
                        search: {
                            uuid: {
                                value: '',
                                helpBlock: true,
                                minSearchLength: 2,
                                label: 'search_uuid',
                                placeholder: 'uuid_placeholder'
                            }
                        },
                        sort: {
                            name: 'send_at',
                            direction: 'asc'
                        }
                    },
                    modalPush: {
                        uuid: ''
                    }
                }
            },

            /**
             * Запрос на выборку данных
             */
            getNotifications( params = {} ){
                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){
                let vm = this;
                vm.resetFilter( {
                    getData(){
                        vm.getNotifications();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимых данных
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    search: vm.filterData.search.uuid.value,
                    sort: {
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Define the styling for row
             */
            itemColorCoding( is_unread ){
                return is_unread
                        ? 'raw-read'
                        : 'raw-unread';
            },

        },
        events: {
            'notification-back': function( event ) {
                this.getNotifications( event );
            },
        }
    }
</script>
