<template>

    <div>
        <v-header :title="pageHeader"></v-header>

        <div class="main-box-body">

            <v-view :view-data="view"></v-view>

            <v-bootstrap-modal id="modal-read-message" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
                <div slot="body">
                    <p> {{{ $t(view.item.read_at ? 'app.mark_as_unread' : 'app.mark_as_read')}}} </p>
                </div>
                <div slot="footer">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            aria-label="Close"
                            id="close-read-message-modal-button"
                    >{{{ $t('app.close') }}}
                    </button>
                    <v-button
                            label="continue"
                            :on-click="readMessage"
                            type="success"
                    ></v-button>
                </div>
            </v-bootstrap-modal>

            <v-bootstrap-modal id="read-other-messages" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.other_messages') }}}</strong></div>
                <div slot="body">
                    <ul class="list-group">
                        <li class="list-group-item text-left word-break"
                            v-for="el in messages"
                        > {{ el.text }}
                            <p>
                                <small><strong> {{ el.sent_at }}</strong></small>
                            </p>
                        </li>
                    </ul>
                </div>
                <div slot="footer">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            aria-label="Close"
                            id="close-other-messages-modal-button"
                    >{{{ $t('app.close') }}}
                    </button>

                </div>
            </v-bootstrap-modal>

            <v-bootstrap-modal id="push-sent" size="modal-md" backdrop="static">
                <div slot="header"><strong>{{{ $t('app.push_notifications') }}}</strong></div>
                <div slot="body">
                    <ul class="list-group">
                        <li class="list-group-item text-left word-break"
                            :class="{ 'is-read' : el.is_unread , 'is-unread' : ! el.is_unread }"
                            v-for="el in params.user.notifications"
                        > {{ el.text }}
                            <p style="margin: 0;">
                                <small>Статус:  {{ el.is_unread ? 'Прочитано' : 'Не прочитано' }} </small><br>
                                <small><strong>{{ el.sent_at }}</strong></small>
                            </p>
                        </li>
                    </ul>
                </div>
                <div slot="footer">
                    <button
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            aria-label="Close"
                            id="close-push-notifications-modal-button"
                    >{{{ $t('app.close') }}}
                    </button>
                </div>
            </v-bootstrap-modal>

            <div class="row" v-show="view.item.user_id && pagination.data && pagination.data.length">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination"
                                  :filter="filterData"
                                  prefix="top"
                                  :on-page-changed="getApiRequests"
                    ></v-pagination>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <v-api-requests
                            :api-requests="pagination.data"
                            v-if="hasRequests"
                    ></v-api-requests>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <v-pagination :pagination="pagination"
                                  :filter="filterData"
                                  prefix="bottom"
                                  :on-page-changed="getApiRequests"
                    ></v-pagination>
                </div>
            </div>
        </div>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../../mixins/m-global';
    import mNavigator from '../../../mixins/m-navigator';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mNavigator ],
        data(){
            return {
                pageHeader: {
                    label: 'app.show_msg',
                    params: {}
                },
                collapsed: false,
                view: {
                    tableClass: 'margin-top-10',
                    titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                    item: {
                        read_at: null,
                        name: '',
                        created_at: '',
                        text: '',
                        email: '',
                        phone_number: 'phone_number',
                        device_label: 'device_label',
                        device_uuid: 'device_uuid',
                        push_token: ''
                    },
                    other_items: [],
                    fields: [
                        {
                            name: 'id',
                            link: false,
                            compound: 'id'
                        },
                        {
                            name: 'customer_name',
                            link: false,
                            compound: 'name'
                        },
                        'sent_at',
                        'text',
                        'user.email',
                        'user.phone_number',
                        'user.device_info',
                        'user.app_version',
                        'user.push_token',

                    ],
                    buttons: [
                        {
                            id: 'go-back-button',
                            title: 'go_back',
                            label: 'go_back',
                            icon: 'chevron-left',
                            eventName: 'go-back'
                        },
                        {
                            id: 'show-other-messages-modal-button',
                            computed: 'hasMessages',
                            label: 'other_messages',
                            title: 'other_messages_description',
                            icon: 'mail-reply-all',
                            eventName: 'show-other-messages'
                        },
                        {
                            id: 'show-push-sent-modal-button',
                            computed: 'hasPushSent',
                            label: 'push_sent',
                            title: 'push_sent',
                            icon: 'envelope-o',
                            eventName: 'show-push-sent'
                        },
                        {
                            id: 'open-set-unread-modal-button',
                            computed: 'isNotRead',
                            label: 'set_read',
                            icon: 'square-o',
                            eventName: 'read-message'
                        },
                        {
                            id: 'open-set-read-modal-button',
                            computed: 'isRead',
                            label: 'set_unread',
                            icon: 'check-square-o',
                            type: 'warning',
                            eventName: 'read-message'
                        },
                        {
                            id: 'open-user-detail-button',
                            computed: 'hasDevice',
                            label: 'customer_list_btn',
                            title: 'customer_list_btn',
                            icon: 'info-circle',
                            eventName: 'show-users-log'
                        },
                        {
                            id: 'open-push-modal-button',
                            computed: 'hasPushToken',
                            label: 'push',
                            title: 'push_description',
                            icon: 'paper-plane',
                            eventName: 'push-notification'
                        }
                    ]
                },
                pagination: {
                    data: []
                },

                // need for pagination
                filterData: {
                    page: 1,
                    user_id: (this.params.item && this.params.item.user_id) ? this.params.item.user_id : null,
                },

                messages: []
            }
        },
        computed: {
            isNotRead(){
                return this.view.item.is_unread;
            },
            isRead(){
                return !this.view.item.is_unread;
            },
            hasDevice(){
                return this.params.user.device;
            },
            hasMessages(){
                return this.messages.length >= 1;
            },
            hasPushToken(){
                return this.params.user && this.params.user.device && this.params.user.device.push_token;
            },
            hasRequests(){
                return this.pagination.data.length >= 1;
            },
            hasPushSent(){
                return this.params.user
                        && this.params.user.notifications
                        && this.params.user.notifications.length >= 1;
            },
        },
        components: {
            'v-api-requests': require( "../../../components/v-api-requests.vue" ),
            'v-header': require( '../../../components/v-header.vue' ),
            'v-view': require( "../../../components/v-view.vue" ),
            'v-bootstrap-modal': require( '../../../components/v-bootstrap-modal.vue' ),
            'v-button': require( '../../../components/v-button.vue' ),
            'v-pagination': require( "../../../components/v-pagination.vue" )
        },
        created(){

            this.$set( 'view.item', this.params.item );
            this.$set( 'view.item.user', this.params.user );


            this.getApiRequests();

            let vm = this;

            vm.messages = vm.params.user.feedback_messages.filter( el => el.id !== vm.params.item.id );
        },
        methods: {

            /**
             * Получение ApiRequests с объектом паджинации
             */
            getApiRequests(){

                this.$http
                        .get( '/users-pro/' + this.view.item.user_id + '/api-requests',
                                { user_id: this.view.item.user_id, page: this.filterData.page } )
                        .then(
                                response => {

                                    this.$set( 'pagination', response.data );
                                },
                                response => {

                                    this.$set( 'pagination', { data: [] } );

                                    this.handleSessionTimeOut( response );

                                    console.error( response );
                                }
                        )
                        .bind( this );
            },

            readMessage(){

                let vm     = this;
                let status = this.view.item.is_unread ? false : true;

                vm.$http.get( vm.getLinkTo( 'feedback-messages-pro', this.params.item.id, 'read', status ) )
                        .then(
                                response => {

                                    if ( response.data.status === 'success' ) {
                                        vm.view.item.is_unread = status;
                                        $( '#modal-read-message' ).modal( 'hide' );
                                    } else if ( response.data.status === 'error' ) {
                                        alert( 'Please, connect Admin.' );
                                        $( '#modal-read-message' ).modal( 'hide' );
                                    }
                                },
                                response => {
                                    console.error( response );
                                    $( '#modal-read-message' ).modal( 'hide' );
                                } );
            }
        },
        events: {
            'go-back': function() {
                this.goBack( 'supports' );
            },
            'show-users-log': function() {
                this.goTo( 'users-pro', this.view.item.user_id );
            },
            'read-message': function() {
                $( '#modal-read-message' ).modal( 'show' );
            },
            'show-other-messages': function() {
                $( '#read-other-messages' ).modal( 'show' );
            },
            'push-notification': function() {
                this.goWithParamsToSegments( { user_id: this.view.item.user_id }, 'push-notifications', 'create' );
            },
            'to-customer-list': function() {
                let vm = this;
                vm.$root.$refs.vm.tryCatch(
                        ()=> {
                            if ( vm.view.item.user ) {
                                vm.goWithParamsToSegments( { phone_number: vm.view.item.user.phone_number }, 'customers' )
                            }
                        }, 'Customer is not defined' );
            },
            'show-push-sent': function(){
                $( '#push-sent' ).modal( 'show' );
            }
        }
    }
</script>
<style scoped>
    .word-break {
        word-break: break-all;
    }

</style>