<template>
    <div>

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{ getPageTitle() }} <!-- Help button -->
                    <v-dropdown
                            type="default"
                            :roles="['super-admin', 'content-manager']"
                            title="app.instruction"
                            component-block-class="inline"
                            :buttons="getButtonsForDropdown()"
                    ></v-dropdown>
                </h1>
            </div>

        </header>

        <!-- 1 -->

        <v-bootstrap-modal id="help-modal-geo-interface">
            <div slot="header"><strong> Интерфейс "Гео. справочники - Города" </strong></div>
            <div slot="body">

                <p>Личный кабинет: content-manager</p>
                <div>
                    <div><p><strong>Внимание! В
                        приоритете редактирование, создание и т.д. городов и регионов Казахстана.<br></strong>
                        Для этого в фильтрах выбираем &nbsp;"
                        <span style="color: rgb(0,0,0);">Только города Казахстана</span>"&nbsp;&nbsp;</p>
                        <p><strong><img :src="staticServer + '/components/help/5407141/10420333.png'"></strong></p>
                    </div>
                </div>
                <h2><span style="color: rgb(0,0,0);">Интерфейс &nbsp;"Гео. справочники - Города"</span></h2>
                <p><img width="900" :src="staticServer + '/components/help/5407141/13926441.png'"></p>
                <ol>
                    <li>Блок поиска по &nbsp;наименованию. Для подтверждения введенного текста поиска необходимо
                        нажать&nbsp;<img :src="staticServer + '/components/help/5407141/10420438.png'">&nbsp;либо кнопку
                        на клавиатуре
                        "Enter".<br>Поиск имеет накопительный эффкет.<br>Если ввели "Поиск по наименованию", а потом
                        "Поиск по имени страны" и "Поиск по имени региона", то результатом будет поиск города в
                        указанной стране, и в заданном регионе&nbsp;</li>
                    <li>Блок фильтров можно использовать отдельно от блока&nbsp;поиска &nbsp;в зависимости от
                        поставленной задачи. &nbsp;<br>Для этого нужно поставить галочку в чекбоксе.&nbsp;<br>Результатом
                        будет список городов соответствующих требований.
                    </li>
                    <li>С помощью кнопки "Сброс фильтра и поиска" можно просмотреть все города в базе без учета
                        фильтров.
                    </li>
                    <li>С помощью кнопки "Создать город" можно добавить информацию о новом городе. Детальнее об этом&nbsp;
                        Создание и редактирование города
                    </li>
                    <li>С&nbsp;помощью кнопки <img :src="staticServer + '/components/help/5407141/10420442.png'">&nbsp;"Редактирование
                        города" &nbsp;можно редактировать город. Детальнее об этом&nbsp; Создание
                        и редактирование города
                    </li>
                    <li>С&nbsp;помощью кнопки
                        <img width="30"
                             :src="staticServer + '/components/help/5407141/10420962.png'">&nbsp;"Редактировать
                        псевдонимы города" можно изменять псевдонимы города. Детальнее об этом
                        Добавление и редактирование псевдонима города&nbsp;</li>
                    <li>С&nbsp;помощью кнопки &nbsp;
                        <img width="33" :src="staticServer + '/components/help/5407141/10420963.png'">"Объединить
                        города" можно объединить города дубли в базе. &nbsp;Детальнее об этом&nbsp; Привязка одного
                        города к другому
                    </li>
                    <li>&nbsp;С помощью стрелок возле "Город" в шапке таблицы с результатами можно сортировать
                        города по алфавиту.
                    </li>
                    <li>С помощью кнопки&nbsp;<img :src="staticServer + '/components/help/5407141/10420504.png'">&nbsp;можно
                        перейти на 10 страниц вперед. Пример: вы на 2 странице. нажимаем&nbsp;
                        <img :src="staticServer + '/components/help/5407141/10420506.png'">&nbsp;и
                        переходим на 12 страницу
                    </li>
                    <li>С помощью кнопки&nbsp;<img :src="staticServer + '/components/help/5407141/10420507.png'">можно
                        перейти на последнюю страницу таблицы.
                    </li>
                    <li>При клике на координаты города в новом окне можно посмотреть на гугл карте местоположение
                        выбранного города.
                    </li>
                </ol>
                <p>&nbsp;</p>
                <h2>Модерация городов-районов</h2>
                <p>Google maps определяет иногда не сам город, а район в котором находится данный город (к примеру,
                    пользователь сканировал в городе Аулиеколь, Google maps определил местоположение пользователя
                    как Аулиекольский район).</p>
                <p>Есть 3 кейса для модерации подобных ошибок:</p>
                <ol>
                    <li><span style="line-height: 1.42857;">Сканирование произошло в районном центре (Аулиекольские район, районный центр Аулиеколь, по данным Wikipedia).</span><br><span
                            style="line-height: 1.42857;">Наши действия: </span><span style="line-height: 1.42857;">&nbsp;
                            объединяем&nbsp; город-район в город-районный центр, после чего удаляем город-район (мерджим данные с Аулиекольского района в его районный центр - Аулиеколь, удаляем Аулиекольский район).&nbsp;</span>
                    </li>
                    <li><span
                            style="line-height: 1.42857;">В списке городов есть район, но в нем нет сканирований.</span><br><span
                            style="line-height: 1.42857;">Наши действия: удаляем город-район. Для этого&nbsp;</span>
                    </li>
                    <li><span style="line-height: 1.42857;">Сканирование произошло в районе, но далеко от районного центра, ближе к другому населенному пункту данного района.</span><br><span
                            style="line-height: 1.42857;">Наши действия: объединяем &nbsp;город, в которым произошли сканирования к ближайшему городу, затем удаляем район.</span><br><span
                            style="line-height: 1.42857;">&nbsp;П.С.: данный кейс используем обязательно, если было проведено несколько сканирований в данном районе.</span><span
                            style="line-height: 1.42857;"><br></span></li>
                </ol>
                <h5><span style="line-height: 1.42857;">Как узнать где были сканирования в городе-районе?</span></h5>
                <p><span style="line-height: 1.42857;">Ищем сканирования на карте в разделе Кластеры в кабинете,
                        либо спрашиваем у разработчика, имеющего доступ к БД, сообщив ему id данного города-района.</span>
                </p><h5>
                <span style="line-height: 1.42857;">Кто имеет право удалить район/город, ведь в кабинете нет подобной функции?</span>
            </h5>
                <p><span style="line-height: 1.42857;">Разработчик, имеющий доступ к БД. Для удаления района/города сообщите разработчику id.</span>
                </p>

            </div>

            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 2 -->

        <v-bootstrap-modal id="help-link-modal">
            <div slot="header"><strong> Привязка городов к регионам </strong></div>
            <div slot="body">

                <h5>Как определить какой город необходимо привязывать?</h5>
                <p>Используя фильтры на странице со списком городов ("Гео. справочники" - "Города"), поставьте галочку
                    для чекбокса "Города без региона".</p>
                <p><img width="900" :src="staticServer + '/components/help/10420310/13926443.png'">
                </p>
                <p>Вы увидите список городов, которые не имеют регионов (во время сканирования пользователем,
                    определилось его местоположение - город, но не определилась страна и регион, к которому принадлежит
                    данный город).</p>
                <p>Наши действия:</p>
                <ol>
                    <li>Необходимо узнать, существует&nbsp;ли этот город, который создался без региона, в нашей базе
                        (для этого, воспользуйтесь поиском по названию города, предварительно сняв галочку с чекбокса
                        "Города без региона").&nbsp;</li>
                </ol>
                <p>&nbsp;Если такой город уже имеется в нашей базе, нам необходимо осуществить привязку - город без
                    региона привязать к городу с регионом. Как осуществлять привязку я описывал&nbsp;3. Привязка одного
                    города к другому</p>
                <p>К примеру, город без региона - "село Талшик".&nbsp;</p>
                <p><img width="900" :src="staticServer + '/components/help/10420310/13926445.png'">
                </p>
                <p><br>Мы копируем название города, без его определения (просто "Талшик", без "село"), и находим этот
                    город с помощью поиска.</p>
                <p><img width="900" :src="staticServer + '/components/help/10420310/13926446.png'">
                </p>
                <p>Такой город уже имеется в нашей базе. Но прежде, чем привязать "село Талшик" к "Талшик", мы должны
                    убедиться, что этот город без региона, действительно находится в том же регионе, что и найденный
                    нами город.&nbsp;</p>
                <p>Для этого, нажимаем на координаты центра города без региона.</p>
                <p><img width="900" :src="staticServer + '/components/help/10420310/13926447.png'">
                </p>
                <p>Нас перекидывает на страницу google maps. И мы видим, что да, действительно, город без региона "село
                    Талшик" находится в том же регионе, что и город "Талшик" - в Северо-Казахстанской области.</p>
                <p><img width="900" :src="staticServer + '/components/help/10420310/10420315.png'">
                </p>
                <p>Если вам не очевидно, какой регион изображен на карте, воспользуйтесь координатами центра города без
                    региона, и google вам в помощь.</p>
                <p>&nbsp; &nbsp; &nbsp;2. Если города без региона нет в нашей базе, и вы в этом абсолютно уверенны,
                    значит в привязке он не нуждается, нам остается лишь его отредактировать, указав страну и регион
                    данного города (определить страну и регион нам помогут координаты центра данного региона).&nbsp;</p>
            </div>

            <div slot="footer">
                <button
                        id="modal-link-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 3 -->

        <v-bootstrap-modal id="modal-city-merge">
            <div slot="header"><strong> Привязка одного города к другому </strong></div>
            <div slot="body">
                <h2>(объединение/мерджинг)</h2>
                <h5><span>Для чего осуществляется привязка?</span></h5>
                <p>В случае, если нам необходимо сканирования в одном городе объединить со сканированиями в другом
                    городе.</p>
                <p>В разделе &nbsp;&nbsp;Добавление и редактирование псевдонима города&nbsp;я
                    писала о том, что если в нашей базе название города гугл карты при сканировании определил иначе, то
                    этот город является псевдонимом для города в базе. Так как в городе-псевдониме произошло
                    сканирование, нам мало просто добавить его как псевдоним, необходимо объединить город и
                    город-псевдоним.</p>
                <p>К примеру, в городе Арысь, который имеется в нашей базе, было сканирование, тут гугл карты по каким
                    либо причинам, при повторном сканировании, определил данный город как&nbsp;"Arys". И город в базе
                    имеет сканирование, и город-псевдоним имеет сканирование. При таких ситуациях нам необходимо
                    объединять города, тем самым сливая сканирования в один город. При объединении, для города Арысь,
                    город "Arys" автоматически станет псевдонимом.</p><h5>Как привязать один город к
                другому?</h5>
                <ol>
                    <li>Перейдите в раздел&nbsp;"Гео. справочники" - "Города". Нажмите на кнопку "Объединение города",
                        для города-псевдонима, который вы хотите объединить с "главным" городом.<br>
                        <img height="250" :src="staticServer + '/components/help/10420297/13926450.png'"><br><br>
                    </li>
                    <li>Выберите страну</li>
                    <li>Выберите регион</li>
                    <li>Выберите "главный" город, который вы хотите объединить с городом-псевдонимом (сканирования из
                        города-псведонима сольются со сканированиями "главного" города, и город-псевдоним станет
                        псевдонимом для "главного" города)
                    </li>
                    <li>Сохраните изменения.<br><img height="250"
                                                     :src="staticServer + '/components/help/10420297/10420533.png'">
                    </li>
                </ol>
                <p class="title">Очень
                    важно</p>
                <div><p>Нельзя привязывать город областной центр в город
                    который не является оным.<br>Если такое произойдет – сломается функционал кабинета.&nbsp;<br>Привязываейте
                    в обратную сторону.&nbsp;</p></div>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-merge"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 4 -->

        <v-bootstrap-modal id="modal-city-lang">
            <div slot="header"><strong> {{{ $t('app.city_help_set_lang')}}} </strong></div>
            <div slot="body">
                <h5>Как редактировать названия города ?</h5>
                <ol>
                    <li>Перейдите к разделу&nbsp;"Гео.справочники" - "Города"</li>
                    <li>Нажмите на кнопку <img :src="staticServer + '/components/help/10420346/10420351.png'">"Редактировать
                        город", для
                        города, который
                        вы хотите отредактировать.
                    </li>
                    <li>Вводим название города на недостающем необходимом языке (google вам в помощь).</li>
                    <li>Сохраните внесенные вами изменения.<br><br>
                        <img width="450" :src="staticServer + '/components/help/10420346/10420353.png'"></li>
                </ol>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-lang"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 5 -->

        <v-bootstrap-modal id="modal-city-timezone">
            <div slot="header"><strong> {{{ $t('app.city_help_set_timezone') }}} </strong></div>
            <div slot="body">


                <h2>Редактирование городов без часового пояса</h2>
                <h5>Как найти города без часового пояса?</h5>
                <p>Воспользуйтесь фильтром на странице "Гео.справочники" - "Города", поставьте галочку для чекбокса
                    "Только города без часового пояса"</p>
                <p><img width="900" :src="staticServer + '/components/help/10420336/13926452.png'">
                </p>
                <p>В результате, вы увидите список с городами без часового пояса.</p>
                <p><img width="900" :src="staticServer + '/components/help/10420336/13926453.png'">
                </p><h5>Как редактировать города без часового пояса?</h5>
                <ol>
                    <li>Перейдите к разделу&nbsp;"Гео.справочники" - "Города"</li>
                    <li>Нажмите на кнопку "Редактировать город", для города, который вы хотите отредактировать.</li>
                    <li>Выберите из выпадающего списка часовой пояс, в котором находится редактируемый вами город
                        (google вам в помощь).
                    </li>
                    <li>Сохраните внесенные вами изменения.</li>
                </ol>
                <p><strong>P.S.:</strong> редактирование координат и часового пояса городов <strong>лучшего всего
                    проводить сразу вместе</strong> (для городов, в которых нет данных ни о координатах, ни о часовом
                    поясе).</p>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-timezone"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 6 -->

        <v-bootstrap-modal id="modal-city-coord">
            <div slot="header"><strong> {{{ $t('app.city_help_set_coord') }}} </strong></div>
            <div slot="body">

                <p><span style="color: rgb(0,0,0);">Редактирование городов без координат</span></p>
                <div><h5>Как найти
                    города без координат?</h5>
                    <p>Воспользуйтесь фильтром на странице "Гео.справочники" - "Города", поставьте галочку для
                        чекбокса "Только города без координат"</p>
                    <p><img width="900" :src="staticServer + '/components/help/10420324/13926455.png'"></p>
                    <p>В результате, вы увидите список с городами без координат.</p>
                    <p><img width="900" :src="staticServer + '/components/help/10420324/13926456.png'"></p>
                    <p>&nbsp;</p><h5>
                        Как редактировать города без координат?</h5>
                    <ol>
                        <li>Перейдите к разделу&nbsp;"Гео.справочники" - "Города"</li>
                        <li>Нажмите на кнопку "Редактировать город", для города, который вы хотите
                            отредактировать.
                        </li>
                        <li>Укажите координаты центра города (ширина и долгота), опираясь на данные сервиса карт
                            (google, yandex), либо нажмите на кнопку "Указать на карте", и переместите маркер по
                            карте на редактируемый город. Затем нажмите "Определить координаты" - "Подтвердить".
                        </li>
                        <li><p>Сохраните внесенные вами изменения.</p></li>
                    </ol>
                    <p>&nbsp;</p>
                    <h2>
                        Методы определения координат центра города</h2>
                    <p><strong>&nbsp; &nbsp; &nbsp;1. Автоматическое определение центра&nbsp;</strong></p>
                    <p>Для автоматического определения координат центра города:</p>
                    <ol>
                        <li>Кнопка "Указать на карте"</li>
                        <li>В модальном окне нажимаем кнопку "Определить координаты"</li>
                        <li>В случае правильного определения координат нажимаем кнопку "Подтвердить"</li>
                    </ol>
                    <br>
                    <p><br><img width="900" :src="staticServer + '/components/help/10420324/10420744.png'"></p>
                    <div>
                        <div>Бывает что автоматическое определение
                            невозможно, потому &nbsp;следует использовать два следующих метода указания центра
                            города
                        </div>
                    </div>
                    <h2>
                        <strong style="font-size: 13.0px;color: rgb(51,51,51);">&nbsp; &nbsp; &nbsp; &nbsp;<strong>2.
                            Указание цента города с помощью маркера</strong></strong></h2>
                    <ol>
                        <li>Находим на гугло картах месторасположение города</li>
                        <li>Кнопка "Указать на карте"</li>
                        <li>В модальном окне перетягиваем маркер по карте на нужный город</li>
                        <li>Нажимаем кнопку "Подтвердить"</li>
                    </ol>
                    <p><strong style="font-size: 13.0px;color: rgb(51,51,51);"><strong><br></strong></strong></p>
                    <p><strong style="font-size: 13.0px;color: rgb(51,51,51);"><strong><img
                            width="450" :src="staticServer + '/components/help/10420324/10420752.png'"
                    ><br></strong></strong></p>
                    <h2>
                        <strong style="font-size: 13.0px;color: rgb(51,51,51);">&nbsp; &nbsp; &nbsp; &nbsp;3. Данные
                            с сервиса карт&nbsp;(google, yandex)</strong></h2>
                    <ol>
                        <li>
                            <h2>
                                <span style="font-size: 13.0px;color: rgb(51,51,51);">Находим на гугло картах координаты города</span>
                            </h2></li>
                        <li>
                            <div><span
                                    style="font-size: 13.0px;color: rgb(51,51,51);">Вводим координаты в инпуты</span>
                            </div>
                        </li>
                    </ol>
                    <p>К примеру, город Алга в Актюбинской области в нашей базе не имеет координат центра. Я нахожу
                        в гугл картах данный город, и копирую данные координат (данные находятся в строке с url,
                        первое значение - это широта, второе - долгота).</p>
                    <p><img width="900" :src="staticServer + '/components/help/10420324/10420328.png'"></p>
                    <p>Затем эти данные вставляю в кабинет. И нажимаю на Сохранить изменения.</p>
                    <p><img width="900" :src="staticServer + '/components/help/10420324/10420329.png'"></p>
                    <p>&nbsp;</p>
                    <p>&nbsp; &nbsp; &nbsp;&nbsp;<strong>&nbsp;&nbsp;</strong></p>
                    <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
                    <p><strong>&nbsp; &nbsp; &nbsp;</strong></p></div>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-coord"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 7 -->

        <v-bootstrap-modal id="modal-city-aliases">
            <div slot="header"><strong> {{{ $t('app.city_help_alias_edit') }}} </strong></div>
            <div slot="body">

                <div><h2>Добавление и редактирование псевдонима города</h2>
                    <p>Псевдонимом города мы называем неофициальное название города.</p>
                    <p>Примеры:</p>
                    <ol>
                        <li>Город Капчагай. В некоторых источниках данный город записан как Капшагай. Тут, для
                            города Капчагай, его другое название "Капшагай" является псевдонимом.
                        </li>
                        <li>Если мы при создании города опираемся на данные с wikipedia, этот же город в google или
                            yandex maps может называться иначе (в википедии, к примеру город указан как Щербакты, в
                            гугл картах данный город именуется Щарбакты).&nbsp;</li>
                        <li>Города, чьи названия были изменены официально, но&nbsp;google maps не обновил данную
                            информацию (бывает такое, что название города сменили еще в 1995 году, но гугл карты об
                            этом не знают). К примеру, село Коксаек в ЮКО. Пользователь осуществил скан в данном
                            селе, гугл карты определил данный город как Георгиевка (Георгиевкой данное село
                            именовалось до 1999 года). То есть, тут, для города Коксаек, "Георгиевка" является
                            псевдонимом.
                        </li>
                        <li>Сёла и поселки. При создании города мы не указываем его определение. Но гугл карты
                            иногда определяет город вместе с его определением. К примеру, создали мы город Кокпекты.
                            В этом городе произошло сканирование, гугл карты определил данный город как "село
                            Кокпекты". Тут, для города Кокпекты,&nbsp;"село Кокпекты" является псевдонимом.
                        </li>
                        <li>В нашей базе имеются некоторые города, перевод которых отличается от данных в гугл
                            картах. К примеру, город Арысь. Перевод на английский, для этого города, в нашей базе
                            был указан как Aris, гугл карты же определил этот город как Arys. Для города Арысь,
                            "Arys" является псевдонимом.
                        </li>
                    </ol>
                    <h5>Как добавить псевдоним для города?</h5></div>
                <div>
                    <ol>
                        <li>Перейдите в раздел&nbsp;"Гео. справочники" - "Города".</li>
                    </ol>
                </div>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; 2. Нажмите на кнопку<img
                        :src="staticServer + '/components/help/10420359/10420984.png'">"Редактировать
                    псевдонимы города", для города, псевдонимы которого вы хотите отредактировать.&nbsp;</div>
                <div>&nbsp; &nbsp; &nbsp; &nbsp; 3.&nbsp;Затем, нажмите на кнопку "Добавить псевдоним".</div>
                <div><img height="250" :src="staticServer + '/components/help/10420359/13926459.png'"></div>
                <div>Пример 1.&nbsp;</div>
                <div><img :src="staticServer + '/components/help/alias1.png'"></span>
                </div>
                <div>Пример 2.&nbsp;</div>
                <div><img :src="staticServer + '/components/help/alias2.png'"></span>
                </div>
                <div>Пример 3.</div>
                <div><img :src="staticServer + '/components/help/alias3.png'"></span>
                </div>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-aliases"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 8 -->

        <v-bootstrap-modal id="modal-city-edit">
            <div slot="header"><strong> {{{ $t('app.city_help_edit') }}} </strong></div>
            <div slot="body">

                <h2><span style="color: rgb(51,51,51);">Для создания города перейдите в раздел "Гео. справочники" - "Города". Нажмите на кнопку "Создание города".</span>
                </h2>
                <div><img height="250" :src="staticServer + '/components/help/10420266/13926462.png'">
                </div>
                <div><p>&nbsp;</p>
                    <div class="confluence-information-macro confluence-information-macro-information"><span
                            class="aui-icon aui-icon-small aui-iconfont-info confluence-information-macro-icon"></span>
                        <div><p><strong>Все поля обязательны для заполнения</strong></p></div>
                    </div>
                </div>
                <div>
                    <ol>
                        <li>Выберите страну (обязательное поле)</li>
                        <li>Выберите регион/область&nbsp;(обязательное поле)</li>
                        <li>Введите название города на русском,английском и казахском языках&nbsp;(обязательные поля)
                        </li>
                        <li>Поставьте галочку для чекбокса "Региональный центр", если создаваемый вами город является
                            таковым (к примеру, создаете город Шымкент, для региона Южно-Казахстанская область, Шымкент
                            является региональным центром)
                        </li>
                        <li>Укажите часовой пояс, в котором находится создаваемый вами город&nbsp;</li>
                        <li>Укажите координаты, создаваемого вами города (указав широту и долготу вручную, либо
                            переместив маркер на карте на желаемый город). Детальнее об этом&nbsp;<a
                                    href="10420324.html">Добавление координат в города без координат.</a></li>
                        <li>Сохраните ваши изменения.<br><img width="450"
                                                              :src="staticServer + '/components/help/10420266/10420536.png'"><br>
                            <h2>Методы
                                определения координат центра города</h2>
                            <p><strong>&nbsp; &nbsp; &nbsp;1. Автоматическое определение центра&nbsp;</strong></p>
                            <p>Для автоматического определения координат центра города:</p>
                            <ol>
                                <li>Кнопка "Указать на карте"</li>
                                <li>В модальном окне нажимаем кнопку "Определить координаты"</li>
                                <li>В случае правильного определения координат нажимаем кнопку "Подтвердить"</li>
                            </ol>
                            <br>
                            <p><br><span><img width="461"
                                              :src="staticServer + '/components/help/10420266/10420768.png'"></p>
                            <div>
                                <div>Бывает что автоматическое определение
                                    невозможно, потому &nbsp;следует использовать два следующих метода указания центра
                                    города
                                </div>
                            </div>
                            <p><strong>&nbsp; &nbsp; &nbsp; &nbsp;<strong>2. Указание цента города с помощью
                                маркера</strong></strong></p>
                            <ol>
                                <li>Находим на гугло картах месторасположение города</li>
                                <li>Кнопка "Указать на карте"</li>
                                <li>В модальном окне перетягиваем маркер по карте на нужный город</li>
                                <li>Нажимаем кнопку "Подтвердить"</li>
                            </ol>
                            <p><strong><br></strong></p>
                            <p><strong><img width="450"
                                            :src="staticServer + '/components/help/10420266/10420769.png'"><br></strong>
                            </p>
                            <p><strong>&nbsp; &nbsp; &nbsp; &nbsp;3. Данные с сервиса карт&nbsp;(google,
                                yandex)</strong></p>
                            <ol>
                                <li><p><span
                                        style="color: rgb(51,51,51);">Находим на гугло картах координаты города</span>
                                </p></li>
                                <li><span>Вводим координаты в инпуты</span></li>
                            </ol>
                            <p>К примеру, город Алга в Актюбинской области в нашей базе не имеет координат центра. Я
                                нахожу в гугл картах данный город, и копирую данные координат (данные находятся в строке
                                с url, первое значение - это широта, второе - долгота).</p>
                            <p><img height="250" :src="staticServer + '/components/help/10420266/10420770.png'"></p>
                            <p>Затем эти данные вставляю в кабинет. И нажимаю на Сохранить изменения.</p>
                            <p><img width="350" :src="staticServer + '/components/help/10420266/10420771.png'"></p>
                            <p>&nbsp;</p>
                            <p>&nbsp; &nbsp; &nbsp;&nbsp;<strong>&nbsp;&nbsp;</strong></p><br><br></li>
                    </ol>
                </div>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-city-edit"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script type="text/babel">
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
        methods: {

            /**
             * Инициализация кнопок для компонента dropdown
             **/
            getButtonsForDropdown(){

                return [
                    {
                        action: this.open,
                        actionArgs: ['help-modal-geo-interface'],
                        title: 'app.city_interface_description',
                        id: 'open-modal-geo-interface',
                    },
                    {
                        action: this.open,
                        actionArgs: ['help-link-modal'],
                        title: 'app.link_city_to_region',
                        id: 'open-modal-link',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-merge'],
                        title: 'app.city_help_merge',
                        id: 'open-modal-city-merge',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-lang'],
                        title: 'app.city_help_set_lang',
                        id: 'open-modal-set-lang',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-timezone'],
                        title: 'app.city_help_set_timezone',
                        id: 'open-modal-set-timezone',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-coord'],
                        title: 'app.city_help_set_coord',
                        id: 'open-modal-set-coord',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-aliases'],
                        title: 'app.city_help_alias_edit',
                        id: 'open-modal-alias-edit',
                    },
                    {
                        action: this.open,
                        actionArgs: ['modal-city-edit'],
                        title: 'app.city_help_edit',
                        id: 'open-modal-edit',
                    },
                ];
            },
        }
    }
</script>