<template>
    <div>
        <!-- Help button -->

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{ getPageTitle() }} <!-- Help button -->
                    <v-dropdown
                            type="default"
                            :roles="['super-admin', 'content-manager']"
                            title="app.instruction"
                            component-block-class="inline"
                            :buttons="getButtonsForDropdown( )"
                    ></v-dropdown>
                </h1>
            </div>

        </header>


        <!-- 1 -->

        <v-bootstrap-modal id="help-modal-general">
            <div slot="header"><strong> Общий интерфейс карты кластеров </strong></div>
            <div slot="body">
                <p><img width="940" :src="staticServer + '/components/help/5407145/10420889.png'"></p>
                <ol>
                    <li>Фильтр по регионам Казахстана и типу (магазин... etc).</li>
                    <li>Фильтр по служебным параметрам и модерации. Модерация помогает отмечать обработанные
                        кластеры (для себя) чтоб на следующий день не обрабатывать повторно одни и те же
                        кластеры.
                    </li>
                    <li>Основной блок фильтров которые используются для работы с кластерами.&nbsp;Фильтры
                        «Без наименования», «Без типа», «Без адреса»,&nbsp;«Без привязанного
                        города».&nbsp;Если выбран фильтр «Без привязанного города» фильтр по региону и городу
                        отключается
                    </li>
                    <li>Обьединение и привязка кластеров к городу</li>
                    <li>Дубликаты кластеров. Подсвечивает кластеры которые создались очччень оччень рядом
                        или с неправильно определенными адресами. Внимание. Это подсветка а не выделение<br>
                        <img height="250" :src="staticServer + '/components/help/5407145/10420520.png'"></li>
                    <li><p>Создание нового кластера вручную</p></li>
                    <li><p>Переключение режима карты</p>
                        <div>
                            <p>Работает следующим образом</p>
                            <div>
                                <ol>
                                    <li>Базовый решим.
                                        <ol>
                                            <li>Выделяет кластер по левому клику.</li>
                                            <li>Показывает подсказку по двойному клику на на кластере.</li>
                                            <li><span style="color: rgb(52,70,68);">Если удерживать клавишу&nbsp;"Shift", и провести по карте, можно выделить несколько кластеров для объединения.
                                            </li>
                                        </ol>
                                    </li>
                                    <li><span style="color: rgb(52,70,68);">Режим выделения
                                        <ol>
                                            <li><span style="color: rgb(52,70,68);">Позволяет выбрать квадрат для выделения группы кластеров
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                </ol>


            </div>

            <div slot="footer">
                <button
                        id="modal-modal-general"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 2 -->

        <v-bootstrap-modal id="help-modal-add-cluster-name">
            <div slot="header"><strong> Внесение названий для максимального количества кластеров </strong></div>
            <div slot="body">

                <p>Автоматически созданным кластерам не присваиваются типы.&nbsp;</p>
                <p>Чтоб уменьшить к-во кластеров без типа проследуйте следующим инструкциям:</p>
                <ol>
                    <li>Отметьте галочку "Без типа" (Если браузер зависает при отображении
                        кластеров)<br>
                        <img :src="staticServer + '/components/help/10420516/10420915.png'">
                    </li>
                    <li>Два раза кликните на интересующий кластер (все ниже перечисленное надо будет проводить с
                        каждым кластером)<br>
                        <img height="400" :src="staticServer + '/components/help/10420516/10420909.png'">
                    </li>
                    <li>Выберите среди действий "Редактировать"<br>
                        <img height="400" :src="staticServer + '/components/help/10420516/10420911.png'">
                    </li>
                    <li>Пропишите названия на 3-х языках для кластера<br>
                        <img :src="staticServer + '/components/help/10420516/10420934.png'">
                    </li>
                    <li>Нажмите "Сохранить"<br>
                        <img :src="staticServer + '/components/help/10420516/10420912.png'">
                    </li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="modal-modal-add-cluster-nam"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 3 -->

        <v-bootstrap-modal id="help-modal-add-cluster-type">
            <div slot="header"><strong> Внесение типов для максимального количества кластеров</strong></div>
            <div slot="body">

                <p>Автоматически созданным кластерам не присваиваются типы.&nbsp;</p>
                <p>Чтоб уменьшить к-во кластеров без типа проследуйте следующим инструкциям:</p>
                <ol>
                    <li>Отметьте галочку "Без типа" (Если браузер зависает при отображении
                        кластеров<)<br><img :src="staticServer + '/components/help/10420544/10420900.png'">
                    </li>
                    <li>Два раза кликните на интересующий кластер (все ниже перечисленное надо будет проводить с
                        каждым кластером)<br>
                        <img height="400" :src="staticServer + '/components/help/10420544/10420904.png'"></li>
                    <li>Выберите среди действий "Редактировать"<br>
                        <img height="400" :src="staticServer + '/components/help/10420544/10420902.png'">
                    </li>
                    <li>Пропишите тип и перепроверьте радиус кластера.<br>
                        <img :src="staticServer + '/components/help/10420544/10420932.png'">
                    </li>
                    <li>При надобности можно отредактировать координаты центра кластера&nbsp;<br>
                        <img height="400" :src="staticServer + '/components/help/10420544/10420925.png'"><br>
                        <img width="776" :src="staticServer + '/components/help/10420544/10420926.png'">
                    </li>
                    <li>Нажмите "Сохранить"<br><img
                            :src="staticServer + '/components/help/10420544/10420898.png'">
                    </li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-add-cluster-type"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 4 -->

        <v-bootstrap-modal id="help-modal-add-address">
            <div slot="header"><strong> Добавление адресов незаполненным кластерам </strong></div>
            <div slot="body">

                <p>Иногда автоматически созданные кластеры оказываются без города (невозможно определить было через
                    геолокационный сервис).</p>
                <p>Чтоб уменьшить к-во кластеров без привязанного города проследуйте следующим инструкциям:</p>
                <ol>
                    <li>Отметьте галочку "Без адреса" (Если браузер зависает при отображении
                        кластеров)<br><img :src="staticServer + '/components/help/10420417/10420594.png'"></li>
                    <li>Два раза кликните на интересующий кластер (все ниже перечисленное надо будет проводить с каждым
                        кластером)<br>
                        <img height="400" :src="staticServer + '/components/help/10420417/10420596.png'">
                    </li>
                    <li>Выберите среди действий "Редактировать"<br>
                        <img height="400" :src="staticServer + '/components/help/10420417/10420597.png'"></li>
                    <li>Пропишите адрес&nbsp;<br><img :src="staticServer + '/components/help/10420417/10420929.png'">
                    </li>
                    <li>При надобности можно отредактировать координаты центра кластера&nbsp;<br>
                        <img height="400" :src="staticServer + '/components/help/10420417/10420927.png'"><br>
                        <img width="776" :src="staticServer + '/components/help/10420417/10420928.png'"></li>
                    <li>Нажмите "Сохранить"<br><img :src="staticServer + '/components/help/10420417/10420592.png'"></li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-add-address"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 5 -->

        <v-bootstrap-modal id="help-modal-browser-not-loaded">
            <div slot="header"><strong> Если браузер зависает при отображении кластеров </strong></div>
            <div slot="body">
                <p>При большом количестве кластеров в регионе такое случается. Например в регионе Алматы.</p>
                <p><img
                        height="250" :src="staticServer + '/components/help/10420549/10420634.png'"></p>
                <p>Попробуйте выделить регион вместе с доп фильтрами и обработать по частям. Например тип кластера
                    можно фильтровать.</p>
                <p><img width="800" :src="staticServer + '/components/help/10420549/10420547.png'"></p>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-browser-not-loaded"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 6 -->

        <v-bootstrap-modal id="help-modal-merge-close">
            <div slot="header"><strong> Обьединение визуально близких кластеров </strong></div>
            <div slot="body">


                <p>Происходит по ходу другой работы, в случае, если были замечены скопления кластеров. Пример:</p>
                <p><img height="562" width="572" :src="staticServer + '/components/help/10420429/10420432.png'"></p>
                <p>В таком случае алгоритм работы следующий:</p>
                <ol>
                    <li>Выделите кластеры зажав Shift или переключив карту в соответствующуюю позицию<br>
                        <img height="250" :src="staticServer + '/components/help/10420429/10420434.png'">
                    </li>
                    <li>Нажмите «Обьединить кластеры»<br><img
                            :src="staticServer + '/components/help/10420429/10420435.png'">
                    </li>
                    <li>Выбрать наиболее заполненный кластер или тот кластер в которм больше всего сканирований (в
                        данном случае тот у которого есть название) в качестве главного (клик по кластеру из списка)<br>
                        <img height="400" :src="staticServer + '/components/help/10420429/10420461.png'"></li>
                    <li>Кликнуть "Сохранить"<br>
                        <img :src="staticServer + '/components/help/10420429/10420462.png'">
                    </li>
                    <li>При надобности можно отредактировать координаты центра кластера&nbsp;<br>
                        <img height="400" :src="staticServer + '/components/help/10420429/10420920.png'"><br>
                        <img width="776" :src="staticServer + '/components/help/10420429/10420923.png'"><br><br>
                    </li>
                </ol>
                <p>&nbsp;</p>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-merge-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 7 -->

        <v-bootstrap-modal id="help-modal-merge-duplicates">
            <div slot="header"><strong> Обьединить дублированные кластеры в одной точке </strong></div>
            <div slot="body">
                <p>Иногда в одной точке появляется несколько кластеров. Это кластеры с <span
                        style="color: rgb(0,51,102);">одинаковыми (не близкими) координатами центра или
                        одинаковыми адресами (с точностью до дома)</p>
                <p>Решается эта ситуация достаточно просто</p>
                <ol>
                    <li>Выберите интересующий вас регион (Если браузер зависает при
                        отображении кластеров)<br><img width="900"
                                                       :src="staticServer + '/components/help/10420405/10420526.png'">
                    </li>
                    <li><p>Отметьте галочку «Показать кластеры дубликаты». Красным подсветятся потенциальные
                        дубликаты по всему региону.</p>
                        <div><p>Кластеры не выделены, только подсвечены</p>
                            <div><p>&nbsp;</p></div>
                        </div>
                        <p><br><img height="400" :src="staticServer + '/components/help/10420405/10420541.png'"></p>
                    </li>
                    <li>&nbsp;Выделите те дубликаты с которых хотели бы начать.<br>
                        <img width="900" :src="staticServer + '/components/help/10420405/10420552.png'">
                    </li>
                    <li>Будьте внимательны. <strong>На одной улице может быть помечено дубликатами рядом стоящие
                        магазины. Смотрите информацию о кластере. Также ориентируйтесь по расстоянию и
                        целесообразности</strong><br><strong><img width="300"
                                                                  :src="staticServer + '/components/help/10420405/10420550.png'">
                        <img width="300" :src="staticServer + '/components/help/10420405/10420551.png'"></strong>
                    </li>
                    <li>Выберите «Обьединить кластеры»<br><img
                            :src="staticServer + '/components/help/10420405/10420553.png'">
                    </li>
                    <li>Выберите наиболее заполненный кластер или тот кластер в которм больше всего сканирований (в
                        данном случае тот у которого есть название) в качестве главного (клик по кластеру из списка)<br>
                        <img height="400" :src="staticServer + '/components/help/10420405/10420558.png'"></li>
                    <li>Кликните "Сохранить"<br><img :src="staticServer + '/components/help/10420405/10420557.png'">
                    </li>
                </ol>
                <p>&nbsp;</p>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-merge-duplicates"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 8 -->

        <v-bootstrap-modal id="help-modal-relink">
            <div slot="header"><strong>Перепривязка ошибочно привязанные кластеры к другим городам</strong></div>
            <div slot="body">
                <p>Иногда автоматически созданные кластеры оказываются привязанны не к своим городам.
                    <strong>Пример:</strong></p>
                <p><strong>
                    <img :src="staticServer + '/components/help/10420514/10420572.png'">
                    <img :src="staticServer + '/components/help/10420514/10420583.png'"></strong>
                </p>
                <h3>
                    Чтоб их перепривязать сделайте следующее:</h3>
                <ol>
                    <li>Выберите интересующий вас регион или город (Если браузер зависает при
                        отображении кластеров)<br><img width="900"
                                                       :src="staticServer + '/components/help/10420514/10420578.png'">
                    </li>
                    <li>Выделите в режиме выделения все кластеры относящиеся к другому региону или городу<br>
                        <img width="400" :src="staticServer + '/components/help/10420514/10420575.png'"</li>
                    <li>Выберите среди действий "Привязать кластеры к городу"<br>
                        <img width="400" :src="staticServer + '/components/help/10420514/10420567.png'">
                    </li>
                    <li>Выберите город для привязки. Для поиска города введите первых несколько символов. Не пугайтесь
                        что вначале список пустой.<br><img width="400"
                                                           :src="staticServer + '/components/help/10420514/10420569.png'">
                    </li>
                    <li>Если нужного города нет в списке&nbsp;– создайте новый<br>Создание города откроется в новой
                        вкладке (8. Создание и редактирование города). После завершения
                        создания вернитесь в привязку к городу и выберите вновь добавленный город
                    </li>
                    <li>Нажмите "Сохранить"<br><img width="400"
                                                    :src="staticServer + '/components/help/10420514/10420570.png'"
                    ></li>
                </ol>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-relink"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 9 -->

        <v-bootstrap-modal id="help-modal-link-to-city">
            <div slot="header"><strong> Привязка кластеров к городам </strong></div>
            <div slot="body">


                <p>Иногда автоматически созданные кластеры оказываются без города (невозможно определить было через
                    геолокационный сервис).</p>
                <p>Чтоб уменьшить к-во кластеров без привязанного города проследуйте следующим инструкциям:</p>
                <ol>
                    <li>Отметьте галочку "Без привязанного города". Регион можно выбрать любой (Если
                        браузер зависает при отображении кластеров), так как все равно он не учитывается
                        (действительно, какой регион если мы не определили город у кластера)<br>
                        <img :src="staticServer + '/components/help/10420410/10420562.png'">
                    </li>
                    <li>Выберите город на карте (на Google maps)&nbsp;к которому будете привязывать (Масштабируйте чтоб
                        было видно все кластеры города)<br><img height="250"
                                                                :src="staticServer + '/components/help/10420410/10420467.png'">
                    </li>
                    <li>Выделите в режиме выделения все кластеры относящиеся к городу<br>
                        <img height="250" :src="staticServer + '/components/help/10420410/10420468.png'">
                    </li>
                    <li>Выберите среди действий "Привязать кластеры к городу"<br>
                        <img :src="staticServer + '/components/help/10420410/10420469.png'">
                    </li>
                    <li>Если в списке для привязки затесался кластер с уже привязанным городом&nbsp;– удалите
                        его<br><img :src="staticServer + '/components/help/10420410/10420471.png'">
                    </li>
                    <li>Выберите город для привязки. Для поиска города введите первых несколько символов. Не пугайтесь
                        что вначале список пустой.<br><img height="250"
                                                           :src="staticServer + '/components/help/10420410/10420473.png'">
                    </li>
                    <li>Если нужного города нет в списке&nbsp;– создайте новый<br>Создание города откроется в новой
                        вкладке (8. Создание и редактирование города). После завершения
                        создания вернитесь в привязку к городу и выберите вновь добавленный город
                    </li>
                    <li>Нажмите "Сохранить"<br><img :src="staticServer + '/components/help/10420410/10420476.png'"></li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-link-to-city"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>
    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
        /**
         * Инициализация кнопок для компонента dropdown
         **/
        methods: {
            getButtonsForDropdown(){

                return [
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-general' ],
                        title: 'app.cluster_help_general',
                        id: 'open-help-modal-general',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-add-cluster-name' ],
                        title: 'app.cluster_help_add_naming',
                        id: 'open-help-modal-add-cluster-name',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-add-cluster-type' ],
                        title: 'app.cluster_help_add_types',
                        id: 'open-help-modal-add-cluster-type',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-add-address' ],
                        title: 'app.cluster_help_add_address',
                        id: 'open-help-modal-add-address',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-browser-not-loaded' ],
                        title: 'app.cluster_help_not_load_browser',
                        id: 'open-help-modal-browser-not-loaded',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-merge-close' ],
                        title: 'app.cluster_help_link_close',
                        id: 'open-help-modal-merge-close',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-merge-duplicates' ],
                        title: 'app.cluster_help_link_duplicates',
                        id: 'open-help-modal-merge-duplicates',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-relink' ],
                        title: 'app.cluster_help_relink',
                        id: 'open-help-modal-relink',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-link-to-city' ],
                        title: 'app.cluster_help_link_to_city',
                        id: 'open-help-modal-link-to-city',
                    },
                ];
            }
        },
    }
</script>