<template>
    <div>

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{  getPageTitle() }} <!-- Help button -->
                    <a href="#" data-toggle="modal" class="btn btn-default" data-target="#help-modal" title="{{{ $t('app.help') }}}">
                        {{{ $t('app.help') }}}
                    </a>
                </h1>
            </div>

        </header>

        <!-- 1 -->

        <v-bootstrap-modal id="help-modal" backdrop="static">
            <div slot="header"><strong> Модерация городов-районов </strong></div>
            <div slot="body">
                <p>
                    Google maps определяет иногда не сам город, а район в котором находится данный город (к примеру, пользователь сканировал в городе Аулиеколь, Google maps определил местоположение пользователя как Аулиекольский район).<br>
                    Есть 3 кейса для модерации подобных ошибок:
                </p>
                <ol>
                    <li>
                        Сканирование произошло в районном центре (Аулиекольские район, районный центр Аулиеколь, по данным Wikipedia).<br>
                        Наши действия: Объединяем город-район в город-районный центр, после чего удаляем город-район (мерджим данные с Аулиекольского
                        района в его районный центр - Аулиеколь, удаляем Аулиекольский район).
                    </li>
                    <li>
                        В списке городов есть район, но в нем нет сканирований.<br>
                        Наши действия: удаляем город-район. Для этого
                    </li>
                    <li>
                        Сканирование произошло в районе, но далеко от районного центра, ближе к другому населенному пункту данного района.<br>
                        Наши действия: Объединяем город, в которым произошли сканирования к ближайшему городу, затем удаляем район.<br>
                        П.С.: данный кейс используем обязательно, если было проведено несколько сканирований в данном районе.<br>
                    </li>
                </ol>
            </div>

            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>


    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
    }
</script>