<template>
    <div>

        <h1> {{{ $t('app.receipt_moderation') }}} {{{ $t('app.in_queue', {number: inQueue}) }}}
            <a href="#" data-toggle="modal" class="btn btn-default" data-target="#help-modal-general">{{{
                $t('app.instruction') }}}</a>
        </h1>

        <v-bootstrap-modal id="help-modal-for-admin"
                           v-if="$root.$refs.vm.hasRole('super-admin', 'receipt-moderator-admin')">
            <div slot="header"><strong> Опции для администратора модератора чеков </strong></div>
            <div slot="body">
                <h2>Общий интерфейс</h2>
                <p><img width="602" :src="staticServer + '/components/help/10420632/10420997.png'">
                </p>
                <p>Особая опция для модератора&nbsp;– возможность выбрать регион чеков для проверки или все регионы.</p>
                <p>Рекомендуем проверять чеки выбирая конкретную область. Дело в том что некоторые люди отправляют чеки
                    боольшими партиями. И эти партии чеков однотипные (без БИН или не фискальные или нормальные). Это
                    позволяет натренировать глаз и обрабатывать однотипные чеки очень очень быстро. Если обрабатывать
                    <strong>Все регионы</strong> – партии чеков будут перемешиваться и обрабатывать однотипные чеки
                    одновременно не получиться. Это замедлит вашу работу. <strong>Обрабатывайте чеки по
                        областям.&nbsp;</strong></p>
                <h2>РЕЕСТР ЧЕКОВ</h2>
                <p>Администратор модератора чеков <strong>имеет возможность изменять статусы чеков в Реестре
                    чеков.</strong></p>
                <p><img height="400" :src="staticServer + '/components/help/10420632/10420737.png'">
                </p>
                <p><strong><br></strong></p>
            </div>

            <div slot="footer">
                <button
                        id="close-modal-merge-duplicates"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="help-modal-general">
            <div slot="header"><strong> Модерация чеков </strong></div>
            <div slot="body">

                <h2><strong><span style="color: rgb(0,0,0);">
                    <img width="200"
                         :src="staticServer + '/components/help/9666816/10420855.png'"><br></span></strong></h2>
                <h2><strong><span style="color: rgb(0,0,0);">1. Вход в личный кабинет</span></strong>
                </h2>
                <p><strong><span style="color: rgb(0,0,0);"><span><img height="400" width="846"
                                                                       :src="staticServer + '/components/help/9666816/10420858.png'"></span></strong>
                </p>
                <p><span style="color: rgb(0,0,0);">Ссылка:&nbsp;
                    <a class="external-link"
                       href="http://cabinet.wiponapp.com/" rel="nofollow">http://cabinet.wiponapp.com/</a></span>
                </p>
                <p><span style="color: rgb(0,0,0);">Логин и пароль предоставляется сотрудником Wipon или ответственным лицом в КГД.</span>
                </p>
                <h2><strong><span
                        style="color: rgb(0,0,0);">2.&nbsp;Терминология</span></strong></h2>
                <p><span style="color: rgb(0,0,0);">ID чека – уникальный номер, присвоенный к чеку.</span></p>
                <p><span style="color: rgb(0,0,0);">Регион - регион с которого был отправлен чек. Участник выбирает вручную свой регион при отправке фотографии чека.</span>
                </p>
                <p><span style="color: rgb(0,0,0);">UUID устройства – уникальный номер устройства (смартфона) участника акции.</span>
                </p>
                <p><span style="color: rgb(0,0,0);">Дата отправки чека – дата, когда чек был отправлен в Wipon. Дата на чеке и дата отправки могут различаться.&nbsp;</span>
                </p>
                <h2><strong><span style="color: rgb(0,0,0);">3. Интерфейс модерации чеков</span></strong>
                </h2>
                <p>
                    <img height="400" :src="staticServer + '/components/help/9666816/13926432.png'">
                </p>
                <div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span style="color: rgb(0,0,0);">№</span></th>
                            <th><p><span style="color: rgb(0,0,0);"><strong>Кнопки
                                модерации</strong></span></p></th>
                            <th><p><span
                                    style="color: rgb(0,0,0);"><strong>Значение</strong></span></p></th>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">1</span></td>
                            <td rowspan="3"><p><span style="color: rgb(0,0,0);">Принять</span></p>
                            </td>
                            <td colspan="1"><p><span style="color: rgb(0,128,0);"><strong>Чек
                                участвует в акции. </strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Следующие данные должны присутствовать на чеке для его безоговорочного принятия:</span>
                                </p>
                                <ol>
                                    <li><span style="color: rgb(0,0,0);">БИН/ИИН или РНН (если нет БИН/ИИН)</span></li>
                                    <li><span
                                            style="color: rgb(0,0,0);">Дата и время (дата должна быть с 01.10.2016)</span>
                                    </li>
                                    <li><span style="color: rgb(0,0,0);">Итоговая сумма</span></li>
                                    <li><span style="color: rgb(0,0,0);">Фискальный признак (Ф, F, ФП, ПФ, ПФП, Фискальный чек. Подробнее ниже)</span>
                                    </li>
                                </ol>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <strong><span
                                    style="color: rgb(0,128,0);">"Участвует"</span>. </strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник не получает уведомление на телефон при данном статусе.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус <span
                                    style="color: rgb(0,128,0);"><strong>"Участвует"</strong></span></span></td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">2</span><br><br></td>
                            <td rowspan="3"><p><span
                                    style="color: rgb(0,0,0);">Чек не фискальный</span></p><br><br></td>
                            <td><p><span style="color: rgb(0,128,0);"><strong>Чек участвует в
                                акции. </strong></span></p>
                                <p><span style="color: rgb(0,0,0);">На чеке отсутствует фискальный признак (Ф, F, ФП, ПФ, ПФП, Фискальный чек. Подробнее ниже). Данный чек принимает участие в акции но в личном кабинете попадает в список не фискальных чеков.</span>
                                </p>
                                <p><span style="color: rgb(0,0,0);"><strong>Необходимо помечать чек не фискальным только
                                    если у него присутствует БИН/ИИН или РНН (если нет БИН/ИИН), дата и время, итоговая
                                    сумма, но отсутствует только фискальный признак. Но если фискальный признак
                                    отсутствует из-за того, что фото чека обрезана или не вместилась в камеру, то стоит
                                    отмечать такие чеки статусом "Не соответствует правилам".</strong></span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <strong><span
                                    style="color: rgb(0,128,0);">"Участвует"</span>.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник не получает уведомление на телефон при данном статусе.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Чек не фискальный"</strong></span></span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">3</span><br><br></td>
                            <td rowspan="3"><p><span style="color: rgb(0,0,0);">Дата на чеке до&nbsp;1.10.16</span>
                            </p><br><br></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Принимаются чеки с датой на чеке с <span
                                        style="color: rgb(0,0,0);">01.10.2016</span>.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Дата на чеке
                                до&nbsp;1.10.16".</strong></span></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Дата на чеке
                                до&nbsp;1.10.16".</strong></span></td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">4</span></td>
                            <td rowspan="3"><p><span
                                    style="color: rgb(0,0,0);">Нет БИН/ИИН на чеке</span></p></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Отсутствует БИН/ИИН на чеке.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Нет БИН/ИИН на
                                чеке".</strong></span></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Нет БИН/ИИН на чеке".</strong></span></td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">5</span></td>
                            <td rowspan="3"><p><span style="color: rgb(0,0,0);">Нет&nbsp;даты/времени на чеке</span>
                            </p></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Отсутствует дата/время на чеке. С присутствующей датой но отсутствующим временем стоит принимать чек.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Нет&nbsp;даты/времени на
                                чеке".</strong></span></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Нет&nbsp;даты/времени на
                                чеке".</strong></span></td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">6</span></td>
                            <td rowspan="3"><p><span style="color: rgb(0,0,0);">Нет&nbsp;суммы на чеке</span>
                            </p></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции. </strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Отсутствует итоговая сумма на чеке. Без итоговой суммы на чеке невозможно идентифицировать дубликаты чеков. Потому это обязательный параметр.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Нет&nbsp;суммы на
                                чеке".</strong></span></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Нет&nbsp;суммы на чеке".</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">7</span></td>
                            <td rowspan="3"><p><span
                                    style="color: rgb(0,0,0);">Нечеткое фото</span></p></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Данные на фото не читабельны, нет возможности идентифицировать БИН/ИИН, дату, время, итоговую сумму или фискальный признак.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Нечеткое фото".</strong></span></span></p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Нечеткое фото".</strong></span></td>
                        </tr>
                        <tr>
                            <td rowspan="3">8</td>
                            <td rowspan="3"><p><span style="color: rgb(0,0,0);">Не соответствует правилам</span>
                            </p></td>
                            <td><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span style="color: rgb(0,0,0);">Не соответствует правилам (прочие случаи, не учтенные в статусах выше). Например для квитанции, которую выдают при оплате банковской карточкой из POS терминала, чек который распечатывает себе кассир в конце смены (Z-отчет), банковские транзакции, погашение кредита, ломбарда и пр. Примеры ниже.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Не соответствует правилам".</strong></span></span>
                            </p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Не соответствует правилам".</strong></span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="3">9</td>
                            <td rowspan="3"><span style="color: rgb(0,0,0);">Уже имеется в базе</span></td>
                            <td colspan="1"><p><span style="color: rgb(153,51,102);"><strong>Чек не участвует в
                                акции.</strong></span></p>
                                <p><span
                                        style="color: rgb(0,0,0);">Чек с аналогичными данными уже был отправлен ранее.</span>
                                </p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">В мобильном приложении в разделе "История чеков" к чеку присваивается статус <span
                                    style="color: rgb(153,51,102);"><strong>"Уже имеется в базе".</strong></span></span>
                            </p>
                                <p><span style="color: rgb(0,0,0);">Участник получает <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=7438577"><strong>уведомление</strong>
                                </a>на телефон при данном статусе.</span></p></td>
                        </tr>
                        <tr>
                            <td colspan="1"><span style="color: rgb(0,0,0);">В личном кабинете в разделе "Реестр чеков" к чеку присваивается статус </span><span
                                    style="color: rgb(153,51,102);"><strong>"Уже имеется в базе".</strong></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2><strong><span style="color: rgb(0,0,0);">4. Алгоритм обработки чеков</span>&nbsp;
                </strong></h2>
                <div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>№</th>
                            <th>Инструкция</th>
                            <th>Пример</th>
                        </tr>
                        <tr>
                            <td colspan="1">1</td>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">Найдите дату на чеке.&nbsp;</span>
                            </p>
                                <ul>
                                    <li><span style="color: rgb(0,0,0);">Если чек размыт и дату определить невозможно&nbsp;– отметьте чек кнопкой&nbsp;<strong>"Нечеткое
                                        фото".</strong></span></li>
                                    <li><span style="color: rgb(0,0,0);">Если дату на чеке найти не возможно&nbsp;–&nbsp;отметьте чек кнопкой&nbsp;<strong>"Нет
                                        даты/времени на чеке".</strong></span></li>
                                    <li><span style="color: rgb(0,0,0);">Если указанная дата на чеке ранее 1-го октября 2016 –&nbsp;отметьте чек кнопкой&nbsp;<strong>"Дата
                                        на чеке до 01.10.2016".</strong></span></li>
                                </ul>
                            </td>
                            <td colspan="1"><strong>
                                <img :src="staticServer + '/components/help/9666816/10420643.png'"></strong></td>
                        </tr>
                        <tr>
                            <td colspan="1">2</td>
                            <td colspan="1"><p><span style="color: rgb(0,0,0);">Если с датой все хорошо, найдите БИН/ИИН на чеке. </span>
                            </p>
                                <p><span style="color: rgb(0,0,0);">Это 12-ти значное число которое может идти после аббревиатуры "БИН", "ИИН" или "РНН" (Если отсутствует <span
                                        style="color: rgb(0,0,0);">БИН/</span></span><span style="color: rgb(0,0,0);">ИИН</span><span
                                        style="color: rgb(0,0,0);">)</span></p>
                                <ul>
                                    <li><span style="color: rgb(0,0,0);">Если чек размыт и <span
                                            style="color: rgb(0,0,0);">БИН/ИИН </span>определить невозможно&nbsp;– отметьте чек кнопкой&nbsp;<strong>"Нечеткое
                                        фото".</strong></span></li>
                                    <li><span style="color: rgb(0,0,0);">Если <span
                                            style="color: rgb(0,0,0);">БИН/ИИН </span>на чеке нет&nbsp;– отметьте чек кнопкой&nbsp;<strong>Нет
                                        БИН/ИИН на чеке.</strong></span></li>
                                </ul>
                                <p><span style="color: rgb(0,0,0);"><br></span></p></td>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10420640.png'"></td>
                        </tr>
                        <tr>
                            <td colspan="1">&nbsp;3</td>
                            <td colspan="1"><p>&nbsp;<span style="color: rgb(0,0,0);">Если и <span
                                    style="color: rgb(0,0,0);">БИН/ИИН</span> на чеке присутствует, найдите на чеке Итоговую сумму.</span>
                            </p>
                                <ul>
                                    <li><span style="color: rgb(0,0,0);">Если чек размыт и&nbsp;итоговую сумму&nbsp;определить невозможно&nbsp;– отметьте чек кнопкой&nbsp;</span><strong
                                            style="color: rgb(0,0,0);">"Нечеткое фото".</strong></li>
                                    <li><span style="color: rgb(0,0,0);">Если итоговой суммы на чеке нет&nbsp;– отметьте чек кнопкой&nbsp;<strong>"Нет
                                        суммы на чеке".</strong></span></li>
                                    <li><span style="color: rgb(0,0,0);">Если пользователь оборвал или заложил или обрезал итоговую сумму– отметьте чек кнопкой&nbsp;"<strong>Нет
                                        суммы на чеке"</strong><strong>.</strong></span></li>
                                </ul>
                            </td>
                            <td colspan="1"><img :src="staticServer + '/components/help/9666816/10420648.png'"></td>
                        </tr>
                        <tr>
                            <td colspan="1">4</td>
                            <td colspan="1"><p><span>Если присутствуют БИН/ИИН (или РНН, если нет БИН/ИИН), дата и время, итоговая сумма, найдите фискальный признак на чеке (<span
                                    style="color: rgb(0,0,0);">Ф, F, ФП, ПФ, ПФП, Фискальный чек. Подробнее ниже</span>).</span>
                            </p>
                                <ul>
                                    <li><span style="color: rgb(0,0,0);">Если на чеке нет фискального признака&nbsp;–&nbsp;отметьте чек кнопкой&nbsp;<strong>"<span
                                            style="color: rgb(0,0,0);">Чек не фискальный"</span></strong></span><strong>.</strong>
                                    </li>
                                    <li>Необходимо помечать чек не фискальным только если у него <span>отсутствует фискальный признак, но </span>присутствуют
                                        БИН/ИИН (или РНН, если нет БИН/ИИН), дата и время, итоговая сумма.
                                    </li>
                                    <li>Но если фискальный признак отсутствует из-за того, что фото чека обрезано или не
                                        вместилось на камеру, то стоит отмечать такие чеки статусом <strong>"Не
                                            соответствует правилам".</strong></li>
                                </ul>
                            </td>
                            <td colspan="1">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><span style="color: rgb(0,0,0);">&nbsp;</span></p>
                <p><span style="color: rgb(0,0,0);"><br></span></p>
                <div><p class="title">
                    Внимание!</p><span
                ></span>
                    <div><p>Если чек нельзя провести по данному алгоритму
                        значит он не соответствует правилам (кнопка&nbsp;"<strong>Не соответствует правилам".</strong>)
                    </p></div>
                </div>
                <h2><strong><span style="color: rgb(0,0,0);">5. Фискальный признак чека</span></strong>
                </h2>
                <div><p class="title">
                    Примечание</p><span
                ></span>
                    <div><p><span style="color: rgb(0,0,0);">Фискальный признак </span><span
                            style="color: rgb(0,0,0);">обозначается следующими метками: <strong>Ф, F, ФП, ПФ, ПФП,
                        Фискальный чек.</strong></span></p>
                        <p><strong>Согласно Налоговому кодексу РК (Статья 649, п. 3):</strong></p>
                        <p><a class="external-link" href="http://adilet.zan.kz/rus/docs/K080000099_" rel="nofollow">
                            http://adilet.zan.kz/rus/docs/K080000099_</a>
                        </p>
                        <p>Контрольный чек контрольно-кассовой машины, за исключением аппаратно-программных комплексов,
                            должен содержать следующую информацию:&nbsp;</p>
                        <p>1) наименование налогоплательщика;&nbsp;<br>2) идентификационный номер;&nbsp;<br>3) заводской
                            номер контрольно-кассовой машины;&nbsp;<br>4) регистрационный номер контрольно-кассовой
                            машины в налоговом органе;&nbsp;<br>5) порядковый номер чека;&nbsp;<br>6) дату и время
                            совершения покупки товаров, выполнения работ, оказания услуг;&nbsp;<br>7) цену товара,
                            работы, услуги и (или) сумму покупки;&nbsp;<br>8 ) фискальный признак;</p></div>
                </div>
                <p><strong style="color: rgb(0,0,0);font-size: 16.0px;"><span><br></span></strong></p>
                <p><strong
                        style="color: rgb(0,0,0);font-size: 16.0px;"><span>Примеры фискальных признаков на чеках</span></strong>
                </p>
                <div>
                    <table class="table table-bordered">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="1" style="text-align: left;">
                                <img height="400" :src="staticServer + '/components/help/9666816/10420659.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;">
                                <img height="400" :src="staticServer + '/components/help/9666816/10420674.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;">
                                <img height="400" :src="staticServer + '/components/help/9666816/10420665.png'">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420656.png'">
                            </td>

                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420657.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420658.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420666.png'">
                            </td>

                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420681.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420673.png'">
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420707.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420680.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420682.png'">
                            </td>
                        </tr>


                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420683.png'">
                            </td>

                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420717.png'">
                            </td>
                        </tr>
                        <tr>

                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420710.png'">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420725.jpg'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420727.png'">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420668.png'">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420722.png'">
                            </td>

                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420679.png'">
                            </td>
                        </tr>
                        <tr>

                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420675.png'">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" style="text-align: left;"><img height="400"
                                                                           :src="staticServer + '/components/help/9666816/10420667.png'">
                            </td>

                            <td colspan="1" style="text-align: left;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1" style="text-align: left;"><img width="250"
                                                                           :src="staticServer + '/components/help/9666816/10421077.jpg'">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><strong style="color: rgb(0,0,0);font-size: 16.0px;"><span><br></span></strong></p>
                <p><span style="color: rgb(0,0,0);">&nbsp;</span><strong style="color: rgb(0,0,0);font-size: 16.0px;">Примеры
                    не фискальных чеков</strong></p>
                <div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10420702.jpg'"></td>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10420714.png'"></td>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10420720.png'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div><span
                ></span>
                    <div><p><span style="color: rgb(0,0,0);">К нефискальным чекам также приравнивается <strong>оплата
                        через платежные системы (QIWI, Астана Плат,Cash Payments,АЗС), если у них нет фискального
                        признака. </strong>Если есть фискальный признак, то принимаются к участию.</span></p></div>
                </div>
                <div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10223701.jpg'"></td>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/9666853.jpg'"></td>
                            <td colspan="1"><img height="400"
                                                 :src="staticServer + '/components/help/9666816/10223703.jpg'"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <h2>
                    <strong><span>6. Не соответствует правилам</span></strong></h2>
                <div><span
                ></span>
                    <div><p><span style="color: rgb(0,0,0);">Не соответствует правилам квитанции, которую выдают при оплате банковской карточкой из POS терминала, чек который распечатывает себе кассир в конце смены (Z-отчет), банковские транзакции, погашение кредита, ломбарда и пр (примеры ниже).</span>
                    </p>
                        <p><span style="color: rgb(0,0,0);"><span>Если фискальный признак отсутствует из-за того, что фото чека обрезана или не вместилась на фото, то стоит отмечать такие чеки статусом </span><strong>"Не
                            соответствует правилам"</strong></span></p></div>
                </div>
                <h3><span style="color: rgb(0,0,0);"><strong>Примеры:</strong></span>
                </h3>
                <div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <td><img height="400" :src="staticServer + '/components/help/9666816/10223763.jpg'"></td>
                            <td><img height="400" :src="staticServer + '/components/help/9666816/10223761.jpg'"></td>
                        </tr>
                        <tr>
                            <td><img height="400" :src="staticServer + '/components/help/9666816/10420651.png'"></td>
                            <td><img height="400" :src="staticServer + '/components/help/9666816/10420729.jpg'"></td>
                        </tr>
                        <tr>
                            <td><img alt="Чек" height="400"
                                     src="http://static.wiponapp.com:8191/images/receipts/39/39e635606703830b6fa9a9be764bc0e4.jpg">
                            </td>
                            <td><img alt="Чек" height="400"
                                     src="http://static.wiponapp.com:8191/images/receipts/ae/aef0160e25b96814c854e353a3fad03f.jpg">
                            </td>
                        </tr>
                        <td><img height="400" :src="staticServer + '/components/help/9666816/10223762.jpg'"></td>
                        </tbody>
                    </table>
                </div>

            </div>

            <div slot="footer">
                <button
                        id="modal-modal-general"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        props: [ 'inQueue' ],
        mixins: [ mHelp ],
    }
</script>