<template>
    <div>

        <!-- Help button -->

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{ getPageTitle() }}
                    <v-dropdown
                            type="default"
                            :roles="['super-admin', 'content-manager']"
                            title="app.instruction"
                            component-block-class="inline"
                            :buttons="getButtonsForDropdown()"
                    ></v-dropdown>
                </h1>
            </div>

        </header>


        <!-- 1 -->

        <v-bootstrap-modal id="help-modal-general">
            <div slot="header"><strong> Продукты </strong></div>
            <div slot="body">


                <p>Личный кабинет: product-moderator</p>
                <h2>Интерфейс "Продукты"</h2>
                <p><img height="250" :src="staticServer + '/components/help/8683561/13926418.png'">
                </p>
                <p>&nbsp;</p>
                <ol>
                    <li>Блок поиска по &nbsp;наименованию или по организации. Для подтверждения введенного текста поиска
                        необходимо нажать&nbsp;<img width="46"
                                                    :src="staticServer + '/components/help/8683561/10421263.png'">&nbsp;либо
                        кнопку на клавиатуре "Enter".<br><br>
                    </li>
                    <li>Блок фильтров можно использовать отдельно от блока&nbsp;поиска &nbsp;в зависимости от
                        поставленной задачи. &nbsp;<br>Для этого нужно поставить галочку в чекбоксе.&nbsp;<br>Результатом
                        будет список городов соответствующих требовани.
                    </li>
                    <li>С помощью кнопки "Сброс фильтра и поиска" можно просмотреть все продукты в базе без учета
                        фильтров
                    </li>
                    <li>С помощью кнопки "Добавить продукт" можно добавить информацию о новом продукте. Детальнее об
                        этом&nbsp;Добавление продукта
                    </li>
                    <li>С помощью кнопки "Не отмодерирован / Промодерирован" можно менять статус продукта.</li>
                    <li>С&nbsp;помощью кнопки &nbsp;<img width="33"
                                                         :src="staticServer + '/components/help/8683561/10421267.png'">"Объединить
                        продукты" можно
                        объединить продукты дубли в базе. &nbsp;Детальнее об этом&nbsp;Объединение
                        продуктов
                    </li>
                    <li>С&nbsp;помощью кнопки &nbsp;<img width="30"
                                                         :src="staticServer + '/components/help/8683561/10421270.png'">&nbsp;"Редактировать
                        псевдонимы
                        продукта" можно изменять псевдонимы.&nbsp;Детальнее об этом&nbsp;Псевдонимы
                        продукта
                    </li>
                    <li>С&nbsp;помощью кнопки &nbsp;<img :src="staticServer + '/components/help/8683561/10421271.png'">&nbsp;"Удалить
                        продукт" можно удалить
                        продукт.
                    </li>
                    <li>С&nbsp;помощью кнопки<img :src="staticServer + '/components/help/8683561/10421272.png'">&nbsp;"Редактирование
                        общей информации о продукте" &nbsp;можно редактировать информацию о продукте. &nbsp;Детальнее об
                        этом&nbsp;Редактирование продукта
                    </li>
                    <li>С&nbsp;помощью кнопки&nbsp;<img :src="staticServer + '/components/help/8683561/10421273.png'">&nbsp;"Редактировать
                        признаки
                        подлинности" можно вносить изменения в признаки подлинности.&nbsp;Детальнее об этом&nbsp;Признаки
                        подлинности
                    </li>
                    <li>С&nbsp;помощью кнопки&nbsp;<img :src="staticServer + '/components/help/8683561/10421274.png'">&nbsp;"Просмотр"
                        можно просмотреть всю
                        внесенную информацию о продукте.
                    </li>
                </ol>
                <h2>Модерация продуктов</h2>
                <p>После того, как Модератор продуктов заполнит все данные по продукту, просмотрит его от и до, все ли
                    данные по продукту соответствуют действительности, Модератор продуктов присуждает статус данному
                    продукту - "Промодерирован".</p>
                <p>Для этого достаточно нажать на кнопку "Промодерировать" на странице со списком продуктов или на
                    странице просмотра продукта.</p>
                <p>&nbsp;</p>

            </div>

            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 2 -->

        <v-bootstrap-modal id="help-modal-product-create">
            <div slot="header"><strong> Добавление продукта </strong></div>
            <div slot="body">
                <p>Личный кабинет: product-moderator</p>
                <p>Для того, чтобы добавить новый продукт:</p>
                <ol>
                    <li>Перейдите в раздел "Продукты"</li>
                    <li>Нажмите на кнопку "Добавить продукт"&nbsp;
                        <img width="130" :src="staticServer + '/components/help/10421244/10421245.png'"><br><br>На новой странице будет
                        следующее:<br>
                        <img width="550" :src="staticServer + '/components/help/10421244/10421247.png'"></li>
                    <li>Заполните данные об организации/производителе продукта (обязательное поле)</li>
                    <li>Выберите тип продукта&nbsp;(обязательное поле)</li>
                    <li>Введите наименование продукта на 2-х языках (англ, рус) и емкость тары.&nbsp;(обязательное
                        поле)
                    </li>
                    <li>Введите юр. имя продукции (к примеру, наименование продукта "Боржоми", юр. имя продукции
                        "Минеральная вода Боржоми", эту информацию нужно гуглить)
                    </li>
                    <li>Введите описание продукта на 2-х языках (описание гуглим)</li>
                    <li>Введите штрих-код (штрих-код гуглим)&nbsp;(обязательное поле)</li>
                    <li>Нажимаем кнопку "Выбрать изображение"</li>
                </ol>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9.1.В модальном окне загружаем "Изображение
                    продукта" и "Фоновое изображение"<br><br></p>
                <p><img width="748" :src="staticServer + '/components/help/10421244/10421282.png'"><br><br>После
                    выбора изображений для продукта и фона, вы увидите как они будут отображаться в приложении.</p>
                <p><img width="350" :src="staticServer + '/components/help/10421244/10421347.png'">
                </p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9.2. После загрузки изображений нажимаем
                    кнопку "Готово".</p>
                <p>&nbsp;</p>
                <p>"Изображение продукта", которое вы загрузили, будет доступно для просмотра в приложении Wipon в
                    выделенном маркером месте на скриншоте ниже.<br><img height="250"
                                                                         :src="staticServer + '/components/help/10421244/10421248.png'"></p>
                <p>&nbsp;</p>
                <p>"Фоновое изображение",&nbsp;которое вы загрузили, будет доступно для просмотра в приложении Wipon в
                    выделенном маркером месте на скриншоте ниже.</p>
                <p><img height="250" :src="staticServer + '/components/help/10421244/10421249.png'"><br>&nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10. Нажимаем кнопку "Сохранить" для успешного
                    внесения информации о продукте в базу.</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

            </div>

            <div slot="footer">
                <button
                        id="close-create-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 3 -->

        <v-bootstrap-modal id="help-modal-product-edit">
            <div slot="header"><strong> Редактирование продукта </strong></div>
            <div slot="body">

                <ol>
                    <li><span style="color: rgb(0,0,0);">&nbsp;</span>Перейдите в раздел "Продукты"</li>
                    <li>Нажмите на кнопку&nbsp;&nbsp;<img
                            :src="staticServer + '/components/help/10421331/10421336.png'">&nbsp;"Редактирование
                        общей информации о продукте"<br><img height="250"
                                                             :src="staticServer + '/components/help/10421331/13926420.png'">
                    </li>
                    <li>В открывшейся странице вносим необходимые изменения или дополнения.<br>
                        <img width="500" :src="staticServer + '/components/help/10421331/10421339.png'">
                    </li>
                    <li>Введите наименование продукта на недостающих языках (англ, рус, каз) и емкость тары.&nbsp;(обязательное
                        поле)
                    </li>
                    <li>Введите юр. имя продукции (к примеру, наименование продукта "Боржоми", юр. имя продукции
                        "Минеральная вода Боржоми", эту информацию нужно гуглить)
                    </li>
                    <li>Введите описание продукта на всех языках (описание гуглим)</li>
                    <li>Введите штрих-код (штрих-код гуглим)&nbsp;(обязательное поле)</li>
                    <li><p>Нажимаем кнопку "Выбрать изображение"<br>&nbsp; &nbsp; &nbsp; 8.1.В модальном окне
                        загружаем "Изображение продукта" и "Фоновое изображение"<br><br></p>
                        <p><img width="748" :src="staticServer + '/components/help/10421331/10421354.png'"><br><br>После
                            выбора изображений
                            для продукта и фона, вы увидите как они будут отображаться в приложении.</p>
                        <p><img width="350" :src="staticServer + '/components/help/10421331/10421355.png'"></p>
                        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;8.2. После загрузки изображений
                            нажимаем кнопку "Готово".</p>
                        <p>"Изображение продукта", которое вы загрузили, будет доступно для просмотра в приложении
                            Wipon в выделенном маркером месте на скриншоте ниже.<br>
                            <img height="250" :src="staticServer + '/components/help/10421331/10421356.png'"></p>
                        <p>&nbsp;</p>
                        <p>"Фоновое изображение",&nbsp;которое вы загрузили, будет доступно для просмотра в
                            приложении Wipon в выделенном маркером месте на скриншоте ниже.</p>
                        <p><img height="250" :src="staticServer + '/components/help/10421331/10421357.png'"><br>&nbsp;
                            &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p></li>
                    <li>Сохраняем изменения, нажав кнопку "Сохранить"</li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="close-edit-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 4 -->

        <v-bootstrap-modal id="help-modal-aliases">
            <div slot="header"><strong> Продукты </strong></div>
            <div slot="body">

                <h2>Редактировать псевдонимы
                    продукта</h2>
                <p>Псевдонимом продукта мы называем его неофициальное название.</p>
                <p>К примеру, алкогольный продукт "Кыпчак" от производителя "<span style="color: rgb(0,0,0);">
                        Петропавловский ликёро-водочный завод</span>",
                    в некоторых источниках данный продукт этого же производителя именуется "Кыпшак".</p>
                <p>"Кыпшак" будет псевдонимом продукта "Кыпчак".&nbsp;</p><h5>Как
                редактировать/добавить псевдоним продукта?</h5>
                <ol>
                    <li>Перейдите в раздел "Продукты"</li>
                    <li>Нажмите на кнопку &nbsp;<img :src="staticServer + '/components/help/10421287/10421291.png'">"Редактировать
                        псевдонимы продукта", псевдонимы которого вы хотите отредактировать.<br>
                        <img height="250" :src="staticServer + '/components/help/10421287/13926422.png'"><br><br></li>
                    <li>Затем нажмите на кнопку "Добавить псевдоним"<br class="_mce_tagged_br">
                        <img :src="staticServer + '/components/help/10421287/13926423.png'">
                    </li>
                    <li>В строке вводим псевдоним.</li>
                    <li>Нажимаем кнопку "Сохранить"</li>
                </ol>


            </div>

            <div slot="footer">
                <button
                        id="close-general-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 5 -->

        <v-bootstrap-modal id="help-modal-merge">
            <div slot="header"><strong> Объединение продуктов </strong></div>
            <div slot="body">

                <h2><span style="color: rgb(61,61,61);">Что дает объединение продуктов?</span></h2>
                <p>При объединении продуктов мы выбираем один&nbsp;<span style="color: rgb(0,0,0);">
                    «главный» продукт и несколько подчиненных продуктов к нему. Итак, что это значит?</span>
                </p>
                <p><span style="color: rgb(0,0,0);">Мы выбрали в качестве&nbsp;«главного» продукта, к примеру,
                    "Хаома Оригинальная, 0.5л", и присоединили к нему 2 подчиненных продукта "Хаома
                    Оригинальная, 0.25л" и "Хаома Оригинальная, 0.7л".</span>
                </p>
                <p><span style="color: rgb(0,0,0);">При сканировании пользователем любого подчиненного
                    продукта ("Хаома Оригинальная, 0.25л" &nbsp;или&nbsp;"Хаома Оригинальная, 0.7л")
                    на странице результата в приложении он будет видеть информацию о продукте по
                    главному продукту, то есть -&nbsp;"Хаома Оригинальная, 0.5л".</span>
                </p>
                <div>
                    <div><p><span style="color: rgb(0,0,0);">Внимание! Подчиненные продукты становятся
                        псевдонимами для "главного" продукта и удаляются из списка всех продуктов!</span>
                    </p></div>
                </div>
                <p><span style="color: rgb(0,0,0);"><br></span></p><h5><span
                    style="color: rgb(0,0,0);">Как объединить продукты/привязать один продукт к другому или другим?</span>
            </h5>
                <ol>
                    <li><span style="color: rgb(0,0,0);">&nbsp;</span>Перейдите в раздел "Продукты"</li>
                    <li>Нажмите на кнопку&nbsp;
                        <img :src="staticServer + '/components/help/10421269/10421295.png'">&nbsp;"Объединение продуктов"<br>
                        <img height="250" :src="staticServer + '/components/help/10421269/13926535.png'"><br><br></li>
                    <li>Выберите в выпадающем списке "подчиненный продукт", можно выбрать несколько подчиненных
                        продуктов. Нажмите кнопку "Объединить продукты"<br>
                        <img height="250" :src="staticServer + '/components/help/10421269/10421309.png'"><br><br>
                    </li>
                    <li>В модальном окне подтвердите намерение объединить продукты кнопкой "Объединить
                        продукты"<br><img width="300" :src="staticServer + '/components/help/10421269/10421311.png'">
                    </li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="modal-merge-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 6 -->

        <v-bootstrap-modal id="help-modal-features">
            <div slot="header"><strong> Признаки подлинности </strong></div>
            <div slot="body">
                <ol>
                    <li><p>Перейдите в раздел "Продукты"</p></li>
                    <li><p>Нажмите на кнопку&nbsp;&nbsp;
                        <img :src="staticServer + '/components/help/10421289/10421316.png'">&nbsp;"Редактировать
                        признаки подлинности"</p>
                        <p><img height="250" :src="staticServer + '/components/help/10421289/13926427.png'"></p>
                        <p>&nbsp;</p></li>
                    <li><p>На новой странице добавляем признаки подлинности с помощью кнопок "Добавить".<br>
                        <img width="900" :src="staticServer + '/components/help/10421289/13926428.png'">
                    </p></li>
                    <li><p>Добавляем изображения по признакам подлинности продукта, если таковые имеются.<br>Например,
                        если мы добавляем продукт "Боржоми", то признаком подлинности данного продукта будет
                        особенный цвет бутылки, бутылки от Боржоми имеют четкие и легко читаемые этикетки и т.д.&nbsp;
                    </p>
                        <p>Признаки подлинности продукта либо организация/производитель предоставляет, либо
                            гуглим.</p></li>
                    <li>Добавляем изображения по признакам подлинности продукта в сравнении с подделкой, если
                        таковые имеются.<br>Например, если мы добавляем продукт "Боржоми", то в изображение
                        оригинального продукта добавляем его признак подлинности - бутылку с его особенным цветом, а
                        в изображение подделки добавляем уже подделанную бутылку Боржоми, цвет которой отличается от
                        оригинальной.<br>Признаки подлинности продукта в сравнении с подделкой либо
                        организация/производитель предоставляет, либо гуглим.<br>
                        <img height="250" :src="staticServer + '/components/help/10421289/13926429.png'"></li>
                    <li>Сохраняем изменения кнопкой "Сохранить"</li>
                </ol>
            </div>

            <div slot="footer">
                <button
                        id="modal-close-features"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
        methods:{
            getButtonsForDropdown(){
                return [
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-general' ],
                        title: 'app.product_help_general',
                        id: 'open-modal-general-info',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-product-create' ],
                        title: 'app.product_help_create',
                        id: 'open-modal-create',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-product-edit' ],
                        title: 'app.product_help_edit',
                        id: 'open-modal-edit',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-aliases' ],
                        title: 'app.product_help_alias',
                        id: 'open-modal-aliases',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-merge' ],
                        title: 'app.product_help_merge',
                        id: 'open-modal-merge',
                    },
                    {
                        action: this.open,
                        actionArgs: [ 'help-modal-features' ],
                        title: 'app.product_help_features',
                        id: 'open-modal-features',
                    },
                ];
            }
        }
    }
</script>