<template>
    <div>

        <header class="main-box-header clearfix">
            <div class="filter-block">
                <h1> {{ getPageTitle() }}
                    <a href="#"
                       data-toggle="modal"
                       v-if="$root.$refs.vm.hasRole('super-admin', 'receipt-moderator-admin')"
                       class="btn btn-default"
                       data-target="#help-modal-for-admin"
                    >{{{ $t('app.instruction') }}}</a>
                </h1>
            </div>
        </header>

        <v-bootstrap-modal id="help-modal-for-admin"
                           v-if="$root.$refs.vm.hasRole('super-admin', 'receipt-moderator-admin')">
            <div slot="header"><strong> Опции для администратора модератора чеков </strong></div>
            <div slot="body">

                <h2>Общий интерфейс</h2>
                <p><img height="250" :src="staticServer + '/components/help/10420632/13926434.png'">
                </p>
                <p>Особая опция для модератора&nbsp;– возможность выбрать регион чеков для проверки или все регионы.</p>
                <p>Рекомендуем проверять чеки выбирая конкретную область. Дело в том, что некоторые люди отправляют чеки
                    большими партиями. И эти партии чеков однотипные (без БИН или не фискальные или нормальные). Это
                    позволяет натренировать глаз и обрабатывать однотипные чеки очень очень быстро. Если обрабатывать
                    <strong>Все регионы</strong> – партии чеков будут перемешиваться и обрабатывать однотипные чеки
                    одновременно не получиться. Это замедлит вашу работу. <strong>Обрабатывайте чеки по
                        областям.&nbsp;</strong></p>
                <h2>РЕЕСТР ЧЕКОВ</h2>
                <p>Администратор модератора чеков <strong>имеет возможность изменять статусы чеков в Реестре
                    чеков.</strong></p>
                <p><img height="400" :src="staticServer + '/components/help/10420632/10420737.png'">
                </p>
                <p><strong><br></strong></p>

            </div>

            <div slot="footer">
                <button
                        id="close-modal-merge-duplicates"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
        data(){
            return {
                button: {
                    id: 'help-dropdown',
                    title: 'instruction',
                    label: 'instruction',
                    type: 'default',
                    roles: [ 'super-admin', 'content-manager' ],
                    icon: 'question',
                    dropdown: true,
                    dropdownItems: [

                        // 1
                        {
                            id: 'open-help-modal-general',
                            title: 'cluster_help_general',
                            label: 'cluster_help_general',
                            eventName: 'open-help-modal',
                            eventArguments: 'help-modal-general',
                        },

                    ]
                }
            }
        },

    }
</script>