<template>
    <div>

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{  getPageTitle() }} <!-- Help button -->
                    <a href="#" data-toggle="modal" class="btn btn-default" data-target="#help-modal-regions">{{{
                        $t('app.instruction') }}}</a>
                </h1>
            </div>

        </header>

        <!-- 1 -->

        <v-bootstrap-modal id="help-modal-regions">
            <div slot="header"><strong> Выбор региональных центров для всех регионов </strong></div>
            <div slot="body">
                <h2>Как найти регионы без областного центра?</h2>

                <p>Воспользуйтесь фильтром на странице "Гео.справочники" - "Регионы", поставьте галочку для чекбокса
                    "Наличие регионального центра", и галочку на "Регионы без областного центра"</p>

                <img width="920" :src="staticServer + '/components/help/result2-1473243904561.png'">

                <p>В результате, вы увидите список регионов без областного центра.</p>

                <img width="920" :src="staticServer + '/components/help/result2-1473244002418.png'">

                <h5>Как редактировать регионы без областного центра?</h5>
                <ol>
                    <li>Перейдите к разделу&nbsp;"Гео.справочники" - "Регионы"</li>
                    <li>Нажмите на кнопку
                        <img width="30" :src="staticServer + '/components/help/image2016-10-6_21-12-36.png'">
                        "Редактировать регион", для региона, который вы хотите отредактировать.
                    </li>
                    <li>Выберите из выпадающего списка "Областной центр региона", редактируемого вами региона(google вам
                        в помощь).
                    </li>
                    <li>Сохраните внесенные вами изменения кнопкой
                        <img :src="staticServer + '/components/help/image2016-10-7_13-10-54.png'">
                    </li>
                </ol>

                <h2>Что такое областной центр?</h2>
                <p>Город, который является официальным центром региона. К примеру, Областным центром Южно-Казахстанской
                    области является город Шымкент.</p>
            </div>

            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
    }
</script>