<template>
    <div>

        <!-- Help button -->

        <header class="main-box-header clearfix">

            <div class="filter-block">
                <h1> {{ getPageTitle() }} <!-- Help button -->
                    <v-dropdown
                            type="default"
                            :roles="['super-admin', 'support']"
                            title="app.instruction"
                            component-block-class="inline"
                            :buttons="getButtonsForDropdown()"
                    ></v-dropdown>
                </h1>
            </div>

        </header>


        <!-- 1 -->

        <v-bootstrap-modal id="help-modal-general">
            <div slot="header"><strong> Обязанности </strong></div>
            <div slot="body">
                <ol>
                    <li>Ответ на отзывы пользователей приложения Wipon в Google Play. <strong>Не должно быть отзывов без
                        ответов</strong></li>
                    <li>Ответ на отзывы пользователей приложения Wipon в Apple Store.&nbsp;<strong>Не должно быть
                        отзывов без ответов</strong></li>
                    <li>Ответ на сообщения пользователей в службу поддержки отправленные через мобильное приложение.
                    </li>
                    <li>Ответ на сообщения пользователей в службу поддержки&nbsp;отправленные&nbsp;через сайт</li>
                    <li>Ответ&nbsp;на сообщения пользователей в службу поддержки&nbsp;отправленные&nbsp;через сайт в
                        чате&nbsp;</li>
                    <li>Ответ на сообщение от компаний в кабинете Wipon (Алгоритм ответа на
                        вопросы пользователей с помощью кабинета). <strong>Максимальное количесво сообщений должно
                            быть отвечено и «помечено прочитанным»</strong></li>
                    <li>Еженедельный сборный отчет об обращениях пользователей</li>
                    <li>Обновление&nbsp;<a href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=4293074">4.
                        Ответы на вопросы и коментарии пользователям (FAQ)</a></li>
                </ol>
                <h2>С чего начать</h2>
                <p>Шаблоны ответов можно найти тут:&nbsp;<a
                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=4293074">4. Ответы на вопросы и
                    комментарии пользователям (FAQ)</a></p>
                <ol>
                    <li>Для того, чтобы ответить на отзывы пользователей приложения на Google Play, вам нужно перейти по
                        следующей ссылке:&nbsp;https://goo.gl/reqNyJ&nbsp;(менеджер
                        проекта расшейрит права для вашей эл. почты). Пройдя по ссылке, достаточно кликнуть на строку
                        "Ответить" для нового отзыва, и "Опубликовать". Отзывы пользователей, в которых описаны
                        проблемы, необходимо решить. Сообщите о проблеме разработчику, предоставив ему запросы данного
                        пользователя. Для того, чтобы найти логи запросы пользователя, вам необходимо перейти в&nbsp;<a
                                class="external-link" href="http://cabinet.wiponapp.com/ru/users" rel="nofollow">кабинет
                            Wipon</a>&nbsp;в раздел Пользователи - Просмотр и поиск. С помощью инструментов поиска и
                        фильтра возможен поиск пользователя по следующим данным: устройство, ОС, имя (эти данные указаны
                        в отзыве пользователя на Google Play). После того, как вы нашли пользователя, перейдите к
                        просмотру данных о пользователе, на этой странице расположены его запросы.&nbsp;</li>
                    <li>Для того, чтобы ответить на сообщение пользователей в&nbsp;<a class="external-link"
                                                                                      href="mailto:support@wipon.net"
                                                                                      rel="nofollow">support@wipon.net</a>&nbsp;(менеджер
                        проекта расшейрит права для вашей эл. почты), вам необходимо создать новое письмо, и на
                        указанную в письме (письмо от&nbsp;<a class="external-link" href="mailto:support@wipon.net"
                                                              rel="nofollow">support@wipon.net</a>) почту (почта
                        пользователя указывается в обязательном порядке) отправить ответ. Сообщения пользователей, в
                        которых описаны проблемы необходимо решить, как это указано в 1-ом пункте.
                    </li>
                    <li>Для ответа на сообщения пользователей компании, необходимо перейти в&nbsp;<a
                            class="external-link" href="http://cabinet.wiponapp.com/ru/users" rel="nofollow">кабинет
                        Wipon</a>&nbsp;к списку всех сообщений. В данном списке будут отображаться сообщения
                        пользователей компаний, в которых будут описаны те или иные проблемы, либо предложения. Их
                        также, необходимо решать сообщив об этом разработчику кабинета. После решения проблемы,
                        выставить соответствующий статус для сообщения (решен, не решен).
                    </li>
                    <li><strong>Также для ответа на вопросы пользователей рекомендуется анализировать логи конкретного
                        пользователя в кабинете или общие логи. Там показывается география его проверок и сами запросы
                        (даты, есть ли геолокация и что он проверял)</strong></li>
                    <li><strong>При сложном вопросе от пользователя следует попросить отправить лог с помощью обратной
                        связи или связяться с пользователем по телефону для уточнения</strong></li>
                </ol>
                <h2>Приоритетность каналов ответов</h2>
                <p>Фидбек от пользователя приходит по разным каналам. Как отвечать не всегда очевидно. Итак
                    приоритетность следующая</p>
                <ol>
                    <li>На платформе прямо (например Google Play)</li>
                    <li>По электронной почте, если есть</li>
                    <li>Отправить СМС на номер телефона если есть</li>
                    <li>Позвонить если пользователь не может принять СМС или важный сложный вопрос (также для сообщениях
                        о выигрыше)
                    </li>
                    <li>Отправить PUSH собщение на PUSH токен если електронная почта не работает или нету и телефона
                        нету или не работает
                    </li>
                    <li>Поискать по нику в социальных сетях</li>
                </ol>

            </div>

            <div slot="footer">
                <button
                        id="modal-close"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 2 -->

        <v-bootstrap-modal id="help-modal-questions">
            <div slot="header"><strong> Часто задаваемые вопросы (support) </strong></div>
            <div slot="body">

                <!-- 1 question -->

                <h1>Delivery Status Notification (Failure)</h1>

                <h3>На почту или в другой канал поддержки пришло сообщение похожего содержания. Что делать?</h3>

                <div class="nqm warp" style="width:100%">
                    <blockquote>
        <pre>От: Mail Delivery Subsystem &lt;mailer-daemon@googlemail.com&gt;
Дата: пятница, 11 марта 2016 г.
Тема: Delivery Status Notification (Failure)
Кому: info@wipon.net


Delivery to the following recipient failed permanently:

     wea@mail.ru

Technical details of permanent failure:
Google tried to deliver your message, but it was rejected by the server for the recipient domain mail.ru
 by mxs.mail.ru

. [94.100.180.150].

The error that the other server returned was:
550 Message was not accepted -- invalid mailbox.  Local mailbox wea@mail.ru is unavailable: user is terminated


----- Original message -----

DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
        d=wipon-net.20150623.gappssmtp.com

; s=20150623;
        h=message-id:date:subject:from:to:mime-version
         :content-transfer-encoding;
        bh=aos357TbMOjcPyujGb9kJiQsNpnFYQx63NySYd5hviE=;
        b=cN/1F7nUQwIDPnCp0t1WH8gk8bLHgBzmP1HAgIc60ShRYm/9riEXX55UbVuoDnQ7V4
         Qg5gPyU5SHST/onrHTYPRiWSsI+fHqcvFYzEwZ8s+foInZ7rzgZTVEBDf4aMXBLsJIO1
         8cHSDHJt/Ulqdu4/ZZ0x9XB89T2bCPv/KFmdfaeJedLD8HgSuOnerSiEXzTRXbWiQ45y
         sfKRUtscJYjsx9N73kd+GBEsuMbVuzVJ6ZTt+1kkiqls8E3U0DF482Ys0bL01ownX+Gl
         +cif2CVWVizCn7KCus0ceaT/QNFIWRmBMQVEcSLo/hI9Fz2GnmPpkEPqBpeeuhOvhU3P
         Ko4w==
X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
        d=1e100.net
; s=20130820;
        h=x-gm-message-state:message-id:date:subject:from:to:mime-version
         :content-transfer-encoding;
        bh=aos357TbMOjcPyujGb9kJiQsNpnFYQx63NySYd5hviE=;
        b=WNC7+lS13Rj9kk7x2YEmL7I6cDz9UDpDeEi07RIdAz/4uXRly4NDU+sS3wZttL8Znj
         kyqECf+hOg/RCOd8aoGhKFz1UCY3mQNKQwPuiEDU9SnXfw5NnPJvZBXIt4kBdxrc3fup
         HB/R3nTDZkSD+WX+rnQhK9OicH+PPWQwecialrtnD7kyfSEep9ZmkfzAn6BApbWxNxOT
         pmpo0hRfio98u8YYmRtcOOV6n1zvru2bjuO3bHeRWwIr+qfyy6CnhepXBFqAfLhhnzGM
         U3d1O02A+3K8N7mKj0FGr4qhuzNTPyE7XvjZvFKlrqd/ZUpb4z0XkLA2KFXCxmrneAWy
         KIsQ==
X-Gm-Message-State: AD7BkJLJEujnJDW9r7BIoL+hZWWQImhZPckp17vSSeZWhiBHtuU0uu5oZBwNKgGli6kDcA==
X-Received: by 10.112.201.67 with SMTP id jy3mr3683209lbc.25.1457713104466;
        Fri, 11 Mar 2016 08:18:24 -0800 (PST)
Return-Path: &lt;info@wipon.net&gt;
Received: from [127.0.0.1] ([185.22.65.200])
        by smtp.gmail.com
 with ESMTPSA id 40sm1439136lfp.41.2016.03.11.08.18.21
        for &lt;wea@mail.ru&gt;
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Fri, 11 Mar 2016 08:18:22 -0800 (PST)
Message-ID: &lt;876e959afeac18929ae13cfeb899e0cf@swift.generated&gt;
Date: Fri, 11 Mar 2016 22:18:05 +0600
Subject: =?utf-8?Q?=D0=9F=D0=BE=D0=B4=D1=82=D0=B2=D0=B5=D1=80=D0=B6?=
 =?utf-8?Q?=D0=B4=D0=B5=D0=BD=D0=B8=D0=B5_=D1=81=D0=BC=D0=B5=D0=BD=D1=8B_?=
 =?utf-8?Q?=D1=8D=D0=BB=2E_=D0=BF=D0=BE=D1=87=D1=82=D1=8B?=
From: Wipon &lt;info@wipon.net&gt;
To: wea@mail.ru
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable</pre>
                    </blockquote>
                    <div class="attribution">
                        <p class="author">Email</p>
                    </div>
                </div>
                <p>&nbsp;</p>
                <h3><span style="color: rgb(0,0,0);">Ответ</span></h3>
                <p><span style="color: rgb(34,34,34);">Это значит пользователь отправил нам фибек указав в качестве обратной связи email&nbsp;</span><a
                        class="external-link" href="mailto:wea@mail.ru" rel="nofollow" style="line-height: 1.42857;">wea@mail.ru</a><span
                        style="color: rgb(34,34,34);">&nbsp;</span></p>
                <div>и мы постарались ему ответить „Ваше сообщение будет обработано в ближайшее время“, но
                    адреса&nbsp;<a class="external-link" href="mailto:wea@mail.ru" rel="nofollow">wea@mail.ru</a>&nbsp;не
                    существует (пользователь нас обманул :( ) и у нас не получилось ничего отправить.
                </div>
                <div>В данной ситуации можно попробовать узнать&nbsp;</div>
                <div><p>&nbsp;</p>

                    <div class="nqm warp" style="width:100%">
                        <blockquote>
        <pre>Идентификатор устроиства: 05a73c79757789124eed1d38eaf0e1b6&nbsp;
Ключ уведомления: 5c7ff749dc6b4b5417f0a81d3811a8d56a95fc044c362a9e1e55058787f86ec2&nbsp;</pre>
                        </blockquote>
                        <div class="attribution">
                            <p class="author"></p>
                        </div>
                    </div>
                    <p>&nbsp;</p></div>
                <div>И отправить пользователю PUSH сообщение с уточнением проблемы или ответом на его
                    вопрос.&nbsp;</div>
                <div>Дополнительно в&nbsp;PUSH сообщении можно попросить указать корректный email для связи</div>

                <!-- 2 question -->

                <h1>Как найти запросы пользователя, у которого указана только модель устройства</h1>
                <p>К примеру, в Google Play пользователь оставил нам отзыв. Данный отзыв содержит имя пользователя в
                    Google Play, модель устройства, с которого был оставлен отзыв, и время оставленного им отзыва.</p>
                <ol>
                    <li>Переходим к разделу "Поддержка B2C" -&nbsp;"Устройства".</li>
                    <li>Используя поиск по модели устройства, находим список всех устройств по искомой модели.</li>
                    <li>Проставляем период во время которого был оставлен отзыв.</li>
                </ol>
                <p>Наглядный пример:</p>
                <p><img height="250" :src="staticServer + '/components/help/4292964/8324350.png'">
                </p>
                <p>Устройство пользователя:&nbsp;NX507J</p>
                <p>Пользователь оставил отзыв: 2016-09-04 в 10:54</p>
                <p>Переходим к кабинету. Осуществляем поиск по модели устройства. Проставляем период во время которого
                    пользователем был оставлен отзыв.</p>
                <p><img height="250" :src="staticServer + '/components/help/4292964/8324351.png'">
                </p>
                <p>&nbsp;</p>
                <p>Для чего мы ищем запросы пользователя?</p>
                <p>Анализ запросов пользователя помогает выявить причину жалобы пользователя.&nbsp;</p>
                <p>&nbsp;</p>

                <!-- 3 question -->
                <h1>Можно ли посмотреть что когда и где делал пользователь?</h1>

                <div>
                    <h3>Пользователь отправил сообщение обратной связи. К примеру&nbsp;</h3>
                    <p><img height="400" :src="staticServer + '/components/help/4292922/8324358.png'"></p>
                    <p><span style="color: rgb(0,0,0);">Как узнать что происходило с пользователем в процессе эксплуатации приложения?</span>
                    </p>
                    <ol>
                        <li><span style="line-height: 1.42857;">Переходим к разделу "Поддержка B2C" -&nbsp;"Устройства" в кабинете</span>
                        </li>
                        <li>Находим пользователя по идентификатору устройства (поиск по uuid)</li>
                        <li>Переходим к просмотру запросов устройства пользователя (к примеру для этого пользователя <a
                                href="http://cabinet.wiponapp.com/devices/0CC2E3B5-DB47-4175-B038-72252E80D6A2/log"
                                rel="nofollow" style="line-height: 1.42857;">http://cabinet.wiponapp.com/devices/0CC2E3B5-DB47-4175-B038-72252E80D6A2/log</a>)
                        </li>
                        <li>Просматриваем запросы</li>
                    </ol>
                    <p>Там можно посмотреть всю активность пользователя.&nbsp;</p>
                    <p>К примеру, он сканирует запросом&nbsp;<a rel="nofollow" style="text-decoration: underline;">POST&nbsp;v3/checks&nbsp;</a>(нужно
                        найти такой запрос и кликнуть по нему)</p>
                    <p>В параметрах к этому запросу есть</p>
                    <div class="code panel pdl" style="border-width: 1px;">
                        <div class="codeContent panelContent pdl">
<pre class="syntaxhighlighter-pre" data-syntaxhighlighter-params="brush: js; gutter: false; theme: Confluence"
     data-theme="Confluence">"checks": [ 
	{ 
		"cluster": { 
			"id": 6871, 
			"city": { 
				"id": 9521, 
				"name_en": "Saransk", 
				"name_kk": "Саранск", 
				"name_ru": "Саранск", 
				"latitude": null, 
				"longitude": null 
			}, 
			"house": "74", 
			"street": "улица Попова", 
			"name_en": null, 
			"name_kk": null, 
			"name_ru": null, 
			"accuracy": 88, 
			"latitude": "54.173340697485", 
			"longitude": "45.12358240049" 
		}, 
		"created_at": "2016-07-25 20:12:54", 
		"geo_accuracy": "65", 
		"geo_latitude": "54.173353978095", 
		"geo_longitude": "45.12362996362", 
		"is_own_device": true 
	},</pre>
                        </div>
                    </div>
                    <h3>
                        <span>Как узнать что&nbsp;</span><span>и где сканировал пользователь?</span></h3>
                    <p><span style="color: rgb(51,51,51);">Иногда, пользователи оставляют подобного рода отзывы:</span>
                    </p>
                    <blockquote>
                        <pre>"Проверили все бутылки в доме, 9 штук - ни одна не соответствует формату акцизной марки. Рекомендуется приобрести другую бутылку. Весь алкоголь приличный, купленный в проверенных местах."</pre>
                    </blockquote>
                    <p>В таком случае, нам нужно убедиться, действительно ли вся сканируемая пользователем алкогольная
                        продукция контрафакт, либо где-то возникла ошибка.</p>
                    <p>Для того, чтобы просмотреть что и где сканировал пользователь, вам необходимо:</p>
                    <ol>
                        <li>Перейти в кабинет Wipon -&nbsp;<a
                                href="http://cabinet.wiponapp.com/ru/devices"
                                rel="nofollow">http://cabinet.wiponapp.com</a>
                        </li>
                        <li><span style="line-height: 1.42857;">Переходим к разделу "Поддержка B2C" -&nbsp;"Устройства" в кабинете</span>
                        </li>
                        <li><span style="line-height: 1.42857;">Находим пользователя по идентификатору устройства (поиск по uuid)</span>
                        </li>
                        <li><span
                                style="line-height: 1.42857;">Переходим к просмотру запросов устройства пользователя</span>
                        </li>
                        <li><span style="line-height: 1.42857;">Просматриваем запросы</span></li>
                        <li>Просматриваем&nbsp;карту сканирований пользователя</li>
                    </ol>
                    <p><img :src="staticServer + '/components/help/4292922/4293104.jpg'">
                    </p>
                    <p>Красным и зеленым маркером помечены места сканирований (либо место ввода данных вручную)
                        определенной акцизной марки.</p>
                    <p>Красный маркер отвечает за контрафактную акцизную марку, тогда как зеленый маркер, обозначает
                        подлинную марку.</p>
                    <p><img height="250" :src="staticServer + '/components/help/4292922/4293105.jpg'"></p>
                    <p>Кликнув на маркер, можно получить детальную информацию о сканированной (или введенной вручную)
                        акцизной марке.</p>
                    <p>Параметр &nbsp;<span style="color: rgb(0,51,102);">"facet_number" обозначает, что пользователь в данном месте ввел вручную код фасета.</span>
                    </p>
                    <p><img :src="staticServer + '/components/help/4292922/4293106.jpg'"></p>
                    <p><span style="color: red;"><span style="color: rgb(0,51,102);">Если же, указан параметр</span>&nbsp;<span
                            style="color: rgb(0,51,102);">"serial_number", это обозначает, что пользователь в данном месте ввел вручную номер и серию акцизной марки.</span></span>
                    </p>
                    <p><img :src="staticServer + '/components/help/4292922/4293107.jpg'">
                    </p>
                    <p><span style="color: red;"><span style="color: rgb(0,0,0);">Для того, чтобы убедиться в корректности результата проверки, данные указанные в этих двух параметрах можно сверить с данными на сайте КГД МФ РК</span><span
                            style="color: rgb(0,51,102);"> -&nbsp;<a class="external-link"
                                                                     href="http://kgd.gov.kz/ru/services/product_check"
                                                                     rel="nofollow">http://kgd.gov.kz/ru/services/product_check</a>.</span></span>
                    </p>
                    <p>Параметр&nbsp;"ukm_status" отвечает за результат проверки: "valid" (подлинная) и "fake"
                        (контрафакт).</p>
                    <p>Пролистнув карту сканирований, вы можете ознакомиться с запросами пользователей.</p>
                    <p>В них также указываются данные по сканированным акцизным маркам, дополнительно к этому, есть
                        данные о времени проведенного сканирования (либо любого другого запроса).</p>
                    <p>К примеру:</p>
                    <div class="code panel pdl" style="border-width: 1px;">
                        <div class="codeContent panelContent pdl">
                            <pre class="syntaxhighlighter-pre"
                                 data-syntaxhighlighter-params="brush: js; gutter: false; theme: Confluence"
                                 data-theme="Confluence">"created_at": "2016-03-10 22:27:56"</pre>
                        </div>
                    </div>
                    <p>Другие запросы и пояснения к ним можно почитать тут&nbsp;<a
                            href="http://docs.wiponapp.com:8090/display/WIP/2.+API+v3">2. API v3</a></p>
                    <p>&nbsp;</p>

                    <!-- 4 question -->

                    <h1>Не получается сканировать</h1>
                    <p>Отзыв от пользователя -</p>
                    <p><strong style="color: rgb(149,149,149);font-size: 20.0px;line-height: 1.5;">Назар Юсупов</strong>
                        <span style="color: rgb(149,149,149);">, 13 окт. 2015 г. в 16:06</span></p>
                    <p><span style="color: rgb(149,149,149);">&nbsp;</span></p>

                    <div style="width:100%">
                        <blockquote>
                            Не все сканирует...часто надо вводить вручную..
                        </blockquote>
                    </div>
                    <p>Есть несколько факторов, влияющих на невозможность сканирования штрих-кода.</p>
                    <ol>
                        <li>Акцизная марка повреждена, погнута или на продукцию навесили магнит против выноса,
                            который мешает сканеру в полной мере схватить штрих-код.
                        </li>
                        <li>Недостаточно света для считывания сканером штрих-кода.</li>
                        <li>Недостаточно Mpix в камере. (должно быть не меньше 3-х Mpix&nbsp;)</li>
                    </ol>
                    <p>&nbsp;</p>


                    <!-- 5 question -->
                    <h1>Отправка PUSH-уведомлений</h1>
                    <p>Отправка PUSH-уведомлений осуществляется в кабинете Wipon -&nbsp;
                        <a class="external-link"
                           href="http://cabinet.wiponapp.com/push-notifications/create"
                           rel="nofollow">http://cabinet.wiponapp.com/ru/wipon/push</a>.
                    </p>
                    <p>При выборе кому отправить уведомление, есть 2 варианта:</p>
                    <ol>
                        <li>Всем - уведомление отправится всем пользователям (также можно использовать фильтр: отправить
                            всем пользователям Andoird, отправить всем пользователям iOS)
                        </li>
                        <li>Пользователю - уведомление отправится одному конкретному пользователю.&nbsp;</li>
                    </ol>
                    <p>Для этого, необходимо указать id и&nbsp;<span>push token пользователя (эти данные
                        доступны в кабинете, при просмотре детальной информации по пользователю).</span>
                    </p>
                    <p><span>Также,&nbsp;push token пользователя можно получить с канала #feedback в Slack,
                        и с письма обратной связи, отправленной с приложения.</span>
                    </p>
                    <p><span>Там&nbsp;push token пользователя обозначается как "Ключ уведомления".</span></p>
                    <p>Что значит поле "Тестовое ли сообщение?"</p>
                    <p>Поставив галочку напротив данного поля, сообщение отправится только на те устройства, которые
                        зарегистрированы у нас в системе как тестовые.</p>

                    <!-- 6 question -->
                    <h1>Отправка логов при синем экране смерти</h1>
                    <p>Бывают случаи, когда приложение запускается с ошибкой, которое приводит к синему экрану
                        смерти.</p>
                    <p>Экран выглядит так:</p>
                    <p><img height="250" :src="staticServer + '/components/help/4293045/4293044.png'"></p>
                    <p>Если пользователь жалуется на подобного рода ошибку, необходимо попросить его нажать на кнопку
                        "Send report to hello@wiponapp.com".</p>
                    <p>Тем самым, он отправит свой код ошибки (лог) нам.</p>
                    <p>Логи пользователя придут письмом на почту&nbsp;
                        <a class="external-link"
                           href="mailto:hello@wiponapp.com"
                           rel="nofollow">hello@wiponapp.com</a>.</p>
                    <p>Данное письмо, вместе с логом в нем, необходимо отправить разработчику, чтобы он смог разобраться
                        в причине появления этой ошибки.</p>

                </div>

            </div>

            <div slot="footer">
                <button
                        id="close-questions-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 3 -->

        <v-bootstrap-modal id="help-modal-answer">
            <div slot="header"><strong> Алгоритм ответа на вопросы пользователей с помощью кабинета </strong></div>
            <div slot="body">
                <div>При открытии страницы&nbsp;
                    <a class="external-link" href="http://cabinet.wiponapp.com/supports" rel="nofollow">
                        http://cabinet.wiponapp.com/supports</a>&nbsp;следует обработать все сообщения помеченные как
                    «необработанные» &nbsp;
                    <img :src="staticServer + '/components/help/10420240/10421029.png'">
                </div>
                <div><img width="850" :src="staticServer + '/components/help/10420240/13926468.png'"></div>
                <ol>
                    <li>Нажать на&nbsp;
                        <img width="23" :src="staticServer + '/components/help/10420240/10420228.png'">&nbsp;для
                        просмотра
                        сообщения&nbsp;<br><br>
                        <img width="850" :src="staticServer + '/components/help/10420240/13926467.png'"><br><br>или на
                        действия пользователя&nbsp;<
                        <img :src="staticServer + '/components/help/10420240/13926483.png'"><br>
                        <img height="250" :src="staticServer + '/components/help/10420240/10421048.png'"></li>
                    <li>Просмотреть другие сообщения данного пользователя&nbsp;<img width="120"
                                                                                    :src="staticServer + '/components/help/10420240/10420232.png'">
                    </li>
                    <li>Проанализировать операционную систему и модель телефона пользователя</li>
                    <li>Просмотреть активность устройства нажав&nbsp;<img width="158"
                                                                          :src="staticServer + '/components/help/10420240/10421050.png'">
                    </li>
                    <li><p>Проанализировать активность устройства на карте<br>
                        <img height="400" :src="staticServer + '/components/help/10420240/10420233.png'"><br><span
                                style="color: rgb(255,0,0);"><strong>Красным</strong><span style="color: rgb(0,0,0);">&nbsp; маркером <span
                                style="color: rgb(0,0,0);">на карте</span>&nbsp;– отмечены проверки пользователя с результатом <strong>«поддельный
                            алкоголь»</strong></span></span><br><span style="color: rgb(255,0,0);"><span
                                style="color: rgb(0,0,0);"><span
                                style="color: rgb(51,153,102);"><strong>Зеленым</strong></span><span
                                style="color: rgb(255,0,0);">&nbsp;&nbsp;<span
                                style="color: rgb(0,0,0);">маркером на карте</span></span><span
                                style="color: rgb(0,0,0);">&nbsp;– отмечены проверки пользователя с результатом <strong>«настоящий
                            алкоголь»</strong></span></span></span><br><span style="color: rgb(255,0,0);"><span
                                style="color: rgb(0,0,0);"><span style="color: rgb(0,0,0);">Нажав на маркер можно получить результат запроса.</span></span></span>
                    </p>
                        <div><p
                        >К примеру</p>
                            <div><p>Акция «Проверь акциз» состоянием на
                                октябрь 2016 года проходила в <span style="color: rgb(34,34,34);">Астане, Алмате, Алматинской, Южно-Казахстанской и Актюбинской области. К тому же учитывались <strong>только
                                    сканирования и только подлинные. </strong>Как видим, у данного пользователя сканирования из Петропавловска, к тому же поддельный алкоголь. Пользователь задавал вопрос «Отсканированные акцизные марки не учитываются в программе.» Это кейс из типового ответа <a
                                        href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=9666746">27.
                                    Отсканированные акцизные марки не учитываются в программе.</a></span></p></div>
                        </div>
                    </li>
                    <li>Просмотреть запросы пользователя (в случае надобности детализацию по запросам нажав на
                        <img :src="staticServer + '/components/help/10420240/10420236.png'">)<br>
                        <img height="250" :src="staticServer + '/components/help/10420240/10420234.png'"
                        ><br>Проанализировав их, вы можете
                        получить информацию о действиях пользователя и понять как отвечать на его вопрос.&nbsp;Типы
                        запросов и их расшифровка
                    </li>
                    <li>Просмотреть перечень типовых ответов в подразделах к странице <a
                            href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=4293074">4. Ответы на
                        вопросы и коментарии пользователям (FAQ)</a>&nbsp;</li>
                    <li><strong>При сложном вопросе от пользователя следует попросить отправить лог с помощью обратной
                        связи <u>или</u> связяться с пользователем по телефону для уточнения <u>или</u> обратится к
                        разработчикам.</strong></li>
                    <li>Вернутся к вопросам&nbsp;<img width="70"
                                                      :src="staticServer + '/components/help/10420240/10420237.png'">.
                    </li>
                    <li>Ответить пользователю. Приоритетность каналов ответов:
                        <ol>
                            <li><p>Позвонить</p></li>
                            <li><p>По электронной почте, если есть</p></li>
                            <li>Отправить СМС на номер телефона, если есть</li>
                            <li>Отправить PUSH сообщение на PUSH токен, если электронная почта не указана и телефон не
                                указан или не работает&nbsp;<img width="23"
                                                                 :src="staticServer + '/components/help/10420240/10420231.png'">
                            </li>
                        </ol>
                    </li>
                    <li>Если появился новый типовый ответ дописать его как подраздел&nbsp;<a
                            href="http://docs.wiponapp.com:8090/pages/viewpage.action?pageId=4293074">4. Ответы на
                        вопросы и комментарии пользователям (FAQ)</a>&nbsp; согласно инструкции
                    </li>
                    <li>Пометить сообщение как прочитанное&nbsp;
                        <img width="180" :src="staticServer + '/components/help/10420240/10421052.png'"></li>
                </ol>


            </div>

            <div slot="footer">
                <button
                        id="close-create-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 4 -->

        <v-bootstrap-modal id="help-modal-requests">
            <div slot="header"><strong> Типы запросов и их расшифровка </strong></div>
            <div slot="body">

                <div class="table-wrap">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th class="confluenceTh">Action</th>
                            <th class="confluenceTh">Url</th>
                            <th class="confluenceTh">Description</th>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>v3/checks</td>
                            <td>Проверка акцизной марки. <a
                                    href="http://docs.wiponapp.com:8090/display/WIP/1.+Checks">1. Checks</a> Рекомендую
                                проверять наличие информации о геопозиции устройства <span
                                        style="color: rgb(0,51,102);">"geo" и тип кода </span><span
                                        style="color: rgb(0,0,0);"> serial_number (серия и номер) или excise_code (штрих)</span>
                            </td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td>v3/checks/{id}</td>
                            <td>Жалоба от пользователя на контрафактнй алкоголь (название
                                магазина). Происходит после результатов сканирования
                            </td>
                        </tr>
                        <tr>
                            <td><span>POST</span></td>
                            <td>v3/incorrect-items</td>
                            <td><span>Жалоба от пользователя на контрафактнй алкоголь (прикрепленные фото). Происходит после результатов сканирования</span>
                            </td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>v3/feedback</td>
                            <td>Отправка сообщения обратной связи с формы Feedback в приложении
                            </td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>v3/notifications</td>
                            <td>Получение списка PUSH сообщений. Происходит в фоне работы
                                приложения. Например на главной странице сразу после загрузки приложения<span>. <strong>Потому
                                    в логе стоит игнорировать этот запрос</strong></span></td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td>v3/notifications/{id}</td>
                            <td>Обновление статуса прочтения PUSH уведомления. Происходит когда
                                пользователь нажимает на прочтение PUSH сообщения у себя на телефоне. Так можно узнать
                                читает ли пользователь сообщения вообще.
                            </td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>v3/competitions/last/stats</td>
                            <td>Получение информации о статусе участия устройства в текущей акции
                                «Проверь акциз – выиграй приз»<span>. Происходит в фоне работы приложения. Например на главной странице сразу после загрузки приложения</span><span>. <strong>Потому
                                    в логе стоит игнорировать этот запрос</strong></span></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>v3/regions</td>
                            <td>Получение списка регионов опреледенной страны для акции «Требуй
                                чек». <span>Происходит в фоне работы приложения. Например на главной странице сразу после загрузки приложения</span><span>. <strong>Потому
                                    в логе стоит игнорировать </strong></span></td>
                        </tr>
                        <tr>
                            <td colspan="1">GET</td>
                            <td colspan="1">v3/customer</td>
                            <td colspan="1">Получение информации о текущем пользователе. <span>Происходит в фоне работы приложения. Например на главной странице сразу после загрузки приложения</span><span>. <strong>Потому
                                в логе стоит игнорировать </strong></span></td>
                        </tr>
                        <tr>
                            <td colspan="1">POST</td>
                            <td colspan="1">v3/customer</td>
                            <td colspan="1">Отправка обновленных данных о пользователе. Происходит
                                сразу после отправки чека в акцию «Требуй чек». Если инфа о пользователе уже есть – не
                                отправляется. Так можно узнать заполнял ли пользователь свои данные.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">GET</td>
                            <td colspan="1">v3/receipts</td>
                            <td colspan="1">Получение информации о истории чеков. Происходит при
                                открытии формы «История чеков» в приложении
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">POST</td>
                            <td colspan="1">v3/receipts</td>
                            <td colspan="1">Отправка нового чека</td>
                        </tr>
                        <tr>
                            <td colspan="1">POST</td>
                            <td colspan="1">v3/receipt-reports&nbsp;</td>
                            <td colspan="1">Отправка новой жалобы о невыданном чеке или
                                нефискальном чеке. Все что касается акции «Требуй чек»
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">GET</td>
                            <td colspan="1">v3/receipt-report-types&nbsp;</td>
                            <td colspan="1">Получение списка типов жалоб.<span>&nbsp;</span><span>Происходит в фоне работы приложения. Например на главной странице сразу после загрузки приложения</span><span>. <strong>Потому
                                в логе стоит игнорировать </strong></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div slot="footer">
                <button
                        id="close-edit-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

        <!-- 5 -->

        <v-bootstrap-modal id="help-modal-emails">
            <div slot="header"><strong> Электронные почты </strong></div>
            <div slot="body">

                Все корпоративные электронные почты могут заканчиватся на&nbsp;@wipon.net<
                и @wiponapp.com Они ведут в одно и то же место.

                <span style="color: rgb(44,45,48);">Почты&nbsp;</span>
                <ul>
                    <li><span style="color: rgb(44,45,48);">support@wipon.net,<span
                            style="color: rgb(44,45,48);">&nbsp;</span></span></li>
                    <li><span style="color: rgb(44,45,48);"><span
                            style="color: rgb(44,45,48);">&nbsp;</span>info@wipon.net</span><span
                            style="color: rgb(44,45,48);">,</span><span style="color: rgb(44,45,48);line-height: 1.5;">&nbsp;</span>
                    </li>
                    <li><span
                            style="color: rgb(44,45,48);line-height: 1.5;"><span
                            style="color: rgb(44,45,48);">hello</span></span><span
                            style="line-height: 1.5;">@wipon.net</span><span style="color: rgb(44,45,48);">,</span><span
                            style="color: rgb(44,45,48);line-height: 1.5;">&nbsp;</span></li>
                    <li><span
                            style="color: rgb(44,45,48);line-height: 1.5;"><span style="color: rgb(44,45,48);">partnership</span></span><span
                            style="line-height: 1.5;">@wipon.net</span>&nbsp;</li>
                </ul>
                это один и тот же аккаунт.
                Он же&nbsp;
                <ul>
                    <li><span
                            style="color: rgb(44,45,48);">support@</span><span
                            style="line-height: 1.5;">wiponapp.com</span><span style="color: rgb(44,45,48);">,<span>&nbsp;</span></span>
                    </li>
                    <li><span
                            style="color: rgb(44,45,48);">&nbsp;</span><span style="color: rgb(44,45,48);">i</span><span
                            style="color: rgb(44,45,48);">nfo@</span><span
                            style="color: rgb(44,45,48);">wiponapp.com</span><span
                            style="color: rgb(44,45,48);">,</span><span style="color: rgb(44,45,48);">&nbsp;</span>
                    </li>
                    <li><span
                            style="color: rgb(44,45,48);"><span>hello</span></span><span
                            style="line-height: 1.5;">@</span><span
                            style="color: rgb(44,45,48);">wiponapp.com</span><span
                            style="color: rgb(44,45,48);">,</span><span style="color: rgb(44,45,48);">&nbsp;</span>
                    </li>
                    <li><span style="color: rgb(44,45,48);"><span>partnership</span></span><span
                            style="line-height: 1.5;">@wiponapp.com</span></li>
                </ul>
                <span style="color: rgb(44,45,48);">&nbsp;</span>
                <span style="color: rgb(44,45,48);">&nbsp;</span>

            </div>

            <div slot="footer">
                <button
                        id="close-general-modal"
                        type="button"
                        class="btn btn-primary"
                        data-dismiss="modal"
                        aria-label="Close"
                > {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>
</template>

<script>
    import mHelp from '../../mixins/m-help';

    export default{
        mixins: [ mHelp ],
        methods: {

            /**
             * Инициализация кнопок для компонента dropdown
             **/
            getButtonsForDropdown(){

                return [
                    {
                        action: this.open,
                        actionArgs: ['help-modal-general'],
                        title: 'app.support_help_general',
                        id: 'open-modal-general-info',
                    },
                    {
                        action: this.open,
                        actionArgs: ['help-modal-questions'],
                        title: 'app.support_help_questions',
                        id: 'open-modal-questions',
                    },
                    {
                        action: this.open,
                        actionArgs: ['help-modal-answer'],
                        title: 'app.support_help_answer',
                        id: 'open-modal-create',
                    },
                    {
                        action: this.open,
                        actionArgs: ['help-modal-requests'],
                        title: 'app.support_help_requests',
                        id: 'open-modal-edit',
                    },
                    {
                        action: this.open,
                        actionArgs: ['help-modal-emails'],
                        title: 'app.support_help_email',
                        id: 'open-modal-emails',
                    },
                ];
            },
        }

    }

</script>