<template>
    <div>

        <div class="main-box-body clearfix">

            <v-view :view-data="viewData" :use-back-link="false"></v-view>

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getItems"
                     :pagination="pagination"
                     :reset-filter="resetFilter">

                <div class="row align-info-table" v-for="check in pagination.data">
                    <v-cell classes="text-left">
                        {{ check.retailer || '-' }}
                    </v-cell>
                    <v-cell classes="text-left"
                            id="{{ hasProduct( check ) ? 'check-product-name-' + check.item.product.id : '-'}}">
                        {{ hasProduct(check) ? (check.item.product.type.name || '-' ) + ', ' + ( check.item.product.name || '-' ) : '-' }}
                    </v-cell>
                    <v-cell classes="text-left">
                        {{ hasProduct(check) ? check.item.product.organization.name : '-'}}
                    </v-cell>
                    <v-cell classes="text-center">
                        <div v-if="hasScan( check )">
                            <v-table-button :id="setPrefixedId('open-push-button-', check.id)"
                                            label="app.photo"
                                            icon="camera"
                                            color="#3498db"
                                            @click.prevent="showPhoto(check.id)"
                            ></v-table-button>
                        </div>
                        <div v-else>-</div>
                    </v-cell>
                    <v-cell classes="text-left">{{ itemExciseCode(check) }}</v-cell>
                    <v-cell classes="text-left">{{ itemSerialNumber(check) }}</v-cell>
                    <v-cell>{{{ itemUkmStatus(check) }}}</v-cell>
                    <v-cell classes="text-left">{{ check.created_at }}</v-cell>

                    <div v-if="hasScan( check )">

                        <v-bootstrap-modal :id="setPrefixedId('bootstrap-modal-', check.id)">
                            <div slot="header"> {{{ $t('app.photo_modal') }}}</div>

                            <div slot="body">
                                <div v-for="personal_item in getPersonalItemsForScan(check)">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h2>{{{ $t('app.sticker_uri')}}}</h2>
                                            <img :src="getItemPhoto(personal_item, 'label_uri')"
                                                 onerror="this.src='{{defaultImagePath}}'"
                                                 alt=""
                                                 class="image-in-modal img-rounded">
                                        </div>
                                        <div class="col-lg-6">
                                            <h2>{{{ $t('app.label_uri')}}}</h2>
                                            <img :src="getItemPhoto(personal_item, 'sticker_uri')"
                                                 alt=""
                                                 onerror="this.src='{{defaultImagePath}}'"
                                                 class="image-in-modal img-rounded">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div slot="footer">
                                <v-button
                                          label="close"
                                          id="close-export-data-modal"
                                          event-name="closePhotoModal"
                                          :event-arguments="check.id"
                                ></v-button>
                            </div>
                        </v-bootstrap-modal>
                    </div>

                </div>
            </v-table>

        </div>


    </div>

</template>
<style>
    .image-in-modal {
        width: auto;
        max-width: 420px;
        max-height: 400px;
    }

    .margin-bottom-10 {
        margin-bottom: 10px !important;
    }

    .block-button-inline > button > i {
        margin: 0;
    }
</style>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    var URI = require( 'urijs' );

    export default{
        mixins: [mGlobal],
        data(){
            return this.initialState();
        },
        created(){
            // override parent method
            // parse init query
            this.initFilterFromQuery();
        },
        ready(){
            this.pageHeader.params.cluster_name = this.params.check_aggregation.name;
            this.viewData.item                  = this.params.check_aggregation;
            this.pagination                     = this.params.checks;
            this.filterData.cluster_id          = this.params.check_aggregation.id;
        },
        components: {
            'v-header': require( "../../components/v-header.vue" ),
            'v-cell': require( "../../components/v-cell.vue" ),
            'v-table-button': require( "../../components/v-table-button.vue" ),
            'v-bootstrap-modal': require( "../../components/v-bootstrap-modal.vue" ),
            'v-view': require( '../../components/v-view.vue' ),
            'v-button': require( "../../components/v-button.vue" ),
            'v-table': require( '../../components/v-table.vue' ),
        },
        methods: {
            initialState (){
                return {
                    pageHeader: {
                        label: 'app.detail_header_title',
                        params: {cluster_name: ''}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    viewData: {
                        tableClass: 'margin-top-10',
                        titleColumnClass: 'title-column-thin table-tr-first-rd-width-250',
                        item: {
                            id: null,
                            name: null,
                            address: '',
                            unique_devices: ''
                        },
                        other_items: [],
                        fields: [
                            {
                                name: 'cluster_id',
                                link: false,
                                compound: 'id',
                            },
                            {
                                name: 'cluster_name',
                                link: false,
                                compound: 'name',
                            },
                            'address',
                            'unique_devices'
                        ],
                        buttons: [
                            {
                                id: 'to-map-link',
                                label: 'to_map',
                                title: 'to_map',
                                icon: 'chevron-left',
                                eventName: 'to-map'
                            },
                            {
                                id: 'report-to-excel',
                                title: 'stat_report',
                                icon: 'file-excel-o',
                                eventName: 'export-cluster-detail'
                            },
                        ]
                    },
                    tableData: {
                        model: 'checks',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'detail'
                        },
                        fields: [
                            {
                                name: 'retailer',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'product_name',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'organization',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'photo',
                                isSortable: false,
                                classes: 'text-center'
                            },
                            {
                                name: 'by_scan',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'by_hand',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'ukm_status',
                                isSortable: false,
                                classes: 'text-center'
                            },
                            {
                                name: 'checked_at',
                                isSortable: true,
                                sortableField: 'created_at',
                                defaultSortDirection: 'asc',
                                classes: 'text-left',
                                ascLabel: 'activity_sort_asc',
                                descLabel: 'activity_sort_desc'
                            }
                        ]
                    },
                    filterData: {
                        withoutResetButton: true,
                        use: false,
                        page: 1,
                        cluster_id: null,
                        sort: {
                            name: 'created_at',
                            direction: 'desc'
                        }
                    },
                }
            },
            initFilterFromQuery(){
                if (URI.parseQuery( URI().query() ).filter) {
                    this.filterData = this.setFilterRecursively(
                            JSON.parse( JSON.stringify( this.$get( 'filterData' ) ) ),
                            JSON.parse( URI.parseQuery( URI().query() ).filter ) );
                }

                let vm            = this;
                window.onpopstate = function(e) {
                    if (e.state) {
                        vm.filterData = e.state;
                        vm.getItems( {historyCall: true} );
                    }
                }
            },
            hasProduct(check){
                return check.item && check.item.product;
            },
            itemExciseCode(check){
                return check.item.sticker.hasOwnProperty( 'excise_code' ) ? check.item.sticker.excise_code : '-';
            },
            itemSerialNumber(check){
                return check.item.sticker.hasOwnProperty( 'serial_number' ) ? check.item.sticker.serial_number : '-';
            },
            itemUkmStatus(check){
                return check.item.is_duplicated
                        ? '<span class="label label-warning">' + translate( 'app.duplicate' ) + '</span>'
                        : '<span class="label label-' + this.getUkmStatus( check.item.status ) + '">' + translate( 'app.' + check.item.status ) + '</span>';
            },
            getUkmStatus(status){
                switch (status) {
                    case 'valid':
                        return 'success';
                        break;
                    case 'fake':
                        return 'danger';
                        break;
                    case 'atlas':
                        return 'danger';
                        break;
                    default:
                        return 'info';
                        break;
                }
            },
            getItems(params = {}) {

                let url = this.tableData.useModelInUrl.status ? this.tableData.model : this.tableData.useModelInUrl.alternativeUrl;

                this.$http.get( url, this.filterData ).then( function(response) {

                    this.$set( 'pagination', response.data );

                    if (!params.historyCall) {
                        history.pushState( this.filterData, '', URI().query( {
                            cluster_id: this.filterData.cluster_id,
                            page: this.filterData.page,
                            filter: JSON.stringify( this.filterData )
                        } ).href() );
                    }

                    if (typeof params.success === 'function')
                        params.success();

                }, function(response) {

                    this.$set( 'pagination', {data: []} );

                    this.handleSessionTimeOut( response );

                    if (typeof params.error === 'function')
                        params.error( response );

                    console.error( response );
                } ).bind( this );
            },
            showPhoto(id){
                $( `#bootstrap-modal-${id}` ).modal( 'show' );
            },

            /**
             *  Проверяет есть ли personal_items и если есть,
             *  проверяем есть ли personal_item с тем же device_uuid что и check.device_uuid
             *  Если у скнирования нет check.retailer, то мы также не отображаем картинки, т. к.
             *  Пользователь не отпарвлял сообщение о контрафакте
             *
             *
             * @param check
             * @returns {boolean}
             */
            hasScan(check){

                if (check.item && check.item.personal_items.length == 0)
                    return false;

                if (check.item.personal_items) {
                    let filtered = check.item.personal_items.filter( function(element) {
                        return check.device_uuid == element.device_uuid && check.retailer;
                    } );

                    return filtered.length > 0;
                }
                else
                    return false;
            },
            getPersonalItemsForScan(check){
                return check.item.personal_items.filter( function(element) {
                    return check.device_uuid == element.device_uuid && check.retailer;
                } );
            },
            getItemPhoto(item, type){

                if (item == null
                        || item.incorrect_sticker == null
                        || typeof item === 'undefined'
                        || typeof item.incorrect_sticker === 'undefined'
                        || !item.incorrect_sticker[type])
                    return this.defaultImagePath;

                return this.$root.getFullImagePath(item['incorrect_sticker'][type]);
            },
        },
        events: {
            'closePhotoModal': function(id) {

                if (id == null)
                    throw new Error( 'Missing argument for the event. Check id is required' );

                $( `#bootstrap-modal-${id}` ).modal( 'hide' );
            },
            'to-map': function() {
                // сделано на случай, если ссылка на текущую страницу передаётся
                // в чате(или через другой канал коммуникации) и переход назад должен вести на карту сканировании
                window.open( URI( this.params.map_url ).toString(), "_self" );
            },
            'export-cluster-detail': function() {

                document.location.href =
                        URI( URI().origin() )
                                .segmentCoded( ['checks', 'detail-export-to-excel'] )
                                .search( jQuery.param( {cluster_id: this.viewData.item.id} ) )
                                .toString();

            }
        }
    }
</script>