<template>
    <div>

        <header class="main-box-header clearfix">

            <div class="filter-block">

                <div class='col-sm-12'>
                    <div class="row">

                        <div class="col-sm-1 pull-right" style="width: 125px; position: absolute; right: 0px;"></div>

                        <div class="col-sm-2 resolution-screen-scan-box" style="min-width: 185px;">
                            <div class="scan-box small-graph-box">
                                    <span class="value scan-box-value">{{ viewData.checkSum }}<span>
                                        <span class="headline scan-box-headline"
                                              id="scan-sum"
                                        > {{{ $t('app.scans') }}} </span>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-2 filter-region-width" v-show="hasRole('inspector-admin', 'super-admin')">
                            <v-select :select-data.sync="filterData.selects.selectRegion"
                                      :on-select="getStat"
                                      label-class="filter-block-label select-label-check"></v-select>
                        </div>

                        <div class="col-sm-2 filter-check-type-width">
                            <div class="row">
                                <div class='col-sm-12'>
                                    <label class="filter-block-label">{{{ $t('app.type') }}}</label>
                                </div>
                                <div class="col-sm-12">
                                    <v-checkbox :model.sync="filterData.checkboxes.checkTypeScan"
                                                :on-change="getStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.checkTypeHand"
                                                :on-change="getStat"></v-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 filter-check-type-width">
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <label class="filter-block-label"> {{{ $t('app.ukm_type') }}}</label>
                                </div>

                                <div class='col-sm-12'>
                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesFake"
                                                :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesAtlas"
                                                :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesDuplicated"
                                                :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesValid"
                                                :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesAll"
                                                :on-change="getUkmAllStat"></v-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 filter-check-type-width margin-bottom-10">
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <label class="filter-block-label select-label-check">
                                        {{{ $t('app.by_period') }}} </label>
                                </div>

                                <div class="col-sm-12">

                                    <label class="control-label">{{{ $t('app.start_date') }}}</label>
                                    <vue-datetime-picker name="start-date"
                                                         :model.sync="filterData.period.start"
                                                         type="date"
                                                         language="ru"
                                                         :ignore-readonly="true"
                                                         :time-zone="getCurrentTimeZone()"
                                                         :date-format="momentFormats.date"
                                                         v-ref:start-picker
                                                         :on-change="getStat"
                                    ></vue-datetime-picker>

                                    <label class="control-label">{{{ $t('app.end_date') }}}</label>
                                    <vue-datetime-picker name="end-date"
                                                         :model.sync="filterData.period.end"
                                                         type="date"
                                                         language="ru"
                                                         type="datetime"
                                                         :ignore-readonly="true"
                                                         :time-zone="getCurrentTimeZone()"
                                                         :date-format="momentFormats.date"
                                                         v-ref:end-picker
                                                         :on-change="getStat"
                                    ></vue-datetime-picker>
                                </div>
                            </div>
                        </div>


                        <div>

                        </div>

                    </div>

                </div>

            </div>

        </header>

        <div class="main-box-body clearfix">

            <div class="row">

                <div class="col-sm-12">
                    <v-button
                            id="reset-map-filter"
                            label="reset"
                            :on-click="resetFilter"
                            type="default"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>

                    <v-button
                            id="generate-report"
                            title="stat_report"
                            :on-click="export"
                            type="primary"
                            icon="file-excel-o"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>

                    <v-button
                            id="open-competition-modal"
                            title="export_competition_data"
                            :on-click="openCompetitionModal"
                            type="primary"
                            icon="gift"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>

                    <v-button
                            id="refresh-stat"
                            title="refresh_stat"
                            :on-click="refreshStat"
                            type="primary"
                            icon="refresh"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>

                    <div class="pull-right" style="padding-top: 16px; font-size: 0.875em;">
                        {{{ $t('app.last_stat_update') }}}: {{ viewData.lastStatUpdateDateTime }}
                    </div>

                    <div class="alert alert-warning fade in map-stat-warning" v-show="updateInProgress">
                        <i class="fa fa-info-circle fa-fw fa-lg"></i>
                        <strong>{{{ $t('app.attention') }}}</strong> {{{ $t('app.stat_in_progress') }}}
                    </div>
                </div>
            </div>

            <v-map :points="viewData.points" :position="viewData.mapCanter" :put-content="putInfoWindow"></v-map>
        </div>


        <v-bootstrap-modal id="modal-stat-refresh-started" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">
                <p>{{{ $t('app.update_started') }}}</p>
                <p>{{{ $t('app.update_warning') }}}</p>
            </div>

            <div slot="footer">
                <v-button
                        label="close"
                        :on-click="closeModalStarted"
                        id="close-modal-stat"></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-stat-refresh-already-started" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.attention') }}}</strong>
            </div>
            <div slot="body">
                <p>{{{ $t('app.update_already_started') }}}</p>
                <p>{{{ $t('app.update_warning') }}}</p>
            </div>

            <div slot="footer">
                <v-button model="app"
                          label="close"
                          :on-click="closeModalAlreadyStarted"
                          id="close-modal-stat-started"></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="modal-set-date-competition" size="modal-md" backdrop="static">
            <div slot="header">
                <strong>{{{ $t('app.competition_modal_info') }}}</strong>
            </div>
            <div slot="body">
                <v-select :select-data.sync="competitionModal.region"
                          v-show="hasRole('inspector-admin', 'super-admin')"
                          label-class="modal-select"></v-select>
                <v-select :select-data.sync="competitionModal.year"
                          :on-select="setYear"
                          label-class="modal-select"></v-select>
                <v-select :select-data.sync="competitionModal.month"
                          :on-select="setMonth"
                          label-class="modal-select"></v-select>
            </div>

            <div slot="footer">
                <v-button
                        label="export"
                        :on-click="exportCompetitionData"
                        id="export-data"
                        v-show="competitionModal.month.selected"
                ></v-button>
                <v-button
                        label="close"
                        id="close-export-data-modal"
                        :on-click="closeCompetitionModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>
    </div>

</template>
<style>

    .control-label.modal-select {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .map-stat-warning {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .select2-dropdown {
        z-index: 100000;
    }

    .last-stat-update-date-time {
        margin-top: -30px;
        margin-bottom: 10px;
    }

    .scan-box {
        background: white !important;
        border: 1px solid #3498DB !important;
        color: #3498DB;
        box-shadow: none;
    }

    .scan-box-value {
        margin: auto;
        text-align: center;
        font-size: 60px !important;
        font-weight: normal !important;
    }

    .scan-box-headline {
        margin: auto;
        text-align: center;
        font-size: 16px !important;
    }

    .filter-block-label {
        color: #3498DB;
        font-weight: bold;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    .select-label-check {
        margin-bottom: 15px;
    }

    .filter-region-width {
        width: 270px !important;
    }

    .filter-check-type-width {
        width: 170px;
    }

    .filter-date-width {
        width: 170px;
    }

    .margin-button {
        margin-bottom: 22px;
    }

    .refresh-statistics {
        position: absolute;
        right: 0;
    }

    @media only screen and (max-width: 768px) {
        .resolution-screen-scan-box {
            margin-top: 40px;
        }

        .last-stat-update-date-time {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
</style>
<script type="text/babel">

    import mGlobal from '../../mixins/m-global';
    import mFilter from '../../mixins/m-filter-logic';

    import Vue from 'vue';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mFilter ],
        created(){
            this.initMap();
        },
        data(){
            return this.initialState()
        },
        components: {
            'vue-datetime-picker': require( '../../../../../../node_modules/vue-datetime-picker/src/vue-datetime-picker' ),
            'v-select': require( '../../components/v-select.vue' ),
            'v-checkbox': require( '../../components/v-checkbox.vue' ),
            'v-map': require( '../../components/v-map.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' )
        },
        methods: {
            getLoaderPath(){
                return this.staticServer + '/components/ajax_loader_blue.gif';
            },
            getCurrentTimeZone(){
                if ( this.userTimeZone === '' ) {
                    console.warn( 'UserTimeZone is not specified' );
                    return 'Asia/Almaty';
                } else {
                    return this.userTimeZone;
                }
            },
            initialState (){
                return {
                    viewData: {
                        checkSum: 0,
                        points: [],
                        currentRegionId: 469, // Astana region id
                        regions: [],
                        lastStatUpdateDateTime: 'd d d d',
                        scansSum: 1,
                        mapCanter: { latitude: 51.128422, longitude: 71.430564 } // Astana location
                    },
                    updateInProgress: typeof this.params.updateInProgress !== 'undefined' ? this.params.updateInProgress : false,
                    url: 'map-filter',
                    model: 'checks',
                    generateReport: null,
                    scans: [],
                    position: [],
                    filterData: {

                        // used in m-filter-logic
                        historyEventName: 'vm-map-history-back',
                        period: {
                            start: moment().subtract( 1, 'month' ).format( this.momentFormats.date ),
                            end: moment().format( this.momentFormats.date ),
                        },
                        withoutResetButton: true,
                        sort: {
                            name: 'region_name',
                            direction: 'asc'
                        },
                        checkboxes: {
                            checkTypeHand: {
                                id: 'checkbox-require-hand',
                                label: 'app.require_hand_input',
                                checked: true
                            },
                            checkTypeScan: {
                                id: 'checkbox-require-scan',
                                label: 'app.require_scan',
                                checked: true
                            },
                            ukmTypesAll: {
                                id: 'ukm-all',
                                label: 'app.ukm_all',
                                checked: true
                            },
                            ukmTypesFake: {
                                id: 'ukm-fake',
                                label: 'app.ukm_fake',
                                checked: false
                            },
                            ukmTypesAtlas: {
                                id: 'ukm-atlas',
                                label: 'app.ukm_atlas',
                                checked: false
                            },
                            ukmTypesDuplicated: {
                                id: 'ukm-duplicated',
                                label: 'app.ukm_duplicated',
                                checked: false
                            },
                            ukmTypesValid: {
                                id: 'ukm-valid',
                                label: 'app.ukm_valid',
                                checked: false
                            }
                        },
                        selects: {
                            selectRegion: {
                                id: 'region-select',
                                useAjax: false,
                                label: 'app.region',
                                items: [],
                                // init in created method
                                selected: '',
                                placeholder: 'app.select_region',
                                reset: true
                            }
                        }
                    },
                    needFiltering: true,
                    competitionModal: {
                        region: {
                            id: 'region-select-competition',
                            useAjax: false,
                            label: 'app.region',
                            items: [],
                            selected: '',
                            placeholder: 'app.select_region',
                            reset: true
                        },
                        year: {
                            id: 'year-select',
                            useAjax: false,
                            label: 'app.year',
                            items: this.getYearsForSelectInput(),
                            // init in created method
                            selected: moment().get( 'year' ),
                            placeholder: 'app.select_year',
                            reset: true
                        },
                        month: {
                            id: 'month-select',
                            useAjax: false,
                            label: 'app.month',
                            items: [
                                {
                                    id: '1',
                                    text: 'Январь'
                                },
                                {
                                    id: '2',
                                    text: 'Февраль'
                                }, {
                                    id: '3',
                                    text: 'Март'
                                },
                                {
                                    id: '4',
                                    text: 'Апрель'
                                }, {
                                    id: '5',
                                    text: 'Май'
                                },
                                {
                                    id: '6',
                                    text: 'Июнь'
                                }, {
                                    id: '7',
                                    text: 'Июль'
                                },
                                {
                                    id: '8',
                                    text: 'Август'
                                }, {
                                    id: '9',
                                    text: 'Сентябрь'
                                },
                                {
                                    id: '10',
                                    text: 'Октябрь'
                                }, {
                                    id: '11',
                                    text: 'Ноябрь'
                                },
                                {
                                    id: '12',
                                    text: 'Декабрь'
                                }
                            ],
                            selected: false,
                            placeholder: 'app.select_month',
                            reset: true
                        }
                    }
                }
            },
            initMap(){
                let vm = this;

                vm.initRegionInSelectInputs();

                // define map center
                vm.viewData.mapCanter = vm.params.mapCenter;

                vm.getStat();

                if ( typeof vm.params.updateInProgress !== 'undefined' && vm.params.updateInProgress == true )
                    vm.startPendingServer();  // Запускаем проверку статуса обновления статистики
            },
            initRegionInSelectInputs(){

                let selectItems = [];

                this.params.regions.forEach( function( el ) {
                    selectItems.push( { id: el.id, text: el.name } );
                } );

                this.$set( 'filterData.selects.selectRegion.items', selectItems );
                this.$set( 'competitionModal.region.items', selectItems );

                this.$set( 'filterData.selects.selectRegion.selected', this.params.currentRegionId );
                this.$set( 'competitionModal.region.selected', this.params.currentRegionId );
            },
            resetFilter(){

                this.$data = this.initialState();

                this.viewData.mapCanter = this.params.mapCenter;

                // Важно! Нестандартное поведение - Запрос на получение данных будет осуществлен
                // в момент установки currentRegionId в методе initRegionInSelectInputs - сработает
                // callback проброшенный в компонент v-select
                this.initRegionInSelectInputs();

                this.getStat();
            },
            export(){
                document.location.href = URI( URI().origin() ).segmentCoded( [ 'checks', 'map-export-to-excel' ] )
                        .search( jQuery.param( this.configureSendData() ) ).toString();
            },
            putInfoWindow( entry ){

                return '<div class="marker-info-block"><span>' +
                        translate( 'app.cluster_id' ) + ': <b>' + entry[ "id" ] + '</b></span><br/>' +
                        translate( 'app.cluster_name' ) + ': <b>' + entry[ "name" ] + '</b><br/>' +
                        translate( 'app.address' ) + ': <b>' + translate( 'app.address_street_house', {
                            street: entry.street,
                            house: entry.house
                        } ) + '</b><br/>' +
                        translate( 'app.unique_devices' ) + ': <b>' + entry[ "unique_devices" ] + '</b><br/>' +
                        '<table class="table table-condensed table-bordered marker-info-table">' +
                        '<thead>' +
                        '<tr>' +
                        '<th colspan="3" class="text-center">' + translate( 'app.checks' ) + '</th>' +
                        '</tr>' +
                        '<tr>' +
                        '<th style="width: 130px;">' + translate( 'app.status_ukm' ) + '</th>' +
                        '<th class="text-center" style="width: 130px;">' + translate( 'app.by_scan' ) + '</th>' +
                        '<th class="text-center" style="width: 130px;">' + translate( 'app.by_hand' ) + '</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>' +
                        '<tr>' +
                        '<td style="font-size:10px;" class="text-left">' + translate( 'app.status_fake' ) + '</td>' +
                        '<td class="text-center">' + entry[ 'check_fake_scan' ] + '</td>' +
                        '<td class="text-center">' + entry[ 'check_fake_hand' ] + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td style="font-size:10px;" class="text-left">' + translate( 'app.status_atlas' ) + '</td>' +
                        '<td class="text-center">' + entry[ 'check_atlas_scan' ] + '</td>' +
                        '<td class="text-center">' + entry[ 'check_atlas_hand' ] + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td style="font-size:10px;" class="text-left">' + translate( 'app.status_duplicated' ) + '</td>' +
                        '<td class="text-center">' + entry[ 'check_duplicate_scan' ] + '</td>' +
                        '<td class="text-center">' + entry[ 'check_duplicate_hand' ] + '</td>' +
                        '</tr>' +

                        '<tr>' +
                        '<td style="font-size:10px; text-align:left;">' + translate( 'app.status_valid' ) + '</td>' +
                        '<td class="text-center">' + entry[ 'check_valid_scan' ] + '</td>' +
                        '<td class="text-center">' + entry[ 'check_valid_hand' ] + '</td>' +
                        '</tr>' +

                        '<tr>' +
                        '<td style="font-size:10px; text-align:left;"> <b>' + translate( 'app.total' ) + '</b></td>' +
                        '<td class="text-center"><b>' + entry[ 'check_by_scan_sum' ] + '</b></td>' +
                        '<td class="text-center"><b>' + entry[ 'check_by_hand_sum' ] + '</b></td>' +
                        '</tr>' +

                        '</tbody>' +
                        '</table>' +

                        '<p style="font-size:  0.875em; margin-bottom: 0;">' +
                        translate( 'app.location_description' ) +
                        '</p><br>' +

                        '<span style="font-size:12px;"><a id="open-cluster-detail-' + entry[ 'id' ] + '" class="btn btn-primary btn-xs" href="' + URI( URI().origin() ).segmentCoded( [ 'checks', 'detail' ] ).search( { cluster_id: entry[ 'id' ] } ).toString() + '"><b>' + translate( 'app.details' ) + '</b></a></span>&nbsp' +
                        '</div>';
            },
            getStat( params = {} ){

                let vm = this;

                vm.getItems( {
                    url: vm.url,
                    historyCall: params.historyCall || false,
                    // method configureSendData defined in  m-filter-logic (used in vm-stat, vm-maps)
                    filter: vm.configureSendData(),
                    success( response ){
                        vm.$set( 'viewData', response.data );
                        vm.$set( 'viewData.points', response.data.points );
                    }
                } );
            },
            configureSendData(){
                return {
                    period: {
                        start: moment.isMoment( this.filterData.period.start ) ? this.filterData.period.start.format( this.momentFormats.date ) : this.filterData.period.start,
                        end: moment.isMoment( this.filterData.period.end ) ? this.filterData.period.end.format( this.momentFormats.date ) : this.filterData.period.end
                    },
                    // method getFilterCheckType defined in  m-filter-logic (used in vm-stat, vm-maps)
                    checkType: this.getFilterCheckType(),
                    regionId: this.filterData.selects.selectRegion.selected || this.params.currentRegionId,
                    ukmType: {
                        all: this.filterData.checkboxes.ukmTypesAll.checked,
                        valid: this.filterData.checkboxes.ukmTypesValid.checked,
                        fake: this.filterData.checkboxes.ukmTypesFake.checked,
                        duplicate: this.filterData.checkboxes.ukmTypesDuplicated.checked,
                        atlas: this.filterData.checkboxes.ukmTypesAtlas.checked
                    }
                };
            },
            refreshStat(){

                let vm = this;

                vm.$http.get( 'stat-refresh' )
                        .then(
                                response => {

                                    if ( response.data == 'alreadyGenerating' ) {
                                        $( '#modal-stat-refresh-already-started' ).modal( 'show' );
                                    }

                                    if ( response.data == 'started' ) {
                                        $( '#modal-stat-refresh-started' ).modal( 'show' );
                                        vm.startPendingServer();
                                    }
                                }, response => {

                                    this.handleSessionTimeOut( response );

                                    alert( 'Stat update error!!' );
                                    console.error( response );
                                } );

            },
            startPendingServer(){

                let vm = this;

                vm.updateInProgress = true;

                let intervalId = window.setInterval( ()=> {

                    vm.$http
                            .get( 'stat-refresh', { checkStatus: true, withoutLoader: true } )
                            .then(
                                    response => {

                                        if ( response.data == 'updating' ) {
                                            console.info( 'Updating stat...' );
                                        }

                                        if ( response.data == 'finished' ) {
                                            vm.viewData.lastStatUpdateDateTime = moment().format( vm.momentFormats.full );
                                            vm.updateInProgress                = false;
                                        }
                                    },
                                    response => {

                                        this.handleSessionTimeOut( response );

                                        alert( 'Stat update error!!' );

                                        console.error( response );

                                        clearInterval( intervalId );
                                    } );

                }, 5000 );
            },
            closeModalStarted(){
                $( `#modal-stat-refresh-started` ).modal( 'hide' );
            },
            closeModalAlreadyStarted(){
                $( `#modal-stat-refresh-already-started` ).modal( 'hide' );
            },
            openCompetitionModal(){
                $( '#modal-set-date-competition' ).modal( 'show' );
            },
            closeCompetitionModal(){
                this.competitionModal.month.selected = false;
                $( "#" + this.competitionModal.month.id ).val( '' ).change();
                $( '#modal-set-date-competition' ).modal( 'hide' );
            },
            exportCompetitionData(){
                let vm = this;

                vm.$http.get( 'map-competition-export', {
                            year: this.competitionModal.year.selected,
                            month: this.competitionModal.month.selected,
                            regionId: this.competitionModal.region.selected
                        } )
                        .then(
                                response => {

                                if ( response.data.url ) {
                                        console.log(  );
                                        document.location.href = response.data.url;
                                    }

                                    if ( response.data.status == 'dataFormed' ) {
                                        vm.closeCompetitionModal();
                                        $( '.select2-container' ).css( 'z-index', '10000' );
                                    }

                                    vm.closeCompetitionModal();
                                },
                                response => {
                                    this.handleSessionTimeOut( response );
                                    alert( 'Generate report error!!' );
                                    console.error( response );
                                    $( '#modal-set-date-competition' ).modal( 'hide' );
                                } );
            }
        },
        events: {
            'vm-map-history-back': function( event = {} ) {
                this.getStat( event );
            }
        }
    }
</script>