<template>
    <div>

        <header class="main-box-header clearfix">

            <div class="filter-block">

                <div class='col-sm-12'>
                    <div class="row">

                        <div class="col-sm-2 filter-width">
                            <v-select :select-data="filterData.selects.selectYear"
                                      :on-select="getStat"
                                      label-class="filter-block-label select-label-check"
                            ></v-select>
                        </div>

                        <div class="col-sm-2 filter-width">
                            <div class="row">
                                <div class='col-sm-12'>
                                    <label class="filter-block-label"> {{{ $t('app.type') }}}</label>
                                </div>
                                <div class="col-sm-12">
                                    <v-checkbox :model.sync="filterData.checkboxes.checkTypeScan"
                                                       :on-change="getStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.checkTypeHand"
                                                       :on-change="getStat"></v-checkbox>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2 filter-width">
                            <div class='row'>
                                <div class='col-sm-12 '>
                                    <label class="filter-block-label"> {{{ $t('app.ukm_type') }}}</label>
                                </div>

                                <div class="col-sm-12">
                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesFake"
                                                       :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesAtlas"
                                                       :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesDuplicated"
                                                       :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesValid"
                                                       :on-change="getUkmNotAllStat"></v-checkbox>

                                    <v-checkbox :model.sync="filterData.checkboxes.ukmTypesAll"
                                                       :on-change="getUkmAllStat"></v-checkbox>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </header>

        <div class="main-box-body clearfix">

            <div class="row">

                <div class="col-sm-12">
                    <v-button
                            id="reset-map-filter"
                            label="reset"
                            title="reset"
                            :on-click="resetFilter"
                            type="default"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>

                    <v-button
                            id="generate-report"
                            title="stat_report"
                            :on-click="export"
                            type="primary"
                            icon="file-excel-o"
                            parent-class="padding-reset"
                            class="btn-sm"
                    ></v-button>


                    <div class="pull-right" style="padding-top: 16px; font-size: 0.875em;">
                        {{{ $t('app.stat_online') }}}
                    </div>
                </div>
            </div>

            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getStat"
                     :pagination="pagination"
                     :reset-filter="resetFilter"
            >

                <div class="row align-info-table"
                     v-for="item in pagination.data">
                    <v-cell>{{ $index + 1 }}</v-cell>
                    <v-cell classes="text-left">{{ item.region_name }}</v-cell>
                    <v-cell>{{ item.january }}</v-cell>
                    <v-cell>{{ item.february }}</v-cell>
                    <v-cell>{{ item.march }}</v-cell>
                    <v-cell>{{ item.april }}</v-cell>
                    <v-cell>{{ item.may }}</v-cell>
                    <v-cell>{{ item.june }}</v-cell>
                    <v-cell>{{ item.july }}</v-cell>
                    <v-cell>{{ item.august }}</v-cell>
                    <v-cell>{{ item.september }}</v-cell>
                    <v-cell>{{ item.october }}</v-cell>
                    <v-cell>{{ item.november }}</v-cell>
                    <v-cell>{{ item.december }}</v-cell>
                    <v-cell>{{ item.total }}</v-cell>

                </div>
            </v-table>
        </div>
    </div>
</template>
<style>
    .filter-block-label {
        color: #3498DB;
        font-weight: bold;
    }

    .margin-top-10 {
        margin-top: 10px;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }

    .select-label-check {
        margin-bottom: 15px;
    }

    .filter-region-width {
        width: 170px !important;
    }
</style>
<script type="text/babel">

    import mIndex from '../../mixins/m-index';
    import mGlobal from '../../mixins/m-global';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mIndex, mGlobal ],
        data(){
            return this.initialState()
        },
        created(){
            this.getStat();
        },
        components: {
            'v-select': require( '../../components/v-select.vue' ),
            'v-checkbox': require( '../../components/v-checkbox.vue' ),
            'v-button': require( '../../components/v-button.vue' ),
        },
        methods: {
            initialState (){
                return {
                    pagination: {
                        data: []
                    },
                    tableData: {
                        items: [],
                        model: 'checks',
                        useModelInUrl: {
                            status: false,
                            alternativeUrl: 'stats'
                        },
                        fields: [
                            {
                                name: 'row_number',
                                isSortable: false
                            },
                            {
                                name: 'province',
                                sortableField: 'region_name',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                classes: 'text-left',
                            },
                            {
                                name: 'january',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'february',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'march',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'april',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'may',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'june',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'july',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'august',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'september',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'october',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'november',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'december',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            },
                            {
                                name: 'total',
                                isSortable: true,
                                defaultSortDirection: 'asc',
                                ascLabel: 'number_asc',
                                descLabel: 'number_desc'
                            }
                        ]
                    },
                    filterData: {
                        use: false,

                        // used in m-filter-logic
                        historyEventName: 'vm-stat-history-back',
                        withoutResetButton: true,
                        sort: {
                            name: 'region_name',
                            direction: 'asc'
                        },
                        checkboxes: {
                            use: false,
                            checkTypeHand: {
                                id: 'checkbox-require-hand',
                                label: 'app.require_hand_input',
                                checked: true
                            },
                            checkTypeScan: {
                                id: 'checkbox-require-scan',
                                label: 'app.require_scan',
                                checked: true
                            },

                            ukmTypesAll: {
                                id: 'ukm-all',
                                label: 'app.ukm_all',
                                checked: true
                            },
                            ukmTypesFake: {
                                id: 'ukm-fake',
                                label: 'app.ukm_fake',
                                checked: false
                            },
                            ukmTypesAtlas: {
                                id: 'ukm-atlas',
                                label: 'app.ukm_atlas',
                                checked: false
                            },
                            ukmTypesDuplicated: {
                                id: 'ukm-duplicated',
                                label: 'app.ukm_duplicated',
                                checked: false
                            },
                            ukmTypesValid: {
                                id: 'ukm-valid',
                                label: 'app.ukm_valid',
                                checked: false
                            },
                        },
                        selects: {
                            selectYear: {
                                id: 'year-select',
                                useAjax: false,
                                label: 'app.year',
                                items: this.getYearsForSelectInput(),
                                selected: moment().get( 'year' ),
                                placeholder: 'app.select_year',
                                reset: true
                            }
                        }
                    }
                }
            },
            getStat( params = {} ){

                let vm = this;

                vm.getItems( {
                    historyCall: params.historyCall || false,
                    filter: vm.configureSendData(),
                    success( response ){
                        vm.$set( 'pagination.data', response.data );
                    }
                } );
            },
            configureSendData(){
                return {
                    year: this.filterData.selects.selectYear.selected,
                    checkType: this.getFilterCheckType(),
                    ukmType: {
                        all: this.filterData.checkboxes.ukmTypesAll.checked,
                        valid: this.filterData.checkboxes.ukmTypesValid.checked,
                        fake: this.filterData.checkboxes.ukmTypesFake.checked,
                        duplicate: this.filterData.checkboxes.ukmTypesDuplicated.checked,
                        atlas: this.filterData.checkboxes.ukmTypesAtlas.checked
                    },
                    sort: this.filterData.sort
                };
            },
            resetFilter(){
                this.$data = this.initialState();

                this.getStat();
            },
            export(){
                document.location.href =
                        URI( URI().origin() ).segmentCoded( [ 'checks', 'stat-export-to-excel' ] ).search( jQuery.param( this.configureSendData() ) ).toString();
            }
        },
        events: {
            'vm-stat-history-back': function( event = {} ) {
                this.getStat( event );
            }
        },

    }
</script>