<template>
    <div>
        <v-header :title="pageHeader"></v-header>


        <div class="main-box-body clearfix col-sm-12">
            <div class="row">

                <div class="col-lg-6">
                    <v-form :form="form" v-ref:form>
                        <div class="form-group">
                            <v-button
                                    title="customer_list_btn"
                                    label="customer_list_btn"
                                    id="open-user-button"
                                    type="primary"
                                    :on-click="openUser"
                            ></v-button>
                        </div>


                        <v-button
                                title="skip"
                                id="skip-button"
                                label="cancel"
                                type="default"
                                :on-click="cancel"
                        ></v-button>
                        <v-button
                                title="next"
                                id="next-button"
                                label="save"
                                icon="check"
                                type="success"
                                :on-click="store"
                        ></v-button>
                    </v-form>
                </div>

                <div class="col-lg-6">
                    <div id="map-example" style="display:block; width: 500px;height: 500px;"></div>
                </div>
            </div>
        </div>

        <v-bootstrap-modal id="cancel-modal" size="modal-sm">
            <div slot="header"> {{{ $t('app.attention') }}}</div>
            <div slot="body">
                {{{ $t('app.cancel_question') }}}
            </div>
            <div slot="footer">
                <button type="button" class="btn btn-success" id="continue-button" @click="goBack()">
                    {{{ $t('app.continue') }}}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close"
                        id="close-modal-button">
                    {{{ $t('app.close') }}}
                </button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mGlobal from '../../../mixins/m-global';

    export default{
        mixins: [ mGlobal ],
        name: 'vm-user-from',
        components: {
            'v-button': require( '../../../components/v-button.vue' ),
            'v-select': require( "../../../components/v-select.vue" ),
            'v-form': require( '../../../components/v-form.vue' ),
            'v-bootstrap-modal': require( "../../../components/v-bootstrap-modal.vue" ),
            'v-header': require( "../../../components/v-header.vue" )
        },
        data(){
            return this.initialState()
        },
        ready(){
            this.initMap()
        },
        computed: {
            changingPassword(){

                if ( this.updating && this.form.change_password.value ) {
                    return true;
                }

                if ( !this.updating ) {
                    return true;
                }

                return false;
            },
            updating(){

                if ( this.params.item ) {
                    return true;
                }

                return false;
            },
            notUpdating(){
                return !this.updating;
            }
        },
        methods: {

            /**
             * Инициализация карты
             **/
            initMap() {
                let vm = this;

                // Получение координат при первой загрузке
                let myLatLng = vm.params.item && vm.params.item.latitude && vm.params.item.longitude
                        ? new google.maps.LatLng( vm.params.item.latitude, vm.params.item.longitude )
                        : new google.maps.LatLng( 51.1667, 71.4333 );

                // инициализация карты
                vm.map.instance = new google.maps.Map( document.getElementById( 'map-example' ), {
                    zoom: 4,
                    center: myLatLng
                } );

                // установка маркера
                vm.map.marker = new google.maps.Marker( {
                    position: myLatLng,
                    map: vm.map.instance
                } );

                // регистрация обработчика события нажатия на карту
                google.maps.event.addListener( vm.map.instance, "click", function( event ) {

                    // удалить существующий маркеры
                    vm.map.marker.setMap( null );

                    // добавить новый маркер
                    vm.map.marker = new google.maps.Marker( {
                        position: event.latLng,
                        map: vm.map.instance
                    } );

                    // установка координат в форме
                    vm.form.latitude.value  = event.latLng.lat();
                    vm.form.longitude.value = event.latLng.lng();
                } );
            },

            /**
             * Первоначальное состояние
             * */
            initialState(){

                return {
                    pageHeader: {
                        label: 'app.store_edit'
                    },
                    map: {
                        instance: null,
                        marker: null,
                    },
                    form: {
                        model: 'users-pro',
                        focus: 'name',

                        // Пользователь
                        id: {
                            value: this.params.item.id,
                            name: 'id',
                            hidden: true
                        },
                        user_id: {
                            value: this.params.item.user_id,
                            name: 'user_id',
                            type: 'hidden'
                        },
                        name: {
                            value: this.params.item.name,
                            maxlength: 255,
                            label: 'app.trade_point_name',
                            type: 'text'
                        },
                        legal_name: {
                            value: this.params.item.legal_name,
                            maxlength: 255,
                            label: 'app.trade_point_legal_name',
                            type: 'text'
                        },
                        bin: {
                            value: this.params.item.bin,
                            maxlength: 255,
                            label: 'app.trade_point_bin',
                            type: 'text'
                        },
                        license_number: {
                            value: this.params.item.license_number,
                            maxlength: 255,
                            label: 'app.trade_point_licence',
                            type: 'text'
                        },
                        city: {
                            value: this.params.item.city,
                            maxlength: 255,
                            label: 'app.trade_point_city',
                            type: 'text'
                        },
                        street: {
                            value: this.params.item.street,
                            maxlength: 255,
                            label: 'app.street',
                            type: 'text'
                        },
                        house: {
                            value: this.params.item.house,
                            maxlength: 255,
                            label: 'app.house',
                            type: 'text'
                        },
                        region: {
                            type: 'select',
                            sendFieldKey: 'region',
                            name: 'region-select',
//                            roles: ['super-admin'],
                            config: {
                                id: 'region-select',
                                initialState: {
                                    id: this.params.item && this.params.item.region && this.params.item.region.id ? this.params.item.region.id : null,
                                    text: this.params.item && this.params.item.region && this.params.item.region.name_ru ? this.params.item.region.name_ru : null
                                },
                                useAjax: true,
                                label: 'app.trade_point_region',
                                item: {
                                    id: null,
                                    text: null
                                },
                                setSelected: true,
                                selected: null,
                                onSelectEvent: 'set-region',
                                url: 'regions-pro/search',
                                placeholder: 'app.select_region'
                            }
                        },
                        type: {
                            type: 'select',
                            sendFieldKey: 'type',
                            name: 'type-select',
//                            roles: ['super-admin'],
                            config: {
                                id: 'type-select',
                                initialState: {
                                    id: this.params.item && this.params.item.type && this.params.item.type.id ? this.params.item.type.id : null,
                                    text: this.params.item && this.params.item.type && this.params.item.type.name_ru ? this.params.item.type.name_ru : null
                                },
                                useAjax: true,
                                label: 'app.trade_point_type',
                                item: {
                                    id: null,
                                    text: null
                                },
                                setSelected: true,
                                selected: null,
                                onSelectEvent: 'set-type',
                                url: 'store-types-pro/search',
                                placeholder: 'app.select_type'
                            }
                        },
                        latitude: {
                            value: this.params.item.latitude,
                            maxlength: 255,
                            label: 'app.latitude',
                            type: 'hidden'
                        },
                        longitude: {
                            value: this.params.item.longitude,
                            maxlength: 255,
                            label: 'app.longitude',
                            type: 'hidden'
                        },
                        errors: []
                    }
                }
            },

            /**
             * Сохранение изменений
             */
            store(){

                let vm   = this;
                let data = vm.$refs.form.getData();
                let url  = '/stores-pro/' + this.params.item.user_id;

                data[ '_method' ] = 'PUT';

                vm.$http
                        .post( url, data )
                        .then(
                                response => {

                                    if ( response.data !== 'saved' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    this.goBackNotPull();
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    } else {
                                        console.error( response.data );
                                    }
                                } );
            },

            cancel(){
                $( '#cancel-modal' ).modal( 'show' );
            },

            openUser(){
                this.goTo( 'users-pro', this.form.user_id.value );
            }
        }
    }
</script>