<template>

    <div>

        <v-header :title="pageHeader" :total="pagination.total"></v-header>

        <div class="main-box-body clearfix">
            <v-table :table-data="tableData"
                     :filter-data="filterData"
                     :on-change="getSubscriptions"
                     :pagination="pagination"
                     :reset-filter="reset"
            >

                <div class="row align-info-table" v-for="item in pagination.data">

                    <v-cell classes="text-left">{{* item.user.id || '-'}}</v-cell>
                    <v-cell classes="text-left">{{* item.user.name || '-'}}</v-cell>
                    <v-cell classes="text-left">{{* item.user.email || '-'}}</v-cell>
                    <v-cell classes="text-left">{{* item.user.phone_number || '-' }}</v-cell>
                    <v-cell classes="text-left">{{* getSubscriptionSum( item.created_at, item.expires_at ) }}</v-cell>
                    <v-cell classes="text-left">{{* item.is_active===true ? 'Активна' : 'Не активна' }}</v-cell>
                    <v-cell classes="text-left">{{* item.created_at }}</v-cell>
                    <v-cell classes="text-left">{{* item.expires_at }}</v-cell>

                    <v-cell>

                        <v-table-button :id="'edit-subscription-button-' + item.id"
                                        label="app.edit_current_subscription"
                                        icon="pencil-square-o"
                                        v-if="$root.$refs.vm.hasRole( 'super-admin' )"
                                        @click.prevent="editSubscription(item)"
                        ></v-table-button>

                        <v-table-button :id="'deactivate-subscription-button-'+ item.id"
                                        label="app.deactivate_subscription"
                                        icon="power-off"
                                        v-if="item.is_active===true && $root.$refs.vm.hasRole( 'super-admin' )"
                                        @click.prevent="deactivateSubscription(item.id, item.expires_at)"
                        ></v-table-button>

                        <v-table-button :id="'add-subscription-button-'+ item.id"
                                        label="app.add_subscription"
                                        icon="plus"
                                        v-if="$root.$refs.vm.hasRole( 'super-admin' )"
                                        @click.prevent="addSubscription(item.user.id, item.user.name)"
                        ></v-table-button>

                        <v-table-button
                                :id="'edit-user-' + item.id"
                                label="app.customer_edit"
                                icon="pencil"
                                v-if="$root.$refs.vm.hasRole( 'super-admin')"
                                @click.prevent="goTo('users-pro', item.id, 'edit')"
                        ></v-table-button>

                        <v-table-button :id="'open-user-' + item.id"
                                        label="app.customer_show"
                                        icon="search"
                                        @click.prevent="goTo('users-pro', item.id)"
                        ></v-table-button>
                    </v-cell>
                </div>
            </v-table>
        </div>

        <v-bootstrap-modal id="modal-deactivation-message" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t('app.attention') }}}</strong></div>
            <div slot="body"><p>{{{ $t( 'app.deactivate_subscription_question') }}}</p></div>

            <div slot="footer">
                <v-button
                        id="continue-cancel-modal-button"
                        label="continue"
                        :on-click="confirmDeactivate"
                        type="success"
                ></v-button>
                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeDeactivationModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="new-subscription" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t( 'app.subscription_create_for_user', {user_name: user_name}) }}} </strong>
            </div>
            <div slot="body">
                <div class="form-group">
                    <h4>Выберите тип подписки</h4>
                </div>
                <div class="form-group">
                    <div class="radio" v-for="position in subscription_types.positions">
                        <input type="radio"
                               id="radio-{{position}}"
                               v-model="subscription_types.selected"
                               value="{{position}}">
                        <label for="radio-{{position}}">
                            {{{ $t('app.'+position)}}}
                        </label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <v-button
                        id="continue-cancel-modal-button"
                        label="save"
                        :on-click="storeSubscription"
                        type="success"
                ></v-button>
                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeAddModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="new-subscription-to-user" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t( 'app.add_subscription' ) }}} </strong>
            </div>
            <div slot="body">
                <div class="form-group">
                    <h4>Выберите тип подписки</h4>
                </div>

                <div class="form-group">
                    <v-select :select-data.sync="selectUser"
                              :on-change="selectUser.onSelectEvent"
                              :process-results="processResults"
                    ></v-select>
                </div>

                <div class="form-group">
                    <div class="radio" v-for="position in subscription_types.positions">
                        <input type="radio"
                               id="radio-{{position}}-"
                               v-model="subscription_types.selected"
                               value="{{position}}">
                        <label for="radio-{{position}}-">
                            {{{ $t('app.'+position)}}}
                        </label>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <v-button
                        id="add-new-subscription-modal-button"
                        label="save"
                        :on-click="storeToUserSubscription"
                        type="success"
                ></v-button>
                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeAddModalToUser"
                ></v-button>
            </div>
        </v-bootstrap-modal>

        <v-bootstrap-modal id="edit-subscription" size="modal-md" backdrop="static">
            <div slot="header"><strong>{{{ $t( 'app.subscription_edit_for_user', {user_name: user_name}) }}} </strong>
            </div>
            <div slot="body">
                <form action="">
                    <div class="form-group">
                        <label :for="name"> {{{ $t( 'app.subscription_expires_at' ) }}}</label>
                        <vue-datetime-picker :name="name"
                                             :model.sync="expires_at"
                                             type="datetime"
                                             language="ru"
                                             :ignore-readonly="true"
                                             :time-zone="getCurrentTimeZone()"
                                             :side-by-side="true"
                                             :datetime-format="$root.$refs.vm.momentFormats.full"
                                             v-ref:end-picker
                        ></vue-datetime-picker>
                    </div>
                    <div class="form-group">
                        <div class="radio" v-for="position in activation_statuses.positions">
                            <input type="radio"
                                   id="radio-edit-{{position}}"
                                   v-model="activation_statuses.selected"
                                   :value="position">
                            <label for="radio-edit-{{position}}">
                                {{{ $t('app.'+ position)}}}
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div slot="footer">
                <v-button
                        id="continue-cancel-modal-button"
                        label="save"
                        :on-click="updateSubscription"
                        type="success"
                ></v-button>
                <v-button
                        id="close-cancel-modal-button"
                        label="cancel"
                        :on-click="closeUpdatingModal"
                ></v-button>
            </div>
        </v-bootstrap-modal>

    </div>

</template>
<script type="text/babel">
    import mIndex from '../../../mixins/m-index';
    import mGlobal from '../../../mixins/m-global';
    import mNavigator from '../../../mixins/m-navigator';

    export default{
        mixins: [ mIndex, mGlobal, mNavigator ],
        data(){
            return this.initialState()
        },
        created(){
            this.getSubscriptions();
        },
        components: {
            'v-select': require( '../../../components/v-select.vue' ),
            "vue-datetime-picker": require( "../../../../../../../node_modules/vue-datetime-picker/src/vue-datetime-picker" ),
        },
        methods: {
            /**
             * Первоначальное состояние объекта
             **/
            initialState (){

                return {
                    pageHeader: {
                        label: 'app.subscriptions_index',
                        params: {}
                    },
                    pagination: {
                        current_page: 1,
                        last_page: 0,
                        data: []
                    },
                    tableData: {
                        model: 'subscriptions-pro',
                        useModelInUrl: {
                            status: true,
                            alternativeUrl: ''
                        },
                        fields: [
                            {
                                name: 'customer_id',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'customer_name',
                                isSortable: true,
                                classes: 'text-left',
                                defaultSortDirection: 'asc'
                            },
                            {
                                name: 'email',
                                isSortable: true,
                                classes: 'text-left'
                            },
                            {
                                name: 'phone_number',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'last_subscriptions_sum',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'last_subscriptions_status',
                                isSortable: false,
                                classes: 'text-left'
                            },
                            {
                                name: 'current_subscriptions_activation_time',
                                isSortable: true,
                                sortableField: 'created_at',
                                classes: 'text-left'
                            },
                            {
                                name: 'current_subscriptions_expiration_time',
                                isSortable: true,
                                sortableField: 'expires_at',
                                classes: 'text-left'
                            },
                            {
                                name: 'actions',
                                width: 20,
                                isSortable: false,
                                classes: 'wid-four-buttons'
                            }
                        ]
                    },
                    filterData: {
                        use: true,
                        resetFilter: false,
                        page: 1,
                        historyEventName: 'subscriptions-back',
                        search: {
                            user_id: {
                                value: '',
                                label: 'search_by_user_id',
                                minSearchLength: 0,
                                helpBlock: false,
                                placeholder: 'id_placeholder'
                            },
                            everyWhere: {
                                value: '',
                                minSearchLength: 2,
                                label: 'search_user_email_name_phone_number',
                                placeholder: 'search_user_email_placeholder'
                            }
                        },
                        radios: [
                            {
                                label: 'subscriptions_activation',
                                name: 'subscriptions_activation',
                                use: false,
                                selected: '',
                                positions: [
                                    'active',
                                    'not_active'
                                ]
                            }
                        ],
                        sort: {
                            name: 'created_at',
                            direction: 'desc'
                        },
                        buttons: [
                            {
                                id: 'add-subscription-button',
                                title: 'add_subscription',
                                label: 'add_subscription',
                                icon: 'plus',
                                eventName: 'new-subscription',
                                roles: [ 'super-admin' ],
                                type: 'success'
                            }
                        ]
                    },
                    subscription_id: null,

                    // Для добавления
                    user_id: null,
                    user_name: null,
                    expires_at: null,
                    date_format: "DD.MM.YYYY HH:mm",

                    subscription_types: {
                        label: 'subscription_types',
                        name: 'subscription_types',
                        selected: 'subscribe_per_year',
                        positions: [
                            'subscribe_per_month',
                            'subscribe_per_year'
                        ]
                    },
                    activation_statuses: {
                        label: 'activation_statuses',
                        name: 'activation_statuses',
                        selected: 'active',
                        positions: [
                            'active',
                            'not_active'
                        ]
                    },
                    selectUser: {

                        id: 'user-select',
                        selected: null,
                        initialState: {
                            id: null,
                            text: null
                        },
                        useAjax: true,
                        label: 'app.user',
                        item: {
                            id: null,
                            text: null
                        },
                        onSelectEvent: 'set-user-id',
                        url: 'users-pro',
                        placeholder: 'app.select_user'
                    }
                }
            },

            /**
             * Получение списка подписок
             **/
            getSubscriptions( params = {} ){

                this.getItems( { historyCall: params.historyCall || false, filter: this.configureSendData() } );
            },

            /** Сброс фильтров
             *  Не используется метод сброса фильтра из m-filter-logic,
             *  потому что значения элемента select нужно переинициализировать
             */
            reset(){

                let vm = this;

                this.resetFilter( {
                    getData(){
                        vm.getSubscriptions();
                    }
                } );
            },

            /**
             * Отправка на бекенд только необходимые данные
             */
            configureSendData(){

                let vm = this;

                return {
                    page: vm.filterData.page,
                    user_id: vm.filterData.search.user_id.value,
                    search: vm.filterData.search.everyWhere.value,
                    radios: this.transformRadioForRequest(),
                    sort: {
                        name: vm.filterData.sort.name,
                        direction: vm.filterData.sort.direction
                    }
                }
            },

            /**
             * Деактивация подписки
             *
             * @param {int} id = - ID подписки
             * @param {date} expires_at - Время окончания подписки
             */
            deactivateSubscription( id = null, expires_at = null ){

                this.$set( 'subscription_id', id );
                this.$set( 'expires_at', expires_at );

                $( '#modal-deactivation-message' ).modal( 'show' );
            },

            /**
             * Подтверждение деактивации
             */
            confirmDeactivate(){

                let vm = this;

                if ( !vm.subscription_id ) {
                    console.error( 'Subscription ID must be specified before deactivating subscription' );
                    return;
                }

                vm.$http.get( vm.getLinkTo( vm.tableData.model, vm.subscription_id, 'deactivate' ) )
                        .then(
                                response => {

                                    if ( response.data.status === 'success' ) {

                                        vm.getSubscriptions();

                                        $( '#modal-deactivation-message' ).modal( 'hide' );

                                    } else if ( response.data.status === 'error' ) {

                                        console.error( response );
                                    }

                                    $( '#modal-deactivation-message' ).modal( 'hide' );
                                },
                                response => console.error( response ) );
            },

            /**
             * Отмена деактивации
             **/
            closeDeactivationModal(){
                $( '#modal-deactivation-message' ).modal( 'hide' );
                this.$set( 'subscription_id', null );
                this.$set( 'expires_at', null );
            },

            /**
             * Определение стоимости подписки
             *
             * @param {date} created_at - Дата и время активации подписки
             * @param {date} expires_at - Дата и время истечения плжписки
             * @returns {int|string}
             */
            getSubscriptionSum( created_at = null, expires_at = null ){

                try {

                    let end       = moment( expires_at, this.date_format );
                    let start     = moment( created_at, this.date_format );
                    let deference = end.diff( start, 'days' );

                    if ( deference ) {
                        return deference <= 31
                                ? Laravel.wipon_config.wipon_pro_subscription_price.per_month
                                : Laravel.wipon_config.wipon_pro_subscription_price.per_year;
                    }

                } catch (e) {
                    console.error( e );
                }

                return '-';
            },

            /**
             * Открыть форму добавления подписки
             *
             * @param user_id - ID пользователя
             * @param user_name - имя пользователя
             */
            addSubscription( user_id = null, user_name = null ){

                this.$set( 'user_id', user_id );
                this.$set( 'user_name', user_name );

                $( '#new-subscription' ).modal( 'show' );
            },

            /**
             * Отмена добавления новой подписки
             */
            closeAddModal(){

                this.$set( 'user_id', null );
                this.$set( 'user_name', null );

                $( '#new-subscription' ).modal( 'hide' );
            },

            /**
             * Сохранение новой подписки
             */
            storeSubscription(){
                let vm = this;

                if ( vm.user_id === null ) {
                    console.error( 'User not specified!' );
                    return;
                }

                vm.$http.post( '/subscriptions-pro', { type: vm.subscription_types.selected, user_id: vm.user_id } )
                        .then(
                                response => {
                                    if ( response.data !== 'saved' ) {
                                        console.error( response.data );
                                        return
                                    }
                                    $( '#new-subscription' ).modal( 'hide' );

                                    vm.getSubscriptions();
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.form.errors = response.data;
                                    } else {
                                        console.error( response.data );
                                    }
                                } );
            },

            /**
             * Открыть модальное окно для редактирования подписки
             *
             * @param {object} item - подписка
             * @param {int} item.id - ID подписки
             * @param {string} item.user.name - Имя пользователя
             * @param {date} item.expires_at - Время истечения подписки
             * @param {boolean} item.is_active - активна ли подписка
             */
            editSubscription( item = {} ){

                this.$set( 'subscription_id', item.id );
                this.$set( 'user_name', item.user.name );
                this.$set( 'expires_at', moment( item.expires_at, this.date_format ) );
                this.$set( 'activation_statuses.selected', item.is_active === true ? 'active' : 'not_active' );

                $( '#edit-subscription' ).modal( 'show' );
            },

            /**
             * Сохранить редактируемую подписку
             */
            updateSubscription(){

                let vm = this;

                if ( vm.subscription_id === null || vm.user_name === null || vm.expires_at === null ) {
                    console.error( 'Subscription data not specified!' );
                    return;
                }

                vm.$http.post( '/subscriptions-pro/' + vm.subscription_id, {
                    _method: 'PUT',
                    status: vm.activation_statuses.selected,
                    expires_at: vm.expires_at.format( this.date_format ),
                    id: vm.subscription_id
                } ).then(
                        response => {
                            if ( response.data !== 'saved' ) {
                                console.error( response.data );
                                return
                            }

                            vm.closeUpdatingModal();

                            vm.getSubscriptions();
                        },
                        response => {
                            if ( response.status === 422 ) {
                                vm.form.errors = response.data;
                            } else {
                                console.error( response.data );
                            }
                        } );
            },

            /**
             * Отмена редактирования
             */
            closeUpdatingModal(){

                this.$set( 'subscription_id', null );
                this.$set( 'user_id', null );
                this.$set( 'user_name', null );
                this.$set( 'expires_at', null );
                this.$set( 'activation_statuses.selected', 'active' );

                $( '#edit-subscription' ).modal( 'hide' );
            },

            /**
             * Сохранение новой подписки
             */
            storeToUserSubscription(){

                let vm = this;

                if ( vm.user_id === null ) {
                    console.error( 'User not specified!' );
                    return;
                }

                vm.$http.post( '/subscriptions-pro', { type: vm.subscription_types.selected, user_id: vm.user_id } )
                        .then(
                                response => {
                                    if ( response.data !== 'saved' ) {
                                        console.error( response.data );
                                        return
                                    }

                                    vm.closeAddModalToUser();
                                    vm.getSubscriptions();
                                },
                                response => {
                                    if ( response.status === 422 ) {
                                        vm.errors = response.data;
                                    } else {
                                        console.error( response.data );
                                    }
                                } );
            },

            /**
             * Отмена добавления новой подписки
             */
            closeAddModalToUser(){

                this.$set( 'user_id', null );
                this.$broadcast('select-reset', this.selectUser.id);

                $( '#new-subscription-to-user' ).modal( 'hide' );
            },

            /**
             * Формирование строки, которая будет отображаться
             * в элементе option компонента v-select
             *
             * @param {object} item - объект пользователя
             *
             * @return {object} item.id - Option value
             * @return {object} item.text - Option text
             **/
            processResults( item = {} ){

                let objectToReturn = {};

                try {
                    objectToReturn = {
                        id: item.id || null,
                        text: item.name + ', ' + item.phone_number + ', ' + item.email
                    }
                } catch (e) {
                    console.error( e )

                    objectToReturn = {
                        id: null,
                        text: translate( 'app.user_info_incorrect' )
                    }
                }

                return objectToReturn
            }
        },
        events: {
            'subscriptions-back': function( event ) {
                this.getSubscriptions( event );
            },

            /**
             * Добавление подписки пользователю не из списка
             */
            'new-subscription': function() {
                $( '#new-subscription-to-user' ).modal( 'show' );
            },

            'set-user-id': function( user_id = null ) {
                this.user_id = user_id;
            }
        }
    }
</script>