<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body clearfix">

        <div class="col-sm-6">
            <div class="form-group">
                <v-select :select-data.sync="selects.country"
                          :on-select="onCountrySelect"
                ></v-select>
            </div>

            <div class="form-group">
                <v-select :select-data.sync="selects.region"
                          :on-select="onRegionSelect"
                          :appendix="includeCountry"
                ></v-select>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('city_id')}">
                <v-select :select-data.sync="selects.city"
                          :appendix="includeRegion"
                          :on-change="onCitySelect"
                ></v-select>
                <div class="help-block">
                    <a href="#" @click.prevent="createCity" id="create-city-link">{{{ $t('app.create') }}}</a>
                </div>
                <div v-if="errors.hasOwnProperty('city_id')">
                    <div v-for="error in errors.city_id" class="help-block">
                        {{{ error }}}
                    </div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('name_ru')}">
                <label for="name_ru" class="control-label pull-left">{{{ $t('app.name_ru') }}}</label>
                <input id="name_ru" type="text" v-model="params.item.name_ru" class="form-control">
                <div v-if="errors.hasOwnProperty('name_ru')"  class="help-block">
                    <div v-for="error in errors.name_ru">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group"  v-bind:class="{'has-error': errors.hasOwnProperty('name_en')}">
                <label for="name_en" class="control-label pull-left">{{{ $t('app.name_en') }}}</label>
                <input id="name_en" type="text" v-model="params.item.name_en" class="form-control">
                <div v-if="errors.hasOwnProperty('name_en')" class="help-block">
                    <div v-for="error in errors.name_en">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('name_kk')}">
                <label for="name_kk" class="control-label pull-left">{{{ $t('app.name_kk') }}}</label>
                <input id="name_kk" type="text" v-model="params.item.name_kk" class="form-control">
                <div v-if="errors.hasOwnProperty('name_kk')" class="help-block">
                    <div v-for="error in errors.name_kk">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('cluster_type_id')}">
                <v-select :select-data.sync="selects.type"
                          :on-select="onTypeSelect"
                ></v-select>
                <div v-if="errors.hasOwnProperty('cluster_type_id')" class="help-block">
                    <div v-for="error in errors.cluster_type_id">{{{ error }}}</div>
                </div>
            </div>


            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('accuracy')}">
                <label for="accuracy" class="control-label pull-left">{{{ $t('app.accuracy') }}}</label>
                <input id="accuracy" type="text" v-model="params.item.accuracy" class="form-control">
                <div v-if="errors.hasOwnProperty('accuracy')"  class="help-block">
                    <div v-for="error in errors.accuracy">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('street')}">
                <label for="street" class="control-label pull-left">{{{ $t('app.street') }}}</label>
                <input id="street" type="text" v-model="params.item.street" class="form-control">
                <div v-if="errors.hasOwnProperty('street')"  class="help-block">
                    <div v-for="error in errors.street">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('house')}">
                <label for="house" class="control-label pull-left">{{{ $t('app.house') }}}</label>
                <input id="house" type="text" v-model="params.item.house" class="form-control">
                <div v-if="errors.hasOwnProperty('house')"  class="help-block">
                    <div v-for="error in errors.house">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('is_licensed')}">
                <div class="checkbox">
                    <input id="is_licensed"
                           class="stiled"
                           type="checkbox"
                           v-model="params.item.is_licensed">
                    <label for="is_licensed">{{{ $t('app.is_licensed') }}}</label>
                </div>
                <div v-if="errors.hasOwnProperty('is_licensed')"  class="help-block">
                    <div v-for="error in errors.is_licensed">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('is_fixed')}">
                <div class="checkbox">
                    <input id="is_fixed"
                           class="stiled"
                           type="checkbox"
                           v-model="params.item.is_fixed">
                    <label for="is_fixed">{{{ $t('app.is_fixed') }}}</label>
                </div>
                <div v-if="errors.hasOwnProperty('is_fixed')"  class="help-block">
                    <div v-for="error in errors.is_fixed">{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('is_moderated')}">
                <div class="checkbox">
                    <input id="is_moderated"
                           class="stiled"
                           type="checkbox"
                           v-model="params.item.is_moderated">
                    <label for="is_moderated">{{{ $t('app.is_moderated') }}}</label>
                </div>
                <div v-if="errors.hasOwnProperty('is_moderated')"  class="help-block">
                    <div v-for="error in errors.is_moderated">{{{ error }}}</div>
                </div>
            </div>

            <div class="col-sm-12" style="padding-left: 0">
                <div class="form-group">
                    <label for="latitude" class="control-label pull-left"> {{{ $t('app.coordinates') }}}</label>
                </div>
            </div>

            <div class="form-group"
                 v-bind:class="{'has-error': errors.hasOwnProperty('latitude') || errors.hasOwnProperty('longitude')}">
                <div class="form-inline">
                    <button id="map-show-btn"
                            class="btn btn-default"
                            data-toggle="modal"
                            data-target="#map-modal"
                            style="width: 160px; margin-right: 16px"
                            disabled>
                        <i class="fa fa-globe"></i> Указать на карте
                    </button>
                    <div class="form-group">
                        <input id="latitude" type="text" v-model="params.item.latitude" class="form-control">
                    </div>
                    <div class="form-group">
                        <input id="longitude" type="text" v-model="params.item.longitude" class="form-control">
                    </div>
                </div>
                <div v-if="errors.hasOwnProperty('latitude')" class="help-block">
                    <div v-for="error in errors.latitude" >{{{ error }}}</div>
                </div>
                <div v-if="errors.hasOwnProperty('longitude')" class="help-block">
                    <div v-for="error in errors.longitude" >{{{ error }}}</div>
                </div>
            </div>

            <div class="form-group control-buttons">
                <hr>
                <button id="back-btn"
                        class="btn btn-default"
                        style="width: 160px; margin-right: 16px"
                        v-on:click="goBack()">
                    <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
                </button>
                <button id="save-btn"
                        class="btn btn-primary"
                        v-on:click="submitData">
                    <i class="fa fa-floppy-o"></i> Сохранить изменения
                </button>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1" v-if="params.names && params.names.length">
            <h2>{{{ $t('app.retailers') }}}</h2>
            <ul>
                <li v-for="name in params.names">{{ name }}</li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">{{ $t('app.cluster_select_coords') }}</h4>
                </div>
                <div class="modal-body">
                    <div id="map-canvas">

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="map-cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">
                        {{ $t('app.cancel') }}
                    </button>
                    <button id="map-accept-btn"
                            type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            v-on:click="acceptMapCoords">
                        {{ $t('app.accept') }}
                    </button>
                </div>
            </div>
        </div>
    </div>

</template>

<style>
    .fa {
        font-weight: normal;
    }

    #map-canvas {
        height: 600px;
    }

    .control-buttons {
        margin-top: 50px;
    }
</style>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [mGlobal],
        data() {
            return this.initialState()
        },
        created() {

        },
        ready() {
            this.initCountrySelect();
            this.initTypeSelect();
            google.maps.event.addDomListener(window, "load", this.initMap);
        },
        methods: {
            includeCountry(){
                return JSON.stringify( {
                    countryId: this.selects.country.selected
                });
            },
            includeRegion() {
                return JSON.stringify( {
                    regionId: this.selects.region.selected
                });
            },
            initialState() {
                return {
                    errors: {},
                    regional_center_name: null,
                    city_map: {
                        instance: null,
                        marker: null,
                        center: {
                            lat: null,
                            lng: null,
                        }
                    },
                    model: 'clusters',
                    pageHeader: {
                        label: this.params.item.id ? 'app.edit' : 'app.create'
                    },
                    selects: {
                        country: {
                            id: 'country-select',
                            useAjax: false,
                            label: 'app.country',
                            item: {
                                id: null,
                                text: null,
                            },
                            items: [],
                            selected: null,
                            url: 'countries/search',
                            placeholder: 'app.select_country',
                            reset: false
                        },
                        region: {
                            id: 'region-select',
                            useAjax: true,
                            label: 'app.region',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            selected: null,
                            url: 'regions/search',
                            placeholder: 'app.select_region',
                            reset: false,
                            disabled: true,
                        },
                        city: {
                            id: 'city-select',
                            useAjax: true,
                            label: 'app.city',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            selected: null,
                            url: 'cities/search',
                            placeholder: 'app.select_city',
                            reset: false,
                            disabled: true,
                        },
                        type: {
                            id: 'type-select',
                            useAjax: false,
                            label: 'app.select_type',
                            item: {
                                id: null,
                                text: null,
                            },
                            items: [],
                            placeholder: 'app.select_type',
                            url: 'cities/search',
                            selected: null,
                            reset: false,
                            disabled: false,
                        }
                    }
                }
            },
            onCountrySelect() {
                if (! this.selects.region.disabled) {
                    this.$broadcast('select-reset', this.selects.region.id);
                    this.$broadcast('select-reset', this.selects.city.id);
                    this.params.item.city_id = null;
                }
                else {
                    if (this.selects.country.selected != null) {
                        this.selects.region.disabled = false;
                    }
                }
            },
            onRegionSelect(item = null) {
                if (item.id) {
                    this.selects.region.selected = parseInt(item.id);
                    this.$broadcast('select-reset', this.selects.city.id);
                    this.selects.city.selected = null;
                } else {
                    this.selects.region.selected  = null;
                }

                if (this.selects.region.selected != null) {
                    this.selects.city.disabled = false;
                }
            },
            onCitySelect(item = null) {
                if (item) {
                    this.params.item.city_id = parseInt(item);
                } else {
                    this.params.item.city_id = null;
                }
            },
            onTypeSelect() {
                if (this.selects.type.selected) {
                    this.params.item.cluster_type_id = this.selects.type.selected;
                } else {
                    this.params.item.cluster_type_id = null;
                }

                if (! this.params.item.accuracy) {
                    this.params.item.accuracy = this.params.cluster_types.find((t) => {
                        return t.id == this.selects.type.selected
                    }).accuracy;
                }
            },
            createCity() {
                let countryId = this.selects.country.selected;
                let regionId = this.selects.region.selected;
                let params = [];

                if (countryId) {
                    params.push('countryId=' + countryId);
                }

                if (regionId) {
                    params.push('regionId=' + regionId);
                }

                params.push('noReturn=1');

                window.open("/cities/create?" + params.join('&'));
            },
            initCountrySelect() {
                let vm = this;

                vm.$http.get('/' + vm.selects.country.url).then(
                        function(response) {
                            if (! response || ! response.data) {
                                return;
                            }

                            let data = response.data;

                            this.selects.country.items = [];
                            data.forEach(function(item) {
                                vm.selects.country.items.push({
                                    id: item.id,
                                    text: item.name
                                });
                            });

                            if (vm.params.item && vm.params.item.city && vm.params.item.city.region
                                    && vm.params.item.city.region.country) {
                                vm.selects.country.selected = vm.params.item.city.region.country.id;
                                vm.selects.region.selected = vm.params.item.city.region.id;
                                vm.selects.city.selected = vm.params.item.city.id;

                                vm.selects.region.items = [{
                                    id: vm.params.item.city.region.id,
                                    text: vm.params.item.city.region.name,
                                }];

                                vm.selects.city.items = [{
                                    id: vm.params.item.city.id,
                                    text: vm.params.item.city.name,
                                }];

                                vm.selects.region.disabled = false;
                                vm.selects.city.disabled = false;
                            }
                            else {
                                vm.selects.country.selected = null;
                            }
                        },
                        function(response) {
                            console.error( response );
                        }
                );
            },
            initTypeSelect() {
                let vm = this;

                this.selects.type.items = [];

                this.params.cluster_types.forEach(function(item) {
                    vm.selects.type.items.push({
                        id: item.id,
                        text: item.name,
                     //   accuracy: item.accuracy
                    });
                });

                if (vm.params.item && vm.params.item.cluster_type_id) {
                    vm.selects.type.selected = vm.params.item.cluster_type_id;
                }
                else {
                    vm.selects.type.selected = null;
                }
            },
            initMap() {
                // Устанавливаем координаты для центровки карты
                if (this.params.item && this.params.item.latitude && this.params.item.longitude) {
                    this.city_map.center = {
                        lat: parseFloat(this.params.item.latitude),
                        lng: parseFloat(this.params.item.longitude),
                    };
                }

                // Создаём экземпляр карты
                this.city_map.instance = new google.maps.Map(document.getElementById("map-canvas"));

                // Подписываем обработчики событий для модального окна с картой
                $("#map-modal")
                        .on("shown.bs.modal", this.updateMap)
                        .on("hidden.bs.modal", this.hideMapMarker);

                $('#map-show-btn').prop("disabled", false);
            },
            updateMap() {
                if (this.params.item) {
                    let lat = parseFloat(this.params.item.latitude);
                    let lng = parseFloat(this.params.item.longitude);

                    if (this.city_map.center.lat != lat || this.city_map.center.lng != lng) {
                        if (!lat || !lng || isNaN(lat) || isNaN(lng)) {
                            lat = 51.1667;
                            lng = 71.4333;

                            console.warn("Failed to parse city center coordinates from form");
                        }

                        this.city_map.center = {
                            lat: lat,
                            lng: lng,
                        };
                    }
                }

                google.maps.event.trigger(document.getElementById("map-canvas"), "resize");
                this.city_map.instance.setZoom(18);
                this.city_map.instance.panTo(this.city_map.center);

                if (this.city_map.marker) {
                    this.city_map.marker.setMap(null);
                }

                this.city_map.marker = new google.maps.Marker({
                    position: this.city_map.center,
                    map: this.city_map.instance,
                    draggable: true,
                    animation: google.maps.Animation.DROP,
                });
            },
            hideMapMarker() {
                // Убираем маркер с карты
                if (this.city_map.marker !== null) {
                    this.city_map.marker.setMap(null);
                    this.city_map.marker = null;
                }
            },
            acceptMapCoords() {
                // Передаём координаты маркера на карте в модель
                if (this.city_map.marker) {
                    let lat = Math.round(1000000 * this.city_map.marker.getPosition().lat()) / 1000000;
                    let lng = Math.round(1000000 * this.city_map.marker.getPosition().lng()) / 1000000;

                    this.$set("params.item.latitude", lat);
                    this.$set("params.item.longitude", lng);

                    this.city_map.center = {
                        lat: lat,
                        lng: lng,
                    };
                }
            },
            submitData() {
                let vm = this;

                let callback = function(response) {
                    if (this.$get("params.noReturn") == "1") {
                        window.close();
                    }

                    vm.goBack();

                };

                let errorCallback = function(response) {
                    if (! (response && response.data && response.status == 422)) {
                        console.log(response);
                        return;
                    }

                    vm.errors = response.data;
                };

                if (vm.params.item.id) {
                    vm.$http.put('/' + vm.model + '/' + vm.params.item.id, vm.params.item)
                            .then(callback, errorCallback);
                } else {
                    vm.$http.post('/' + vm.model, vm.params.item)
                            .then(callback, errorCallback);
                }
            }
        },
        components: {
            'v-select': require('../../components/v-select.vue'),
            'v-header' : require('../../components/v-header.vue')
        }
    }
</script>