<style scoped>
    #map-canvas {
        width: 100%;
        height: 670px;
        border: 1px solid lightgrey;
    }

    .fa {
        font-weight: normal;
        margin-right: 6px;
    }

    .filter-container {
        padding-top: 12px;
    }

    .form-group.condensed {
        margin-bottom: 10px;
    }

    .button-panel {
        display: block;
        height: 40px;
    }
</style>

<template>

    <!-- help-header - Блок заголовка с инструкцией ( inline help )-->
    <help-header :title="pageHeader"></help-header>

    <div class="main-box-body clearfix">

        <div class="filter-container row">
            <div class="col-sm-4">
                <div class="form-group condensed">
                    <label for="region-select">{{{ $t('app.region') }}}</label>
                    <select id="region-select"
                            class="form-control"
                            v-model="filterData.selects.region.selected"
                            data-model="filterData.selects.region.selected">
                        <option v-for="item in filterData.selects.region.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>


                <div class="form-group condensed">
                    <label for="city-select">{{{ $t('app.city') }}}</label>
                    <select id="city-select"
                            class="form-control"
                            v-model="filterData.selects.city.selected"
                            data-model="filterData.selects.city.selected">
                        <option v-for="item in filterData.selects.city.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>

                <div class="form-group condensed">
                    <label for="type-select">{{{ $t('app.type') }}}</label>
                    <select id="type-select"
                            class="form-control"
                            v-model="filterData.selects.cluster_type.selected"
                            data-model="filterData.selects.cluster_type.selected">
                        <option v-for="item in filterData.selects.cluster_type.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group condensed">
                    <label for="fixed-status-select">{{{ $t('app.fixed_status') }}}</label>
                    <select id="fixed-status-select"
                            class="form-control"
                            v-model="filterData.selects.fixed_status.selected"
                            data-model="filterData.selects.fixed_status.selected">
                        <option v-for="item in filterData.selects.fixed_status.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group condensed">
                    <label for="moderated-status-select">{{{ $t('app.moderated_status') }}}</label>
                    <select id="moderated-status-select"
                            class="form-control"
                            v-model="filterData.selects.moderated_status.selected"
                            data-model="filterData.selects.moderated_status.selected">
                        <option v-for="item in filterData.selects.moderated_status.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>
                <div class="form-group condensed">
                    <label for="licansed-status-select">{{{ $t('app.licensed_status') }}}</label>
                    <select id="licansed-status-select"
                            class="form-control"
                            v-model="filterData.selects.licensed_status.selected"
                            data-model="filterData.selects.licensed_status.selected">
                        <option v-for="item in filterData.selects.licensed_status.items" v-bind:value="item.id">
                            {{ item.text }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3" style="margin-top: 13px">
                <div class="form-group condensed" v-for="checkbox in filterData.checkboxes">
                    <div class="checkbox">
                        <input type="checkbox" id="{{checkbox.id}}-checkbox" v-model="checkbox.checked"
                               @change.prevent="sendFilter">
                        <label for="{{checkbox.id}}-checkbox">{{ $t(checkbox.label) }} </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="button-panel">
            <div class="btn-group pull-left">
                <button type="button"
                        class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        id="dropdown-toggle-for-selected-buttons"
                        aria-expanded="false"
                        :disabled="! clustersMap.selectedMarkers.length">
                    {{{ $t('app.selection_actions', { count: clustersMap.selectedMarkers.length }) }}} <span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-bind:class="{'disabled': clustersMap.selectedMarkers.length < 2}">
                        <a id="merge-clusters-link" href="#" @click.prevent="mergeClusters">{{{ $t('app.cluster_merge')
                            }}}</a>
                    </li>
                    <li v-bind:class="{'disabled': ! clustersMap.selectedMarkers.length}">
                        <a id="link-cluster-with-city-link" href="#" @click.prevent="linkClusters">{{{
                            $t('app.link_to_city') }}}</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a id="deselect-all-markers" href="#" @click.prevent="deselectMarkers">{{{ $t('app.deselect')
                            }}}</a>
                    </li>
                </ul>
            </div>

            <div class="form-group pull-left col-sm-3">
                <div class="checkbox">
                    <input type="checkbox"
                           id="highlight-duplicates-checkbox"
                           v-model="clustersMap.highlightDuplicates"
                           @change.prevent="highlightDuplicates">
                    <label for="highlight-duplicates-checkbox">{{ $t('app.highlight_duplicates') }} </label>
                </div>
            </div>

            <div class="pull-right" style="margin-bottom: 13px;">

                <button id="create-cluster-btn"
                        type="button"
                        class="btn btn-primary"
                        @click.prevent="createCluster">
                    <i class="fa fa-plus-circle fa-lg"></i>{{ $t('app.cluster_create') }}
                </button>


            </div>
        </div>

        <div id="map-canvas"></div>
    </div>

</template>

<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import mFilterLogic from '../../mixins/m-filter-logic';
    import Vue from 'vue';

    var URI = require( 'urijs' );

    export default{
        mixins: [ mGlobal, mFilterLogic ],
        data() {
            return this.initialState()
        },
        created() {
            google.maps.event.addDomListener( window, "load", this.initMap );

            this.initSelectsItems();
        },
        ready() {
            let vm = this;

            this.clustersMap.instance = new google.maps.Map( document.getElementById( "map-canvas" ), {
                center: {
                    lat: 51.1667,
                    lng: 71.4333
                },
                zoom: 12,
            } );
            this.clustersMap.instance.setOptions( {
                styles: [
                    {
                        featureType: "all",
                        stylers: [
                            { saturation: -80 }
                        ]
                    }, {
                        featureType: "road.arterial",
                        elementType: "geometry",
                        stylers: [
                            { hue: "#00ffee" },
                            { saturation: 70 }
                        ]
                    }
                ]
            } );

            let dm = new google.maps.drawing.DrawingManager( {
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        google.maps.drawing.OverlayType.RECTANGLE
                    ]
                },
                rectangleOptions: {
                    fillColor: '#FF9D00',
                    fillOpacity: 0.1,
                    strokeWeight: 1,
                    strokeColor: '#FF9D00',
                    clickable: false,
                    editable: false,
                    zIndex: 1
                }
            } );
            dm.setMap( this.clustersMap.instance );

            google.maps.event.addListener( dm, 'rectanglecomplete', function( rect ) {
                this.setDrawingMode( null );

                let bounds = rect.getBounds();

                rect.setMap( null );

                vm.clustersMap.markers.forEach( function( marker ) {
                    if ( !marker.metadata.selected && bounds.contains( marker.position ) ) {
                        vm.selectMarker( marker, true );
                    }
                } );

                vm.updateSelectedMarkers();
            } );

            $( window ).on( "keydown", function( e ) {
                if ( e.which === 16 ) {
                    if ( dm && !dm.getDrawingMode() ) {
                        dm.setDrawingMode( google.maps.drawing.OverlayType.RECTANGLE );
                    }
                }
            } ).on( "keyup", function( e ) {
                if ( e.which === 16 ) {
                    if ( dm && dm.getDrawingMode() == google.maps.drawing.OverlayType.RECTANGLE ) {
                        dm.setDrawingMode( null );
                    }
                }
            } );

            $( "select" ).select2( {
                minimumResultsForSearch: 5
            } ).on( "change", function() {
                let $this = $( this );
                let model = $this.data( "model" );

                if ( !model ) {
                    return;
                }

                vm.$set( model, this.value );

                if ( $this.attr( "id" ) == "region-select" ) {
                    vm.onRegionSelect();
                    return;
                }

                vm.sendFilter();
            } );

            vm.sendFilter();
        },
        components: {
            'v-bootstrap-modal': require( '../../components/v-bootstrap-modal.vue' ),
                     'v-button': require( '../../components/v-button.vue' ),
                'help-header': require( '../../views/inline-help/h-clusters.vue' ),
        },
        methods: {
            onRegionSelect() {
                let vm  = this;
                let $el = $( "city-select" );

                $el.val( "" );
                $el.text( "" );

                vm.$http.get( "/cities/search", {
                    withoutPagination: true, params: JSON.stringify( {
                        regionId: vm.filterData.selects.region.selected
                    } )
                } ).then( ( response ) => {
                    if ( !response || !response.data || !response.data ) {
                        return;
                    }

                    let data = response.data;

                    vm.filterData.selects.city.items = [];

                    vm.filterData.selects.city.items.push( {
                        id: "",
                        text: translate( "app.all" )
                    } );

                    data.forEach( ( item ) => {
                        vm.filterData.selects.city.items.push( {
                            id: item.id,
                            text: item.name
                        } );
                    } );

                    vm.filterData.selects.city.selected = "";
                    vm.sendFilter();
                }, ( response ) => {
                    console.error( response );
                } );
            },
            sendFilter( params = {} ) {
                this.getItems( {
                    url: '/clusters/filter',
                    historyCall: params.historyCall || false,
                    success: this.drawMarkers,
                    filter: this.fetchFilter()
                } );
            },
            fetchFilter() {
                let vm = this;

                return {
                    type: vm.$get( 'filterData.selects.cluster_type.selected' ),
                    fixed_status: vm.$get( 'filterData.selects.fixed_status.selected' ),
                    moderated_status: vm.$get( 'filterData.selects.moderated_status.selected' ),
                    licensed_status: vm.$get( 'filterData.selects.licensed_status.selected' ),
                    region: vm.$get( 'filterData.selects.region.selected' ),
                    city: vm.$get( 'filterData.selects.city.selected' ),
                    without_city_id: vm.$get( 'filterData.checkboxes.without_city_id.checked' ),
                    without_address_only: vm.$get( 'filterData.checkboxes.without_address_only.checked' ),
                    without_type_only: vm.$get( 'filterData.checkboxes.without_type_only.checked' ),
                    without_name_only: vm.$get( 'filterData.checkboxes.without_name_only.checked' ),
                }
            },
            initSelectsItems() {
                if ( !this.params.regions || !this.params.regions.length ) {
                    return;
                }

                this.filterData.selects.region.items =
                        this.filterData.selects.region.items.concat( this.params.regions );

                if ( !this.filterData.selects.region.selected ) {
                    this.filterData.selects.region.selected = this.params.regions[ 0 ].id;
                }

                if ( this.params.cities ) {
                    this.filterData.selects.city.items =
                            this.filterData.selects.city.items.concat( this.params.cities );

                    if ( !this.filterData.selects.city.selected ) {
                        this.filterData.selects.city.selected = '';
                    }
                }

                if ( !this.params.cluster_types || !this.params.cluster_types.length ) {
                    return;
                }

                this.filterData.selects.cluster_type.items =
                        this.filterData.selects.cluster_type.items.concat( this.params.cluster_types );
            },
            drawMarkers( response = null ) {
                if ( !response || !response.data ) {
                    return;
                }

                let clusters = response.data;

                let vm = this;

                vm.clustersMap.markers.forEach( function( m ) {
                    m.metadata.circle.setMap( null );
                    m.metadata.circle = null;

                    google.maps.event.clearListeners( m, 'click' );
                    google.maps.event.clearListeners( m, 'dblclick' );

                    m.setMap( null );

                    m = null;
                } );

                vm.clustersMap.markers         = [];
                vm.clustersMap.selectedMarkers = [];

                if ( !clusters || !clusters.length ) {
                    return;
                }

                let bounds = new google.maps.LatLngBounds();

                clusters.forEach( function( cluster ) {
                    // Создаём маркер в координатах кластера
                    let marker = new google.maps.Marker( {
                        map: vm.clustersMap.instance,
                        position: { lat: cluster.latitude, lng: cluster.longitude },
                        icon: vm.clustersMap.pinImages.defaultImage,
                        metadata: {
                            id: cluster.id,
                            name: cluster.name,
                            street: cluster.street,
                            house: cluster.house,
                            is_fixed: cluster.is_fixed,
                            is_moderated: cluster.is_moderated,
                            is_licensed: cluster.is_licensed,
                            city: cluster.city ? cluster.city.name_ru || cluster.city.name_en || cluster.city.name_kk
                            || translate( 'app.no_info' ) : translate( 'app.no_info' ),
                            city_id: cluster.city_id ? cluster.city_id : translate( 'app.no_info' ),
                            type: cluster.cluster_type ? cluster.cluster_type.name_ru || cluster.cluster_type.name_en
                            || cluster.cluster_type.name_kk || translate( 'app.no_info' ) : translate( 'app.no_info' ),
                            circle: null,
                            selected: false,
                            duplicates: []
                        }
                    } );

                    // Создаём круг, обозначающий accuracy кластера
                    let circle = new google.maps.Circle( {
                        map: vm.clustersMap.instance,
                        radius: cluster.accuracy,
                        fillColor: '#0000AA',
                        fillOpacity: 0.1,
                        strokeColor: '#2980B9',
                        strokeWeight: 1,
                    } );
                    circle.bindTo( 'center', marker, 'position' );
                    marker.metadata.circle = circle;

                    // Подписываемся на событие щелчка по кластеру
                    google.maps.event.addListener( marker, 'click', function() {
                        vm.onMarkerClicked( this );
                    } );

                    google.maps.event.addListener( marker, 'dblclick', function() {
                        vm.onMarkerDblClicked( this );
                    } );

                    // Поиск дубликатов текущего маркера
                    vm.clustersMap.markers.forEach( function( m ) {
                        let coordsEquals  = false;
                        let addressEquals = false;

                        if ( m.position.lat() && m.position.lng() ) {
                            coordsEquals = Math.abs( m.position.lat() - marker.position.lat() ) < 0.00014
                                    && Math.abs( m.position.lng() - marker.position.lng() ) < 0.00014;
                        }

                        if ( m.metadata.street && m.metadata.house ) {
                            addressEquals = m.metadata.street == marker.metadata.street
                                    && m.metadata.house == marker.metadata.house;
                        }

                        if ( !(coordsEquals || addressEquals) ) {
                            return;
                        }

                        m.metadata.duplicates.push( marker );
                        marker.metadata.duplicates.push( m );
                    } );

                    // Сохраняем созданный маркер в общий массив
                    vm.clustersMap.markers.push( marker );

                    bounds.extend( marker.position );
                } );

                if ( this.clustersMap.highlightDuplicates ) {
                    this.highlightDuplicates();
                }

                vm.clustersMap.instance.setCenter( bounds.getCenter() );
                vm.clustersMap.instance.fitBounds( bounds );
            },
            onMarkerClicked( marker ) {
                this.selectMarker( marker );
                this.updateSelectedMarkers();
            },
            onMarkerDblClicked( marker ) {
                let contentString =
                            '<div class="info-window">'
                            + '<p>'
                            + '<h4><b>' + marker.metadata.id + '</b>. ' + (marker.metadata.name || translate( 'app.no_info' )) + '</h4>'
                            + '</p>'
                            + '<p>'
                            + (this.getClusterAddress( marker ) || translate( 'app.no_info' ))
                            + '</p>'
                            + '<p>'
                            + '<b>' + translate( 'app.linked_city' ) + '</b>:  '
                            + (marker.metadata.city ? marker.metadata.city + ' (ID: ' + marker.metadata.city_id + ')' : translate( 'app.no_info' ))
                            + '</p>'
                            + '<p>'
                            + '<b>' + translate( 'app.type' ) + '</b>:  '
                            + (marker.metadata.type ? marker.metadata.type : translate( 'app.no_info' ))
                            + '</p>'
                            + '<p>'
                            + '<b>' + translate( 'app.coords' ) + '</b>:  '
                            + (marker.position.lat() && marker.position.lng()
                                    ? marker.position.lat() + ', ' + marker.position.lng()
                                    : translate( 'app.no_info' ))
                            + '</p>'
                            + '<p>'
                            + '<b>' + translate( 'app.is_moderated' ) + '</b>:  '
                            + (marker.metadata.is_moderated ? translate( 'app.yes' ) : translate( 'app.no' ))
                            + '</p>'
                            + '<p>'
                            + '<b>' + translate( 'app.licensed' ) + '</b>:  '
                            + (marker.metadata.is_licensed ? translate( 'app.yes' ) : translate( 'app.no' ))
                            + '</p>'
                            + '<p class="with-margin">'
                            + '<b>' + translate( 'app.fixed' ) + '</b>:  '
                            + (marker.metadata.is_fixed ? translate( 'app.yes' ) : translate( 'app.no' ))
                            + '</p>'
                            + '<hr>'
                            + '<p><a id="edit-button-for-cluster-' + marker.metadata.id + '" href="/clusters/' + marker.metadata.id + '/edit"><b>' + translate( 'app.info_window_edit' )
                            + '</b></a></p>'
                            + '<p><a id="merge-button-for-cluster-' + marker.metadata.id + '"  href="/clusters/link?clusters[]=' + marker.metadata.id + '">'
                            + translate( 'app.info_window_link' ) + '</a></p>'
                            + '</div>';

                if ( this.clustersMap.infoWindow ) {
                    this.clustersMap.infoWindow.close();
                    this.clustersMap.infoWindow = null;
                }

                this.clustersMap.infoWindow = new google.maps.InfoWindow( {
                    content: contentString
                } );

                this.clustersMap.infoWindow.open( this.clustersMap, marker );
            },
            getClusterAddress( marker ) {
                let address = translate( 'app.no_address' );

                if ( marker && marker.metadata.street ) {
                    address = marker.metadata.street;
                }

                if ( marker && marker.metadata.house ) {
                    if ( marker.metadata.street ) {
                        address += ", "
                    }

                    address += marker.metadata.house;
                }

                return address;
            },
            selectMarker( marker = null, selected = null, trackDuplicates = true ) {
                if ( !marker ) {
                    return;
                }

                let vm = this;

                if ( selected === null ) {
                    selected = !marker.metadata.selected;
                }

                if ( selected ) {
                    marker.setIcon( this.clustersMap.pinImages.selectedImage );
                    marker.metadata.circle.setOptions( { fillColor: '#FF9D00', strokeColor: '#FF9D00' } );
                    marker.metadata.selected = true;

                    if ( trackDuplicates && this.clustersMap.highlightDuplicates && marker.metadata.duplicates.length ) {
                        marker.metadata.duplicates.forEach( function( m ) {
                            vm.selectMarker( m, true, false );
                        } );
                    }
                } else {
                    if ( trackDuplicates && this.clustersMap.highlightDuplicates && marker.metadata.duplicates.length ) {
                        marker.metadata.duplicates.forEach( function( m ) {
                            vm.selectMarker( m, false, false );
                        } );
                    }

                    marker.setIcon( this.clustersMap.highlightDuplicates && marker.metadata.duplicates.length
                            ? this.clustersMap.pinImages.duplicatedImage
                            : this.clustersMap.pinImages.defaultImage );
                    marker.metadata.circle.setOptions( { fillColor: '#0000AA', strokeColor: '#2980B9' } );
                    marker.metadata.selected = false;
                }
            },
            updateSelectedMarkers() {
                this.clustersMap.selectedMarkers = this.clustersMap.markers.filter( function( obj ) {
                    return obj.metadata.selected;
                } );
            },
            deselectMarkers() {
                let vm = this;

                this.clustersMap.selectedMarkers.forEach( function( m ) {
                    vm.selectMarker( m, false, false );
                } );

                this.clustersMap.selectedMarkers = [];
            },
            highlightDuplicates() {
                let vm     = this;
                let status = this.clustersMap.highlightDuplicates;

                if ( status ) {
                    this.clustersMap.markers.forEach( function( marker ) {
                        if ( marker.metadata.duplicates.length ) {
                            if ( !marker.metadata.selected ) {
                                marker.setIcon( vm.clustersMap.pinImages.duplicatedImage );
                            } else {
                                marker.metadata.duplicates.forEach( function( m ) {
                                    vm.selectMarker( m, true, false );
                                } );
                            }
                        }
                    } );

                    this.updateSelectedMarkers();
                } else {
                    this.clustersMap.markers.forEach( function( marker ) {
                        if ( marker.metadata.duplicates.length && !marker.metadata.selected ) {
                            marker.setIcon( vm.clustersMap.pinImages.defaultImage );
                        }
                    } );
                }
            },
            mergeClusters() {
                let selected = this.clustersMap.selectedMarkers;

                if ( !selected || selected.length < 2 ) {
                    return;
                }

                let ids = selected.map( function( marker ) {
                    return 'clusters[]=' + marker.metadata.id;
                } );

                window.open( "/clusters/merge?" + ids.join( '&' ), "_self" );
            },
            createCluster() {
                window.open( "/clusters/create", "_self" );
            },
            linkClusters() {
                let selected = this.clustersMap.selectedMarkers;

                if ( !selected || !selected.length ) {
                    return;
                }

                let ids = selected.map( function( marker ) {
                    return 'clusters[]=' + marker.metadata.id;
                } );

                window.open( "/clusters/link?" + ids.join( '&' ), "_self" );
            },
            initialState() {
                return {
                    pageHeader: {
                        label: 'app.map',
                        params: {}
                    },
                    uri: '/clusters/map',
                    clustersMap: {
                        infoWindow: null,
                        instance: null,
                        pinImages: {
                            defaultImage: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                            selectedImage: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
                            duplicatedImage: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                        },
                        markers: [],
                        selectedMarkers: [],
                        highlightDuplicates: false,
                    },
                    filterData: {
                        use: true,
                        resetFilter: false,
                        historyEventName: 'cluster-map-back',
                        selects: {
                            cluster_type: {
                                id: 'cluster-type',
                                label: 'app.cluster_type',
                                selected: '',
                                items: [
                                    {
                                        id: '',
                                        text: translate( 'app.all' ),
                                    },
                                ]
                            },
                            fixed_status: {
                                id: 'fixed-status',
                                label: 'app.fixed_status',
                                selected: '',
                                items: [
                                    {
                                        id: '',
                                        text: translate( 'app.all' ),
                                    },
                                    {
                                        id: 'fixed_only',
                                        text: translate( 'app.fixed_only' ),
                                    },
                                    {
                                        id: 'unfixed_only',
                                        text: translate( 'app.unfixed_only' ),
                                    }
                                ]
                            },
                            moderated_status: {
                                id: 'moderated-status',
                                label: 'app.moderated_status',
                                selected: '',
                                items: [
                                    {
                                        id: '',
                                        text: translate( 'app.all' ),
                                    },
                                    {
                                        id: 'moderated_only',
                                        text: translate( 'app.moderated_only' ),
                                    },
                                    {
                                        id: 'not_moderated_only',
                                        text: translate( 'app.not_moderated_only' ),
                                    }
                                ]
                            },
                            licensed_status: {
                                id: 'licensed-status',
                                label: 'app.licensed_status',
                                selected: '',
                                items: [
                                    {
                                        id: '',
                                        text: translate( 'app.all' ),
                                    },
                                    {
                                        id: 'licensed_only',
                                        text: translate( 'app.licensed_only' ),
                                    },
                                    {
                                        id: 'not_licensed_only',
                                        text: translate( 'app.not_licensed_only' ),
                                    }
                                ]
                            },
                            region: {
                                id: 'region',
                                label: 'app.region',
                                selected: null,
                                items: []
                            },
                            city: {
                                id: 'city',
                                label: 'app.city',
                                selected: '',
                                items: [
                                    {
                                        id: '',
                                        text: translate( 'app.all' ),
                                    },
                                ]
                            },
                        },
                        checkboxes: {
                            without_city_id: {
                                id: 'without-city-id',
                                label: 'app.without_city_id',
                                checked: false,
                            },
                            without_address_only: {
                                id: 'without-address-only',
                                label: 'app.no_address',
                                checked: false,
                            },
                            without_type_only: {
                                id: 'without-type-only',
                                label: 'app.without_type_only',
                                checked: false,
                            },
                            without_name_only: {
                                id: 'without-name-only',
                                label: 'app.no_name',
                                checked: false,
                            },
                        }
                    },
                    help: {
                        id: 'help-dropdown',
                        title: 'help',
                        label: 'help',
                        type: 'primary',
                        roles: [ 'super-admin', 'content-manager' ],
                        icon: 'question',
                        dropdown: true,
                        dropdownItems: [

                            // 0
                            {
                                id: 'open-modal-general',
                                title: 'general_info',
                                label: 'general_info',
                                eventName: 'open-help-modal',
                                eventArguments: 'help-modal-general',
                            },

                            // 1
                            {
                                id: 'open-modal-geo-interface',
                                title: 'city_interface_description',
                                label: 'city_interface_description',
                                eventName: 'open-help-modal',
                                eventArguments: 'help-modal-geo-interface',
                            },

                            // 2
                            {
                                id: 'open-modal-link',
                                title: 'link_city_to_region',
                                label: 'link_city_to_region',
                                eventName: 'open-help-modal',
                                eventArguments: 'help-link-modal',
                            },

                            // 3
                            {
                                id: 'open-modal-city-merge',
                                title: 'city_help_merge',
                                label: 'city_help_merge',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-merge',
                            },

                            // 4
                            {
                                id: 'open-modal-set-lang',
                                title: 'city_help_set_lang',
                                label: 'city_help_set_lang',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-lang',
                            },

                            // 5
                            {
                                id: 'open-modal-set-timezone',
                                title: 'city_help_set_timezone',
                                label: 'city_help_set_timezone',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-timezone',
                            },

                            // 6
                            {
                                id: 'open-modal-set-coord',
                                title: 'city_help_set_coord',
                                label: 'city_help_set_coord',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-coord',
                            },

                            // 7
                            {
                                id: 'open-modal-alias-edit',
                                title: 'city_help_alias_edit',
                                label: 'city_help_alias_edit',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-aliases',
                            },

                            // 8
                            {
                                id: 'open-modal-edit',
                                title: 'city_help_edit',
                                label: 'city_help_edit',
                                eventName: 'open-help-modal',
                                eventArguments: 'open-modal-city-edit',
                            },
                        ]
                    },

                }
            }
        },
        events: {
            'open-help-modal': function( id ) {
                $( '#' + id ).modal( 'show' );
            },
        }
    }
</script>