<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body clearfix" id="main-box">

        <div class="col-md-5">
            <div class="clusters-list2">
                <div class="cluster-item" v-for="item in params.clusters">

                    <div class="cluster-info-line">
                        <b>{{ item.name || $t('app.no_name') }}</b>
                    </div>
                    <div class="cluster-info-line with-margin">
                        {{ getClusterAddress(item) }}
                    </div>
                    <div class="cluster-info-line">
                        <b>{{{ $t('app.linked_city') }}}</b>:
                        {{ item.city ? item.city.name || $t('app.no_info') : $t('app.no_info') }}
                    </div>
                    <div class="cluster-info-line">
                        <b>{{{ $t('app.type') }}}</b>:
                        {{ item.type ? item.type.name || $t('app.no_info') : $t('app.no_info') }}
                    </div>
                    <div class="cluster-info-line">
                        <b>{{{ $t('app.coords') }}}</b>:
                        {{ item.latitude && item.longitude ? item.latitude + ', ' + item.longitude
                        : $t('app.no_info') }}
                    </div>

                    <div class="cluster-info-line">
                        <b>{{{ $t('app.licensed') }}}</b>:
                        {{ item.is_licensed ? $t('app.yes') : $t('app.no') }}
                    </div>

                    <div class="cluster-info-line">
                        <b>{{{ $t('app.fixed') }}}</b>:
                        {{ item.is_fixed ? $t('app.yes') : $t('app.no') }}
                    </div>

                    <button id="cluster-remove-btn-{{item.id}}"
                            class="cluster-remove-btn btn btn-default"
                            v-on:click="removeCluster(item.id)">
                        <i class="fa fa-trash"></i>Удалить из списка
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <v-select
                            :select-data.sync="selects.country"
                            :on-select="onCountrySelect"
                    ></v-select>
                </div>

                <div class="form-group">
                    <v-select :select-data.sync="selects.region"
                              :on-select="onRegionSelect"
                              :on-change="setRegion"
                              :appendix="includeCountry"
                    ></v-select>
                </div>

                <div class="form-group" v-bind:class="{'has-error': errors.hasOwnProperty('city_id')}">
                    <v-select :select-data.sync="selects.city"
                              :appendix="includeRegion"
                              :on-change="setCity"
                    ></v-select>
                    <div class="help-block">
                        <a id="create-city-link"
                           href="#"
                           @click.prevent="createCity"
                        >{{{ $t('app.create') }}}</a>
                    </div>
                    <div v-if="errors.hasOwnProperty('city_id')">
                        <div v-for="error in errors.city_id" class="help-block">
                            {{{ error }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group control-buttons col-sm-12">
            <hr>
            <button id="back-btn"
                    class="btn btn-default"
                    style="width: 160px; margin-right: 16px"
                    v-on:click="goBack()">
                <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
            </button>
            <button id="save-btn"
                    class="btn btn-primary"
                    v-on:click="submitData"
                    :disabled="! selects.city.selected">
                <i class="fa fa-floppy-o"></i> Сохранить изменения
            </button>
        </div>
    </div>

</template>

<style scoped>
    .radio label {
        font-size: inherit;
    }

    .clusters-list2 {
        height: 600px;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        top: 10px;
        bottom: 10px;
        left: 10px;
        font-size: small;
        border: 1px solid lightgrey;
    }

</style>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [mGlobal],
        data() {
            return this.initialState()
        },
        ready() {
            this.initCountrySelect();
        },
        methods: {
            initialState() {
                return {
                    errors: {},
                    model: 'clusters',
                    pageHeader: {
                        label: 'app.linking'
                    },
                    selects: {
                        country: {
                            id: 'country-select',
                            useAjax: false,
                            label: 'app.country',
                            item: {
                                id: null,
                                text: null,
                            },
                            items: [],
                            url: 'countries/search',
                            placeholder: 'app.select_country',
                            reset: false
                        },
                        region: {
                            id: 'region-select',
                            useAjax: true,
                            label: 'app.region',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            url: 'regions/search',
                            placeholder: 'app.select_region',
                            reset: false,
                            disabled: true,
                        },
                        city: {
                            id: 'city-select',
                            useAjax: true,
                            label: 'app.city',
                            item: {
                                id: null,
                                text: null
                            },
                            items: [],
                            selected: null,
                            url: 'app/search',
                            placeholder: 'app.select_city',
                            reset: false,
                            disabled: true,
                        },
                    }
                }
            },
            getClusterAddress(cluster) {
                let address = translate('app.no_address');

                if (cluster && cluster.street) {
                    address = cluster.street;
                }

                if (cluster && cluster.house) {
                    if (cluster.street) {
                        address += ", "
                    }

                    address += cluster.house;
                }

                return address;
            },
            includeCountry() {
                return JSON.stringify( {
                    countryId: this.selects.country.selected,
                } );
            },
            includeRegion() {
                return JSON.stringify( {
                    regionId: this.selects.region.selected,
                } );
            },
            setRegion(id){
                this.selects.region.selected = id;
            },
            setCity(id){
                this.selects.city.selected = id;
            },
            onCountrySelect(item = null) {
                this.$broadcast('select-reset', this.selects.region.id);
                this.$broadcast('select-reset', this.selects.city.id);
                this.selects.region.disabled = false;
                this.selects.city.disabled = true;
            },
            onRegionSelect(item = null) {
                this.$broadcast('select-reset', this.selects.city.id);
                this.selects.city.disabled = false;
            },
            initCountrySelect() {
                let vm = this;

                vm.$http.get('/' + vm.selects.country.url).then(
                        function(response) {
                            if (! response || ! response.data) {
                                return;
                            }

                            let data = response.data;

                            this.selects.country.items = [];

                            data.forEach(function(item) {
                                vm.selects.country.items.push({
                                    id: item.id,
                                    text: item.name
                                });
                            });

                            vm.selects.country.selected = null;
                        },
                        function(response) {
                            console.error( response );
                        }
                );
            },
            createCity() {
                let countryId = this.selects.country.selected;
                let regionId = this.selects.region.selected;
                let params = [];

                if (countryId) {
                    params.push('countryId=' + countryId);
                }

                if (regionId) {
                    params.push('regionId=' + regionId);
                }

                params.push('noReturn=1');

                window.open("/cities/create?" + params.join('&'));
            },
            removeCluster(clusterId) {
                if (! clusterId) {
                    return;
                }

                let vm = this;

                // Удаляем кластер из списка кластеров
                vm.params.clusters.every(function (c, index, array) {
                    if (c.id != clusterId) {
                        return true;
                    }

                    array.splice(index, 1);

                    return false;
                });
            },
            submitData() {
                let vm = this;

                let callback = function(response) {
                    vm.goBack();
                };

                let errorCallback = function(response) {
                    console.log(response);

                    if (response && response.data && response.status != 500) {
                        vm.errors = response.data;
                    }
                };

                let clusters = [];
                let cityId = vm.selects.city.selected;

                this.errors = {};

                this.params.clusters.forEach((c) => {
                    clusters.push(c.id);
                });

                vm.$http.post('/' + vm.model + '/link', { cityId: cityId, clusters: clusters })
                        .then(callback, errorCallback);
            }
        },
        components: {
            'v-header' : require('../../components/v-header.vue'),
            'v-select' : require('../../components/v-select.vue')
        }
    }
</script>