<template>

    <v-header :title="pageHeader"></v-header>

    <div class="main-box-body clearfix" id="main-box">

        <div class="form-group">
            <p>{{{ $t('app.cluster_merge_help') }}}</p>
        </div>

        <div class="map-container">
            <div class="clusters-list">
                <div class="cluster-item"
                     v-bind:class="{'parent': map.parentMarker && map.parentMarker.metadata.id == item.id}"
                     v-for="item in params.clusters"
                     @click.prevent="changeParent(item.id)"
                     @mouseover.prevent="selectMarker(item.id)"
                     @mouseleave.prevent="deselectMarker()">

                    <div class="cluster-info-line">
                        <b>{{ item.name || $t('app.no_name') }}</b>
                    </div>
                    <div class="cluster-info-line with-margin">
                        {{ getClusterAddress(item) }}
                    </div>
                    <div class="cluster-info-line">
                        <b>{{{ $t('app.type') }}}</b>:
                        {{ item.type ? item.type.name || $t('app.no_info') : $t('app.no_info') }}
                    </div>
                    <div class="cluster-info-line">
                        <b>{{{ $t('app.coords') }}}</b>:
                        {{ item.latitude && item.longitude ? item.latitude + ', ' + item.longitude
                        : $t('app.no_info') }}
                    </div>

                    <div class="cluster-info-line">
                        <b>{{{ $t('app.licensed') }}}</b>:
                        {{ item.is_licensed ? $t('app.yes') : $t('app.no') }}
                    </div>

                    <div class="cluster-info-line">
                        <b>{{{ $t('app.fixed') }}}</b>:
                        {{ item.is_fixed ? $t('app.yes') : $t('app.no') }}
                    </div>

                    <button id="remove-cluster-{{item.id}}"
                            class="cluster-remove-btn btn btn-default"
                            v-on:click="removeCluster(item.id)">
                        <i class="fa fa-trash"></i>Удалить из списка
                    </button>

                </div>
            </div>
            <div id="map-canvas"></div>
        </div>

        <div class="form-group control-buttons col-sm-12">
            <hr>
            <button id="back-btn"
                    class="btn btn-default"
                    style="width: 160px; margin-right: 16px"
                    v-on:click="goBack()">
                <i class="fa fa-arrow-circle-o-left"></i> Вернуться назад
            </button>
            <button id="save-btn"
                    class="btn btn-primary"
                    v-on:click="submitData"
                    :disabled="! map.parentMarker">
                <i class="fa fa-floppy-o"></i> Сохранить изменения
            </button>
        </div>
    </div>

    <div class="modal fade" id="merge-modal" tabindex="-1" role="dialog" aria-labelledby="merge-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="merge-modal-label"><b>{{ $t('app.error') }}</b></h4>
                </div>
                <div class="modal-body">
                    <p>{{ $t('app.merge_warning') }}</p>
                    <ul>
                        <li v-bind:class="{'hidden': ! errors.hasOwnProperty('fixed')}">
                            {{ $t('app.merge_child_fixed') }}
                        </li>
                        <li v-bind:class="{'hidden': ! errors.hasOwnProperty('licensed')}">
                            {{ $t('app.merge_child_licensed') }}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button id="merge-ok-btn" type="button" class="btn btn-primary" data-dismiss="modal">
                        {{ $t('app.ok') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .radio label {
        font-size: inherit;
    }
    .map-container {
        position: relative;
    }

    .clusters-list {
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        z-index: 99;
        font-size: small;
        width: 400px;
        border: 1px solid lightgrey;
    }

    .cluster-item {
        position: relative;
        background: inherit;
        cursor: pointer;
        padding: 12px;
        border-bottom: 1px solid lightgrey;
    }

    .cluster-item.parent {
        background: #FFD8D5;
    }

    .cluster-item:hover {
        background: #DBF3FF;
    }

    .cluster-item .cluster-info-line {
        position: relative;
    }

    .cluster-item .cluster-info-line.with-margin {
        margin-bottom: 8px;
    }

    .cluster-item .cluster-remove-btn {
        position: absolute;
        right: 5px;
        bottom: 10px;
    }

</style>
<script type="text/babel">
    import mGlobal from '../../mixins/m-global';
    import Vue from 'vue';

    export default{
        mixins: [mGlobal],
        data() {
            return this.initialState()
        },
        created() {
            google.maps.event.addDomListener(window, "load", this.initMap);
        },
        ready() {
            this.map.instance = new google.maps.Map(document.getElementById("map-canvas"), {
                center: this.map.center,
                zoom: 12,
                disableDefaultUI: true,
                zoomControl: true,
            });

            this.initMarkers();
        },
        methods: {
            initialState() {
                return {
                    errors: {},
                    model: 'clusters',
                    pageHeader: {
                        label: 'app.merging'
                    },
                    map: {
                        errors: {},
                        instance: null,
                        center: {
                            lat: 51.1667,
                            lng: 71.4333,
                        },
                        pinImages: {
                            defaultImage: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                            selectedImage: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png',
                            parentImage: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                        },
                        circleColors: {
                            parent: {
                                fillColor: '#AA0000',
                                strokeColor: '#B92929'
                            },
                            selected: {
                                fillColor: '#FF9D00',
                                strokeColor: '#FF9D00'
                            },
                            idle: {
                                fillColor: '#0000AA',
                                strokeColor: '#2980B9'
                            }
                        },
                        markers: [],
                        selectedMarker: null,
                        parentMarker: null,
                    }
                }
            },
            getClusterAddress(cluster) {
                let address = translate('app.no_address');

                if (cluster && cluster.street) {
                    address = cluster.street;
                }

                if (cluster && cluster.house) {
                    if (cluster.street) {
                        address += ", "
                    }

                    address += cluster.house;
                }

                return address;
            },
            initMarkers() {
                let vm = this;
                let clusters = vm.params.clusters;

                if (! clusters) {
                    return;
                }

                let bounds = new google.maps.LatLngBounds();

                for (let cluster of clusters) {
                    if (! cluster || ! cluster.latitude || ! cluster.longitude) {
                        continue;
                    }

                    // Создаём маркер в координатах кластера
                    let marker = new google.maps.Marker({
                        map: vm.map.instance,
                        position: { lat: cluster.latitude, lng: cluster.longitude},
                        icon: vm.map.pinImages.defaultImage,
                        metadata: {
                            id: cluster.id,
                            circle: null,
                        }
                    });

                    // Создаём круг, обозначающий accuracy кластера
                    let circle = new google.maps.Circle({
                        map: vm.map.instance,
                        radius: cluster.accuracy,
                        fillColor: vm.map.circleColors.idle.fillColor,
                        fillOpacity: 0.1,
                        strokeColor: vm.map.circleColors.idle.strokeColor,
                        strokeWeight: 1,
                    });

                    circle.bindTo('center', marker, 'position');
                    marker.metadata.circle = circle;

                    // Подписываемся на событие щелчка по кластеру
                    google.maps.event.addListener(marker, 'click', function () {
                        vm.onMarkerClicked(this);
                    });

                    // Сохраняем созданный маркер в общий массив
                    vm.map.markers.push(marker);

                    bounds.extend(marker.position);
                }

                vm.map.instance.setCenter(bounds.getCenter());
                vm.map.instance.fitBounds(bounds);
            },
            onMarkerClicked(marker) {

            },
            selectMarker(clusterId) {
                if (! clusterId) {
                    return;
                }

                let marker = this.map.markers.find((m) => { return m.metadata.id == clusterId });

                if (! marker) {
                    return;
                }

                this.deselectMarker();

                if (this.$get("map.parentMarker.metadata.id") != marker.metadata.id) {
                    marker.setIcon(this.map.pinImages.selectedImage);
                }

                marker.metadata.circle.setOptions(this.map.circleColors.selected);

                this.map.selectedMarker = marker;
                this.map.instance.panTo(marker.position);
            },
            deselectMarker() {
                if (! this.map.selectedMarker) {
                    return;
                }

                if (this.$get("map.parentMarker.metadata.id") == this.map.selectedMarker.metadata.id) {
                    this.map.selectedMarker.setIcon(this.map.pinImages.parentImage);
                    this.map.selectedMarker.metadata.circle.setOptions(this.map.circleColors.parent);
                } else {
                    this.map.selectedMarker.setIcon(this.map.pinImages.defaultImage);
                    this.map.selectedMarker.metadata.circle.setOptions(this.map.circleColors.idle);
                }

                this.map.selectedMarker = null;
            },
            changeParent(clusterId) {
                let currentParentId = null;

                if (this.map.parentMarker) {
                    if (this.$get("map.selectedMarker.metadata.id") == this.map.parentMarker.metadata.id) {
                        this.map.selectedMarker.setIcon(this.map.pinImages.selectedImage);
                    } else {
                        this.map.parentMarker.setIcon(this.map.pinImages.defaultImage);
                        this.map.parentMarker.metadata.circle.setOptions(this.map.circleColors.idle);
                    }

                    currentParentId = this.map.parentMarker.metadata.id;
                    this.map.parentMarker = null;
                }

                if (! clusterId || clusterId == currentParentId) {
                    return;
                }

                let marker = this.map.markers.find((m) => { return m.metadata.id == clusterId });

                if (! marker) {
                    return;
                }

                marker.setIcon(this.map.pinImages.parentImage);

                if (this.$get("map.selectedMarker.metadata.id") != clusterId) {
                    marker.metadata.circle.setOptions(this.map.circleColors.parent);
                }

                this.map.parentMarker = marker;
            },
            removeCluster(clusterId) {
                if (! clusterId) {
                    return;
                }

                let vm = this;

                if (this.$get("map.parentMarker.metadata.id") == clusterId) {
                    vm.changeParent(null);
                }

                if (this.$get("map.selectedMarker.metadata.id") == clusterId) {
                    vm.deselectMarker();
                }

                // Удаляем кластер из списка маркеров
                vm.map.markers.every(function (m, index, array) {
                    if (m.metadata.id != clusterId) {
                        return true;
                    }

                    m.metadata.circle.setMap(null);
                    m.metadata.circle = null;

                    google.maps.event.clearListeners(m, 'click');

                    m.setMap(null);

                    array.splice(index, 1);

                    return false;
                });

                // Удаляем кластер из списка кластеров
                vm.params.clusters.every(function (c, index, array) {
                    if (c.id != clusterId) {
                        return true;
                    }

                    array.splice(index, 1);

                    return false;
                });
            },
            submitData() {
                let vm = this;

                let callback = function(response) {
                    vm.goBack();
                };

                let errorCallback = function(response) {
                    console.log(response);

                    if (response && response.data && response.status != 500) {
                        vm.errors = response.data;

                        if (vm.errors.licensed || vm.errors.fixed) {
                            $("#merge-modal").modal("show");
                        }
                    }
                };

                let clusters = [];
                let parentCluster = this.params.clusters.find((c) => {
                    return c.id == vm.map.parentMarker.metadata.id
                });

                if (! parentCluster) {
                    return;
                }

                this.errors = {};

                this.params.clusters.forEach((c) => {
                   if (c.id == parentCluster.id) {
                       return;
                   }

                   if (c.is_licensed && ! vm.errors.hasOwnProperty('licensed')) {
                       this.errors.licensed = true;
                   }

                    if (! parentCluster.is_fixed && c.is_fixed && ! vm.errors.hasOwnProperty('fixed')) {
                        this.errors.fixed = true;
                    }

                    clusters.push(c.id);
                });

                if (this.errors.licensed || this.errors.fixed) {
                    $("#merge-modal").modal("show");
                    return;
                }

                vm.$http.post('/' + vm.model + '/merge', { parent: parentCluster.id, clusters: clusters })
                        .then(callback, errorCallback);
            }
        },
        components: {
            'v-header' : require('../../components/v-header.vue')
        }
    }
</script>